<?xml version="1.0" encoding="ISO-8859-1"?>
<!DOCTYPE taglib PUBLIC "-//Sun Microsystems, Inc.//DTD JSP Tag Library 1.1//EN"
                        "http://java.sun.com/j2ee/dtds/web-jsptaglibrary_1_1.dtd">
<taglib>
	<tlibversion>1.0</tlibversion>
	<jspversion>1.1</jspversion>
	<shortname>HsxSbWebTags</shortname>
	<uri>http://www.hiscoxusa.com</uri>
	<info>HsxSbWeb Tags Library</info>
	<tag>
		<name>questionTag</name>
		<tagclass>com.hiscox.sbweb.taglib.HsxSBWebQuestionsTag</tagclass>
		<bodycontent>empty</bodycontent>
		<info>Question Tag</info>
	</tag>
	<tag>
		<name>include</name>
		<tagclass>com.hiscox.sbweb.taglib.HsxSBWebIncludeTag</tagclass>
		<bodycontent>empty</bodycontent>
		<info>Include Tag</info>
		<attribute>
			<name>sessionValue</name>
			<required>true</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
	</tag>
	<tag>
		<name>checkEligibility</name>
		<tagclass>com.hiscox.sbweb.taglib.HsxSBWebCheckEligibilityTag</tagclass>
		<bodycontent>JSP</bodycontent>
		<info>Check Eligibility Tag</info>
		<attribute>
			<name>eligibleContent</name>
			<required>true</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
	</tag>
	<tag>
		<name>checkProductEligibility</name>
		<tagclass>com.hiscox.sbweb.taglib.HsxSBWebCheckProductEligibilityTag</tagclass>
		<bodycontent>JSP</bodycontent>
		<info>Check Product Eligibility Tag</info>
		<attribute>
			<name>productContent</name>
			<required>true</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
	</tag>
	<tag>
		<name>checkFormTag</name>
		<tagclass>com.hiscox.sbweb.taglib.HsxSBWebFormTag</tagclass>
		<bodycontent>empty</bodycontent>
		<info>Check Form Tag</info>
		<attribute>
			<name>formContent</name>
			<required>true</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
	</tag>
	<tag>
		<name>actionTag</name>
		<tagclass>com.hiscox.sbweb.taglib.HsxSBWebActionsTag</tagclass>
		<bodycontent>empty</bodycontent>
		<info>action Tag</info>
	</tag>
	<tag>
		<name>checkPage</name>
		<tagclass>com.hiscox.sbweb.taglib.HsxSBWebCheckPageTag</tagclass>
		<bodycontent>JSP</bodycontent>
		<info>check page Tag</info>
		<attribute>
			<name>pageContent</name>
			<required>true</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
	</tag>
	<tag>
		<name>checkOccup</name>
		<tagclass>com.hiscox.sbweb.taglib.HsxSBWebCheckOccupationTag</tagclass>
		<bodycontent>JSP</bodycontent>
		<info>check occupation Tag</info>
		<attribute>
			<name>occupContent</name>
			<required>true</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
	</tag>
	<tag>
		<name>checkLogin</name>
		<tagclass>com.hiscox.sbweb.taglib.HsxSBWebCheckLoginTag</tagclass>
		<bodycontent>JSP</bodycontent>
		<info>check login Status</info>
		<attribute>
			<name>loginContent</name>
			<required>true</required>
			<rtexprvalue>true</rtexprvalue>		
		</attribute>			
	</tag>
	<tag>
		<name>checkInclude</name>
		<tagclass>com.hiscox.sbweb.taglib.HsxSBWebCheckIncludeTag</tagclass>
		<bodycontent>JSP</bodycontent>
		<info>check include content</info>
		<attribute>
			<name>includeContent</name>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
		<attribute>
			<name>request</name>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
	</tag>
	<tag>
		<name>trackingTag</name>
		<tagclass>com.hiscox.sbweb.taglib.HsxSBWebTrackingTag</tagclass>
		<bodycontent>empty</bodycontent>
		<info>Tracking Tag</info>
	</tag>
	<tag>
		<name>includeScript</name>
		<tagclass>com.hiscox.sbweb.taglib.HsxSBWebIncludeScriptTag</tagclass>
		<bodycontent>JSP</bodycontent>
		<info>Include Script Tag</info>
	</tag>
	<tag>
		<name>invalidateSessionTag</name>
		<tagclass>com.hiscox.sbweb.taglib.HsxSBWebInvalidateSessionTag</tagclass>
		<bodycontent>empty</bodycontent>
		<info>Session Invalidation Tag</info>
	</tag>
	<tag>
		<name>verifyToInclude</name>
		<tagclass>com.hiscox.sbweb.taglib.HsxSBWebVerifyToIncludeTag</tagclass>
		<bodycontent>JSP</bodycontent>
		<info>Verify To Include Builder Content</info>		
	</tag>
	<tag>
		<name>getScreenBuilderContentTag</name>
		<tagclass>com.hiscox.sbweb.taglib.HsxSBWebGetScreenBuilderContentTag</tagclass>
		<bodycontent>empty</bodycontent>
		<info>Screen Builder Content Tag</info>
		<attribute>
			<name>questionContent</name>
			<required>true</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
		<attribute>
			<name>actionContent</name>
			<required>true</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
		<attribute>
			<name>trackingContent</name>
			<required>true</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
	</tag>
</taglib>
