.progress-bar{padding-top:1px}
.topmenu{margin:5px 0 -10px 0;padding-bottom:21px;clear:both}
.mainmenu{border:0 none}
.leftcurve,.rightcurve,.leftcurve-selected,.rightcurve-selected{float:left;display:inline-block;width:12px;height:45px}
.leftcurve{background:transparent url('../images/hrd-menu-white-left.gif') no-repeat scroll 0 100%}
.rightcurve{background:transparent url('../images/hrd-menu-white-right.gif') no-repeat scroll 0 100%}
.firstitem{border:0 none!important}
.lastitem{border-top:0 none!important;border-right:0 none!important;border-bottom:0 none!important}
.leftmiddle,.leftmiddle-selected,.rightmiddle,.rightmiddle-selected{border-top:1px solid #e0e0e0;border-bottom:1px solid #e0e0e0;margin:0;height:43px;float:left;width:90.7%}
.rightmiddle,.rightmiddle-selected{display:inline-block}
.leftmiddle-selected,.rightmiddle-selected,.topmenu li.menulist-sel  .leftmiddle,.topmenu li.menulist-sel  .rightmiddle{background-color:#d9d9d9}
.firstitem:hover .leftcurve,.leftcurve-selected,.topmenu li.menulist-sel .leftcurve{background:transparent url('../images/mainmenu-left.gif') no-repeat scroll 0 100%}
.lastitem:hover{background:0}
.firstitem:hover .leftmiddle,.lastitem:hover .rightmiddle{background-color:#d9d9d9}
.lastitem:hover .rightcurve,.rightcurve-selected,.topmenu li.menulist-sel .rightcurve{background:transparent url('../images/mainmenu-right.gif') no-repeat scroll 0 100%}
.submenu{border:0 none;background:0;width:228px}
.submenu ul{background-color:#f0f0f0;text-align:left;margin:0}
.submenu li{padding:2px 0 0 0;_padding:0;margin:-2px 3px -3px 3px;_margin:-5px 3px -8px 3px;background:0;display:inline-block;width:219px}
.submenu-topright,.submenu-btmleft,.submenu-btmright{float:left;display:inline-block;width:12px;height:9px}
.submenu-topmiddle,.submenu-btmmiddle{float:left;display:inline-block;height:9px;background-color:#f0f0f0}
.submenu-topleft{border-left:1px solid #e0e0e0}
.submenu-topmiddle{border-top:1px solid #e0e0e0;border-left:1px solid #e0e0e0;width:94%}
.submenu-btmmiddle{border-bottom:1px solid #e0e0e0;width:89%;margin:-1px 0 0 0;_margin:-10px 0 0 0}
.submenu-btmleft{background:transparent url('../images/sub-menu-bot-left.gif') no-repeat scroll top left;clear:both}
.submenu-topright{background:transparent url('../images/sub-menu-top-right.gif') no-repeat scroll top right}
.submenu-btmright{background:transparent url('../images/sub-menu-bot-right.gif') no-repeat scroll top right}
.submenu-middle{border-right:1px solid #e0e0e0;border-left:1px solid #e0e0e0;width:99%;float:left;display:inline-block;clear:both;margin:-5px 0 -5px 0;_margin:-10px 0 -5px 0;position:relative}
.submenulist-topleft,.submenulist-btmleft,.submenulist-topright,.submenulist-btmright{float:left;display:inline-block;width:7px;height:6px;background:0}
.submenulist-topleft,.submenulist-topright,.submenulist-topmiddle{position:relative}
.submenulist-btmleft,.submenulist-btmright{margin-bottom:0;margin-top:-4px;_margin-top:0}
.submenulist-topmiddle,.submenulist-btmmiddle{float:left;display:inline-block;height:6px;width:93%}
.submenulist-btmmiddle{margin-top:-4px;_margin-top:-12px}
.submenulist-middle{width:99.5%;float:left;display:block;clear:both;margin:-5px 0 0 0;_margin:-12px 0 0 0;background-color:#f0f0f0}
.menulinks{padding:5px 0 5px 0;_padding:0 0 1px 0;margin:0 5px 0 13px;_margin:0 5px 0 13px;display:block;position:relative}
.submenu-middle li:hover .submenulist-topleft{background:transparent url('../images/sub-mouseover-grey-top-left.gif') no-repeat scroll top left}
.submenu-middle li:hover .submenulist-topright{background:transparent url('../images/sub-mouseover-grey-top-right.gif') no-repeat scroll top right}
.submenu-middle li:hover .submenulist-btmleft{background:transparent url('../images/sub-mouseover-grey-bot-left.gif') no-repeat scroll top left}
.submenu-middle li:hover .submenulist-btmright{background:transparent url('../images/sub-mouseover-grey-bot-right.gif') no-repeat scroll top right}
.submenu-middle li:hover .submenulist-topmiddle{background-color:#d9d9d9}
.submenu-middle li:hover .submenulist-btmmiddle{background-color:#d9d9d9}
.submenu-middle li:hover .submenulist-middle{background-color:#d9d9d9}
.submenu li:hover{background-color:#f0f0f0}
.submenu{_position:absolute;_left:0;_display:none}
.menulist:hover .submenu,.menulist-sel:hover .submenu,.show-style{_position:absolute;_left:0;_display:block}
.topmenu li.menulist .topmenu-links,.topmenu li.menulist-sel .topmenu-links{margin:10px 0 0 0}
.topmenu-links-twoline{margin:3px 0 3px 0;padding-bottom:1px}
.topmenu-tabs6 .leftmiddle,.topmenu-tabs6 .rightmiddle{width:89.3%}
.topmenu-tabs5 .leftmiddle,.topmenu-tabs5 .rightmiddle{width:91%}
.topmenu-tabs4 .leftmiddle,.topmenu-tabs4 .rightmiddle{width:92.5%}
.topmenu-tabs3 .leftmiddle,.topmenu-tabs3 .rightmiddle{width:94%}