html{overflow: hidden !important;}
.header,.progress-bar,.right-nav,.footer-twocol,.cnt-sctn .top,.cnt-sctn .bottom,.breadcrumb{display:none !important;}
.main-container,.two-column-center,.two-column-center .middle-content, .two-column-center-nopad .middle-content{width:auto !important;}
.page-container{background:none !important;}
.two-column-center .middle-content, .two-column-center-nopad .middle-content,.cnt-sctn .middle-content, .cnt-subsctn .middle-content{border-left:0;border-right:0;}
.two-column-center{margin-left:0;}
.page-container{padding:0;}
.static-two-column.ctl-L .control,.add-sum.ctl-L .control{width:10.9em;}
.static-two-column.lbl-XXS .question-text,.add-sum.lbl-XXS .question-text{width:12em;}
.confirmation li.multi-line-grp{width:32em;}
.main-section.full-wth > .group-middle{padding-right:0 !important;}
.confirmation .full-wth li.multi-line-grp {margin-right:-3.4em; margin-right:-3.4em !important; }
.confirmation .full-wth li.multi-line-grp+li.multi-line-grp{margin-left:-2.3em; *margin-left:-1.9em !important;}
.confirmation .multi-line-grp .question-container .control span{width:10em; }
.cnt-sctn{border:0;}