html, body, div, span, applet, object, iframe,h1, h2, h3, h4, h5, h6, p, blockquote, pre,a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,small, strike, strong, sub, sup, tt, var,dl, dt, dd, ol, ul, li,fieldset, form, label, 
legend,table, caption, tbody, tfoot, thead, tr, th, td, input,textarea,select {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-weight: inherit;
	font-style: inherit;
	font-size: 1em;
	font-family: inherit;
	vertical-align: baseline;
}

/* remember to define focus styles! */
:focus {outline: 0;}

body {
	line-height: 1;
	color: #616161;
	background: white;
	font-weight: normal;
	font-style: normal;
	font-size: 10px;
	font-family: inherit;
	font-family: Arial, Sans-Serif;
}

ol, ul {list-style: none;}

/* tables still need 'cellspacing="0"' in the markup */
table {border-collapse: separate;border-spacing: 0;}
caption, th, td {text-align: left;font-weight: normal;}


/* generic container (i.e. div) for floating buttons */

.float-left{float:left;}
.float-right{float:right;}
.inl-fl-left {float:left; display:inline;}
.inl-fl-right {float:right; display:inline; }
.clear-both{clear:both;}

fieldset {
	border: none; padding:0; margin:0;
}
input, select {
    font-size: 1.2em;
    height: 1.6em;
    line-height: 1.6em;
    margin: 0;
    padding: 0 0.4667em;
    vertical-align: top;
}
input[type="text"],select{border: 0.0833em solid #BFBAB0;}
      
select {padding-right:0;}
.payment-form  label,.ans-imp{font-size:1.2em; color: #616161; font-weight:bold; line-height:1.6em; display:inline-block;}

.payment-form {
	width: 57.5em;
	/*margin:0.5em 0 0 0.5em;*/
}
#footer {
	position: relative;
	margin-top:1em;
	text-align:right;
}

/*#continue {
	
	top: 0;
	right: 0;
	width: 7em;
	height: 2.3em;
	cursor: pointer;
	background-color: #D52B1E;
    border: 0 none;
    color: #FFFFFF;
    float: right;
    font-weight: bold;
    padding: 0.1em 0 0.3em;
    
}*/
form .row .col1 {
   	display:inline-block;
	width: 15em;
	float:left;
}
form .row {
    clear: both;
    padding:0 0 1em 0;
    width: 100%;
}
form .row .col2 {
    width: auto;
	display:inline-block;
	vertical-align:top;
}
.error_message {
    color: #D52B1E;
}

form .row.chkbox{padding:0 0 0.5em 0;}
form .row.chkbox .col1{width:1.3em; vertical-align:top;}
form .row.chkbox .col2{width:41em; padding-left:1.2em;}
form .row.chkbox input{border:0}
.chkbox label{font-weight:normal; line-height:1.6em;}
form .row.input-type-txt .col2{width:24.4em;}
form .row.scrtyCode .col2{width:4.4em;}
form .row.input-type-txt input{width:100%; }
.ans-imp{color: #D5261E; font-size:1.4em}
.paymentHolder{border:0.1em solid #EAEAEA;-moz-border-radius: 0.8em;-webkit-border-radius: 0.8em;border-radius: 0.8em; width:93%; margin:0 auto;}
.group-top,.group-bottom,.group-middle{background-color: #F7F7F7;display: block;}
.group-top .left-container, .group-top .right-container, .group-bottom .left-container,.group-bottom .right-container{width:100%;height:0.8em;padding:0;margin:0;}
.group-top .middle-container, .group-bottom .middle-container{width:auto;height:0.8em;padding:0;margin:0;margin-left:0.8em;margin-right:0.8em;}
.group-middle .left-container, .group-middle .right-container{width:100%;padding:0;margin:0;}
.group-middle .middle-container{width:auto;padding:0.5em 0.7em 0 0.7em;margin:0 0.8em 0 0.8em;}
.groupHead{margin:1.8em 0 1.8em 2.5em;}
.groupHead h2{font-size:1.2em; font-weight:bold; color:#000000;}
.additional-text {float: left;margin:0 0 0.6em 1.3em;position: relative;top: 0.1em;width:25em;}
.additional-text span{font-size:1.1em; line-height:1.3em;}
.img-typ-crd{margin-left:0.4em;}
/*.submit-button, .submit-button span {background: url("images/buttons.gif") repeat scroll 0 0 transparent;}*/
.submit-button {display: block;font-size: 10px;height: 2.4em;padding-left: 1em;display: inline-block;background-position: 0 -48px !important;
color: #FFFFFF; margin:0 0 1em 0;}
span.submit-button-end {display: block;float: left;font-weight: bold;height: 2.4em; width: auto;background-position: 100% -120px !important;}
input.submit-input {background: none repeat scroll 0 center transparent;border: 0 none;cursor: pointer;font-size: 1.2em;font-weight: bold;
height: 2.2em;left: -0.5em;line-height: 2em;position: relative;z-index: 99;color: #FFFFFF;margin-right: -2em;padding: 0 2em 0.4em 0.4em;}
/*.submit-button span.button-icon {background: url("images/smallimages.gif") no-repeat scroll -36px 0px transparent;display: inline-block;height: 1.2em;
left: -0.2em; margin-right: 0.9em;position: relative;top: 0.6em;width: 1.2em;z-index: 98;}*/

/*.error-text {clear: both;display: block;margin-left: -1.8em;
    background: url("images/error-icon-pink.gif") no-repeat scroll 2em 0.5em transparent;
    color: #D5261E;
    font-size: 1.2em;
    font-weight: bold;
    line-height: 1.6em;
    padding: 0.5em 2em 0 3.8em;}*/
.error,.errorNak {
    background-color: #E9C7C4;
	margin:0 0em 1em -0.5em; 
	padding:0 0.5em 0.5em 0.5em !important; 
}
.page-heading{width:100%;float:left;}
.page-heading-border{border-bottom:0.1em solid #eaeaea;}
h1.page-heading-h1{font-size:2.2em;color:#d5261e; font-weight:bold;}
.page-heading h1 {padding:0.2em 0.8em 0.73em 1em; float:left; width:15em;}
.page-heading2 h1 {padding:0.25em 0.8em 0.45em 0em; float:left;}
.reference-number{float:right; margin:1em 1.9em 0.4em 0;}
.reference-number span{font-size:1.4em;color:#616161; font-weight:bold; }
.topcnt-container{clear:both; padding-top:1em;}
.topcnt-container p{padding:0.6em 0.5em 0.8em 2em; line-height:1.2em; font-size:1.2em; color:#616161;}
.horz-line,.horz-line2{border-bottom:0.1em solid #e0e0e0;margin-bottom:0.4em;}
.horz-line{padding-top:0.8em;}
.horz-line2{padding-top:0.3em;}
.clear{clear:both;}
.control { float: left; margin: -0.4em 0 0; padding: 0; width: auto; }
.control label { clear: right; float: left; margin-bottom:0.6em}
.control label+label { clear:left; margin-bottom:0em}
.control label input { margin-right: 0.2em; vertical-align: top; width: 1em; }
.control label>span{margin-left: 0.48em;}
.control label .ans-fx{line-height: 1.4em;width: 3.5em;}
.ans-imp { color: #D5261E; font-size:1.4em ;display: inline;margin-left: 1em; vertical-align: middle;}
.additional-text-2{display: block;float: left;font-size: 1.6em; font-weight: bold;margin-left: 1.9em; margin-top: 1.8em;position: absolute;}
.noPad{padding-top:0 !important;}