html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, input, textarea, select {
	margin:0;
	padding:0;
	border:0;
	outline:0;
	font-weight:inherit;
	font-style:inherit;
	font-size:1em;
	font-family:inherit;
	vertical-align:baseline
}
:focus {
	outline:0
}
body, .editableEditLiveSection {
	line-height:1;
	color:#616161;
	background:white;
	font-weight:normal;
	font-style:normal;
	font-size:10px;
	font-family:inherit;
	font-family:Arial, Sans-Serif
}
ol, ul {
	list-style:none
}
table {
	border-collapse:separate;
	border-spacing:0
}
caption, th, td {
	text-align:left;
	font-weight:normal
}
blockquote:before, blockquote:after, q:before, q:after {
	content:""
}
blockquote, q {
	quotes:"" ""
}
.clear {
	overflow:hidden;
	width:100%;
	clear:both;
	ephox-visible:false
}
.float-left {
	float:left;
	ephox-visible:false
}
.float-right {
	float:right!important;
	ephox-visible:false
}
.inl-fl-left {
	float:left;
	display:inline;
	ephox-visible:false
}
.inl-fl-right {
	float:right;
	display:inline;
	ephox-visible:false
}
.clear {
	clear:both;
	font-size:.1em;
	ephox-visible:false
}
.clear-both {
	clear:both;
	ephox-visible:false
}
a:focus {
	border:1px dotted black!important
}
body:focus {
	border:0 solid black!important
}
sup {
	font-size:.7em;
	vertical-align:super;
*vertical-align:top
}
ins {
	text-decoration:none
}
html {
	overflow:scroll
}
.main-container {
	width:100.5em;
	margin:0 auto 0 auto
}
.header {
	width:96em;
	margin:0 auto 0 auto
}
.page-container {
	width:100%;
	background-color:#f7f7f7;
	height:100%;
	clear:both;
	padding:1.8em 0 0 0;
	margin:0;
	display:inline-block
}
.left-nav {
	width:19.2em;
	float:left;
	display:inline-block;
	margin:5.1em 0 0 2em;
	clear:both
}
.cnt-sctn {
	width:58em;
	float:left;
	display:inline-block;
	background-color:#FFF;
	-moz-border-radius:.8em;
	-webkit-border-radius:.8em;
	border-radius:.8em
}
.right-nav {
	width:19em;
	float:left;
	margin:5.1em 0 0 0
}
.page-heading {
	width:100%;
	float:left
}
.page-heading-border {
	border-bottom:.1em solid #eaeaea
}
.page-heading h1 {
	padding:.2em .8em .73em 1em;
	float:left;
	width:15em
}
.page-heading2 h1 {
	padding:.25em .8em .45em 1em;
	float:left
}
.verLogo-holder {
	width:100%;
	text-align:center;
	margin:2.2em 0 .8em 0;
	clear:both;
}
.verLogo-holder table {
	margin:0 auto 0 auto
}
.topcnt-container {
	clear:both;
	padding-top:1em
}
.topcnt-container p, .topcnt-container .box-heading-h3-with-line, .topcnt-container .box-heading-h3 {
	padding:.6em .5em .8em 2em;
	line-height:1.2em
}
.topcnt-container .grey-heading-h2-with-line, .topcnt-container .black-heading-h3-with-line, .topcnt-container .red-call-to-action-medium-h2-with-line {
	padding:.6em .5em .95em 1.8em;
	line-height:1.2em
}
.topcnt-container .page-heading-h1-with-line {
	padding:.6em .5em .5em 1em
}
.middlecnt-container {
	padding:.15em .8em .9em 2.1em
}
.middlecnt-container p, .topcnt-container .box-heading-h3, .middlecnt-container .box-heading-h3 {
	line-height:1.3em
}
.topcnt-container .list-red-tick-body-copy-grey, .topcnt-container .list-red-tick-body-copy-black, .topcnt-container .list-red-tick-body-copy-grey-small, .topcnt-container .list-red-tick-body-copy-black-small, .topcnt-container .list-grey-tick-body-copy-grey, .topcnt-container .list-grey-tick-body-copy-black, .topcnt-container .list-grey-tick-body-copy-grey-small, .topcnt-container .list-grey-tick-body-copy-black-small {
	padding-left:3.6em
}
.topcnt-container .list-bulleted-body-copy-grey, .topcnt-container .list-bulleted-body-copy-grey-small, .topcnt-container .list-bulleted-body-copy-black, .topcnt-container .list-bulleted-body-copy-black-small {
	padding-left:4.5em
}
.middlecnt-container .list-bulleted-body-copy-grey, .middlecnt-container .list-bulleted-body-copy-grey-small, .middlecnt-container .list-bulleted-body-copy-black, .middlecnt-container .list-bulleted-body-copy-black-small {
	padding-left:3em
}
.middlecnt-container .list-red-tick-body-copy-grey, .middlecnt-container .list-red-tick-body-copy-black, .middlecnt-container .list-red-tick-body-copy-grey-small, .middlecnt-container .list-red-tick-body-copy-black-small, .middlecnt-container .list-grey-tick-body-copy-grey, .middlecnt-container .list-grey-tick-body-copy-black, .middlecnt-container .list-grey-tick-body-copy-grey-small, .middlecnt-container .list-grey-tick-body-copy-black-small {
	padding-left:2.3em
}
.middlecnt-container .list-red-tick-body-copy-grey li, .middlecnt-container .list-red-tick-body-copy-black li, .middlecnt-container .list-red-tick-body-copy-grey-small li, .middlecnt-container .list-red-tick-body-copy-black-small li, .middlecnt-container .list-grey-tick-body-copy-grey li, .middlecnt-container .list-grey-tick-body-copy-black li, .middlecnt-container .list-grey-tick-body-copy-grey-small li, .middlecnt-container .list-grey-tick-body-copy-black-small li, .topcnt-container .list-red-tick-body-copy-grey li, .topcnt-container .list-red-tick-body-copy-black li, .topcnt-container .list-red-tick-body-copy-grey-small li, .topcnt-container .list-red-tick-body-copy-black-small li, .topcnt-container .list-grey-tick-body-copy-grey li, .topcnt-container .list-grey-tick-body-copy-black li, .topcnt-container .list-grey-tick-body-copy-grey-small li, .topcnt-container .list-grey-tick-body-copy-black-small li {
	padding:0 0 0 1.5em;
	line-height:1.3em;
	margin-top:.4em
}
.middlecnt-container .list-bulleted-body-copy-grey li, .middlecnt-container .list-bulleted-body-copy-grey-small li, .middlecnt-container .list-bulleted-body-copy-black li, .middlecnt-container .list-bulleted-body-copy-black-small li, .topcnt-container .list-bulleted-body-copy-grey li, .topcnt-container .list-bulleted-body-copy-grey-small li, .topcnt-container .list-bulleted-body-copy-black li, .topcnt-container .list-bulleted-body-copy-black-small li {
	padding:0;
	line-height:1.3em;
	margin-top:.3em
}
.no-bg {
	background-color:transparent!important
}
.middlecnt-container .grey-heading-h2 {
	padding-bottom:.7em
}
.cnt-sctn .top, .cnt-subsctn .top, .section-container .top, .section-container-horz .top {
	height:.8em;
	-moz-border-radius-topleft:.8em;
	-moz-border-radius-topright:.8em;
	-webkit-border-top-right-radius:.8em;
	-webkit-border-top-left-radius:.8em;
	border-top-right-radius:.8em;
	border-top-left-radius:.8em;
	border:.1em solid #e0e0e0;
	border-bottom:0
}
.cnt-sctn .bottom, .cnt-subsctn .bottom, .section-container .bottom, .section-container-horz .bottom {
	height:.8em;
	-moz-border-radius-bottomleft:.8em;
	-moz-border-radius-bottomright:.8em;
	-webkit-border-bottom-right-radius:.8em;
	-webkit-border-bottom-left-radius:.8em;
	border-bottom-right-radius:.8em;
	border-bottom-left-radius:.8em;
	border:.1em solid #e0e0e0;
	border-top:none;
	clear:both
}
.cnt-sctn .top .left, .cnt-sctn .top .right, .cnt-sctn .bottom .left, .cnt-sctn .bottom .right, .cnt-subsctn .top .left, .cnt-subsctn .top .right, .cnt-subsctn .bottom .left, .cnt-subsctn .bottom .right, .section-container .top .left, .section-container .top .right, .section-container .bottom .left, .section-container .bottom .right, .section-container-horz .top .left, .section-container-horz .top .right, .section-container-horz .bottom .left, .section-container-horz .bottom .right {
	width:100%;
	height:.8em;
	padding:0;
	margin:0
}
.cnt-sctn .top .middle, .cnt-sctn .bottom .middle, .cnt-subsctn .top .middle, .cnt-subsctn .bottom .middle, .section-container .top .middle, .section-container .bottom .middle, .section-container-horz .top .middle, .section-container-horz .bottom .middle {
	width:auto;
	height:.8em;
	padding:0;
	margin:0 .8em 0 .8em
}
.cnt-sctn .middle-content, .cnt-subsctn .middle-content {
	width:57.8em;
	min-height:45em
}

.cnt-subsctn, .section-container, .section-container-horz {
	margin-bottom:.8em;
	-moz-border-radius:.8em;
	-webkit-border-radius:.8em;
	border-radius:.8em;
	background-color:#fff
}
.cnt-subsctn {
	width:100%
}
.section-container {
	width:19.2em;
	clear:both;
	display:inline-block;
	background-color:#FFF;
}
.cnt-subsctn .middle-content {
	min-height:3.5em!important;
	border:.1em solid #e0e0e0;
	border-radius:0.8em;
	padding:0.8em 0;
	
}
.two-column-center {
	width:77em;
	margin-left:1.8em
}
.two-column-center .middle-content, .two-column-center-nopad .middle-content {
	width:76.8em!important;
	border-left:.1em solid #e0e0e0;
	border-right:.1em solid #e0e0e0
}
.two-column-center-nopad {
	width:77em
}
.footer-links-home-box li, .breadcrumb-link, .breadcrumb-current {
	display:inline
}
.left-nav-corner .top {
	-moz-border-radius-topright:0;
	-webkit-border-top-right-radius:0;
	border-top-right-radius:0;
	border-right:0
}
.left-nav-corner .bottom {
	-moz-border-radius-bottomright:0;
	-webkit-border-bottom-right-radius:0;
	border-bottom-right-radius:0;
	border-right:0
}
.right-nav-corner .top {
	-moz-border-radius-topleft:0;
	-webkit-border-top-left-radius:0;
	border-top-left-radius:0;
	border-left:0
}
.right-nav-corner .bottom {
	-moz-border-radius-bottomleft:0;
	-webkit-border-bottom-left-radius:0;
	border-bottom-left-radius:0;
	border-left:0
}
.section-container .middle-content {
	border:.1em solid #e0e0e0;
	border-radius:0.8em;
	padding:0.8em 0 1.5em 0;
}
.section-container .middle-content, .quotes-table .col2, .quotes-table .col3 {
	width:19em
}
.left-nav-corner {
	-moz-border-radius-topleft:.8em;
	-moz-border-radius-bottomleft:.8em;
	-webkit-border-top-left-radius:.8em;
	-webkit-border-bottom-left-radius:.8em;
	-moz-border-radius-topright:0;
	-moz-border-radius-bottomright:0;
	-webkit-border-top-right-radius:0;
	-webkit-border-bottom-right-radius:0;
	border-top-left-radius:.8em;
	border-bottom-left-radius:.8em;
	border-top-right-radius:0;
	border-bottom-right-radius:0;
	background-color:#FFF
}
.right-nav-corner {
	-moz-border-radius-topright:.8em;
	-moz-border-radius-bottomright:.8em;
	-webkit-border-top-right-radius:.8em;
	-webkit-border-bottom-right-radius:.8em;
	-moz-border-radius-topleft:0;
	-moz-border-radius-bottomleft:0;
	-webkit-border-top-left-radius:0;
	-webkit-border-bottom-left-radius:0;
	border-top-right-radius:.8em;
	border-bottom-right-radius:.8em;
	border-top-left-radius:0;
	border-bottom-left-radius:0;
	background-color:#FFF
}
.left-nav-corner .middle-content {
	border-right:0;
	width:99.6%
}
.right-nav-corner .middle-content {
	border-left:0;
	width:19.1em!important
}
.right-nav-corner .vertical-container {
	padding:.3em 0 .4em 0
}
.button-row {
	width:35.9em;
	float:left;
	margin-right:0
}
.button-row span object {
	float:right;
	width:auto;
	display:inline
}
.button-row .header-btns {
	margin-left:1.2em;
	display:inline;
	float:left
}
.button-row-wide {
	width:98%
}
.grey-toplft .black-heading-h3, .btmlft-container .black-heading-h3, .grey-toplft .grey-heading-h2, .btmlft-container .grey-heading-h2, .grey-toplft .red-call-to-action-medium-h2, .btmlft-container .red-call-to-action-medium-h2, .grey-toplft .box-heading-h3, .btmlft-container .box-heading-h3 {
	padding:.4em .5em 0 1.4em
}
.topright-container-small .black-heading-h3, .smallcontainer .black-heading-h3, .topright-container-small .grey-heading-h2, .smallcontainer .grey-heading-h2, .topright-container-small .red-call-to-action-medium-h2, .smallcontainer .red-call-to-action-medium-h2, .topright-container-small .box-heading-h3, .smallcontainer .box-heading-h3 {
	padding:.4em .5em 0 .8em
}
.grey-toplft .black-heading-h3-with-line, .btmlft-container .black-heading-h3-with-line, .grey-toplft .grey-heading-h2-with-line, .btmlft-container .grey-heading-h2-with-line, .grey-toplft .red-call-to-action-medium-h2-with-line, .btmlft-container .red-call-to-action-medium-h2-with-line, .grey-toplft .box-heading-h3-with-line, .btmlft-container .box-heading-h3-with-line {
	padding:.4em .5em .8em 1.4em
}
.topright-container-small .black-heading-h3-with-line, .smallcontainer .black-heading-h3-with-line, .topright-container-small .grey-heading-h2-with-line, .smallcontainer .grey-heading-h2-with-line, .topright-container-small .red-call-to-action-medium-h2-with-line, .smallcontainer .red-call-to-action-medium-h2-with-line, .topright-container-small .box-heading-h3-with-line, .smallcontainer .box-heading-h3-with-line {
	padding:.4em .5em .8em .8em
}
.grey-toplft img, .btmlft-container img, .topright-container-small img, .smallcontainer img, .tpright-container-large img, .btmright-cntainr-large img {
	vertical-align:middle
}
.grey-toplft .body-copy-grey, .btmlft-container .body-copy-grey, .grey-toplft .body-copy-black, .btmlft-container .body-copy-black, .grey-toplft .body-copy-grey-small, .btmlft-container .body-copy-grey-small, .grey-toplft .body-copy-black-small, .btmlft-container .body-copy-black-small, .grey-toplft .red-call-to-action-small, .btmlft-container .red-call-to-action-small {
	padding:.4em .5em 0 1.8em;
	line-height:1.4em
}
.topright-container-small .body-copy-grey, .smallcontainer .body-copy-grey, .topright-container-small .body-copy-black, .smallcontainer .body-copy-black, .topright-container-small .body-copy-grey-small, .smallcontainer .body-copy-grey-small, .topright-container-small .body-copy-black-small, .smallcontainer .body-copy-black-small, .topright-container-small .red-call-to-action-small, .smallcontainer .red-call-to-action-small {
	padding:.4em .5em 0 1.2em;
	line-height:1.4em
}
.grey-toplft .grey-call-to-action-medium {
	padding:1em .5em 0 1.4em
}
.btmlft-container .grey-call-to-action-medium, .grey-toplft .grey-call-to-action-large, .btmlft-container .grey-call-to-action-large {
	padding:.5em .5em 0 1.4em
}
.topright-container-small .grey-call-to-action-medium, .smallcontainer .grey-call-to-action-medium, .topright-container-small .grey-call-to-action-large, .smallcontainer .grey-call-to-action-large {
	padding:.5em .5em 0 .8em
}
.grey-toplft .body-copy-black-with-line, .grey-toplft .body-copy-grey-with-line, .btmlft-container .body-copy-black-with-line, .btmlft-container .body-copy-grey-with-line, .grey-toplft .body-copy-black-small-with-line, .grey-toplft .body-copy-grey-small-with-line, .btmlft-container .body-copy-black-small-with-line, .btmlft-container .body-copy-grey-small-with-line {
	padding:0 .5em .6em 1.8em;
	line-height:1.4em
}
.topright-container-small .body-copy-black-with-line, .topright-container-small .body-copy-grey-with-line, .smallcontainer .body-copy-black-with-line, .smallcontainer .body-copy-grey-with-line, .topright-container-small .body-copy-black-small-with-line, .topright-container-small .body-copy-grey-small-with-line, .smallcontainer .body-copy-black-small-with-line, .smallcontainer .body-copy-grey-small-with-line {
	padding:0 .5em .6em 1.2em;
	line-height:1.4em
}
.list-grey-tick-body-copy-grey li span, .list-grey-tick-body-copy-black li span, .list-red-tick-body-copy-grey li span, .list-red-tick-body-copy-black li span, .list-grey-tick-body-copy-grey-small li span, .list-grey-tick-body-copy-black-small li span, .list-red-tick-body-copy-grey-small li span, .list-red-tick-body-copy-black-small li span {
	margin-bottom:.8em;
	margin-top:.2em;
	line-height:1.4em
}
.btmlft-container .body-copy-grey a, .contact-child-item b {
	margin-top:.2em;
	display:inline-block
}
.grey-toplft .body-copy-grey a, .topright-container-small .body-copy-grey a, .smallcontainer .body-copy-grey a, .tpright-container-large .body-copy-grey a, .btmright-cntainr-large .body-copy-grey a {
	margin-top:.6em;
	display:inline-block
}
.grey-toplft .body-copy-grey b, .btmlft-container .body-copy-grey b, .grey-toplft .body-copy-black b, .btmlft-container .body-copy-black b {
	margin:-0.6em 0 0 0;
	display:inline-block
}
.topright-container-small .body-copy-grey b, .smallcontainer .body-copy-grey b, .tpright-container-large .body-copy-grey b, .btmright-cntainr-large .body-copy-grey b, .topright-container-small .body-copy-black b, .smallcontainer .body-copy-black b, .tpright-container-large .body-copy-black b, .btmright-cntainr-large .body-copy-black b {
	display:inline-block
}
.btmlft-container .list-grey-tick-body-copy-grey, .btmlft-container .list-grey-tick-body-copy-black, .btmlft-container .list-red-tick-body-copy-grey, .btmlft-container .list-red-tick-body-copy-black, .btmlft-container .list-grey-tick-body-copy-grey-small, .btmlft-container .list-grey-tick-body-copy-black-small, .btmlft-container .list-red-tick-body-copy-grey-small, .btmlft-container .list-red-tick-body-copy-black-small, .grey-toplft .list-grey-tick-body-copy-grey, .grey-toplft .list-grey-tick-body-copy-black, .grey-toplft .list-red-tick-body-copy-grey, .grey-toplft .list-red-tick-body-copy-black, .grey-toplft .list-grey-tick-body-copy-grey-small, .grey-toplft .list-grey-tick-body-copy-black-small, .grey-toplft .list-red-tick-body-copy-grey-small, .grey-toplft .list-red-tick-body-copy-black-small {
	padding:0 .5em 0 1.8em
}
.smallcontainer .list-grey-tick-body-copy-grey, .smallcontainer .list-grey-tick-body-copy-black, .smallcontainer .list-red-tick-body-copy-grey, .smallcontainer .list-red-tick-body-copy-black, .smallcontainer .list-grey-tick-body-copy-grey-small, .smallcontainer .list-grey-tick-body-copy-black-small, .smallcontainer .list-red-tick-body-copy-grey-small, .smallcontainer .list-red-tick-body-copy-black-small, .topright-container-small .list-grey-tick-body-copy-grey, .topright-container-small .list-grey-tick-body-copy-black, .topright-container-small .list-red-tick-body-copy-grey, .topright-container-small .list-red-tick-body-copy-black, .topright-container-small .list-grey-tick-body-copy-grey-small, .topright-container-small .list-grey-tick-body-copy-black-small, .topright-container-small .list-red-tick-body-copy-grey-small, .topright-container-small .list-red-tick-body-copy-black-small {
	padding:0 .5em 0 1em
}
.list-grey-tick-body-copy-grey li, .list-grey-tick-body-copy-black li, .list-red-tick-body-copy-grey li, .list-red-tick-body-copy-black li, .list-grey-tick-body-copy-grey-small li, .list-grey-tick-body-copy-black-small li, .list-red-tick-body-copy-grey-small li, .list-red-tick-body-copy-black-small li {
	padding-left:1.7em;
	margin-top:.8em
}
.btmlft-container .list-bulleted-body-copy-grey, .btmlft-container .list-bulleted-body-copy-grey-small, .btmlft-container .list-bulleted-body-copy-black, .btmlft-container .list-bulleted-body-copy-black-small, .grey-toplft .list-bulleted-body-copy-grey, .grey-toplft .list-bulleted-body-copy-grey-small, .grey-toplft .list-bulleted-body-copy-black, .grey-toplft .list-bulleted-body-copy-black-small {
	padding:0 .5em 0 3em
}
.list-bulleted-body-copy-grey li, .list-bulleted-body-copy-grey-small li, .list-bulleted-body-copy-black li, .list-bulleted-body-copy-black-small li {
	margin-top:.8em
}
.smallcontainer .red-call-to-action-medium-h2 {
	padding:0 0 .5em .9em
}
.vertical-container {
	float:left;
	width:100%;
	padding:.5em 0 .5em 0
}
.button-container-vertical {
	float:left
}
.grey-toplft .button-container-vertical .header-btns, .btmlft-container .button-container-vertical .header-btns {
	margin:1em 0 0 1.8em
}
.topright-container-small .button-container-vertical .header-btns, .smallcontainer .button-container-vertical .header-btns {
	margin:1em 0 0 1.2em
}
.header-btns {
	float:left;
	display:inline
}
li.grey-button+li.group, li.red-button+li.group {
	padding-top:1em
}
.submit-button {
	font-size:10px;
	display:block;
	float:left;
	height:2.4em;
	padding-left:1em
}
span.submit-button-end {
	display:block;
	float:left;
	font-weight:bold;
	height:2.4em;
	width:auto
}
input.submit-input, a.submit-input {
	font-size:1.2em;
	background:none;
	border:none;
	cursor:pointer;
	position:relative;
	height:2.2em;
	line-height:2em;
	left:-0.5em;
	font-weight:bold;
	z-index:99
}
input.submit-input {
	padding:0 2em .3em .4em;
	margin-right:-2em
}
a.submit-input {
	padding:0 0 .3em .4em;
	margin-right:0;

	line-height:2em!important;
	font-weight:bold!important;
	font-size:1.2em!important;
	text-decoration:none!important
}
.grey-button a, .red-button a {
	text-decoration:none;
	padding:0 .2em .3em .5em
}
.grey-button a, .grey-button a:link, .grey-button a:hover, .grey-button a:active, .grey-button a:visited {
	color:#636163;
	text-decoration:none
}
.red-button a, .red-button a:link, .red-button a:hover, .red-button a:active, .red-button a:visited {
	color:#FFF;
	text-decoration:none
}
.submit-button, .submit-button span {
	background:transparent url('../images/buttons.gif')
}
.grey-button .submit-button, .header-btns .grey-button {
	background-position:0 0
}
.red-button .submit-button, .header-btns .red-button {
	background-position:0 -48px;
	color:#fff
}
.grey-button span.submit-button-end {
	background-position:100% -72px
}
.red-button span.submit-button-end {
	background-position:100% -120px
}
.grey-button input, .breadcrumb-link a:hover, .occupation-info a:hover, ul.third-level li a:link, ul.third-level li a:visited {
	color:#616161
}
.disabled input {
	color:#8f8f8f
}
.submit-button span.button-icon {
	background:transparent url('../images/smallimages.gif') no-repeat;
	display:inline-block;
	height:1.2em;
	width:1.2em;
	margin-right:.9em;
	position:relative;
	top:.2em;
	left:-0.2em;
	z-index:98
}
.submit-button a span.button-icon {
	margin-left:.3em;
	margin-right:.3em;
	position:relative;
	top:.2em;
	left:.2em;
	width:1em;
	height:1em
}
.grey-button.close-icon span.button-icon {
	background-position:-12px -24px
}
.red-button.close-icon span.button-icon {
	background-position:-24px -24px
}
.red-button.print-icon span.button-icon {
	background-position:-12px -12px
}
.grey-button.print-icon span.button-icon {
	background-position:0 -12px
}
.rab-icon span.button-icon {
	background-position:-12px 0
}
.raw-icon span.button-icon {
	background-position:-36px 0
}
.lab-icon span.button-icon {
	background-position:0 0
}
.law-icon span.button-icon {
	background-position:-24px 0
}
.phone-icon span.button-icon {
	background-position:0 -24px
}
.save-icon span.button-icon {
	background-position:-24px -12px
}
.logout-icon span.button-icon {
	background-position:-36px -24px
}
.header-btncontainer {
	float:right;
	margin:3.7em 2.1em 0 0;
	text-align:right;
	width:24.1em
}
.header-button-gap {
	margin-left:.5em
}
.header-btncontainer .header-btns+.header-btns {
	float:right
}
.leftnav-gap {
	width:19em;
	float:left;
	display:inline-block;
	margin:0 1em 0 2.3em!important;
	border:1px solid #f7f7f7
}
.rightnav-gap {
	width:17em;
	float:left;
	margin:0 1em 0 .8em
}
.breadcrumb {
	margin:-0.3em auto 0 auto;
	width:96em;
	padding:0 0 .8em 3.4em;
	display:inline-block
}
.brdcrmb-sub {
	width:62.2em;
	float:left
}
.breadcrumb-link span, .breadcrumb-current span, .breadcrumb-link a {
	display:inline-block;
	padding-bottom:.2em
}
.breadcrumb-separator {
	margin:0 .8em 0 .8em
}
.breadcrumb-link a, .occupation-info a {
	font-size:1.2em;
	font-weight:bold;
	color:#616161;
	text-decoration:underline
}
.breadcrumb-current span {
	font-size:1.2em;
	color:#878787
}
.occupation-details {
	float:left;
	width:auto;
	padding:0 .5em .6em 0;
	margin-left:-1.8em
}
.occupation-details>span.float-right {
	float:left!important
}
.occupation-info {
	padding-left:.8em;
	float:left;
	display:inline
}
.smallcontainer, .topright-container-small {
	width:17em!important
}
.grey-toplft .body-copy-grey-right-align, .btmlft-container .body-copy-grey-right-align, .topright-container-small .body-copy-grey-right-align, .smallcontainer .body-copy-grey-right-align, .tpright-container-large .body-copy-grey-right-align, .btmright-cntainr-large .body-copy-grey-right-align {
	width:11.2em;
	padding:.5em 1.2em 0 1.7em;
	line-height:1.4em;
	margin:.6em .5em .2em 0
}
.footer-dropdown-box {
	padding-left:1.8em;
	float:left;
	padding-bottom:.2em
}
.footer-dropdown-box label {
	font-size:1.1em;
	color:#9f9f9f
}
.footer-dropdown-box select {
	font-size:1.1em;
	color:#6e6b7a;
	width:13.8em;
	border:.1em solid #7f9db9;
	vertical-align:middle;
	margin-top:-0.2em
}
.footer-links-home-box {
	padding-right:1.8em;
	float:right;
	margin-top:.3em;
	list-style:none
}
.footer-links-home-box li .body-copy-grey {
	padding-left:.8em;
	display:inline
}
.footer-links-home-box li .body-copy-grey a:link, .footer-links-home-box li .body-copy-grey a:visited, .utitlitylinks-hlder li .body-copy-grey a:visited {
	text-decoration:none!important;
	color:#616161!important
}
.footer-links-home-box li .body-copy-grey a:hover, {
color:#616161;
text-decoration:underline!important
}
.topright-container-small .middle-content, .smallcontainer .middle-content {
	width:16.8em
}
.grey-toplft .contact-child-item .body-copy-grey, .btmlft-container .contact-child-item .body-copy-grey, .grey-toplft .contact-child-item .body-copy-black, .btmlft-container .contact-child-item .body-copy-black, .grey-toplft .contact-child-item .body-copy-grey-small, .btmlft-container .contact-child-item .body-copy-grey-small, .grey-toplft .contact-child-item .body-copy-black-small, .btmlft-container .contact-child-item .body-copy-black-small, .grey-toplft .contact-child-item .grey-call-to-action-medium, .btmlft-container .contact-child-item .grey-call-to-action-medium, .grey-toplft .contact-child-item .grey-heading-h2, .btmlft-container .contact-child-item .grey-heading-h2, .grey-toplft .contact-child-item .red-call-to-action-medium-h2, .btmlft-container .contact-child-item .red-call-to-action-medium-h2, .grey-toplft .contact-child-item .box-heading-h3, .btmlft-container .contact-child-item .box-heading-h3, .grey-toplft .contact-child-item .black-heading-h3, .btmlft-container .contact-child-item .black-heading-h3 {
	padding:0 0 0 1.6em;
	margin-bottom:.3em
}
.topright-container-small .contact-child-item .grey-call-to-action-large, .smallcontainer .contact-child-item .grey-call-to-action-large, .topright-container-small .contact-child-item .body-copy-grey, .smallcontainer .contact-child-item .body-copy-grey, .topright-container-small .contact-child-item .body-copy-black, .smallcontainer .contact-child-item .body-copy-black, .topright-container-small .contact-child-item .body-copy-grey-small, .smallcontainer .contact-child-item .body-copy-grey-small, .topright-container-small .contact-child-item .body-copy-black-small, .smallcontainer .contact-child-item .body-copy-black-small, .topright-container-small .contact-child-item .grey-call-to-action-medium, .smallcontainer .contact-child-item .grey-call-to-action-medium, .topright-container-small .contact-child-item .grey-heading-h2, .smallcontainer .contact-child-item .grey-heading-h2, .topright-container-small .contact-child-item .red-call-to-action-medium-h2, .smallcontainer .contact-child-item .red-call-to-action-medium-h2, .topright-container-small .contact-child-item .box-heading-h3, .smallcontainer .contact-child-item .box-heading-h3, .topright-container-small .contact-child-item .black-heading-h3, .smallcontainer .contact-child-item .black-heading-h3 {
	padding:0 0 0 .6em;
	margin-bottom:.3em
}
.grey-toplft .contact-child-item .grey-call-to-action-large-with-line, .btmlft-container .contact-child-item .grey-call-to-action-large-with-line, .grey-toplft .contact-child-item .body-copy-grey-with-line, .btmlft-container .contact-child-item .body-copy-grey-with-line, .grey-toplft .contact-child-item .body-copy-black-with-line, .btmlft-container .contact-child-item .body-copy-black-with-line, .grey-toplft .contact-child-item .body-copy-grey-small-with-line, .btmlft-container .contact-child-item .body-copy-grey-small-with-line, .grey-toplft .contact-child-item .body-copy-black-small-with-line, .btmlft-container .contact-child-item .body-copy-black-small, .grey-toplft .contact-child-item .grey-heading-h2-with-line, .btmlft-container .contact-child-item .grey-heading-h2-with-line, .grey-toplft .contact-child-item .red-call-to-action-medium-h2-with-line, .btmlft-container .contact-child-item .red-call-to-action-medium-h2-with-line, .grey-toplft .contact-child-item .box-heading-h3-with-line, .btmlft-container .contact-child-item .box-heading-h3-with-line, .grey-toplft .contact-child-item .black-heading-h3-with-line, .btmlft-container .contact-child-item .black-heading-h3-with-line {
	padding:0 0 .6em 1.6em;
	margin-bottom:.3em
}
.topright-container-small .contact-child-item .grey-call-to-action-large-with-line, .smallcontainer .contact-child-item .grey-call-to-action-large-with-line, .topright-container-small .contact-child-item .body-copy-grey-with-line, .smallcontainer .contact-child-item .body-copy-grey-with-line, .topright-container-small .contact-child-item .body-copy-black-with-line, .smallcontainer .contact-child-item .body-copy-black-with-line, .topright-container-small .contact-child-item .body-copy-grey-small-with-line, .smallcontainer .contact-child-item .body-copy-grey-small-with-line, .topright-container-small .contact-child-item .body-copy-black-small-with-line, .smallcontainer .contact-child-item .body-copy-black-small-with-line, .topright-container-small .contact-child-item .grey-heading-h2-with-line, .smallcontainer .contact-child-item .grey-heading-h2-with-line, .topright-container-small .contact-child-item .red-call-to-action-medium-h2-with-line, .smallcontainer .contact-child-item .red-call-to-action-medium-h2-with-line, .topright-container-small .contact-child-item .box-heading-h3-with-line, .smallcontainer .contact-child-item .box-heading-h3-with-line.topright-container-small .contact-child-item .black-heading-h3-with-line, .smallcontainer .contact-child-item .black-heading-h3-with-line {
	padding:0 0 .6em .6em;
	margin-bottom:.3em
}
.grey-toplft .contact-child-item .red-call-to-action-small, .btmlft-container .contact-child-item .red-call-to-action-small {
	padding:0 0 0 2.8em;
	margin-bottom:.3em
}
.topright-container-small .contact-child-item .red-call-to-action-small, .smallcontainer .contact-child-item .red-call-to-action-small {
	padding:0 0 0 1em;
	margin-bottom:.3em
}
.contact-child-item img {
	margin-top:.7em;
	margin-bottom:.1em
}
.contact-child-item .contact-box-link, .contact-child-item-last .contact-box-link {
	border-top:.1em solid #e0e0e0
}
.grey-toplft .contact-child-item .contact-box-link a, .grey-toplft .contact-child-item-last .contact-box-link a, .btmlft-container .contact-child-item .contact-box-link a, .btmlft-container .contact-child-item-last .contact-box-link a {
	padding:.35em 0 .4em 2.5em;
	display:block;
	margin:.2em .2em .2em .2em;
	cursor:pointer
}
.topright-container-small .contact-child-item .contact-box-link a, .topright-container-small .contact-child-item-last .contact-box-link a, .smallcontainer .contact-child-item .contact-box-link a, .smallcontainer .contact-child-item-last .contact-box-link a {
	padding:.4em 0 .5em .6em;
	display:block;
	margin:.2em .2em .2em .2em
}
.icon-phone, .icon-mouse, .icon-email {
	padding:.1em 0 .2em 2.25em;
	margin-top:.1em
}
.contact-child-item .contact-box-link a:hover, .contact-child-item-last .contact-box-link a:hover, .leftmenu-listitem-sel2, .leftmenu li:hover .leftmenu-listitem {
	background-color:#e8e8e8;
	-moz-border-radius:.4em;
	-webkit-border-radius:.4em;
	border-radius:.4em
}
/*.topright-container-small .middle-content, .smallcontainer .middle-content {
	margin-top:-0.5em
}*/
.contact-child-item-last {
	margin-bottom:-1.2em
}
.leftmenu-main {
	clear:both;
	padding:0;
	width:19.2em;
	margin-bottom:.8em
}
.leftmenu-mainitem {
	-webkit-border-radius:.4em;
	-moz-border-radius:.4em;
	border-radius:.4em;
	background-color:#c1c1c1;
	padding:0
}
.leftmenu {
	clear:both;
	border:.1em solid #e0e0e0;
	-webkit-border-radius:.8em;
	-moz-border-radius:.8em;
	border-radius:.8em;
	background-color:#fff;
	padding:0;
	width:19em;
	margin-top:.3em
}
.leftmenu ul {
	list-style:none;
	width:19em;
	margin:0;
	padding:0
}
.leftmenu li {
	line-height:1.4em;
	text-align:left;
	list-style:none;
	border-bottom:.1em solid #e8e8e8;
	width:19em;
	display:inline-block
}
.leftmenulinks {
	font-size:1.2em;
	color:#3c3c3c;
	text-decoration:none;
	padding:0 0 0 1.2em;
	display:inline-block
}
.leftmenulinks-sel, .main-link, .leftmenulinks-sel-nobg, .leftmenulinks-nopad {
	font-size:1.2em;
	color:#3c3c3c;
	text-decoration:none;
	padding:.8em 0 .8em 0
}
.leftmenulinks-sel-nobg {
	padding:0 0 0 1.2em;
	display:inline-block
}
.last-item {
	border-bottom:0!important
}
.leftmenu-listitem, .leftmenu-listitem-sel, .leftmenu-listitem-sel2, .leftmenu-listitem-sel3 {
	margin:.2em .2em .2em .2em;
	padding:.6em 1.3em .6em 1.5em
}
.leftmenu-mainitem {
	margin:0;
	padding:.9em 1.3em 1.1em 1.7em;
	width:84.5%
}
.leftmenu-listitem-sel {
	background-color:#d9d9d9;
	-webkit-border-radius:.4em;
	-moz-border-radius:.4em;
	border-radius:.4em
}
.leftmenulist-middle a:hover, .leftmenulist-middle a:visited, .leftmenulist-middle a:active {
	color:#3c3c3c
}
.main-container-popup {
	width:60em;
	margin:0 auto 0 auto
}
.site-mapcol {
	width:22em;
	float:left
}
.first-level-h2 {
	font-size:1.4em;
	color:#3c3c3c;
	font-weight:bold
}
.first-level-h2 a:link, .first-level-h2 a:visited, .first-level-h2 a:hover {
	color:#3c3c3c;
	background-color:transparent;
	text-decoration:underline
}
.second-level-h3 {
	font-size:1.2em;
	color:#616161;
	font-weight:bold
}
.second-level-h3 a:link, .second-level-h3 a:visited {
	color:#616161;
	text-decoration:underline
}
.second-level-h3 a:hover {
	color:#d5261e;
	text-decoration:underline
}
ul.third-level {
	padding-left:3em
}
ul.third-level li {
	line-height:1.6em;
	list-style:outside disc;
	color:#000
}
ul.third-level li a {
	font-size:1.2em
}
ul.third-level li a:hover {
	color:#d5261e
}
.topcnt-container .grey-heading-h2 {
	margin:0 1em .6em 1.6em
}
.horz-line, .horz-line2 {
	border-bottom:.1em solid #e0e0e0;
	margin-bottom:.4em
}
.horz-line {
	padding-top:.8em
}
.horz-line2 {
	padding-top:.3em
}
.btm-button-row {
	clear:both;
	padding:1em 1em 1em 2.4em
}
.btmbtn-cntnr {
	padding:1em 0 1em 3.4em;
	clear:both
}
.btmbtn-cntnr .header-btns {
	padding-right:3em
}
.middlecnt-container .body-copy-grey-with-line, .middlecnt-container .body-copy-grey-small-with-line, .middlecnt-container .body-copy-black-with-line, .middlecnt-container .body-copy-black-small-with-line, .middlecnt-container .box-heading-h3-with-line {
	padding-bottom:.8em
}
.middlecnt-container .grey-call-to-action-large-with-line, .middlecnt-container .page-heading-h1-with-line {
	padding-bottom:.5em
}
.middlecnt-container .red-call-to-action-medium-h2-with-line, .middlecnt-container .black-heading-h3-with-line, .middlecnt-container .grey-heading-h2-with-line {
	padding-bottom:.95em
}
.default-navigation-button {
	position:absolute;
	top:40em;
	left:40em
}
.boiler-plate {
	display:none;
	clear:both;
	width:58em;
	background-color:#FFF;
	border:.1em solid #e0e0e0;
	-moz-border-radius:.8em;
	border-radius:.8em;
	-webkit-border-radius:.8em;
	margin:.8em 0 0 0
}
.boiler-plate .red-call-to-action-medium-h2 {
	padding:.4em 0 .8em 0
}
.printbtnbrochureware-container {
	float:right;
	margin-right:11em
}
#cse-search-form {
	top:.7em!important;
	right:-70px!important
}
.confrmMsg-holder {
	text-align:center;
	margin-top:21em
}
.cnt-sctn .middle-content>iframe, .cnt-sctn .middle-content>noscript>iframe {
	margin-left:1.6em
}
.leftmenulinks-sel,.main-link,.leftmenulinks-sel-nobg,.leftmenu-listitem-sel3 .leftmenulinks-sel,.product_footer ul li h3{font-weight: bold}
.page-container {
	background-color:#f7f7f7;
	clear:both;
	display:inline-block;
	height:100%;
	padding:1.8em 0 0;
	width:1000px;
	margin:0 auto;
	text-align:left
}
.landing-page-container {
	clear:both;
	display:inline-block;
	height:100%;
	padding:0;
	width:1000px;
	margin:0 auto;
	text-align:left
}
.page-container-google {
	clear:both;
	display:inline-block;
	height:100%;
	padding:1.8em 0 0;
	width:1000px;
	margin:0 auto;
	text-align:left;
	background-color:#f5f5f5
}
.page-container-google #cse {
	width:95.5%!important
}
.quote-box .btn-getquote, .quote-box-content .btn-getquote, .header ul.sb-panel li, .ui-tooltip, .header-info #site-search, .quote-box .selectbox-disabled, .quote-box .selectbox, .quote-box-content .selectbox, .top-nav ul li .panel-bottom, .top-nav ul li .panel-top, .hl-col .bx-wrapper .bx-controls .bx-prev, .top-nav ul li .contact-details, .quote-box-content .btn-retquote {
	background:url(../images/sprite-bg-sbl.png) no-repeat
}
.ui-selectmenu-icon, .quote-box-content .ui-selectmenu-icon, a.ui-state-active .ui-selectmenu-icon, .bx-controls .bx-pager .bx-pager-item .active, .bx-controls .bx-pager .bx-pager-item .bx-pager-link, .top-nav ul li .panel-marker, #cboxClose {
	background:url(../images/sprite-icons-sbl.png) no-repeat
}
.quote-box .btn-getquote a, .quote-box-content .btn-getquote a, .quote-box-content .btn-retquote a {
	background:url(../images/btn-right-bg-sbl.png) no-repeat
}
.quote-box .btn-retquote, .quote-box .btn-retquote a {
	background:url(../images/sprite-retquote-btn.png) no-repeat
}
.header {
	float:left;
	width:100%;
	background:#FFF;
	padding:15px 0 0 0
}
.header-inner {
	width:960px;
	margin:0 auto
}
.logo-wrapper {
	float:left;
	width:180px
}
.site-logo {
	float:left;
	margin-left:36px
}
.sb-dropdown {
	float:left;
	margin:10px 0 0 29px;
	clear:left;
	position:relative;
	z-index:101
}
.sb-dropdown label {
	display:none
}
.header .sb-menu {
	display:block;
	z-index:101;
	font-size:1.1em;
	height:21px;
	width:122px;
	padding-right:5px;
	font-weight:bold;
	position:relative;
	text-transform:uppercase;
	background:url("../images/small-business-bg-sbl.jpg") top left repeat-x
}
.header .sb-menu a {
	color:#fff;
	text-decoration:none;
	background:url(../images/icn-arrow-white-sbl.png) right 8px no-repeat;
	display:block;
	padding:5px 12px 0 5px
}
.header .sb-hover a {
	background:url(../images/icn-arrow-white-down-sbl.png) right 8px no-repeat
}
.header ul.sb-panel {
	z-index:101;
	left:-999em;
	margin:0;
	padding:0;
	position:absolute;
	top:20px;
	text-align:center;
	width:125px;
	list-style:none;
	border:1px solid #dfdfdf
}
.sb-dropdown ul li:hover .sb-panel {
	left:0
}
.header ul.sb-panel li {
	min-height:13px;
	padding:5px 5px;
	background:url("../images/sb-border-bg-sbl.jpg") bottom no-repeat;
	background-color:#fafafa
}
:root .header ul.sb-panel li {
	padding:5px 4px 5px 5px \0/IE9
}
@media screen and (-webkit-min-device-pixel-ratio:0) {
.header ul.sb-panel li {
padding:5px 4px 5px 4px
}
}
.header ul.sb-panel li a {
	font-size:1em;
	text-transform:uppercase;
	padding:0;
	font-weight:bold;
	color:#666;
	text-decoration:none;
	display:block;
	min-height:12px;
	line-height:14px
}
.header ul.sb-panel li a:hover, .header ul.sb-panel li a:focus {
	color:#d72c22
}
.header-info {
	float:right;
	width:760px;
	color:#555;
	font-size:1.2em
}
.header-info .header-contact {
	float:right;
	width:560px;
	text-align:right
}
.header-info .header-contact img {
	margin:-3px 0 0 5px;
	vertical-align:middle
}
:root .header-info .header-contact img {
	margin:0 0 0 5px \0/IE9
}
.header-info .header-contact span {
	font-size:1.25em;
	font-weight:bold;
	color:#d72c22;
	display:inline-block;
	margin-top:7px
}
:root .header-info .header-contact span {
	margin-top:0 \0/IE9
}
.header-info #site-search {
	float:right;
	width:164px;
	height:15px;
	padding:4px 8px 6px 8px;
	margin-left:15px;
	background-position:-319px -174px
}
.header-info #site-search label {
	display:none
}
.header-info #site-search input {
	vertical-align:middle
}
.header-info #site-search .search-text {
	float:right;
	border:0;
	width:140px;
	height:17px
}
.header-info #site-search .search-button {
	float:left;
	margin-top:2px
}
.top-nav {
	float:right;
	width:770px;
	margin-top:45px;
	position:relative;
	z-index:101
}
.top-nav ul {
	list-style:none;
	padding:0;
	margin:0;
	z-index:101
}
.top-nav ul li {
	float:left;
	margin:0 20px
}
.top-nav ul li a {
	float:left;
	display:block;
	font-size:1.25em;
	line-height:1.5em;
	color:#666;
	text-transform:uppercase;
	text-decoration:none;
	padding-bottom:20px;

	font-weight:bold
}
.top-nav ul li a:hover {
	color:#d72c22
}
.top-nav ul li:hover .panel {
	left:-20px
}
.top-nav ul li .panel {
	float:left;
	position:absolute;
	left:-999em;
	text-align:left;
	z-index:101;
	top:25px;
	width:793px
}
.top-nav ul li .panel strong {
	font-weight:bold
}
.top-nav ul li .panel-top {
	height:16px;
	width:100%
}
.top-nav ul li .panel-bottom {
	height:50px;
	width:100%
}
.top-nav ul li .panel-bottom {
	background-position:0 -123px
}
.top-nav ul li .panel-bottom .quote-link {
	color:#fff;
	font-size:1.2em;
	font-weight:bold;
	text-align:center;
	float:right;
	margin:20px 4px 0 0
}
.top-nav ul li .panel-bottom .quote-link a {
	float:none;
	text-transform:capitalize;
	display:inline;
	padding:0 14px 0 0;
	margin-left:10px;
	color:#fff;
	font-size:1.2em;
	font-weight:bold;
	background:url("../images/icn-arrow-right-sbl.png") no-repeat right
}
.top-nav ul li .panel-body {
	border-left:1px solid #ddd;
	border-right:1px solid #ddd;
	background:#f9f9f9;
	padding:5px 20px 5px 20px;
	overflow:hidden;
	font-size:12px
}
.top-nav ul li .panel-bottom .panel-bottom-tab {
	float:right;
	margin-right:13px;
	min-width:50px
}
.top-nav ul li .panel-bottom .panel-bottom-left {
	width:13px;
	float:left;
	min-height:50px
}
.top-nav ul li .panel-bottom .panel-bottom-middle {
	background:url("../images/topnav-bottom-middle-sbl.png") repeat-x top left;
	float:left;
	min-height:50px
}
.top-nav ul li .panel-top {
	background-position:0 -106px
}
.top-nav ul li .panel-marker {
	background-position:0 -10px;
	width:30px;
	height:16px
}
.top-nav ul li .panel-body .panel-header {
	float:left;
	width:100%;
	margin-bottom:15px
}
.top-nav ul li .panel-body h2 {
	font-size:1.58em;
	font-weight:bold;
	color:#d72c22;
	float:left
}
.top-nav ul li .panel-body h3 {
	font-size:1em;
	font-weight:bold;
	color:#000;
	margin-bottom:10px;
	text-transform:uppercase
}
.top-nav ul li .panel-body a {
	padding:0;
	float:none;
	display:inline;
	text-transform:capitalize
}
.top-nav ul li .panel-body .panel-header-links {
	float:right;
	width:220px;
	font-size:1em;
	text-align:right
}
.top-nav ul li .panel-body .panel-header-links a {
	color:#d72c22;
	font-size:1em
}
.top-nav ul li .panel-body .panel-header-links a:hover {
	text-decoration:underline
}
.top-nav ul li .panel-col {
	float:left;
	background:url("../images/panel-divider-thin-sbl.gif") no-repeat right;
	margin-right:10px;
	padding-right:10px
}
.top-nav ul li .last {
	background:none;
	margin:0
}
.top-nav ul li .panel-col p {
	margin-bottom:.75em;
	font-size:1em;
	color:#555;
	line-height:1.25em
}
.top-nav ul li .panel-col p a {
	color:#d72c22;
	font-size:1em
}
.top-nav ul li .panel-col p a:hover {
	text-decoration:underline
}
.top-nav ul li .panel-col ul.mega-menu-red-arrow li {
	margin:4px 0;
	float:none;
	padding-left:10px;
	background:url("../images/icn-red-arrow-right-sbl.png") no-repeat 0 5px
}
.top-nav ul li .panel-col ul.mega-menu-red-arrow li a {
	font-size:1em;
	font-weight:bold;
	color:#555;
	padding:0
}
.top-nav ul li .panel-col ul.mega-menu-red-arrow li a:hover {
	color:#d72c22
}
.top-nav ul li .panel-col ul li {
	margin:2px 0;
	float:none
}
.top-nav ul li .panel-col ul li a {
	font-size:1em;
	font-weight:bold;
	color:#555;
	padding:0
}
.top-nav ul li .panel-col ul li a:hover {
	color:#d72c22
}
.top-nav ul li .panel-col ul li a.reg-link {
	color:#d72c22;
	font-weight:normal
}
.top-nav ul li .panel-col ul li a.reg-link:hover {
	text-decoration:underline
}
.top-nav ul li .panel-col ul.panel-icons-no-width li {
	padding:0;
	background:none;
	float:left;
	margin:0 10px 5px 0
}
.top-nav ul li .panel-col ul.panel-icons li {
	float:left;
	background:none;
	padding:0;
	width:110px;
	margin:4px 0
}
.top-nav ul li .panel-col ul.panel-icons li a {
	font-size:1.25em;
	font-weight:bold
}
.top-nav ul li .panel-col ul.panel-icons li a.reg-link {
	font-size:1em;
	margin:7px 0 0 10px;
	display:block;

	color:#d72c22;
	font-weight:normal
}
.top-nav ul li .panel-col ul.panel-icons li a.reg-link:hover {
	text-decoration:underline
}
.top-nav ul li .panel-col ul.panel-icons li img {
	vertical-align:middle;
	margin-right:5px
}
.top-nav ul li .contact-details {
	padding:0 0 0 50px;
	background-position:-271px -174px;
	font-size:1.9em;
	color:#555
}
.top-nav ul li .contact-details .tel-num {
	font-size:1.7em;
	font-weight:bold;
	color:#d72c22
}
.top-nav ul li .contact-details .times {
	font-size:.9em
}
.wrapper {
	float:left;
	width:100%
}
.content-wrapper {
	float:left;
	width:100%;
	text-align:center
}
.slider {
	width:960px;
	margin:0 auto;
	overflow:hidden;
	/*overflow-y:scroll;*/
	height:365px
}
.slider div {
	position:relative;
	float:left
}
.slider div img {
	float:left
}
.bx-wrapper {
	position:relative;
	width:960px;
	margin:0 auto
}
.bx-controls {
	position:absolute;
	top:10px;
	right:10px
}
.bx-controls .bx-pager .bx-pager-item {
	float:left
}
.bx-controls .bx-pager .bx-pager-item .bx-pager-link {
	text-indent:-9999em;
	display:block;
	float:left;
	width:16px;
	height:16px;
	margin-left:5px;
	background-position:-17px -27px
}
.bx-controls .bx-pager .bx-pager-item .active {
	background-position:0 -27px
}
.slider .slider-captions {
	position:absolute;
	top:35px;
	width:700px;
	left:37px;
	font-size:1.2em;
	padding-bottom:1px
}
.slider .slider-captions h1 {
	font-size:3em;
	text-transform:uppercase;
	color:#fff;
	font-weight:bold;
	margin-bottom:10px
}
.slider .slider-captions ul {
	padding-left:20px;
	list-style:disc outside;
	margin-bottom:20px
}
.slider .slider-captions ul li {
	color:#fff;
	font-size:1.6em;
	padding:2px 0
}
.slider .slider-captions .slider-link {
	color:#fff;
	font-size:1.7em;
	font-weight:bold;
	padding-right:25px;
	margin-top:20px;
	text-decoration:none;
	background:url("../images/slider-link-bg-sbl.png") right no-repeat
}
.slider .slider-captions .slider-link:hover {
	color:#d72c22
}
.slider .slider-captions p {
	color:#fff;
	font-size:1.6em;
	line-height:1.2em;
	margin-bottom:20px;
	padding-left:4px
}
.slider .slider-captions ul.check-mark-bullet {
	list-style-image:url("../images/check-mark-sbl.gif");
	padding-left:27px;
*padding-left:20px
}
.slider .slider-captions ul.check-mark-bullet li {
*padding-left:4px
}
.quote-box-wrapper {
	width:100%;
	float:left;
	height:115px;
	position:relative;
	background:#fff
}
.quote-box-inner {
	width:960px;
	margin:0 auto;
	position:relative
}
.quote-box {
	position:absolute;
	top:-73px;
	width:824px;
	height:149px;
	padding:19px 30px 0 30px;
	margin-left:37px;
	background-color:#d62821;
	border-radius:8px
}
.quote-box-content .quote-col-one {
	float:left;
	width:230px;
	margin-right:40px
}
.quote-box .quote-col-one {
	float:left;
	width:224px;
	margin-right:24px
}
.quote-box .quote-col-one .quote-caption {
	height:109px
}
.quote-box .quote-col-one .quote-caption h2 {
	font-weight:bold;
	line-height:23px;
	text-align:left;
	font-size:2em;
	color:#fff;
	text-transform:uppercase;
	width:230px
}
.quote-box .quote-col-one .quote-hr {
	background:url("../images/quote-box-hr-sbl.gif") center center repeat-x;
	float:left;
	width:100%;
	height:2px;
	padding:0
}
.quote-box-content .quote-col-one .quote-caption {
	width:100%;
	text-align:center
}
.quote-box-content .quote-col-one .quote-caption h2 {
	font-weight:bold;
	width:100%;
	margin-top:-10px;
	float:left;
	font-size:2em;
	color:#fff;
	text-transform:uppercase
}
.quote-box-content .quote-hr {
	background:url("../images/quote-box-hr-sbl.gif") center center repeat-x;
	float:left;
	width:40px;
	height:3px;
	margin:8px 0 0 0;
	padding:0
}
.quote-box-content .quote-hr-right {
	background:url("../images/quote-box-hr-sbl.gif") center center repeat-x;
	float:right;
	width:40px;
	height:3px;
	margin:8px 2px 0 0;
	padding:0
}
.quote-box-content .quote-col-two {
	float:left;
	width:260px
}
.quote-box .quote-col-two {
	float:left;
	width:273px;
	margin-top:28px
}
.quote-box .quote-col-one {
	margin-top:8px;
	height:97px
}
.quote-box .quote-col-three {
	margin-top:8px
}
.quote-box-content .quote-col-one {
	margin-top:8px
}
.quote-box-content .quote-col-two {
	margin-top:24px
}
.quote-box-content .quote-col-three {
	margin-top:5px
}
.quote-box-content .selectbox-disabled, .quote-box .selectbox-disabled {
	display:none
}
.quote-box-content .selectbox {
	width:260px;
	margin-bottom:4px;
	font-size:12px;
	font-weight:bold;
	background-position:0 -75px;
	-moz-appearance:menulist;
	appearance:menulist
}
.quote-box .selectbox {
	width:273px;
	height:30px;
	margin-bottom:9px;
	font-size:12px;
	font-weight:bold;
	background-position:-261px -75px;
	-moz-appearance:menulist;
	appearance:menulist
}
.quote-box .selectbox-disabled {
	background-position:-506px -44px
}
@media screen and (-webkit-min-device-pixel-ratio:0) {
.quote-box .selectbox {
width:22.75em!important
}
}
a.ui-selectmenu {
	color:#333;
	display:block;
	float:left;
	overflow:hidden;
	padding:0;
	position:relative;
	text-decoration:none
}
a.ui-selectmenu:hover {
	color:#d72c22
}
a.ui-selectmenu:focus {
	border:none!important
}
.ui-selectmenu-icon {
	background-position:0 0;
	height:8px;
	position:absolute;
	right:12px;
	top:12px;
	width:13px
}
.quote-box-content .ui-selectmenu-icon {
	background-position:0 0;
	height:8px;
	position:absolute;
	right:12px;
	top:9px;
	width:13px
}
a.ui-state-active .ui-selectmenu-icon {
	background-position:-15px 0
}
.ui-selectmenu-menu {
	list-style:none outside none;
	margin:0;
	overflow:auto;
	padding:0;
	position:absolute;
	top:0;
	display:none
}
.ui-selectmenu-open {
	display:block
}
.ui-selectmenu-menu-dropdown {
	background:url("../images/quote-dropdown-bg-sbl.jpg") top left repeat-x #dbdbdb;
	border:1px solid #ccc;
	margin-top:-2px;
	max-height:200px;
	width:220px;
	z-index:9999
}
.ui-selectmenu-menu-dropdown-disabled {
	background:url("../images/quote-dropdown-bg-sbl.jpg") top left repeat-x #dbdbdb;
	border:1px solid #ccc;
	margin-top:-2px;
	max-height:200px;
	width:220px;
	z-index:9999
}
.ui-selectmenu-menu li {
	border-bottom:1px solid #ccc;
	border-left-width:0!important;
	border-right-width:0!important;
	display:block;
	font-weight:normal!important;
	margin:0;
	padding:0;
	text-align:left
}
.ui-selectmenu-menu li a, .ui-selectmenu-status {
	color:#d72c22;
	display:block;
	outline:medium none;
	padding:4px 0;
	text-decoration:none;
	cursor:pointer
}
.ui-selectmenu-menu li a {
	padding:7px 8px;
	font-weight:bold;
	font-size:13px
}
.ui-selectmenu-menu li a:hover {
	background:none repeat scroll 0 0 #FFF
}
.ui-selectmenu-menu li.ui-selectmenu-hasIcon a, .ui-selectmenu-hasIcon .ui-selectmenu-status {
	margin-left:5px;
	padding-left:20px;
	position:relative
}
.ui-selectmenu-menu li .ui-icon, .ui-selectmenu-status .ui-icon {
	left:0;
	margin-top:-8px;
	position:absolute;
	top:1em
}
.ui-selectmenu-status {
	padding:10px 8px 8px 8px;
	height:14px;
	color:#555;
	text-transform:uppercase
}
.quote-box-content .ui-selectmenu-status {
	padding:7px 8px 9px 8px;
	height:14px;
	color:#555;
	text-transform:uppercase
}
.ui-selectmenu-menu li span, .ui-selectmenu-status span {
	display:block;
	margin-bottom:.2em
}
.ui-selectmenu-status span.validation {
	color:red;
	display:inline;
	font-size:18px;
	line-height:2px;
	padding-top:-10px
}
.quote-box .quote-col-three {
	float:right;
	width:284px
}
.quote-box-content .quote-col-three {
	float:right;
	width:260px
}
.quote-box .quote-col-three a:focus, .quote-box-content .quote-col-three a:focus {
	border:0!important
}
.home-lower {
	float:left;
	width:100%;
	background:#fff;
	padding-bottom:10px;
	margin-top:5px
}
.home-lower-inner {
	width:980px;
	margin:0 auto
}
.home-lower h3 {
	font-size:1.25em;
	font-weight:bold;
	color:#555;
	text-align:center;
	margin-bottom:20px;
	text-transform:uppercase
}
.home-lower .hl-col {
	float:left;
	padding-left:20px;
	position:relative;
	padding-right:20px;
	background:url("../images/home-lower-divide-sbl.jpg") no-repeat right;
	min-height:200px
}
.home-lower .hl-col-moved {
	float:left;
	position:relative;
	padding-left:20px;
	padding-right:20px
}
.home-lower .first {
	margin:0;
	padding-left:0
}
.home-lower .last {
	margin:0;
	background:none;
	padding-right:0;
	float:left
}
.home-lower .multi-col {
	width:330px
}
.home-lower .reviews-col {
	width:300px
}
.home-lower .tooltips-col {
	width:260px;
	padding:0 15px 0 15px
}
.hl-col ul {
	list-style:none
}
.hl-col ul li {
	float:left;
	text-align:center;
	margin:0 0 10px 0;
	width:110px
}
.hl-col ul li a {
	display:block;
	color:#d72c22;
	font-weight:bold;
	text-decoration:none;
	font-size:1.25em;
	margin-bottom:1px
}
.home-lower .col-more {
	float:left;
	text-align:center;
	margin-top:20px;
	color:#555;
	font-size:1.2em
}
.hl-col .col-more a {
	color:#d72c22;
	text-decoration:none
}
.home-lower .col-more-moved {
	float:left;
	text-align:center;
	margin-top:-10px;
	color:#555;
	font-size:1.2em
}
.home-lower .col-more-moved a {
	color:#d72c22;
	text-decoration:none
}
ul.tooltips li {
	float:none;
	width:auto;
	text-align:left;
	background:url("../images/icn-red-arrow-right-sbl.png") no-repeat left 2px;
	padding-left:10px
}
ul.tooltips li a {
	color:#555
}
ul.tooltips li a:hover {
	color:#d72c22
}
.ui-tooltip {
	position:absolute;
	z-index:9999;
	Height:122px;
	width:200px;
	padding:20px 20px 20px 30px;
	color:#fff;
	font-size:13px;
	line-height:18px;
	font-weight:bold;
	background-position:0 -174px
}
.slider {
	width:960px;
	margin:0 auto;
	overflow:hidden;
	/*overflow-y:scroll;*/
	height:365px
}
.slider div {
	position:relative;
	float:left
}
.slider div img {
	float:left;
	margin-top:-20px
}
.hl-col .bx-wrapper {
	position:relative;
	width:240px;
	padding:0 30px
}
.hl-col .customers-slider {
	text-align:left;
	overflow:hidden;
	overflow-y:scroll;
	height:121px;
	width:240px
}
.hl-col .bx-wrapper .customers-slider {
	text-align:left;
	overflow:auto;
	overflow-x:auto;
	height:180px;
	width:auto
}
.hl-col .customers-slider div {
	position:relative;
	float:left
}
.hl-col .customers-slider img {
	float:left
}
.hl-col .customers-slider .customers-details {
	margin-left:75px;
	float:none
}
.hl-col .customers-slider h4 {
	font-size:1.4em;
	text-transform:uppercase;
	color:#666;
	font-weight:bold;
	margin-bottom:5px
}
.hl-col .customers-slider h5 {
	font-size:1.2em;
	text-transform:uppercase;
	color:#666;
	margin-bottom:10px
}
.hl-col .customers-slider .customers-quote {
	clear:left;
	padding-top:10px;
	font-size:1.2em;
	color:#555;
	line-height:16px
}
.hl-col .customers-slider .customers-quote a {
	color:#d72c22;
	text-decoration:none
}
.hl-col .bx-wrapper .bx-controls {
	position:absolute;
	width:300px;
	top:0;
	left:0
}
.hl-col .bx-wrapper .bx-controls .bx-prev {
	position:absolute;
	top:0;
	left:0;
	width:20px;
	height:116px;
	background-position:-250px -174px;
	text-indent:-999em
}
.hl-col .bx-wrapper .bx-controls .bx-next {
	position:absolute;
	top:0;
	right:0;
	width:20px;
	height:116px;
	background:url("../images/sprite-footer-bg.png") no-repeat 100% -26px;
	text-indent:-999em
}
.hl-col .bx-wrapper .bx-controls .bx-prev:focus, .hl-col .bx-wrapper .bx-controls .bx-next:focus {
	border:0!important
}
.sb-footer {
	text-align:left;
	float:left;
	width:100%;
	padding-top:20px;
	min-height:100px;
	background:url("../images/footer-top-sbl.png") repeat-x top left #ededed
}
.sb-footer-btm {
	float:left;
	width:100%;
	height:25px;
	background:url("../images/sprite-footer-bg.png") repeat-x 0 0 #ededed
}
.sb-footer-inner {
	width:960px;
	margin:0 auto
}
.sb-footer-col {
	float:left;
	width:210px;
	margin-right:20px
}
.sb-footer-inner .last {
	margin:0;
	width:270px
}
.sb-footer-col h3 {
	text-transform:uppercase;
	font-size:1.1em;
	font-weight:bold;
	color:#666;
	margin-bottom:10px
}
.sb-footer-col ul li {
	margin:4px 0
}
.sb-footer-col ul li a {
	color:#666;
	font-size:1.1em;
	text-decoration:none
}
.sb-footer-col ul li a:hover {
	color:#d72c22
}
.sb-footer-inner .help-left {
	float:left;
	width:110px;
	border-right:1px solid #ccc;
	padding-right:20px
}
.sb-footer-inner .help-right {
	float:left;
	width:110px;
	margin-left:20px
}
.footer-toolbar {
	float:left;
	width:100%;
	margin-top:20px
}
.ft-partners {
	width:268px;
	float:left
}
.ft-contact {
	width:382px;
	float:left;
	margin:3px 0 0 10px;
	font-size:1.1em;
#color:#666;
	text-align:center
}
.ft-contact a, .ft-contact span {
	color:#d72c22;
	font-weight:bold;
	text-decoration:none
}
.ft-contact a:hover {
	text-decoration:underline
}
.ft-social {
	width:200px;
	float:right;
	text-align:right
}
.ft-partners ul li {
	float:left;
	margin-right:20px
}
.ft-partners ul li img {
	vertical-align:middle
}
.ft-social ul li {
	display:inline;
	margin-right:5px
}
.sb-baseline {
	text-align:left;
	width:100%;
	float:left;
	background:#f0f0f0;
	min-height:40px
}
.sb-baseline .sb-baseline-inner {
	width:960px;
	margin:0 auto;
	padding:10px 0
}
.baseline-copyright {
	float:left;
	width:280px;
	color:#777
}
.baseline-country {
	float:left;
	width:220px;
	margin-left:30px
}
.baseline-links {
	float:right;
	width:400px;
	text-align:right;
	margin-top:5px
}
.baseline-links li {
	display:inline;
	margin-left:15px
}
.baseline-links li a {
	text-decoration:none;
	color:#777
}
.baseline-links li a:hover {
	color:#d72c22
}
.baseline-country select {
	width:130px
}
.quote-box .btn-getquote {
	background-position:-253px 0;
	padding-left:10px;
	width:274px;
	height:66px;
	margin-bottom:2px
}
.quote-box .btn-getquote a {
	display:block;
	padding:19px 30px 23px 20px;
	text-align:center;
	background-position:100% 0;
	text-decoration:none
}
.quote-box-content .btn-getquote {
	background-position:0 0;
	width:260px;
	margin-bottom:5px
}
.quote-box-content .btn-getquote a {
	display:block;
	padding:12px 30px 0 20px;
	text-align:center;
	background-position:100% -67px;
	text-decoration:none;
	height:39px
}
.btn-getquote a span {
	font-size:24px;
	font-weight:bold;
	color:#d72c22;
	text-decoration:none;
	padding-right:15px;
	background:url("../images/arrow-get-quote-sbl.png") no-repeat right;
	margin-right:1px
}
.quote-box .btn-retquote {
	background-position:0 0;
	padding-left:10px;
	width:274px
}
.quote-box .btn-retquote a {
	height:29px;
	display:block;
	padding:16px 16px 0 16px;
	text-align:center;
	background-position:100% -46px;
	text-decoration:none
}
.quote-box-content .btn-retquote {
	background-position:-506px 0;
	width:260px
}
.quote-box-content .btn-retquote a {
	display:block;
	padding:14px 10px 15px 10px;
	text-align:center;
	background-position:100% -119px;
	text-decoration:none
}
.btn-retquote a span {
	font-size:14px;
	font-weight:bold;
	color:#FFF;
	text-decoration:none;
	padding-right:10px;
	background:url("../images/arrow-ret-quote-sbl.png") no-repeat right
}
.temp-quote-wrapper {
	width:100%;
	float:left;
	margin:10px 0
}
.temp-quote-wrapper .temp-quote-inner {
	width:578px;
	margin:0 auto
}
.temp-quote-wrapper .temp-quote-inner .quote-box-content {
	position:relative;
	padding:15px 20px;
	top:auto;
	height:150px;
	margin:0;
	width:538px;
	background-color:#d62821;
	border-radius:8px
}
.temp-quote-wrapper .temp-quote-inner .quote-box-content .quote-col-one {
	float:left;
	margin:3px 0 12px 0;
	width:100%
}
.sb-footer-text {
	float:left;
	width:100%;
	margin-top:.8em;
	margin-bottom:.8em;
	-moz-border-radius:.8em;
	-webkit-border-radius:.8em;
	border-radius:.8em;
	background-color:#fff
}
.cnt-subsctn .sb-footer-inner-text {
	width:999px
}
.sb-middlecnt-container {
	padding:.15em .8em .9em 1.9em
}
.asterix {
	color:red;
	font-size:30px
}
.panel-header .body-copy-grey-right-align, .panel-header .body-copy-grey-right-align a {
	font-size:1em
}
.noScriptBtn {
	background:url(../images/getaquotenoscript.jpg);
	width:284px;
	height:68px;
	cursor:pointer
}
.video-box .quoteBox-heading .page-heading-h1 {
	margin-bottom:5px
}
.video-box .quoteBox-heading {
	margin:15px 0 8px 20px
}
.video-box .quote-box-content {
	width:558px!important;
width:578px!important \9;
*width:558px!important;
	padding:10px 10px 15px 10px!important;
*padding:10px!important;
	height:156px!important;
*height:159px!important
}
.quoteBox-heading .page-heading-h1 {
	margin-bottom:5px
}
.video-box .quote-col-two {
	margin-top:0
}
.video-box .quote-col-three {
	margin-top:18px;
	width:230px
}
.video-box .quote-box-content .selectbox, .video-box .btn-getquote, .video-box .noScriptBtn {
	background:url(../images/sprite-quote-btns-video.png) no-repeat
}
.video-box .quote-box-content .selectbox {
	background-position:0 0;
	width:230px!important;
	font-size:1.0em
}
.video-box .quote-box-content .ui-selectmenu-status {
	height:10px
}
.video-box .btn-getquote {
	clear:both;
	width:230px!important;
	background-position:0 -26px
}
.video-box .btn-getquote a {
	background:none;
	padding-left:10px;
	padding-right:10px
}
.video-box .btn-getquote span {
	padding-right:40px
}
.video-box .noScriptBtn {
	clear:both;
	width:230px!important;
	background-position:0 -26px
}
#colorbox, #cboxOverlay, #cboxWrapper {
	position:absolute;
	top:0;
	left:0;
	z-index:9999
}
#cboxOverlay {
	position:fixed;
	width:100%;
	height:100%
}
#cboxMiddleLeft, #cboxBottomLeft {
	clear:left
}
#cboxContent {
	position:relative
}
#cboxLoadedContent {
	overflow:auto;
	-webkit-overflow-scrolling:touch
}
#cboxTitle {
	margin:0
}
#cboxLoadingOverlay, #cboxLoadingGraphic {
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%
}
#cboxPrevious, #cboxNext, #cboxClose, #cboxSlideshow {
	cursor:pointer
}
.cboxPhoto {
	float:left;
	margin:auto;
	border:0;
	display:block;
	max-width:none
}
.cboxIframe {
	width:100%;
	height:100%;
	display:block;
	border:0
}
#colorbox, #cboxContent, #cboxLoadedContent {
	box-sizing:content-box;
	-moz-box-sizing:content-box;
	-webkit-box-sizing:content-box
}
#cboxOverlay {
	background:url("../images/colorbox-page-bg-sbl.png") top left
}
#cboxTopLeft {
	width:25px;
	height:25px;
	background:url(../images/border1-sbl.png) no-repeat 0 0
}
#cboxTopCenter {
	height:25px;
	background:url(../images/border1-sbl.png) repeat-x 0 -50px
}
#cboxTopRight {
	width:25px;
	height:25px;
	background:url(../images/border1-sbl.png) no-repeat -25px 0
}
#cboxBottomLeft {
	width:25px;
	height:25px;
	background:url(../images/border1-sbl.png) no-repeat 0 -25px
}
#cboxBottomCenter {
	height:25px;
	background:url(../images/border1-sbl.png) repeat-x 0 -75px
}
#cboxBottomRight {
	width:25px;
	height:25px;
	background:url(../images/border1-sbl.png) no-repeat -25px -25px
}
#cboxMiddleLeft {
	width:25px;
	background:url(../images/border2-sbl.png) repeat-y 0 0
}
#cboxMiddleRight {
	width:25px;
	background:url(../images/border2-sbl.png) repeat-y -25px 0
}
#cboxContent {
	background:#fff
}
.cboxIframe {
	background:#fff
}
#cboxError {
	padding:50px;
	border:1px solid #ccc
}
#cboxTitle {
	position:absolute;
	bottom:0;
	left:0;
	text-align:center;
	width:100%;
	color:#999;
	display:none
}
#cboxCurrent {
	position:absolute;
	bottom:0;
	left:100px;
	color:#999
}
#cboxSlideshow {
	position:absolute;
	bottom:0;
	right:42px;
	color:#444
}
#cboxPrevious {
	position:absolute;
	bottom:0;
	left:0;
	color:#444
}
#cboxNext {
	position:absolute;
	bottom:0;
	left:63px;
	color:#444
}
#cboxLoadingOverlay {
	background:#fff url(../images/loading-sbl.gif) no-repeat 5px 5px
}
#cboxClose {
	position:absolute;
	top:-33px;
	right:-33px;
	display:block;
	color:#444;
	height:24px;
	width:24px;
	text-indent:-9999em;
	background-position:0 -44px
}
@media only screen and (max-width:767px) {
.selectbox {
width:240px;
padding:12px 10px;
background:#ddd;
margin-bottom:10px;
font-size:1.4em
}
}
