body{margin:0 0 0em 0;color:#000000 !important;}
.print,.boiler-plate{display:block !important;}
.no-print{display:none;}

.main-container,.main-container-popup{margin:0;}
/*bg image of main container is disabled*/
.page-container{background:none;display:block !important; }
/*To move the Left and right panels  contact number to the top*/
.showcntct-num{position:relative;top:-10.5em;left:-17em; display:block !important;}

/*The grey bg of containers in the  screenbuilder changed to white bg */
.grey .group-top,.grey .group-middle,.grey .group-bottom{background-color: #ffffff !important;}

/*To hide sections of the page to be hidden*/
.header-btncontainer,.header-hp-right,.progress-bar,.occupation-details,.action-bar,.topmenu-container,.topmenu,.leftmenu,.leftmenu-main,
.contact-child-item,.contact-child-item-last,.footer-dropdown-box,.footer-links-home-box,.footer-links,.smallcontainer,
.topright-container-small,.tpright-container-large,.btmright-cntainr-large,.verLogo-holder,.left-nav,.leftnav-gap,.right-nav,.rightnav-gap,.section-container-horz{display:none;}

/*To remove the border of contact number container at the top*/
.tpright-container-large .top,.tpright-container-large .bottom,.tpright-container-large .middle-content,.topright-container-small .top,.topright-container-small .bottom,.topright-container-small .middle-content,.btmright-cntainr-large .top,.btmright-cntainr-large .bottom,.btmright-cntainr-large .middle-content{-moz-border-radius:0; border:0;-webkit-border-radius: 0;border-radius:0;}

/*All containers width*/
.cnt-sctn,.cnt-subsctn,.two-column-center,.boiler-plate{width:63.5em;}
.cnt-sctn .middle-content,.cnt-subsctn .middle-content,.two-column-center .middle-content,.boiler-plate .middle-content{width:63.3em !important;}

/*Horizontal call to action container width
.section-container-horz .middle-content{width:60.7em !important;}*/

.red-call-to-action-small{color:#000000;}

/*Setting zero margin to footer of quote and buy pages*/
.footer{margin:0em 0 2em 0;}
.footer-home{border:0;}
.left-nav,.right-nav{margin-top:3em !important;}
.cnt-sctn{margin-bottom:0.8em;}
.two-column-center,.page-container{margin-left:0.8em;}