.grey.round-top>.group-top>.right-container>.left-container{background:transparent url('images/left-top-corner-white.gif') no-repeat scroll 0 100%;}
.grey.round-top>.group-top>.right-container{background:transparent url('images/right-top-corner-white.gif') no-repeat scroll 100% 100%;}
.grey.round-bottom>.group-bottom>.right-container>.left-container{background:transparent url('images/left-btm-corner-white.gif') no-repeat scroll 0 100%;}
.grey.round-bottom>.group-bottom>.right-container{background:transparent url('images/right-btm-corner-white.gif') no-repeat scroll 100% 100%;} 