html, body, div, span, applet, object, iframe,h1, h2, h3, h4, h5, h6, p, blockquote, pre,a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,small, strike, strong, sub, sup, tt, var,dl, dt, dd, ol, ul, li,fieldset, form, label, 
legend,table, caption, tbody, tfoot, thead, tr, th, td, input,textarea,select {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-weight: inherit;
	font-style: inherit;
	font-size: 1em;
	font-family: inherit;
	vertical-align: baseline;
}

/* remember to define focus styles! */
:focus {outline: 0;}

body, .editableEditLiveSection {
	line-height: 1;
	color: #616161;
	background: white;
	font-weight: normal;
	font-style: normal;
	font-size: 10px;
	font-family: inherit;
	font-family: Arial, Sans-Serif;
}

ol, ul {list-style: none;}

/* tables still need 'cellspacing="0"' in the markup */
table {border-collapse: separate;border-spacing: 0;}
caption, th, td {text-align: left;font-weight: normal;}

blockquote:before, blockquote:after,q:before, q:after {content: "";}
blockquote, q {quotes: "" "";}

/* generic container (i.e. div) for floating buttons */
.clear {overflow: hidden;width: 100%;clear: both; ephox-visible: false;}
.float-left{float:left; ephox-visible: false;}
.float-right{float:right !important; ephox-visible: false;}
.inl-fl-left {float:left; display:inline; ephox-visible: false;}
.inl-fl-right {float:right; display:inline; ephox-visible: false;}
.clear{clear:both;/*font-size:0.1em;*/ ephox-visible: false;}
.clear-both{clear:both; ephox-visible: false;}

a:focus {border: 1px dotted black !important;}
body:focus {border: 0px solid black !important;}

sup {font-size:0.7em;vertical-align:super;*vertical-align:top;}
ins{text-decoration:none;}

html{overflow:scroll;}
.main-container{width:100.5em;margin:0 auto 0 auto;}
.header{width:96em;margin:0 auto 0 auto;}
/*CSS cleanup change starts here*/
.logo{width:11em;height:7em; float:left;display:inline-block;}
.logo{margin:0.8em 0 0.3em 1.7em;}

/*CSS cleanup change ends here*/
.page-container{ width:100%;background-color:#F7F7F7;  height:100%; clear:both; padding:1.8em 0 0 0;  margin:0;  display:inline-block; }
.left-nav{width:19.2em; float:left; display:inline-block;  margin:5.1em 0 0 2em; clear:both; }
.cnt-sctn{width:58em; float:left; display:inline-block;background-color:#FFF; -moz-border-radius:0.8em;-webkit-border-radius: 0.8em;border-radius:0.8em; /*US9658 change */border:.1em solid #e0e0e0;	padding-top:0.8em;}
.right-nav{width:19em; float:left;margin:5.1em 0 0 0;}
.page-heading{width:100%;float:left;}
.page-heading-border{border-bottom:0.1em solid #eaeaea;}
.page-heading h1 {padding:0.2em 0.8em 0.73em 1em; float:left; width:15em;}
.page-heading2 h1 {padding:0.25em 0.8em 0.45em 1em; float:left;}
.reference-number{float:right; margin:1em 1.9em 0.4em 0;}
.reference-number span{font-size:1.4em;color:#616161; font-weight:bold; }
/*CSS cleanup change starts here*/
.footer,.footer-twocol{clear:both;padding:1.8em 0 1em 2em;}
.footer{margin:0 0 0 23em;}
.footer-twocol{margin:0 0 0 2em;}
/*CSS cleanup change ends here*/
.footer-links{display:inline; float:left; margin-right:1em;}
.footer-links a{font-size:1.2em; font-weight:bold; color:#616161; text-decoration:none;}
.copy-right{clear:both; padding-top:0.5em;}
.copy-right span, .occupation-info span {font-size:1.2em; color:#616161;}
.verLogo-holder{width:100%; text-align:center; margin: 2.2em 0 0.8em 0;}
.verLogo-holder table {margin: 0 auto 0 auto;}
.topcnt-container{clear:both; padding-top:1em;}
.topcnt-container p,.topcnt-container .box-heading-h3-with-line,.topcnt-container .box-heading-h3{padding:0.6em 0.5em 0.8em 2em; line-height:1.2em;}
.topcnt-container .grey-heading-h2-with-line,.topcnt-container .black-heading-h3-with-line,.topcnt-container .red-call-to-action-medium-h2-with-line{padding:0.6em 0.5em 0.95em 1.8em; line-height:1.2em;}
.topcnt-container .page-heading-h1-with-line{padding:0.6em 0.5em 0.5em 1em;}
.middlecnt-container{padding:0.15em 0.8em 0.9em 2.1em;}
/*CSS cleanup change starts here*/
.middlecnt-container p,.topcnt-container .box-heading-h3,.middlecnt-container .box-heading-h3{line-height:1.3em;}
/*CSS cleanup change starts here*/
.topcnt-container .list-red-tick-body-copy-grey,.topcnt-container .list-red-tick-body-copy-black,.topcnt-container .list-red-tick-body-copy-grey-small,
.topcnt-container .list-red-tick-body-copy-black-small,.topcnt-container .list-grey-tick-body-copy-grey,.topcnt-container .list-grey-tick-body-copy-black,
.topcnt-container .list-grey-tick-body-copy-grey-small,.topcnt-container .list-grey-tick-body-copy-black-small{padding-left:3.6em;}

.topcnt-container .list-bulleted-body-copy-grey,.topcnt-container .list-bulleted-body-copy-grey-small,.topcnt-container .list-bulleted-body-copy-black,.topcnt-container .list-bulleted-body-copy-black-small{padding-left:4.5em;}
.middlecnt-container .list-bulleted-body-copy-grey,.middlecnt-container .list-bulleted-body-copy-grey-small,.middlecnt-container .list-bulleted-body-copy-black,.middlecnt-container .list-bulleted-body-copy-black-small{padding-left:3em;}
.middlecnt-container .list-red-tick-body-copy-grey,.middlecnt-container .list-red-tick-body-copy-black,.middlecnt-container .list-red-tick-body-copy-grey-small,.middlecnt-container .list-red-tick-body-copy-black-small,.middlecnt-container .list-grey-tick-body-copy-grey,.middlecnt-container .list-grey-tick-body-copy-black,.middlecnt-container .list-grey-tick-body-copy-grey-small,.middlecnt-container .list-grey-tick-body-copy-black-small{padding-left:2.3em;}

.middlecnt-container .list-red-tick-body-copy-grey li,.middlecnt-container .list-red-tick-body-copy-black li,.middlecnt-container .list-red-tick-body-copy-grey-small li,.middlecnt-container .list-red-tick-body-copy-black-small li,.middlecnt-container .list-grey-tick-body-copy-grey li,.middlecnt-container .list-grey-tick-body-copy-black li,
.middlecnt-container .list-grey-tick-body-copy-grey-small li,.middlecnt-container .list-grey-tick-body-copy-black-small li,.topcnt-container .list-red-tick-body-copy-grey li,.topcnt-container .list-red-tick-body-copy-black li,.topcnt-container .list-red-tick-body-copy-grey-small li,
.topcnt-container .list-red-tick-body-copy-black-small li,.topcnt-container .list-grey-tick-body-copy-grey li,.topcnt-container .list-grey-tick-body-copy-black li,
.topcnt-container .list-grey-tick-body-copy-grey-small li,.topcnt-container .list-grey-tick-body-copy-black-small li{padding:0 0 0 1.5em; line-height:1.3em; margin-top:0.4em; }

.middlecnt-container .list-bulleted-body-copy-grey li,.middlecnt-container .list-bulleted-body-copy-grey-small li,.middlecnt-container .list-bulleted-body-copy-black li,.middlecnt-container .list-bulleted-body-copy-black-small li,.topcnt-container .list-bulleted-body-copy-grey li,.topcnt-container .list-bulleted-body-copy-grey-small li,.topcnt-container .list-bulleted-body-copy-black li,.topcnt-container .list-bulleted-body-copy-black-small li{padding:0 0 0 0; line-height:1.3em; margin-top:0.3em; }
.no-bg{background-color:transparent !important;}
.middlecnt-container .grey-heading-h2{padding-bottom:0.7em;}
/* US9658 change*/
/*.cnt-sctn .top,.cnt-subsctn .top,.section-container .top,.section-container-horz .top{height:0.8em;-moz-border-radius-topleft: 0.8em;-moz-border-radius-topright: 0.8em;-webkit-border-top-right-radius: 0.8em;-webkit-border-top-left-radius: 0.8em;border:0.1em solid #e0e0e0; border-bottom:0;border-top-right-radius: 0.8em;border-top-left-radius: 0.8em;}

.cnt-sctn .bottom,.cnt-subsctn .bottom,.section-container .bottom,.section-container-horz .bottom{height:0.8em;-moz-border-radius-bottomleft: 0.8em;-moz-border-radius-bottomright: 0.8em;-webkit-border-bottom-right-radius: 0.8em;-webkit-border-bottom-left-radius: 0.8em;border:0.1em solid #e0e0e0;border-top:none; clear:both;border-bottom-right-radius: 0.8em;border-bottom-left-radius: 0.8em;}*/

/*.cnt-sctn .top .left,.cnt-sctn .top .right,.cnt-sctn .bottom .left,.cnt-sctn .bottom .right,.cnt-subsctn .top .left,.cnt-subsctn .top .right,.cnt-subsctn .bottom .left,.cnt-subsctn .bottom .right,.section-container .top .left,.section-container .top .right,.section-container .bottom .left,.section-container .bottom .right,.section-container-horz .top .left,.section-container-horz .top .right,.section-container-horz .bottom .left,.section-container-horz .bottom .right{width:100%;height:0.8em;padding:0;margin:0;}

.cnt-sctn .top .middle,.cnt-sctn .bottom .middle,.cnt-subsctn .top .middle,.cnt-subsctn .bottom .middle,.section-container .top .middle,.section-container .bottom .middle,.section-container-horz .top .middle,.section-container-horz .bottom .middle{width:auto;height:0.8em;padding:0;margin:0 0.8em 0 0.8em;}*/
.cnt-sctn .middle-content,.cnt-subsctn .middle-content{width:57.9em; /*US9658 change *//*border-left:0.1em solid #e0e0e0;  border-right:0.1em solid #e0e0e0; */min-height:45em;}
/*CSS cleanup change starts here*/
.cnt-subsctn,.section-container{ margin-bottom:0.8em;-moz-border-radius: 0.8em;-webkit-border-radius: 0.8em;border-radius: 0.8em; background-color:#FFFFFF;}
.cnt-subsctn{width:100%;}
.section-container {width:19.2em; /*US9658 change */padding:0.8em 0;display:inline-block;border:.1em solid #e0e0e0;}

/*CSS cleanup change starts here*/

.two-column-center{width:77em; margin-left:1.8em;}
.two-column-center .middle-content,.two-column-center-nopad .middle-content{width:76.8em !important; /*US9658 change*//*border-left:0.1em solid #e0e0e0;  border-right:0.1em solid #e0e0e0;*/}
.two-column-center-nopad{width:77em;}
/* Progress Bar styles starts here*/
	/* set the defaults on the progress bar div (image, basic positioning etc)*/
.progress-bar{width:100%; margin:0.6em auto 1.8em auto; clear:both; height:3.9em; padding-top:0.4em; text-align:center;}
.progress-bar ul{width:auto; list-style:none; display:inline-block;}
/*CSS cleanup change starts here*/
.progress-bar ul li, .footer-links-home-box li,.breadcrumb-link,.breadcrumb-current{display:inline;}
/*CSS cleanup change ends here*/
div.progress-bar ul li div {background-image:url('../images/progress.gif');display:inline-block;float:left;height:3.9em;}

	/* now set the window over the image for each image ~ extra white-space can be stripped out during deployment */
		/* left hand images*/
.first-grey-bar .left-bg														{background-position: 0 0;}
.first-red-bar .left-bg															{background-position: -7px 0;}
.first-white-bar .left-bg														{background-position: -14px 0;}
		/* background images */
.grey-bar .middle-bg, .first-grey-bar .middle-bg								{background-position: 0 -39px;}
.last-red-bar .middle-bg, .first-red-bar .middle-bg, .red-bar .middle-bg		{background-position: 0 -78px;}
.red-white-bar .middle-bg, .white-bar .middle-bg,
.last-white-bar .middle-bg, .last-red-white-bar .middle-bg, 
.first-white-bar .middle-bg														{background-position: 0 -117px;}
		/* end images */
.last-red-bar .right-bg-last													{background-position: 0 -195px;}
.last-white-bar .right-bg-last, .last-red-white-bar .right-bg-last				{background-position: 0 -234px;}
		/* transition images */
.grey-bar .left-bg																{background-position: 0 -273px;}
.last-red-bar .left-bg, .red-bar .left-bg										{background-position: 0 -312px;}
.red-white-bar .left-bg, .last-red-white-bar .left-bg							{background-position: 0 -429px;}
.last-white-bar .left-bg, .white-bar .left-bg									{background-position: 0 -546px;}
	/* end the image settings*/
	/* set up the text sections, including font, padding and widths */
div.progress-bar ul li div span {font-size:1.5em; font-weight:bold; padding:0.8em 0.1em 0 0.6em; display:block;}
li.first-red-bar .middle-bg span,li.red-bar .middle-bg span,li.last-red-bar .middle-bg span, .red-button  input{color:#ffffff;}
li.first-white-bar .middle-bg span,li.white-bar .middle-bg span,li.last-white-bar .middle-bg span,li.red-white-bar .middle-bg span,li.last-red-white-bar .middle-bg span{color:#b6b6b6;}
li.grey-bar .middle-bg span,li.first-grey-bar .middle-bg span{color:#303030;}
li.first-white-bar div.left-bg,li.first-grey-bar div.left-bg,li.first-red-bar div.left-bg{width:0.7em !important;}
li.last-white-bar div.right-bg-last,li.last-grey-bar div.right-bg-last,li.last-red-bar div.right-bg-last,.last-red-white-bar .right-bg-last,div.progress-bar ul li div.left-bg{width:2em;}
/* Progress Bar styles ends here*/

/*CSS cleanup change ends here*/
.show-style{display:block}
.hide-question{display:none !important;}
 /*US9658 change */
/*.left-nav-corner .top{-moz-border-radius-topright: 0;-webkit-border-top-right-radius: 0;border-top-right-radius: 0;border-right:0;}
.left-nav-corner .bottom{-moz-border-radius-bottomright: 0;-webkit-border-bottom-right-radius: 0;border-bottom-right-radius: 0;border-right:0;}
.right-nav-corner .top{-moz-border-radius-topleft: 0;-webkit-border-top-left-radius: 0;border-top-left-radius: 0;border-left:0;}
.right-nav-corner .bottom{-moz-border-radius-bottomleft: 0;-webkit-border-bottom-left-radius: 0;border-bottom-left-radius: 0;border-left:0;}
.section-container .middle-content,.section-container-horz .middle-content{ border-left:0.1em solid #e0e0e0;border-right:0.1em solid #e0e0e0;}*/
/*CSS cleanup change starts here*/
.section-container .middle-content,.quotes-table .col2, .quotes-table .col3{width:19em;}
/*CSS cleanup change ends here*/
/*US9658 change */
.left-nav-corner {/*-moz-border-radius-topleft: 0.8em;-moz-border-radius-bottomleft: 0.8em;-webkit-border-top-left-radius: 0.8em;-webkit-border-bottom-left-radius: 0.8em;*/-moz-border-radius-topright: 0;-moz-border-radius-bottomright: 0;-webkit-border-top-right-radius: 0;-webkit-border-bottom-right-radius: 0; background-color:#FFF;/*border-top-left-radius: 0.8em;border-bottom-left-radius: 0.8em;*/border-top-right-radius: 0;border-bottom-right-radius: 0;}
.right-nav-corner {/*-moz-border-radius-topright: 0.8em;-moz-border-radius-bottomright: 0.8em;-webkit-border-top-right-radius: 0.8em;-webkit-border-bottom-right-radius: 0.8em;*/-moz-border-radius-topleft: 0;-moz-border-radius-bottomleft: 0;-webkit-border-top-left-radius: 0;-webkit-border-bottom-left-radius: 0; background-color:#FFF;/*border-top-right-radius: 0.8em;border-bottom-right-radius: 0.8em;*/border-top-left-radius: 0;border-bottom-left-radius: 0;border-left:0;}
.left-nav-corner .middle-content{border-right:0;width:99.6%;}
.right-nav-corner .middle-content{border-left:0;width:19.1em !important;}
.right-nav-corner .vertical-container{padding:0.3em 0 0.4em 0;}
.button-row{width:35.9em; float:left; margin-right:0;}
.button-row span object{float:right; width:auto; display:inline}
.button-row .header-btns{margin-left:1.2em; display:inline; float:left;}
.button-row-wide{width:98%;}

/*.btmlft-container .middle-content{margin-top:-0.6em;}*/
/*Styles for Helpful information starts here*/

.grey-toplft .black-heading-h3,.btmlft-container .black-heading-h3,.grey-toplft .grey-heading-h2,.btmlft-container .grey-heading-h2,.grey-toplft .red-call-to-action-medium-h2,.btmlft-container .red-call-to-action-medium-h2,.grey-toplft .box-heading-h3,.btmlft-container .box-heading-h3{padding:0.4em 0.5em 0 1.4em;}



.tpright-container-large .black-heading-h3,.btmright-cntainr-large .black-heading-h3,.tpright-container-large .grey-heading-h2,.btmright-cntainr-large .grey-heading-h2,.tpright-container-large .red-call-to-action-medium-h2,.btmright-cntainr-large .red-call-to-action-medium-h2,.tpright-container-large .box-heading-h3,.btmright-cntainr-large .box-heading-h3{padding:0.4em 0.5em 0 1.8em;}
/*ephox styles with line starts*/
.grey-toplft .black-heading-h3-with-line,.btmlft-container .black-heading-h3-with-line,.grey-toplft .grey-heading-h2-with-line,.btmlft-container .grey-heading-h2-with-line,.grey-toplft .red-call-to-action-medium-h2-with-line,.btmlft-container .red-call-to-action-medium-h2-with-line,.grey-toplft .box-heading-h3-with-line,.btmlft-container .box-heading-h3-with-line{padding:0.4em 0.5em 0.8em 1.4em;}

.tpright-container-large .black-heading-h3-with-line,.btmright-cntainr-large .black-heading-h3-with-line,.tpright-container-large .grey-heading-h2-with-line,.btmright-cntainr-large .grey-heading-h2-with-line,.tpright-container-large .red-call-to-action-medium-h2-with-line,.btmright-cntainr-large .red-call-to-action-medium-h2-with-line,.tpright-container-large .box-heading-h3-with-line,.btmright-cntainr-large .box-heading-h3-with-line{padding:0.4em 0.5em 0.8em 1.8em;}
/*ephox styles with line ends*/
.grey-toplft img,.btmlft-container img,.topright-container-small img,.smallcontainer img,.tpright-container-large img,.btmright-cntainr-large img{vertical-align:middle;}

.grey-toplft .body-copy-grey,.btmlft-container .body-copy-grey,.grey-toplft .body-copy-black,.btmlft-container .body-copy-black,.grey-toplft .body-copy-grey-small,.btmlft-container .body-copy-grey-small,.grey-toplft .body-copy-black-small,.btmlft-container .body-copy-black-small,.grey-toplft .red-call-to-action-small,.btmlft-container  .red-call-to-action-small{padding:0.4em 0.5em 0 1.8em; line-height:1.4em;}

.tpright-container-large .body-copy-grey,.btmright-cntainr-large .body-copy-grey,.tpright-container-large .body-copy-black,.btmright-cntainr-large .body-copy-black,.tpright-container-large .body-copy-grey-small,.btmright-cntainr-large .body-copy-grey-small,.tpright-container-large .body-copy-black-small,.btmright-cntainr-large .body-copy-black-small,.tpright-container-large .red-call-to-action-small,.btmright-cntainr-large .red-call-to-action-small{padding:0.4em 0.5em 0 2.3em; line-height:1.4em;}

.grey-toplft .grey-call-to-action-medium{padding:1em 0.5em 0 1.4em;}
.btmlft-container .grey-call-to-action-medium,.grey-toplft .grey-call-to-action-large,.btmlft-container .grey-call-to-action-large{padding:0.5em 0.5em 0 1.4em;}

.tpright-container-large .grey-call-to-action-medium,.btmright-cntainr-large .grey-call-to-action-medium,.tpright-container-large .grey-call-to-action-large,.btmright-cntainr-large .grey-call-to-action-large{padding:0.5em 0.5em 0 1.8em;}

.grey-toplft .body-copy-black-with-line,.grey-toplft .body-copy-grey-with-line,.btmlft-container .body-copy-black-with-line,.btmlft-container .body-copy-grey-with-line,.grey-toplft .body-copy-black-small-with-line,.grey-toplft .body-copy-grey-small-with-line,.btmlft-container .body-copy-black-small-with-line,.btmlft-container .body-copy-grey-small-with-line{padding:0 0.5em 0.6em 1.8em;line-height:1.4em;}

.tpright-container-large .body-copy-black-with-line,.tpright-container-large .body-copy-grey-with-line,.btmright-cntainr-large .body-copy-black-with-line,.btmright-cntainr-large .body-copy-grey-with-line,.tpright-container-large .body-copy-black-small-with-line,.tpright-container-large .body-copy-grey-small-with-line ,.btmright-cntainr-large .body-copy-black-small-with-line,.btmright-cntainr-large .body-copy-grey-small-with-line{padding:0 0.5em 0.6em 2.3em;line-height:1.4em;}

.list-grey-tick-body-copy-grey li span,.list-grey-tick-body-copy-black li span,.list-red-tick-body-copy-grey li span,.list-red-tick-body-copy-black li span,.list-grey-tick-body-copy-grey-small li span,.list-grey-tick-body-copy-black-small li span,.list-red-tick-body-copy-grey-small li span, .list-red-tick-body-copy-black-small li span{margin-bottom:0.8em;margin-top:0.2em; line-height:1.4em;}
/*Styles for Helpful information ends here*/
/*Styles for Tips and guidance starts here*/
.btmlft-container .body-copy-grey a, .contact-child-item b{margin-top:0.2em;display:inline-block;}
.grey-toplft .body-copy-grey a,.topright-container-small .body-copy-grey a,.smallcontainer .body-copy-grey a,.tpright-container-large .body-copy-grey a,.btmright-cntainr-large .body-copy-grey a{margin-top:0.6em;display:inline-block;}
.grey-toplft .body-copy-grey b,.btmlft-container .body-copy-grey b,.grey-toplft .body-copy-black b,.btmlft-container .body-copy-black b{margin:-0.6em 0 0 0;display:inline-block;}
.tpright-container-large .body-copy-grey b,.btmright-cntainr-large .body-copy-grey b,.tpright-container-large .body-copy-black b,.btmright-cntainr-large .body-copy-black b{display:inline-block;}
/*Styles for Tips and guidance ends here*/
/*Styles for Checklist starts here*/
.btmlft-container .list-grey-tick-body-copy-grey,.btmlft-container .list-grey-tick-body-copy-black,.btmlft-container .list-red-tick-body-copy-grey,.btmlft-container .list-red-tick-body-copy-black,.btmlft-container .list-grey-tick-body-copy-grey-small,.btmlft-container .list-grey-tick-body-copy-black-small,.btmlft-container .list-red-tick-body-copy-grey-small,.btmlft-container .list-red-tick-body-copy-black-small,.grey-toplft .list-grey-tick-body-copy-grey,.grey-toplft .list-grey-tick-body-copy-black,.grey-toplft .list-red-tick-body-copy-grey,.grey-toplft .list-red-tick-body-copy-black,.grey-toplft .list-grey-tick-body-copy-grey-small,.grey-toplft .list-grey-tick-body-copy-black-small,.grey-toplft .list-red-tick-body-copy-grey-small,.grey-toplft .list-red-tick-body-copy-black-small{padding:0 0.5em 0 1.8em;}

.tpright-container-large .list-grey-tick-body-copy-grey,.tpright-container-large .list-grey-tick-body-copy-black,.tpright-container-large .list-red-tick-body-copy-grey,.tpright-container-large .list-red-tick-body-copy-black,.tpright-container-large .list-grey-tick-body-copy-grey-small,.tpright-container-large .list-grey-tick-body-copy-black-small,.tpright-container-large .list-red-tick-body-copy-grey-small,.tpright-container-large .list-red-tick-body-copy-black-small,.btmright-cntainr-large .list-grey-tick-body-copy-grey,.btmright-cntainr-large .list-grey-tick-body-copy-black,.btmright-cntainr-large .list-red-tick-body-copy-grey,.btmright-cntainr-large .list-red-tick-body-copy-black,.btmright-cntainr-large .list-grey-tick-body-copy-grey-small,.btmright-cntainr-large .list-grey-tick-body-copy-black-small,.btmright-cntainr-large .list-red-tick-body-copy-grey-small,.btmright-cntainr-large .list-red-tick-body-copy-black-small {padding:0 0.5em 0 2.4em;}

.list-grey-tick-body-copy-grey li,.list-grey-tick-body-copy-black li,.list-red-tick-body-copy-grey li,.list-red-tick-body-copy-black li,.list-grey-tick-body-copy-grey-small li,.list-grey-tick-body-copy-black-small li,.list-red-tick-body-copy-grey-small li, .list-red-tick-body-copy-black-small li{padding-left:1.7em; margin-top:0.8em;}

.btmlft-container .list-bulleted-body-copy-grey,.btmlft-container .list-bulleted-body-copy-grey-small,.btmlft-container .list-bulleted-body-copy-black,.btmlft-container .list-bulleted-body-copy-black-small,.grey-toplft .list-bulleted-body-copy-grey,.grey-toplft .list-bulleted-body-copy-grey-small,.grey-toplft .list-bulleted-body-copy-black,.grey-toplft .list-bulleted-body-copy-black-small{padding:0 0.5em 0 3em;}

.tpright-container-large .list-bulleted-body-copy-grey,.tpright-container-large .list-bulleted-body-copy-grey-small,.tpright-container-large .list-bulleted-body-copy-black,.tpright-container-large .list-bulleted-body-copy-black-small,.btmright-cntainr-large .list-bulleted-body-copy-grey,.btmright-cntainr-large .list-bulleted-body-copy-grey-small,.btmright-cntainr-large .list-bulleted-body-copy-black,.btmright-cntainr-large .list-bulleted-body-copy-black-small{padding:0 0.5em 0 3.6em;}
.list-bulleted-body-copy-grey li,.list-bulleted-body-copy-grey-small li,.list-bulleted-body-copy-black li,.list-bulleted-body-copy-black-small li{margin-top:0.8em;}
/*Styles for Checklist ends here*/
/* SLIDING DOORS INPUT */
.vertical-container{float:left;width:100%; padding:0.5em 0 0.5em 0;}
.button-container-vertical{float:left;}
.grey-toplft .button-container-vertical .header-btns,.btmlft-container .button-container-vertical .header-btns{margin:1em 0 0 1.8em;}
.tpright-container-large .button-container-vertical .header-btns,.btmright-cntainr-large .button-container-vertical .header-btns{margin:1em 0 0 2.6em;}

/* BUTTONS */
/*CSS cleanup change starts here*/
.header-btns{float:left; display:inline;}
/*CSS cleanup change ends here*/
/* INPUT BUTTON */
li.grey-button+li.group, li.red-button+li.group{padding-top:1em;}
.submit-button {font-size:10px; display: block;float: left;height: 2.4em;padding-left: 1em; /* total height of the button */ /* end width */} 
span.submit-button-end {display: block;float: left;font-weight: bold;height: 2.4em;width:auto; /* total height of the button */} 
input.submit-input,a.submit-input{font-size: 1.2em;background: none;border: none; /* end width */cursor: pointer;position: relative;height: 2.2em; /* total height minus bottom padding */line-height: 2em; /* same as above */ left: -0.5em; /* end width */  font-weight:bold;z-index:99;} 
input.submit-input{padding: 0 2em 0.3em 0.4em; margin-right: -2em;}
a.submit-input {padding: 0 0 0.3em 0.4em; margin-right: 0;line-height: 2em !important; font-weight:bold !important;font-size: 1.2em !important; text-decoration:none !important;}


/* Anchor button styles*/
.grey-button a,.red-button a {text-decoration:none; padding:0 0.2em 0.3em 0.5em;}
.grey-button a,.grey-button a:link,.grey-button a:hover,.grey-button a:active,.grey-button a:visited {color:#636163;text-decoration:none;} 
.red-button a,.red-button a:link,.red-button a:hover,.red-button a:active,.red-button a:visited {color:#FFF;text-decoration:none;}

	/* image resets */
.submit-button, .submit-button span {background: transparent url('../images/buttons.gif')}

	/* start images */
.grey-button .submit-button,.header-btns .grey-button {background-position: 0 0;}  
.disabled .submit-button {background-position: 0 -24px;}
.red-button .submit-button, .header-btns .red-button {background-position: 0 -48px; color:#fff;}  
.red-button.mag .submit-button {background-position: 0 0; color:#fff;}  

	/* end images */
.grey-button span.submit-button-end {background-position: 100% -72px;} 
.disabled span.submit-button-end {background-position: 100% -96px;} 
.red-button span.submit-button-end {background-position: 100% -120px;} 
.red-button.mag span.submit-button-end {background-position: 100% -68px;}
	/* input controls */
.grey-button  input, .breadcrumb-link a:hover,.occupation-info a:hover, ul.third-level li a:link, ul.third-level li a:visited, .quotes-table .grey-row,.quotes-table .white-row{color:#616161;}
.disabled input{color:#8f8f8f;}

.submit-button span.button-icon {background: transparent url('../images/smallimages.gif') no-repeat; display:inline-block; height:1.2em;width:1.2em; margin-right:0.9em; position: relative; top:0.2em; left: -0.2em;/*padding:0.5em 2em 0.5em 0.3em;*/z-index:98;}

.submit-button a span.button-icon {margin-left:0.3em;margin-right:0.3em; position: relative; top:0.2em; left: 0.2em;width:1em;height:1em;}
	/* close */
.grey-button.close-icon  span.button-icon{background-position: -12px -24px;}
.red-button.close-icon  span.button-icon{background-position: -24px -24px;}
	/* print */
.red-button.print-icon span.button-icon{background-position: -12px -12px;}
.grey-button.print-icon span.button-icon{background-position: 0 -12px;}

	/* recalc*/
.recalc-icon span.button-icon{background-position: -48px -12px}
.disabled.recalc-icon span.button-icon{background-position: -60px -12px;}
	/* right arrows */
.rab-icon span.button-icon{background-position: -12px 0;}
.raw-icon span.button-icon{background-position: -36px 0;}
.disabled.rab-icon span.button-icon{background-position: -48px 0;}
	/* left arrows */
.lab-icon span.button-icon{background-position: 0 0;}
.law-icon span.button-icon{background-position: -24px 0;}
	/* misc */
.phone-icon span.button-icon{background-position: 0 -24px;}
.save-icon  span.button-icon{background-position: -24px -12px;}
.logout-icon span.button-icon{background-position: -36px -24px;}

.header-btncontainer{ float:right; margin:3.7em 2.1em 0 0; text-align:right; width:24.1em;}
.header-button-gap{margin-left:0.5em;}
.header-btncontainer .header-btns+.header-btns{float:right;}

.breadcrumb{margin:-0.3em auto 0 auto; width:96em; padding:0 0 0.8em 3.4em; display:inline-block;}
.occupation-info a{font-size:1.2em;font-weight:bold; color:#616161; text-decoration:underline;  }
.occupation-details{float:left; width:auto;padding:0 0.5em 0.6em 0; margin-left:-1.8em;}
.occupation-details>span.float-right{float:left!important;}
.occupation-info{padding-left:0.8em;float:left;display:inline;}

.grey-toplft .body-copy-grey-right-align,.btmlft-container .body-copy-grey-right-align,.tpright-container-large .body-copy-grey-right-align,.btmright-cntainr-large .body-copy-grey-right-align{width:11.2em;padding:0.5em 1.2em 0 1.7em; line-height:1.4em; margin:0.6em 0.5em 0.2em 0;}
.colmn-sectn{padding-bottom:1em;min-height: 19.9em;}

/*styles for Contact box starts here*/ 
.tpright-container-large .contact-child-item .grey-call-to-action-large,.btmright-cntainr-large .contact-child-item .grey-call-to-action-large,.grey-toplft .contact-child-item .grey-call-to-action-large,.btmlft-container .contact-child-item .grey-call-to-action-large,.tpright-container-large .contact-child-item .body-copy-grey,.btmright-cntainr-large .contact-child-item .body-copy-grey,.grey-toplft .contact-child-item .body-copy-grey,.btmlft-container .contact-child-item .body-copy-grey,.tpright-container-large .contact-child-item .body-copy-black,.btmright-cntainr-large .contact-child-item .body-copy-black,.grey-toplft .contact-child-item .body-copy-black,.btmlft-container .contact-child-item .body-copy-black
,.tpright-container-large .contact-child-item .body-copy-grey-small,.btmright-cntainr-large .contact-child-item .body-copy-grey-small,.grey-toplft .contact-child-item .body-copy-grey-small,.btmlft-container .contact-child-item .body-copy-grey-small,.tpright-container-large .contact-child-item .body-copy-black-small,.btmright-cntainr-large .contact-child-item .body-copy-black-small,.grey-toplft .contact-child-item .body-copy-black-small,.btmlft-container .contact-child-item .body-copy-black-small,.tpright-container-large .contact-child-item .grey-call-to-action-medium,.btmright-cntainr-large .contact-child-item .grey-call-to-action-medium,.grey-toplft .contact-child-item .grey-call-to-action-medium,.btmlft-container .contact-child-item .grey-call-to-action-medium,.tpright-container-large .contact-child-item .grey-heading-h2,.btmright-cntainr-large .contact-child-item .grey-heading-h2,.grey-toplft .contact-child-item .grey-heading-h2,.btmlft-container .contact-child-item .grey-heading-h2,.tpright-container-large .contact-child-item .red-call-to-action-medium-h2,.btmright-cntainr-large .contact-child-item .red-call-to-action-medium-h2,.grey-toplft .contact-child-item .red-call-to-action-medium-h2,.btmlft-container .contact-child-item .red-call-to-action-medium-h2,.tpright-container-large .contact-child-item .box-heading-h3,.btmright-cntainr-large .contact-child-item .box-heading-h3,.grey-toplft .contact-child-item .box-heading-h3,.btmlft-container .contact-child-item .box-heading-h3,.tpright-container-large .contact-child-item .black-heading-h3,.btmright-cntainr-large .contact-child-item .black-heading-h3,.grey-toplft .contact-child-item .black-heading-h3,.btmlft-container .contact-child-item .black-heading-h3{padding:0 0 0 1.6em; margin-bottom:0.3em}



.tpright-container-large .contact-child-item .grey-call-to-action-large-with-line,.btmright-cntainr-large .contact-child-item .grey-call-to-action-large-with-line,.grey-toplft .contact-child-item .grey-call-to-action-large-with-line,.btmlft-container .contact-child-item .grey-call-to-action-large-with-line,.tpright-container-large .contact-child-item .body-copy-grey-with-line,.btmright-cntainr-large .contact-child-item .body-copy-grey-with-line,.grey-toplft .contact-child-item .body-copy-grey-with-line,.btmlft-container .contact-child-item .body-copy-grey-with-line,.tpright-container-large .contact-child-item .body-copy-black-with-line,.btmright-cntainr-large .contact-child-item .body-copy-black-with-line,.grey-toplft .contact-child-item .body-copy-black-with-line,.btmlft-container .contact-child-item .body-copy-black-with-line
,.tpright-container-large .contact-child-item .body-copy-grey-small-with-line,.btmright-cntainr-large .contact-child-item .body-copy-grey-small-with-line,.grey-toplft .contact-child-item .body-copy-grey-small-with-line,.btmlft-container .contact-child-item .body-copy-grey-small-with-line,.tpright-container-large .contact-child-item .body-copy-black-small-with-line,.btmright-cntainr-large .contact-child-item .body-copy-black-small-with-line,.grey-toplft .contact-child-item .body-copy-black-small-with-line,.btmlft-container .contact-child-item .body-copy-black-small,.tpright-container-large .contact-child-item .grey-heading-h2-with-line,.btmright-cntainr-large .contact-child-item .grey-heading-h2-with-line,.grey-toplft .contact-child-item .grey-heading-h2-with-line,.btmlft-container .contact-child-item .grey-heading-h2-with-line,.tpright-container-large .contact-child-item .red-call-to-action-medium-h2-with-line,.btmright-cntainr-large .contact-child-item .red-call-to-action-medium-h2-with-line,.grey-toplft .contact-child-item .red-call-to-action-medium-h2-with-line,.btmlft-container .contact-child-item .red-call-to-action-medium-h2-with-line,.tpright-container-large .contact-child-item .box-heading-h3-with-line,.btmright-cntainr-large .contact-child-item .box-heading-h3-with-line,.grey-toplft .contact-child-item .box-heading-h3-with-line,.btmlft-container .contact-child-item .box-heading-h3-with-line,.tpright-container-large .contact-child-item .black-heading-h3-with-line,.btmright-cntainr-large .contact-child-item .black-heading-h3-with-line,.grey-toplft .contact-child-item .black-heading-h3-with-line,.btmlft-container .contact-child-item .black-heading-h3-with-line{padding:0 0 0.6em 1.6em; margin-bottom:0.3em}


.tpright-container-large .contact-child-item .red-call-to-action-small,.btmright-cntainr-large .contact-child-item .red-call-to-action-small,.grey-toplft .contact-child-item .red-call-to-action-small,.btmlft-container .contact-child-item .red-call-to-action-small{padding:0 0 0 2.8em; margin-bottom:0.3em}
.contact-child-item img{margin-top:0.7em; margin-bottom:0.1em;}
.contact-child-item .contact-box-link,.contact-child-item-last .contact-box-link{border-top:0.1em solid #e0e0e0; }
.tpright-container-large .contact-child-item .contact-box-link a,.tpright-container-large .contact-child-item-last .contact-box-link a,.btmright-cntainr-large .contact-child-item .contact-box-link a,.btmright-cntainr-large .contact-child-item-last .contact-box-link a,.grey-toplft .contact-child-item .contact-box-link a,.grey-toplft .contact-child-item-last .contact-box-link a,.btmlft-container .contact-child-item .contact-box-link a,.btmlft-container .contact-child-item-last .contact-box-link a{padding:0.35em 0 0.4em 2.5em; display:block;margin:0.2em 0.2em 0.2em 0.2em; cursor:pointer;}

.icon-phone,.icon-mouse,.icon-email{padding:0.1em 0 0.2em 2.25em; margin-top:0.1em}
.contact-child-item .contact-box-link a:hover,.contact-child-item-last .contact-box-link a:hover, .leftmenu-listitem-sel2, .leftmenu li:hover .leftmenu-listitem {background-color:#e8e8e8; -moz-border-radius: 0.4em;-webkit-border-radius: 0.4em;border-radius: 0.4em;}
.tpright-container-large .middle-content,.topright-container-small .middle-content,.smallcontainer .middle-content,.btmright-cntainr-large .middle-content{margin-top:-0.5em;}
.contact-child-item-last{margin-bottom:-1.2em;}
/*styles for Contact box ends here*/ 


.main-container-popup{width:60em;margin:0 auto 0 auto;}
.header-popup{width:100%;margin:0 auto 0 auto;}
.popup-hdr-text{width:26em;margin:1.1em 1em 1.8em 0; float:right;text-align:right;}
.popup-hdr-text .body-copy-grey{line-height:1.1em; padding-bottom:2.5em;}
.popuplogo{margin:3em 0 0 3.2em; float:left;display:inline-block;height:8em; }
.popup-centr-sctn{margin:0 auto 0 1em !important;}


.topcnt-container .error-message{line-height:1.2em; padding:0.6em 0.5em 0.7em 1.5em; margin:0 0.9em 0.9em 0.9em; float:left;}
.icon-error{padding:0 0 0.2em 2em;height:1.8em;}
.error-message b{display:inline; float:left;}
.error-message a b{display:inline;margin:0; float:none;}
.topcnt-container .grey-heading-h2{margin:0 1em 0.6em 1.6em;}
/*.error-container{clear:both;padding:0.7em 0.7em 0.7em 0.7em;}*/
/*.error-container p{line-height:1.2em; padding:0.8em 0.8em 0.8em 0.8em;}*/
.error-message a{display:inline-block;color:#d5261e;text-decoration:underline;}
.printbtn-container{float:right; margin:0.9em 2em 0 0;}
.confirmbtn-div{padding:2em 2em 0 0; float:right;}

/*Saved quotes styles starts here*/
.quotes-table {margin:0 auto 0 auto;width:54em;}
.quotes-table td,.quotes-table th {text-align:center;vertical-align:middle;font-size:1.2em;}
.quotes-table th {color:#000000;font-weight:bold; padding-bottom:0.3em;}
.quotes-table td{height:4em;}
.quotes-table .grey-row {background-color:#F5F5F5;}
.quotes-table .white-row {background-color:#ffffff;}
.quotes-table .col1 {width:12em;}
.quotes-table .col4 {width:4em;}
.quotes-table .red-txt {color:#cd170a; display:block; text-align:center;}
/* Saved quote styles ends here*/


/*CSS cleanup change starts here*/
.horz-line,.horz-line2{border-bottom:0.1em solid #e0e0e0;margin-bottom:0.4em;}
.horz-line{padding-top:0.8em;}
.horz-line2{padding-top:0.3em;}
/*CSS cleanup change ends here*/
.btm-button-row{clear:both; padding:1em 1em 1em 2.4em;}

/* Tool Tip Css Styles Start */
.hlptltip-width{width:29.8em;height:auto;}
.helpopopup-top,.helpopopup-btm,.popuphelp-close{background: url(../images/help-sprite.gif) no-repeat;}
.helpopopup-top{/*background: url(../images/help-top-noicon.gif) no-repeat;*/ background-position:0 0; padding: 0.5em 0 1em 0;height:1.1em;margin: 0; width: 29.8em;}
.helpopopup-mid{background: url(../images/help-bg.gif) repeat-y; border: 0;width: 29.8em;padding: 0 0 0 1.5em; margin: -1.5em 0 0 0;}
.helpopopup-mid .help-content{font-size:1.2em;color:#616161;padding:0.9em 0 0.5em 0;text-align:left;width: 22.5em;margin-left:0;}
.helpopopup-btm{/*background: url(../images/help-btm.gif) no-repeat top;*/background-position:0 -12px;border: 0;width: 29.8em;height:3.8em;padding: 0; margin-bottom: 0; display:inline-block}
.help-popup-icon{padding-top:1.8em;}
.helpopopup-mid .scroll-help{height: 17.6em;overflow-y:auto;}
.close-btn-map1{position:relative;width:1.8em;height:1.8em;margin:-0.9em 0 0 3.1em;cursor: pointer;vertical-align: bottom;}
.popuphelp-close{/*background: url(../images/close-icon.gif) no-repeat;*/background-position:0 -51px; height:1.8em;width: 1.8em;cursor: pointer;display:inline-block;margin:-0.3em 0 0 22.3em;}
.helptltip-title{font-size:1.4em; color:#000;font-weight:bold;}
/* Tool Tip Css Styles End */

/* Calendar styles starts here */
/*Calender styles commented as part of US11721 */
/*
.calendar {position: relative;display: none;color: #000000;cursor: default;}
.calmain-div{width:23.7em;}
.calendar table {color: #000000;cursor: default;width:23.5em;background: none;margin:1em 0 0 0; clear:both;}
.calendar .button {text-align: center;padding: 0.1em;border-top: 0.1em solid #cccccc;}
.calendar .nav { background: transparent url() no-repeat 100% 100%;padding: 0.4em 0 0.4em 1em;}
.calendar .title {font-size:1.4em;font-weight: bold;padding: 0 0.1em 0 1em;border-top: 0.1em solid #cccccc;background: #ffffff;color: #000000;text-align: left;vertical-align: middle;}
.calendar .name {border-bottom: 0.1em solid #F3F3F3;border-top: 0.1em solid #cccccc;padding: 0.2em;text-align: center;background: #EEEEEE;font-size:1.1em;}
.calendar .weekend, .calendar td.weekend {color: #000000;}
.calendar .day {width: 2.03em;text-align: right;padding: 0.2em 0.4em 0.2em 0.2em;border-right: 0.1em solid #f3f3f3;border-bottom: 0.1em solid #f3f3f3;font-size:1.1em;}
.calendar .day.othermonth {font-size: 1.3em;color: #aaaaaa;}
.calendar .day.othermonth.oweekend {color: #faafaa;}
.calendar .wn {padding: 0.2em 0.3em 0.2em 0.2em;border-right: 0.1em solid #000000;background: #ffffff;}
.calendar .rowhilite td, .calendar .rowhilite td.wn {background: #ffffff;}
.calendar td.selected {font-weight: bold;padding: 0.2em 0.2em 0 0.2em;border: 0.1em solid #f3f3f3;background: #cccccc;}
.calendar td.today {font-weight: bold; color: #000000;}
.calendar .disabled { color: #999999; }
.calendar .emptycell {visibility: hidden;}
.cal-heading{font-size:1.4em;color:#000;font-weight:bold;float:left;display:inline-block;margin-left:5em;}
div.calendar-top{background-color:#ffffff;border:0.1em solid  #9d9d9d;border-bottom:0 !important;-webkit-border-top-left-radius: 0.4em;-moz-border-radius-topleft: 0.8em;-webkit-border-top-right-radius: 0.4em;-moz-border-radius-topright: 0.8em;padding: 0 0 1em 0;margin: 0 0 0 0;width: 23.5em;float: left;border-top-left-radius: 0.4em;border-top-right-radius: 0.4em;}
div.calendar-mid{clear:both; background-color:#ffffff;border-left:0.1em solid  #9d9d9d;border-right:0.1em solid  #9d9d9d;width: 23.5em;padding: 0;margin: 0.2em 0 0 0;height:20em;}
@media screen and (-webkit-min-device-pixel-ratio:0) {div.calendar-mid{margin: -0.6em 0 0 0;}}
div.calendar-btm{background: url(../images/calendar-btm-bg.gif) no-repeat top;border: 0;width: 23.7em;height:4.8em;padding: 0;margin-bottom: 0;}
.close-btn-calndr{background: transparent url('../images/close-icon.gif') no-repeat left top;width:1.8em;height:1.8em;margin:0.4em 0 0 21em;cursor:pointer;}
.btmclose-btn-calndr{position:relative;width:1.8em;height:1.8em;padding-top:2em;margin:0 0 -3em 3.2em;cursor: pointer;vertical-align: bottom;}
.row-topBrder{border-bottom: 0.5em solid #ccc;}

div.leftArw,div.rightArw{height:1.8em;width: 1.8em;cursor: pointer;}
div.leftArw{background: url(../images/btn_arrow_left.gif) no-repeat;margin: 0 0 0 0.5em ;}
div.rightArw{ background: url(../images/btn_arrow_right.gif) no-repeat;margin: 0;}*/

/* Calendar styles ends here */

/*CSS cleanup change starts here*/
.throbber-heading,.throbber-text{font-size: 1.5em;font-weight: bold;}
.throbber-heading{color:#000000;}
.throbber-text{color:#D6382C;margin:0 0 0.5em 0;}
.animated-img,.throbber-heading{margin:0.5em 0 0.5em 0;}
/*CSS cleanup change ends here*/
.throbber-box{width:27em !important; text-align:center;margin:0 auto 0 auto;display:block;overflow:auto;}
.throbber-box .middle-content{width:26.8em;}
.throbber-box sup {font-size:0.5em;}
.btmbtn-cntnr{padding:1em 0 1em 3.4em ;clear:both;}
.btmbtn-cntnr .header-btns{padding-right:3em;}

.middlecnt-container .body-copy-grey-with-line,.middlecnt-container .body-copy-grey-small-with-line,.middlecnt-container .body-copy-black-with-line,.middlecnt-container .body-copy-black-small-with-line,.middlecnt-container .box-heading-h3-with-line
{padding-bottom:0.8em;}
.middlecnt-container .grey-call-to-action-large-with-line,.middlecnt-container .page-heading-h1-with-line{padding-bottom:0.5em;}
.middlecnt-container .red-call-to-action-medium-h2-with-line, .middlecnt-container .black-heading-h3-with-line,.middlecnt-container .grey-heading-h2-with-line{padding-bottom:0.95em;}
.default-navigation-button{position: absolute; top:40em; left: 40em}
.boiler-plate{display:none; clear:both; width:58em; background-color:#FFF; border:0.1em solid #e0e0e0; -moz-border-radius:0.8em;-webkit-border-radius: 0.8em; border-radius: 0.8em; margin:0.8em 0 0 0;}
.boiler-plate .red-call-to-action-medium-h2{padding:0.4em 0 0.8em 0;}
.hlp-popup-div{width:47em; height:35em; padding:1em 1em 1em 5em;}
.hlp-popup-txt{font-size:1.1em;color:#000000; padding-top:1em;}
.hlp-popup-div h2{font-size:1.4em;color:#000000; font-weight:bold;}




/* new shortened progress bar styles */
.progress-bar.small{width:54% !important; position:relative; top:-6em;}
/* new shoretened progress bar styles - ends here */


.needHlp-home-holder{width:85%;margin:1em 0px 0px 1.5em; float:left;}
.cnt-sctn-home .needHlp-home-holder p,.cnt-sctn-home .needHlp-home-holder h2{padding:0}
.cnt-sctn-home .needHlp-home-holder .body-copy-grey-small{padding:0.5em 0 0 0;line-height:1.2em;}
.cnt-sctn-home .needHlp-txt{margin-left:3.5em;}

/* Style for Datacash confirmation page */
.confrmMsg-holder{text-align:center; margin-top:21em}
.throbber-box .body-copy-grey{line-height:1.3em;}
.small+.page-container{ /*display:block; clear:none;*/ margin-top:-5.5em; }
.cnt-sctn .middle-content>iframe,.cnt-sctn .middle-content>noscript>iframe{margin-left:1.6em;}