/*------------------------------------------------
A note about the use of px and em within this file
--------------------------------------------------

px only appears a few times in this document. 
This is intentional. The most important instance
of px is related to the question-container class, 
where the font-size is reset to a base 10px so 
that all the remaining styles can be calculated 
from this starting point.

The only other use of px should be in relation to
the accessibility links.

All other uses of px should be restricted to
comments only explaining why a particular EM value 
is used.
*/

/*
---------------------------------------------------
The following styles have been assigned but are not
currently used - they will remain here until either
used or will be deleted as part of the optimisation
---------------------------------------------------
.confirmation	{}
.quote-grp	{}
.prdct-grp	{}
.opt-upgrds	{}
.tandc-smmry	{}
.mgn-clr	{}
*/

/* MAIN STYLES */
/*.hide-question {display:none;} - this was here to hide the content displayed by the macro when changed to match the code*/
.screen-container
	{/*width:54em !important;*/padding: 0 1.9em 2em 1.9em !important;line-height:1.4em;margin-left:auto;margin-right:auto;}

/* .home 
The .home class is used on the homepage to explicitly
override the padding and width of the homepage content.

the .home class will be found later in this document 
for specific overrides as required.
*/
.home{/*width:36.5em !important;*/padding: 0 0.8em 0 0.8em !important;}
.usr-spec{/*width:57.8em !important;*/padding: 0 0 1em 0 !important;margin-top:-1.25em;}
.opening-message{text-align:right;font-size:1.2em;padding:1.25em 0 0 0;}

/* GROUPS */
.group.round-top.round-bottom > .group-middle{-moz-border-radius:.8em;-webkit-border-radius:.8em;border-radius:.8em;border:0.1em solid #eaeaea;padding:0.8em 1.5em; }
.group.lgd-indent-L > .group-middle,.group.last-grp> .group-middle{padding:0em 1.5em;}
/*.multi-line-grp.group > .group-middle,.usdc-documents.group > .group-middle{padding:0;}*/
/*CSS cleanup change starts here*/
.group,li.group.gradient-top-medium, li.group.gradient-top-large,.app-sum .round-bottom+.bdr-top{padding-top:1.25em;}
/*CSS cleanup change ends here*/

li.group{padding-top:0;clear:both;}
li.grey+li.group, .gradient-top-large>.group-middle ol,.usdc-usr-spec-or>.group-middle ol .multi-line-grp ol{padding-top:1em;}
.app-sum .group li.grey {padding-bottom:1em;}
.app-sum li.grey+li.group {padding-top:0; padding-bottom:1em;}
.lgd-abv, .screen-container>.group+.lgd-abv{margin-top:4em;}
.opening-message+.lgd-abv {margin-top:0.8em;}
.group+.action-bar{margin-top:1.8em;}
.action-bar{margin-bottom:-0.8em;}
.transparent+.action-bar, li.group+li.question-container{padding-top:0.9em;}
/*US9658 change*/
/*.group-top,.group-bottom {height:0.8em;display:none;}
.group-top .left-container, .group-top .right-container, .group-bottom .left-container,.group-bottom .right-container{width:100%;height:0.8em;padding:0;margin:0;}
.group-top .middle-container, .group-bottom .middle-container{width:auto;height:0.8em;padding:0;margin:0;margin-left:0.8em;margin-right:0.8em;}
.group-middle .left-container, .group-middle .right-container{width:100%;padding:0;margin:0;}*/
/*CSS cleanup change starts here*/
.group-middle .middle-container{width:auto;padding:0 0.7em 0 0.7em;margin:0 0.8em 0 0.8em;}
.imp-inf .group-middle .middle-container,.imp-inf2 .group-middle .middle-container{width:auto;padding:0 0.3em 0 0.3em;margin:0;}
.group-middle, .flnk .additional-text, .vertical .control label,.eligibility .grp-S-inline li, .eligibility-err .grp-S-inline li{display:block}
/*CSS cleanup change ends here*/
/*.group+.group{margin-top:-0.1em;}*/

/* SQUARE and ROUND TOPS*/
/*US9658 change*/
/*.square-top>.group-top, .round-top>.group-top{display:block;border-style:solid; border-width:0.1em;border-bottom: 0;}
.round-top>.group-top{-moz-border-radius-topleft: 0.8em;-moz-border-radius-topright: 0.8em;-webkit-border-top-right-radius: 0.8em;-webkit-border-top-left-radius: 0.8em;border-top-right-radius: 0.8em;border-top-left-radius: 0.8em;}*/

/* SQUARE and ROUND BOTTOMS*/
/*US9658 change*/
/*.square-bottom>.group-bottom, .round-bottom>.group-bottom{display:block;border-style:solid; border-width:0.1em;border-top: 0;}
.round-bottom>.group-bottom{-moz-border-radius-bottomleft: 0.8em;-moz-border-radius-bottomright: 0.8em;-webkit-border-bottom-right-radius: 0.8em;-webkit-border-bottom-left-radius: 0.8em;border-bottom-right-radius: 0.8em;border-bottom-left-radius: 0.8em;}*/

/* MIDDLE SECTIONS */
.square-top>.group-middle, .square-bottom>.group-middle, .round-top>.group-middle, .round-top>.group-middle{border-style:solid; border-width:0.1em;border-top: 0;border-bottom: 0;}

/* DIFFERENT COLOUR BACKGROUNDS */
/*US9658 change*/
.grey>.group-middle{display:block;border-color:#eaeaea;background-color: #F7F7F7;}
.white>.group-middle{display:block;border-color:#eaeaea;background-color: white;}
.red>.group-middle{display:block;border-color:#D5261E;background-color: white;}


/* TRANSPARENT GROUPS - COLLAPSE THE DIV STRUCTURE */
.transparent .group-middle{border:none;background-color: transparent;}
/*US9658 change*/
/*.transparent .group-top, .transparent .group-bottom,.transparent .group-top .left-container, .transparent .group-top .right-container, .transparent .group-top .middle-container,.transparent .group-bottom .left-container, .transparent .group-bottom .right-container, .transparent .group-bottom .middle-container{height:0;}*/
/*CSS cleanup change starts here*/
/*US9658 change*/ /*.transparent .group-top .left-container, .transparent .group-top .right-container,.transparent .group-middle .left-container, .transparent .group-middle .right-container,.transparent .group-bottom .left-container, .transparent .group-bottom .right-container,*/ .gradient-top-medium li.usdc-documents fieldset li div,.gradient-top-large li.usdc-documents fieldset li div,li.curr.question-multi-line .control span,.question-text,.ctl-max fieldset.fs-type-radio .control span,.off-ctr .question-text label,.confirmation .ctl-XL .control,.curr .control input, .curr .control textarea,li.checkbox.indent-M label,.checkbox.indent-M li label{width:auto;}
/*CSS cleanup change ends here*/
.transparent .group-middle .middle-container{margin:0;padding:0;}

/* GRADIENT TOP - MEDIUM */
/* Styles commented as part of US11721 */
/*.gradient-top-medium>.group-top, .gradient-top-medium>.group-top .middle-container,.gradient-top-medium>.group-top .left-container,.gradient-top-medium>.group-top .right-container {height:4.5em;border-color:#eaeaea}
.gradient-top-medium>.group-top {display:block;background:transparent url('../images/compens-top-mid-bg.gif') repeat-x scroll 0 100%;}*/

/*US9658 change*/
/*.gradient-top-large>.group-top,.gradient-bottom-large>.group-bottom,.gradient-bottom-small>.group-bottom{background:transparent url('../images/gradientImg-sprite.png') repeat-x scroll;}*/
/* GRADIENT TOP - LARGE */
/*US9658 change*/
/*.gradient-top-large>.group-top, .gradient-top-medium>.group-top .middle-container,.gradient-top-medium>.group-top .left-container,.gradient-top-medium>.group-top .right-container {height:5.5em;border-color:#eaeaea}*/
/*US9658 change*/
.gradient-top-large>.group-middle{display:block;background:transparent url('../images/compens-top-mid-bg-large.gif') repeat-x scroll left -1px;/*background-position:0 -1px;*/}

/* GRADIENT BOTTOM - LARGE */
/*US9658 change*/
/*.gradient-bottom-large>.group-bottom, .gradient-bottom-large>.group-bottom .middle-container,.gradient-bottom-large>.group-bottom .left-container,.gradient-bottom-large>.group-bottom .right-container {height:7.3em;}*/
/*US9658 change*/
.gradient-bottom-large>.group-middle{padding:0!important;}
.gradient-bottom-large>.group-middle>fieldset{display:block;background:transparent url('../images/liability-bot-grad-bg.gif') repeat-x scroll left bottom !important; border-radius:0.8em;padding:0.8em 1.5em;/*background-position:0 -88px;*/}

/* GRADIENT BOTTOM - SMALL */
/*US9658 change*/
/*.gradient-bottom-small>.group-bottom, .gradient-bottom-small>.group-bottom .middle-container,.gradient-bottom-small>.group-bottom .left-container,.gradient-bottom-small>.group-bottom .right-container {height:3.1em;}*/
/*US9658 change*/
.gradient-bottom-small{display:block;background:transparent url('../images/compens-bot-mid-bg.gif') repeat-x scroll left bottom;border-radius:0.8em;/*background-position:0 -57px;*/}

/* ALTERNATING BORDER and COLOR */
.bdr-top, .alt-bkgrd.group{border-top:solid 0.1em #eaeaea;}
.bdr-top-imp {border-top:solid 0.2em #000000;}
/*.bdr-top.full-wth{border-top:solid 0 #eaeaea;}
.bdr-top.full-wth .group-top {border-top:solid 0.1em #eaeaea;}*/
.round-bottom+.bdr-top, li.group.usdc-usr-spec-or{margin-top:1.25em;padding-top:0;}
/*CSS cleanup change starts here*/
.alt-bkgrd+.alt-bkgrd.group,.alt-bkgrd+.alt-bkgrd+.alt-bkgrd+.alt-bkgrd.group,.alt-bkgrd+.alt-bkgrd+.alt-bkgrd+.alt-bkgrd.group+.alt-bkgrd.group+.alt-bkgrd.group,.full-wth.grey{background-color: #F7F7F7;}
.alt-bkgrd+.alt-bkgrd+.alt-bkgrd.group,.alt-bkgrd+.alt-bkgrd+.alt-bkgrd+.alt-bkgrd.group+.alt-bkgrd.group,.alt-bkgrd+.alt-bkgrd+.alt-bkgrd+.alt-bkgrd.group+.alt-bkgrd.group+.alt-bkgrd.group+.alt-bkgrd.group{background-color: white;}
/*CSS cleanup change ends here*/

/* FULL WIDTH */
.full-wth{/*width:57.8em;*/margin-left:-1.9em;margin-right:-1.9em;}
.full-wth .full-wth {margin-left:-2.2em;margin-right:-2.2em;}
.full-wth>.group-middle {padding-left:2.2em;padding-right:2.2em;}
/*CSS cleanup change starts here*/
.full-wth>.group-top, .full-wth>.group-bottom,li.loc-lmt .question-text,.hde-cal .calendar,.js-hdn, .qst-hdn .question-text, li.qst-hdn .question-text,.home .show-legend legend,.home .grey-button .submit-button,.eligibility .show-legend legend, .eligibility-err .show-legend legend,.eligibility li.rdo, .eligibility-err li.rdo,.eligibility #PL_1_question_id .grp-S-inline + .grp-S-inline, .eligibility-err #PL_1_question_id .grp-S-inline + .grp-S-inline{display:none;}
/*CSS cleanup change ends here*/
/*.full-wth {margin-top:1.25em;padding-top:1.25em;}*/
.group.grey .full-wth,.group.white .full-wth{width:53.8em;margin-left:-1.5em;padding-left:0;padding-right:0em;}
.group.grey .full-wth .group-middle,.group.white .full-wth .group-middle{padding-left:0;padding-right:0em;}

.imp-inf .grey.full-wth .group-top,.imp-inf2 .grey.full-wth .group-top{border-top:solid 0.1em #EAEAEA;}


.grp-S-inline,.grp-S-inline li{width:28em;display:inline-block;vertical-align:top;}
.grp-S-inline+.grp-S-inline{width:22em;}

/* MOVE THE SUB GROUPS / QUESTIONS AROUND FOR GRADIENTS */
.gradient-top-medium fieldset {padding-top:0.5em;}
.gradient-top-large fieldset {padding-top:1.0em;}
/*CSS cleanup change starts here*/
.gradient-top-medium li fieldset, .gradient-top-large li fieldset, .usdc-usr-spec-or>.group-middle ol,.confirmation .full-wth li.multi-line-grp{padding-top:0;}
/*CSS cleanup change ends here*/
.gradient-top-medium>.group-middle{margin-top:-4.0em;background-color:Transparent;}
/* US9658 */
.gradient-top-large>.group-middle{margin-top:0em;background-color:Transparent;}
.gradient-bottom-large li.question-base-lined{margin-bottom:-1.2em;text-align:right;float:right;}
.gradient-bottom-small li.question-base-lined{text-align:right;float:right;padding-bottom:0;padding-top:0.5em;margin-bottom:-0.6em;}

.transparent legend,.transparent.show-legend legend, li.usdc-documents li,li.bulleted li,.question-container fieldset legend,.bulleted.show-legend legend {padding-bottom:0;}
li.vertical fieldset .help{position:relative; top:1.8em;}/*This should not be done this way*/
/*
li.question-base-lined fieldset .control{display:inline-block;width:100%;text-align:right;}
li.question-base-lined fieldset legend>.question-text{position:relative;top:1.9em;font-size:1.2em;line-height:1.6em;font-weight:bold;display:inline-block;padding-right:8em;}
li.question-base-lined fieldset legend{font-size:1em;display:inline-block;width:100%;text-align:right;}
*/
/* USDC Document Links*/
/*.gradient-top-medium li.usdc-documents{float:right;margin-bottom:0;margin-top:-6.5em;}
.gradient-top-large li.usdc-documents{float:right;margin-bottom:0;margin-top:-7.0em;}*/
.gradient-top-large li.usdc-documents {
float:right;
margin-bottom:2em;
/*margin-top:-5em; - this changed now that the text in the legend is an H3*/
margin-top:-6.9em;
}
@media screen and (-webkit-min-device-pixel-ratio:0) 
{
	.gradient-top-medium li.usdc-documents{margin-top:-6.0em;}
	.gradient-top-large li.usdc-documents{margin-top:-6.8em;}
}
li.usdc-documents li.flnk{padding:0.1em 0 0.1em 0;}
/* User Specific Products / Coverage Options */
li.usdc-usr-spec-or{background:transparent url('../images/usdc-usr-spec-or-lne.gif') repeat-y scroll 25em 0;}
.usdc-usr-spec-or>.group-middle>fieldset>ol{background:transparent url('../images/or-txt.gif') no-repeat scroll 21.5em 0.8em;} 
.usdc-usr-spec-or li.group .middle-container, .usdc-usr-spec-or li.group+li.group .middle-container{background:none;}
.usdc-usr-spec-or li.multi-line-grp {display:inline-block;width:22.75em;margin-top:0em;}
.usdc-usr-spec-or li.multi-line-grp+li.multi-line-grp{width:24.75em;padding-left:3.0em;}
.usdc-usr-spec-or li.group+li.group fieldset>legend>.group-text{padding-left:0.4em;}
.usdc-usr-spec-or li.group fieldset{padding-top:1em;/*padding-top:1.5em;*/} 
.usr-spec {margin-bottom:-2em;}

.confirmation li.multi-line-grp {display:inline-block;width:50%;vertical-align:top;}

.app-sum li.last-grp {padding-bottom:0 !important;}

/* BASIC FORM ELEMENTS */
.screen-container h2 {font-size:1.4em;line-height:1.6em;color:#000000;padding:0;}
.screen-container .main-section h2{font-size: 1.3333em;line-height:1.3333em;font-weight:bold;padding-top:0.1333em;}
.screen-container .sub-section h2 {font-size: 1.1666em;line-height:1.1666em;font-weight:bold;padding-top:0.1333em;}
.screen-container .group-text{font-size:1.2em;line-height:1.6em;color:inherit;font-weight:bold;}
.screen-container .group-text h3{font-size:1.167em;line-height:1.6em;color:#000000;font-weight:bold;}
/*CSS cleanup change starts here*/
.screen-container .group-text h1,.screen-container .group-text h2, .screen-container .group-text h3,.question-container .question-text label, .question-container .control span, .question-container div, li.question-multi-line.flnk .question-text, legend .icon,.no-edt-icn>.icon.edit a span,.txt-edt-icn>.icon.edit a span,.txt-hlp-icn>.icon.help a span{display:inline-block;}
/*CSS cleanup change ends here*/
.confirmation .main-section h2{font-size: 1.8333em;line-height:1.6em;font-weight:bold;color:#D5261E;}

.gradient-top-medium .group-container .group-text h2 {font-size:1.8em;line-height:1.6em;color:#000000;font-weight:bold;padding-bottom:0.556em;}
.gradient-top-large .group-container .group-text h2 {font-size:1.6666em;line-height:1.6em;color:#000000;font-weight:bold;/*padding-bottom:0.556em;*/}
/*.gradient-top-large .group-container .group-text h3 {font-size:1.3333em;line-height:1.3333em;color:#3c3c3c;font-weight:bold;}*/
.gradient-top-large .group-container .group-text h3 {font-size:1.3333em;line-height:1em;color:#3c3c3c;font-weight:bold;padding-top: 0.6em;}

.prdct-grp .group-container .group-text h2{font-size:1em;line-height:1.6em;color:inherit;font-weight:bold;}


.screen-container .sub-section .group-text, .question-container .question-text label,.question-container .fs-type-radio .control label,.question-container  .non-js{font-size: 1.2em;line-height:1.6em;font-weight:bold;}
.screen-container .lgd-L .group-text {font-size:1.4em;line-height:1.4em;}
.screen-container .lgd-L .group-text .icon{height:1em;vertical-align:text-top !important;}
.lgd-abv h2 {font-size:1em;line-height:inherit;}
/*font-size: 1.2em;line-height:1.6em;font-weight:bold;*/


/*
As most form elements use a font size of 1.2em, all widths (in pixels) and so on must be adjusted accordingly.
As an example:
6px = 0.5em when font size increased by 1.2
*/
.control input,.control textarea,.control span{width:100%;}

.screen-container a,.screen-container a:visited,.screen-container a:active
{
	text-decoration:underline;
	font-family:inherit;
	font-size:inherit;
	line-height:inherit; 
	font-weight: normal;
	color:#616161;}

input.input-type-text,input.input-type-password, input.input-type-telephone, 
input.input-type-reset,input.input-type-file, 
input.input-type-hidden, 
input.input-type-image 
{
	vertical-align:top;
	padding: 0 0.4667em;
	margin: 0;
	font-size: 1.2em;
	line-height:1.6em;
	min-height:1.6em;
	height:1.6em;
	border: 0.0833em solid #BFBAB0;}

textarea.input-type-textarea, select.select-type-dropdown
{
	vertical-align:top;
	padding: 0;
	margin: 0;
	font-size: 1.2em;
	line-height:1.6em;
	border: 0.0833em solid #BFBAB0;}


textarea.input-type-textarea{padding: 0 0.5em 0 0.5em;height:5em;min-height:5em;}

select.select-type-dropdown{padding: 0 0 0 0.4em;min-width:5em;}

.disabled .control span{margin: 0 0.3em 0 0.3em;width:96%;} /* these should not be 0.5em, leave them at 0.6*/
.disabled .control{border: 0.0833em solid #dfdfdf;background-color: #dfdfdf;}
.inactive .control input, .inactive .control textarea, .inactive .control select{background-color: #dfdfdf;color:#878787;}
.inactive .question-text{color:#878787;}
input.input-type-radio, .ctl-max fieldset.fs-type-radio .control input.input-type-radio{vertical-align:middle;}

.checkbox .question-text label, .checkbox .control input,  .checkbox .control select,  .checkbox .control textarea   {vertical-align:bottom;}

/*CSS cleanup change starts here*/
.sur-sum .control label,.usdc-riskdesc-ctl .additional-text span,.usdc-riskdesc-ctl .additional-text-2 span{font-size:1.2em;}
/*CSS cleanup change ends here*/
li.bulleted li, ul.bulleted li, .help-content ul li{list-style-type:disc; list-style-position:outside;margin-left: 1.5em;vertical-align:middle;}
.help-content p {margin:1em 0 0 0;}

/*.bold a,.bold a:visited,.bold a:active{font-weight: bold;color:#000000;}*/

.additional-text a,.additional-text a:visited,.additional-text a:active,.additional-text-2 a,
.additional-text-2 a:visited,.additional-text-2 a:active{font-weight: normal;color:inherit;}

/* FIELDSETS */
.group-container{text-align:left;font-size:1em;}
.group-container li, .vertical fieldset.fs-type-radio label  {vertical-align:top;}

/* DO NOT convert the font-size on the question container to be an EM.  THIS MUST be in pixels*/
.question-container {font-size:10px;width: 100%;clear:both;padding-bottom:1em;}
.question-container fieldset legend>span,.group-container legend>span{display:inline-block;padding: 0;white-space:pre-wrap;}  
.question-container fieldset legend{display:inline-block;white-space:pre-line;}
/*CSS cleanup change starts here*/
.question-container.emp-txt .question-text label, .question-container.emp-txt .fs-type-radio .control label, .static .question-text label,.checkbox>.question-text label,.usdc-riskdesc .control span,.usdc-riskdesc-img .control span,.qst-unbld>.question-text label,.ans-unbld>.control label,.ans-unbld>.control span,.question-container  .non-js {font-weight:normal;}
/*CSS cleanup change ends here*/

/*CSS cleanup change starts here*/
.screen-container .bold h2, .question-container.bold a,.question-container.bold a:visited,.question-container.bold a:active,.static.bold .question-text label,.static-two-column .question-text label,.checkbox.bold>.question-text label,.qst-bld .question-text Label,.qst-XL .additional-text-2 span,.ans-imp .control span,.ans-bld .control span{font-weight:bold;}
/*CSS cleanup change ends here*/
.question-container .control span, .add-L .additional-text span,.add-L .additional-text-2 span {font-size: 1.2em;line-height:1.6em;}
.question-container label .optional {font-weight:normal;width:auto;font-size: 1.0em;}
.question-container .control{vertical-align:top;padding: 0;margin: 0 1.4em 0 0.8em;width:auto;}
.lbl-max .control{margin-left:0;}
.question-container.disabled .control, li.question-multi-line .control select.select-type-dropdown,.usdc-riskdesc .control,.usdc-riskdesc-ctl .control,.usdc-riskdesc-img .control,.question-container.curr .control,.question-container.curr select.select-type-dropdown {margin-right:0em;}
.question-container.clear{overflow:inherit;}

span.sub-text {font-weight:normal;width:auto;font-size:1.1em;}

li.question-multi-line, li.loc-lmt   {display:inline-block;width:auto;}
.drp.question-multi-line{width:14em;}
li.question-multi-line .question-text {display:block;padding-bottom:0.6em;}
li.question-multi-line .control {margin:0;}
li.question-multi-line+li.question-multi-line{padding-left:4em;width:auto;}

li.loc-lmt .control {width:20.7em;margin-left:0;margin-right:0.5em;}

.additional-text,.additional-text-2 {margin-top:0.5em;}
.additional-text span, .additional-text-2 span{font-size:1.1em;}

li.question-multi-line.flnk {width:50%;} 
li.question-multi-line.flnk+li.question-multi-line.flnk{padding-left:0;}

/*Question Text*/
.question-text label {width:inherit;}

/*RADIO BUTTONS*/

fieldset.fs-type-radio legend, .icn-rght>.question-text,.icn-rght>.control{float:left;text-align:left;}
fieldset.fs-type-radio legend span.question-text{float:left;width:auto;font-size:1.2em;line-height:1.6em;font-weight:bold;white-space:pre-wrap;}

fieldset.fs-type-radio .control,.static.lbl-max .question-text,.checkbox.ctl-max>.control,.checkbox.lbl-max>.question-text{float:none}
fieldset.fs-type-radio .control {margin-right:0; width:auto;}
fieldset.fs-type-radio .control label span{font-size:1em;line-height:1.4em;width:auto;
	/*
Commenting this fixes a problem with wrapping on the payment details page, but it may introduce a problem elsewhere
display:inline;
*/
	}
fieldset.fs-type-radio .control label span+input,fieldset.fs-type-radio .control label input+span{margin-left:0.48em;}
fieldset.fs-type-radio input.input-type-radio{font-size: 1em;width:1em;margin-right:0.8em;}
fieldset.fs-type-radio label+label, .control+div.icon,div.icon+div.icon,.question-text+div.icon{margin-left:0.8em;}

.vertical fieldset.fs-type-radio label+label, .group.indent-M.group.indent-XL, .usdc-riskdesc-ctl>.control+.question-text {margin-left:0em;}/* Commented out, not used at present: group.indent-L*/
.vertical fieldset.fs-type-radio .control {float:left;margin-left:0;}
.vertical fieldset.fs-type-radio .control label input{vertical-align:text-bottom;display:inline;}
.vertical fieldset.fs-type-radio .control label span{/*width:90%;*/vertical-align:text-top;display:inline;}

li.question-base-lined.vertical fieldset.fs-type-radio .control label span{width:auto;vertical-align:text-top;}
li.question-base-lined.vertical fieldset.fs-type-radio .control,.rvs-icn-add .icon,.float-right .submit-button {float:right;}
li.question-base-lined fieldset.fs-type-radio .control {margin-left:2em;}

/*SIZE OVERIDES*/
.ans-XL .control, .qst-XL .question-text label, .qst-XL .control, .screen-container .group-text h4, .your-qte .qst-XL .question-text label,.screen-container .lgd-XL .group-text, .confirmation .multi-line-grp .group-text, .qst-XL .additional-text-2 span{font-size:1.6em;}

.your-qte .qst-XL .additional-text, .app-sum .qst-XL .additional-text { float: left;  margin-left: 0 !important;/*position:absolute;*/display:block;}
.your-qte .qst-XL .additional-text-2, .app-sum .qst-XL .additional-text-2 { float: left;/* position:absolute;*/ display:block; margin-left:23.5em;}
.your-qte .qst-XL + .qst-XL, .app-sum .qst-XL +.qst-XL {margin-top:1.2em;}
.lgd-XL .group-text .icon {font-size:0.75em;}
.ans-XL .control span, .qst-XL .control span{font-size:1.0em;}
.ans-L .control span, .qst-L .question-text label, .qst-L .control span, .lbl-fnt-L .question-text Label{font-size:1.4em;}
.ans-imp .control{width:auto !important;margin-right:0;}
/*CSS cleanup change starts here*/
.ans-imp .control span, .qst-imp .question-text label,.no-edt-icn>.icon.edit a:hover, .additional-text a:hover,  .additional-text-2 a:hover, .screen-container a:hover{color:#d5261e;}
/*CSS cleanup change ends here*/
.qst-imp .question-text label {font-size:1.3em !important;}
.qst-imp .control label span {font-size:1.0833em !important;}
.lgd-imp legend .group-text h2, .lgd-imp legend .group-text h3 {color:#d5261e !important;}
.spl-ctl .control span .ans-fx {display: inline-block !important; width:3.5em;}
.spl-ctl .control span .ans-imp{font-size:1.4em;font-weight:bold;color:#d5261e;display:inline-block;vertical-align:middle !important; margin-left:1em;}
.spl-ctl .additional-text-2 {display:block;float:left;position:absolute;font-size:1.455em;font-weight:bold;margin-top:1.25em;margin-left:1.9em;}
/*CSS cleanup change starts here*/
.ans-bla .control span,.lighter legend span.group-text{color:#000000;}
/*CSS cleanup change ends here*/
.qst-XL .question-text label span.sub-text{font-size:0.6875em;}

/* CONTROL STYLE HINTS */
/*CSS cleanup change starts here*/
.horizontal .control label,.static.error div.error-text{display:inline;}
/*CSS cleanup change ends here*/
.bdr, .msg-bxd{border:solid 0.1em #eaeaea;padding: 1em 1em 1em 1em;width:auto;}
.msg-wrn .group-middle{border:solid 0.1em #d5261e;padding: 1em 1em 1em 1em !important;width:auto;margin-left:1.9em;margin-right:1.9em;}
.msg-wrn{padding-bottom:1.25em;}
.msg-bxd {margin-left:-1.5em; margin-right:-1.5em;}
li.bdr{margin-bottom:1em;}
.ans-bdr-top .control{border-top:solid 0.1em #616161;}

.error-summary {background-color: #e9c7c4;text-align:left;border-bottom: 0.1em solid #BFBAB0;padding:0.5em;/*width:57.8em;margin-left:-1.9em;*/}
.error-text, .err-msg .question-text {
	font-size:1.2em;
	line-height:1.6em; 
	color: #d5261e; 
	font-weight:bold;
	background-color: Transparent;
	background-image: url('../images/error-icon-pink.gif');
	background-repeat: no-repeat;
	background-attachment: scroll;
	background-position: 2em 0.5em;
	padding: 0.5em 2em 0 3.8em;	
}
div.error-text {display:block;clear:both;}
.question-container div.error-text{margin-left:-1.8em;}
.indent-M div.error-text,.error-summary div.error-text{margin-left:-0.4em;}
/*.error-summary .error-text {background-image: url('../images/error-icon-white.gif');}*/
.error, .err-msg {background-color: #e9c7c4;padding:0.5em 0.5em 0.5em 0.5em;margin:0.5em 0 0.5em -0.5em;}
.err-msg {margin-bottom:1.5em;}
.lbl-XXXS .question-text,.lbl-XXXS fieldset.fs-type-radio legend{width:9em;}
.lbl-XXS .question-text,.lbl-XXS fieldset.fs-type-radio legend{width:15em;}
.lbl-XS .question-text,.lbl-XS fieldset.fs-type-radio legend{width:22em;}
.lbl-S .question-text,.lbl-S fieldset.fs-type-radio legend{width:26.5em;}
.lbl-M .question-text,.lbl-M fieldset.fs-type-radio legend{width:30em;}
.lbl-L .question-text,.lbl-L fieldset.fs-type-radio legend{width:32.5em;}
.lbl-XL .question-text,.lbl-XL fieldset.fs-type-radio legend{width:35em;}
.lbl-XXL .question-text,.lbl-XXL fieldset.fs-type-radio legend{width:37.5em;}
.lbl-XXXL .question-text,.lbl-XXXL fieldset.fs-type-radio legend{width:50em;}

.ctl-XXXL .control,.ctl-XXXL .additional-text{width:30.4em;}
.ctl-XXL .control,.ctl-XXL .additional-text{width:24.4em;}
.ctl-XL .control,.ctl-XL .additional-text{width:17.4em;}
.ctl-L .control,.ctl-L .additional-text{width:12.9em;}
.ctl-M .control,.ctl-M .additional-text{width:9.4em;}
.ctl-S .control,.ctl-S .additional-text{width:6.9em;}
.ctl-XS .control,.ctl-XS .additional-text{width:4.4em;}
.ctl-XXS .control,.ctl-XXS .additional-text{width:1.9em;}

.ctl-XXXL.disabled .control{width:31.6em;}
.ctl-XXL.disabled .control{width:25.6em;}
.ctl-XL.disabled .control{width:18.6em;}
.ctl-L.disabled .control{width:14.1em;}
.ctl-M.disabled .control{width:10.6em;}
.ctl-S.disabled .control{width:8.1em;}
.ctl-XS.disabled .control{width:5.6em;}
.ctl-XXS.disabled .control{width:3.1em;}

.curr.lbl-XXXS .question-text{width:5.6em;}
.curr.lbl-XXS .question-text{width:11.6em;}
.curr.lbl-XS .question-text{width:18.6em;}
.curr.lbl-S .question-text{width:23.1em;}
.curr.lbl-M .question-text{width:26.6em;}
.curr.lbl-L .question-text{width:29.1em;}
.curr.lbl-XL .question-text{width:31.6em;}
.curr.lbl-XXL .question-text{width:34.1em;}

.curr.ctl-XXXL .control input,.curr.ctl-XXXL .control select{width:25.3333em;}
.curr.ctl-XXL .control input,.curr.ctl-XXL .control select{width:20.3333em;}
.curr.ctl-XL .control input,.curr.ctl-XL .control select{width:14.5em;}
.curr.ctl-L .control input,.curr.ctl-L .control select{width:10.75em;}
.curr.ctl-M .control input,.curr.ctl-M .control select{width:7.8333em;}
.curr.ctl-S .control input,.curr.ctl-S .control select{width:5.75em;}
.curr.ctl-XS .control input,.curr.ctl-XS .control select{width:3.6667em;}
.curr.ctl-XXS .control input,.curr.ctl-XXS .control select{width:1.5833em;}

.curr.ctl-XXXL .control{width:35.2em;}
.curr.ctl-XXL .control{width:29.2em;}
.curr.ctl-XL .control{width:22.2em;}
.curr.ctl-L .control{width:17.7em;}
.curr.ctl-M .control{width:14.2em;}
.curr.ctl-S .control{width:11.7em;}
.curr.ctl-XS .control{width:9.2em;}
.curr.ctl-XXS .control{width:6.7em;}

.lbl-XXXS .additional-text{margin-left:9.9em;}
.lbl-XXS .additional-text{margin-left:15.9em;}
.lbl-XS .additional-text{margin-left:22.9em;}
.lbl-S .additional-text{margin-left:27.4em;}
.lbl-M .additional-text{margin-left:30.9em;}
.lbl-L .additional-text{margin-left:33.4em;}
.lbl-XL .additional-text{margin-left:35.9em;}
.lbl-XXL .additional-text{margin-left:38.4em;}

.lbl-max .question-text,.lbl-max fieldset.fs-type-radio legend{width:41.6em;float:left;}

.curr.lbl-max .question-text{width:37.5em;}

   /* Declare for Opera and Webkit */
     @media all and (-webkit-min-device-pixel-ratio:10000), not all and (-webkit-min-device-pixel-ratio:0){
          .curr.ctl-S .control input, .curr.ctl-S .control select {width:5.70em;}
        }
       

.ctl-max .control {width:49.6em;margin-left:0;margin-top:1em;float:left;line-height:1.6em;margin-bottom:1em;margin-right:0.8em;clear:both;}
.ctl-max .control span{width:37.5em;}
.display-only.ctl-max .control {width:41.6em;}
.ctl-max fieldset.fs-type-radio .icon {margin-top:0.4em;}
.ctl-max fieldset.fs-type-radio .control{float:none;width:41.6em;margin-top:0.4em;margin-bottom:0em;}
.ctl-max .additional-text {margin-left:0;margin-top:-0.5em;}

/*CHECKBOX*/
.checkbox.ctl-XXXL .question-text,.checkbox.ctl-XXL .question-text,.checkbox.ctl-XL .question-text,.checkbox.ctl-L .question-text,.checkbox.ctl-M .question-text,.checkbox.ctl-S .question-text,.checkbox.ctl-XS .question-text,.checkbox.ctl-XXS .question-text{margin-right: -1.9em;}

.checkbox>.control{width:1em;margin:0;padding-right:1.4em;line-height:1.6em;}
.checkbox.lbl-max .question-text{width:45.1em;}

.off-ctr .question-text {width:35%;text-align: right;}
.off-ctr .control,.off-ctr .control  span {width:auto !important;}


.grp-S-inline .lbl-XXXS .question-text,.grp-S-inline .lbl-XXXS fieldset.fs-type-radio legend{width:4.5em;}
.grp-S-inline .lbl-XXS .question-text,.grp-S-inline .lbl-XXS fieldset.fs-type-radio legend{width:7.5em;}
.grp-S-inline .lbl-XS .question-text,.grp-S-inline .lbl-XS fieldset.fs-type-radio legend{width:11em;}
.grp-S-inline .lbl-S .question-text,.grp-S-inline .lbl-S fieldset.fs-type-radio legend{width:23.25em;}
.grp-S-inline .lbl-M .question-text,.grp-S-inline .lbl-M fieldset.fs-type-radio legend{width:15em;}
.grp-S-inline .lbl-L .question-text,.grp-S-inline .lbl-L fieldset.fs-type-radio legend{width:16.25em;}
.grp-S-inline .lbl-XL .question-text,.grp-S-inline .lbl-XL fieldset.fs-type-radio legend{width:17.5em;}
.grp-S-inline .lbl-XXL .question-text,.grp-S-inline .lbl-XXL fieldset.fs-type-radio legend{width:18.75em;}
.grp-S-inline .ctl-max .control select.select-type-dropdown, .grp-S-inline .ctl-max .control input,.grp-S-inline .ctl-max .control textarea{width:18.67em;}
.grp-S-inline .lbl-max .question-text,.grp-S-inline .lbl-max fieldset.fs-type-radio legend{width:18.67em;float:left;}

/* padding fixes for Safari & Chrome regarding OL's not honouring padding on final li's*/
.prd-opt .group-container .group-container ol {overflow:auto;}


/******************************************************************
Indent related styles
Three indent types used: S, M, L, XL (only M and XL used at present
******************************************************************/

/*Indent by Group or by Question*/
.indent-M li .question-text, li.indent-M .question-text, .lgd-indent-M{margin-left:1.5em; margin-right:-1.5em;}
.lgd-indent-L li .question-text {margin-right:-1.5em;}
	/* this next style uses a PERCENTAGE width purposefully
	   so that an extra 50 lines of CSS are not needed in order
	   to  fix the widths of indented questions.*/
.indent-M li .question-text label, li.indent-M .question-text label {width: 95%;}
li.checkbox.indent-M .control,.checkbox.indent-M li .control{margin-left:1.5em;}
.indent-XL li .question-text, li.indent-XL .question-text, .lgd-indent-XL,.checkbox.indent-XL li .control, li.checkbox.indent-XL .control {margin-left:2.5em; margin-right:-2.5em;}
/* Commented out these two, not used at present.
.indent-S li .question-text, li.indent-S .question-text, .lgd-indent-S,.checkbox.indent-S li .control, li.checkbox.indent-S .control{margin-left:1em; margin-right:-1em;}
.indent-L li .question-text, li.indent-L .question-text, .lgd-indent-L,.checkbox.indent-L li .control, li.checkbox.indent-L .control{margin-left:2em; margin-right:-2em;}*/

/*Checkboxes are different */
.checkbox.indent-M li .question-text, li.checkbox.indent-M .question-text,
.checkbox.indent-XL li .question-text, li.checkbox.indent-XL .question-text{margin-left:0;margin-right:0;}
/* Commented out these two, not used at present.
.checkbox.indent-S li .question-text, li.checkbox.indent-S .question-text,
.checkbox.indent-L li .question-text, li.checkbox.indent-L .question-text,*/

/*Override the legend */
.full-wth.group.indent-M,.full-wth.group.indent-XL{margin-left:-1.9em;}/* Commented out, not used at present: ,.full-wth.group.indent-L*/
/* STATIC - only indent-XL used at present for this */
.indent-XL.static.lbl-max .question-text,.indent-XL .lbl-max .question-text{width:45em;margin-right:0;}

/* CTL-MAX overrides - these need a fixed width */
.indent-M .ctl-max .control, .indent-M.ctl-max .control,.indent-M .ctl-max .additional-text,.indent-M.ctl-max .indent-M.ctl-max .control {margin-left:1.5em;width:46.5em;}
.indent-XL .ctl-max .control, .indent-XL.ctl-max .control {margin-left:2.5em;width:45.5em;}
/* Commented out these two, not used at present.
.indent-L .ctl-max .control, .indent-L.ctl-max .control {margin-left:2em;width:46em;}*/

.add-full-wth .additional-text {margin-left:0;width:auto;}
.indent-M .add-full-wth .additional-text,.indent-M.add-full-wth .additional-text  {margin-left:1.5em;margin-right:-1.5em;width:auto;}

/* used for the Eligibility page, at present */
.grp-S-inline.indent-M .lbl-max .question-text,.grp-S-inline.indent-M .lbl-max fieldset.fs-type-radio legend,
.grp-S-inline .indent-M.lbl-max .question-text,.grp-S-inline .indent-M.lbl-max fieldset.fs-type-radio legend{width:17.67em;float:left;}
.grp-S-inline.indent-M .ctl-max .control input,.grp-S-inline.indent-M .ctl-max .control textarea,
.grp-S-inline .indent-M.ctl-max .control input,.grp-S-inline .indent-M.ctl-max .control textarea{width:17.67em;}

/* Product Options Special Styles */
li.usdc-riskdesc-header{width:54em;padding-left:0.8em;margin-left:-1.6em;}
	/*Both*/
.usdc-riskdesc-header .question-text, .usdc-riskdesc-header .control {width:26.1em;margin:0;}

	/*Single Line*/
.usdc-riskdesc-header .question-text label{position:relative; top:0.8em;left: 3.2em;font-size:1.4em;color:#d5261e;font-weight:bold;width:14.4em;} 
.usdc-riskdesc-header .control span{position:relative; top:0.6em;left: 4.2em;font-size:1.4em;color:#497931;font-weight:bold;width:14.4em;}
/*Commented for US12700*/
/*.usdc-riskdesc-header .question-text {display: inline-block; background: url('../images/error-icon-pink-bg.gif') no-repeat left center;height:3.7em;}
.usdc-riskdesc-header .control {display: inline-block;background: url('../images/record-green-bg-small.gif') no-repeat right center;height:3.7em;}*/

	/*Double Line*/
.usdc-riskdesc-header.dbl-rsk .question-text label, .usdc-riskdesc-header.dbl-prd .control span{position:relative; top:0;line-height:1.2em;} 
/*Commented for US12700*/
/*.usdc-riskdesc-header.dbl-rsk .question-text,.usdc-riskdesc-header.dbl-prd .question-text  {background-image: url('../images/error-icon-pink-bg-2.gif');}
.usdc-riskdesc-header.dbl-prd .control,.usdc-riskdesc-header.dbl-rsk .control {background-image: url('../images/record-green-bg-2.gif');}*/

.usdc-riskdesc .question-text,.usdc-riskdesc-img .question-text {padding-left:3em;min-height:2.2em;}
.usdc-riskdesc .control,.usdc-riskdesc-img .control  {padding-left:2.2em;min-height:2.2em;}

/*Commented for US12700*/
/*.usdc-riskdesc-img .question-text {background: url('../images/exclamation-mark-circle.gif') no-repeat left top;}
.usdc-riskdesc-img .control {margin-right:0;background: url('../images/red-arrow.gif') no-repeat left top;}*/

.usdc-riskdesc-ctl{margin-top:1em;}
.usdc-riskdesc-ctl>.control, .usdc-riskdesc-ctl>.additional-text {margin-right:0; margin-left:28.2em;}
.usdc-riskdesc-ctl>.question-text {width:auto;margin-left:28.2em;}

/*Card Payments*/
.add-inline .additional-text{float:right;margin-left:0.8em;position:relative;top:-0.5em;margin-top:0;}
.add-inline.vertical fieldset.fs-type-radio .control {width:60%;}
.add-inline.vertical fieldset.fs-type-radio .control label span{width:90%; display:inline-block;}
.rvs-icn-add .additional-text,.rvs-icn-add .additional-text-2{margin:0;float:right;}


.img-typ-crd+.img-typ-crd{margin-left:0.4em;}

.spl-ctl .control label{float:left;clear:right;margin-bottom:2.5em;position:relative}
.spl-ctl .control label+label{clear:left;margin-bottom:0;}
.spl-ctl .additional-text{float:left;width:25.0em;clear:right;padding-left:1em;}

.ctl-wde .control{width:100%;float:left;margin-left:0;margin-top:1em}
.ctl-right .control, .icn-rght {text-align:right;}


.question-container span+input.input-type-radio{font-size: 1em;width:1em;margin-right:0;}
.question-container input.input-type-checkbox{font-size: 1em;width:1.3em;}
.question-container input.input-type-telephone{width:3em;}
.question-container input.input-type-telephone+span{width:auto;padding:0 0.1667em 0 0.1667em;} /*0.1667em is 2px padding in this case*/
.question-container span+input.input-type-telephone+span+input.input-type-telephone{width:4.8em;margin-right:-1.15em;}
.question-container select.select-type-dropdown+select.select-type-dropdown{margin-left:1.8em;}
.question-container select.select-type-dropdown{margin-right:-1.15em;}

.curr .control span{display: inline-block; width:2.5em;text-align:right;padding-right:0.4em;}
/*removed from the above statement (, .curr .control span) not sure if this will break something*/

/*BUTTONS*/
.action-bar li{margin-bottom:0em;width:auto;display: inline-block;clear:inherit;padding-bottom:0;float:left;}
.action-bar .grey-button,.action-bar .red-button{padding-right:1em;clear:none;}
.action-bar .float-right{padding-right:0;}
.action-bar{padding-top:0; padding-bottom:0;}

/* Floating buttons*/
.float-right.mv-up {margin-top:-3.3em;}
.bulleted+li.float-right.mv-up {margin-top:-1.5em;}
.ans-imp+li.float-right.mv-up {margin-top:-0.75em;}

/* ICONS */
.icon {padding: 0; margin: 0;height:1.8em;vertical-align:top;}
.icon a span {display:none;height:1.8em;font-size:1.2em;}
.icon a, a.pdf
{
    text-decoration: none;
    display: inline-block;
    background-color: Transparent;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position:  center center;
    width:1.8em;
    height:1.8em;
    padding: 0;
    margin: 0; 
    font-weight:normal;
    text-decoration:underline;
}

/* global image reset - including the odd one from Ephox...*/
.help a, .edit a, .nw-wdw a, .calendar a, .close a, a.pdf, .icon-help {background-image: url('../images/smallimages.gif');}
/* positions */
.help a, .icon-help {background-position: -72px -18px;}
.edit a {background-position: -108px 0;}
.nw-wdw a {background-position: -48px -24px;}
.calendar a {background-position: -72px 0px;}
.close a {background-position: -90px 0;}
/* end of positions*/
a.pdf {background: transparent url('../images/pdf-icon.gif') no-repeat left center;padding-left:2.2em;width:auto;height:2em;}
a.pdf span{color:#000000;font-size:1.1em; text-decoration:underline;}

.screen-container .group-text .icon {margin-left:1em;}
.screen-container .group-text .icon, .screen-container .group-text .icon a{vertical-align: top;line-height:1.2em;height:1.5em;width:1.5em;}
.screen-container .gradient-top-large .group-text .icon {vertical-align: text-bottom;}
.no-edt-icn>.icon.edit a{background-image:none;width:auto;}
/*CSS cleanup change starts here*/
.txt-edt-icn>.icon.edit a,.txt-hlp-icn>.icon.help a  {background-image:none;width:auto;cursor:pointer;}
/*CSS cleanup change ends here*/
.txt-hlp-icn>.icon.help a span {text-decoration:underline;}

/* ACCESSIBILITY NAVIGATION */
.skiplink, span.screen-reader-only, .screen-reader-only legend .group-text, .screen-reader-only legend .question-text {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 0.1em;
  height: 0.1em;
  overflow: hidden;
}
/* US9658 */
.show-legend>.group-middle>.group-container>legend>.group-text
{
	display:inline-block;
	position:relative;
	left: 0;
	top: 0;
	width: auto;
	height: auto;
	overflow: hidden;
}

/* Move Legend above the group */
.lgd-abv>.group-middle>.group-container>legend>.group-text{position:relative; top:-3.5em;left:-0.7em;font-weight:bold;font-size:1.2em;color:#000000;}
.lgd-abv>.group-middle>.group-container>legend{margin-bottom:-2.0em;}

/* make bold text an important style.  changed this from ".bold>.question-text" so this will work in IE*/
.bold .question-text, strong {font-weight:bold !important;}
.qst-unbld>.question-text label,.ans-unbld>.control label,.ans-unbld>.control span, .lgd-unbld legend span.group-text{font-weight:normal !important;}

.btns-inline{position:relative; top:-2.3em; left:0; margin-bottom:-2em;width:auto;}

    @media all and (-webkit-min-device-pixel-ratio:10000), not all and (-webkit-min-device-pixel-ratio:0)
{
head~body .question-container select.select-type-dropdown  { margin-right:0; }
}

.save-qte .action-bar{padding-bottom:1.2em;}




/* THIS IS A KLUDGE FOR GO LIVE AND WILL NEED TO BE CHANGED ONCE HELP ME CHOOSE IS FIXED*/



/* HOMEPAGE - HMC ON 
.home .question-text,.home .control,.home .additional-text{float:left;}
.home #state_question_id .additional-text span {display: inline-block; border: 0px solid red; background-color: Transparent; position: relative; top:-4em; float: right; left: 4.75em;}
.home #state_question_id .question-text {width: 25em;}
.home #state_question_id .control {margin-left: 0em;}
.home .show-legend legend {display:none;}
.home li.red-button,.home li.grey-button{padding-bottom: 0px;}
.home .txt-hlp-icn>.icon.help {float:right;position: relative; top:-2em;left: -3.5em;}
*/

/* Eligibility - HMC OFF */
/**/

/* Eligibility - HMC ON 
.eligibility .question-text,.eligibility .control{float:left;}
.eligibility .additional-text {float:left;display:block;width: 25em;}
.eligibility .grp-S-inline legend .group-text{line-height:1em;margin-top:-1.5em !important;}
.eligibility .grp-S-inline legend h2{width: 25em;line-height:1em;}
.eligibility .grp-S-inline li {display:block;}
.eligibility #state_question_id .question-text {width: 25em;margin-bottom:1em;}
.eligibility #state_question_id .control {margin-left: 0em;margin-bottom:1em;}
.eligibility .txt-hlp-icn>.icon.help {position: relative; top:0.20em;left: -1.4em;}

*/
/*Now unused */
/*

.home .mag {float:left !important;margin: 0 0.32em 0 0 !important;}
.home .grey-button, .home .red-button{width:auto;float:none !important;display: inline-block;margin: 1em 0 0 0;}
*/

.confirmation {margin-top:-0.5em;}
.confirmation .full-wth li.group {margin-left:-2.2em;margin-right:-2.2em; padding-top: 1.25em;}
/*CSS cleanup change starts here*/
/*.confirmation .full-wth>.group-middle,.confirmation .full-wth li.group>.group-middle {padding-left:0.8em;}*/
/*CSS cleanup change ends here*/
.confirmation .full-wth li.multi-line-grp>.group-middle {padding-left:2.2em;}
.confirmation li.group li.indent-M .question-text {margin-left:1.5em;margin-right:-3em;}

/* styles change for US1621 */
.qte-saved{padding: 0 1.9em 0 1.9em !important; margin-bottom:-0.6em;}
.qte-saved .middle-container{margin:0 0.8em 0 0.5em;padding:0 0.7em 0 0;}

/* Styles for PCI*/
.pymntIframe{position:relative; left:-1.8em;top:-1.2em; margin-bottom:-3em;}


#confirmpaymentoptions_question_id{display:none;}
/*MAC OS opera issue fix*/
@media not all and (-webkit-min-device-pixel-ratio:0) { 
.your-qte .control span,.app-sum .control span,.confirmation .control span{width:auto}
}
/* Styles for A&E */
.two-colList .additional-text span,.two-colList2 .additional-text span{font-size:1.2em; /*font-weight:bold;*/}
.two-colList .additional-text ul{width:23em; float:left;}
.two-colList .additional-text ul+ul{width:19em;}
.two-colList .additional-text li,.two-colList2 .additional-text li{line-height:1.6em;}
.two-colList2 .additional-text ul{width:21em; float:left;}
.app-sum .control{margin-right:0;}
.app-sum .ctl-max .control{margin-top:0.3em;}
.app-sum .ctl-max .control span{word-wrap:break-word; line-height:1.4em;}
.app-sum .add-sum .control {margin:0;}

/* US3826 styles changes */
.about-you .question-container .question-text label,.about-you .question-container .fs-type-radio .control label,.your-bus .question-container .question-text label,.your-bus .question-container .fs-type-radio .control label,.your-bus2 .question-container .question-text label,.your-bus2 .question-container .fs-type-radio .control label,.your-bus .two-colList .additional-text span{font-weight:normal; color:#000;}
.about-you .question-container label .optional,.your-bus .question-container label .optional,.your-bus2 .question-container label .optional{font-style:italic;}
.lbl-Small .question-text{width:18.2em;}
.lbl-Medium .question-text{width:24.5em;}
.lbl-Large .question-text {width: 32.7em;}
.about-you .question-container .control,.your-bus .question-container .control,.your-bus2 .question-container .control{margin:0 0 0 1.5em;}
.about-you .narr.question-container .control,.your-bus .narr.question-container .control,.your-bus2 .narr.question-container .control{margin:0.5em 0.8em 1em 0; width:49.3em;}
.about-you select.select-type-dropdown,.your-bus select.select-type-dropdown,.your-bus2 select.select-type-dropdown{padding:0; margin-right:0;font-family:Arial, Helvetica, sans-serif; }
.about-you input.input-type-text,.your-bus input.input-type-text,.your-bus2 input.input-type-text{padding:0 0.3em;}
.txt.lbl-Small.ctl-XL .control{width:17.9em;}
.about-you .txt .control,.your-bus .txt .control,.your-bus2 .txt .control{margin-right:0.9em;}
.ctl-XSmall .control{width:5em;}
.ctl-Small .control{width:7.3em;}
.ctl-Medium .control{width:13.8em;}
.ctl-Large .control{width:18.3em;}
.ctl-Date .control{width:16.2em;}
.ctl-XSmall select.select-type-dropdown,.ctl-Small select.select-type-dropdown,.ctl-Medium select.select-type-dropdown,.ctl-Large select.select-type-dropdown{width:99.9%;}
.txt.ctl-Medium .control{width:12.9em;}
.txt.ctl-Large .control{width:17.5em;}
.ctl-Date.date select.select-type-dropdown,.ctl-Date.date select.select-type-dropdown + select.select-type-dropdown{min-width:3.4em;}
.ctl-Date.date select.select-type-dropdown + select.select-type-dropdown,.ctl-Date.date select.select-type-dropdown + select.select-type-dropdown +select.select-type-dropdown{margin-left:0.6em !important;}
.ctl-Date.date select.select-type-dropdown + select.select-type-dropdown+select.select-type-dropdown{width:4.8em;}
/*US30712 styles changes*/
.ctl-DollarS .control{width:7.3em;}
.ctl-DollarS select.select-type-dropdown{width:88.9%;}
.ctl-DollarS.curr .control span{width:0.4em;}
.curr.ctl-DollarS .question-text{width:32.1em;}
.curr.ctl-DollarS .control{width:9.2em;}
.curr.ctl-DollarS .control input{width:78.5%;}
.curr.ctl-DollarS .control{margin:0 0 0 1.2em;}
@media screen and (-webkit-min-device-pixel-ratio:0) 
{
	.about-you .question-container .control{margin-left:1.3em;}
	.about-you .lbl-Large .question-text {width: 32.3em;}
	.about-you .ctl-Date .control{width:17.2em;}
	.ctl-Date.date select.select-type-dropdown{width:4.3em;}
	.ctl-Date.date select.select-type-dropdown + select.select-type-dropdown{width:3.5em;}
	.ctl-Date.date select.select-type-dropdown + select.select-type-dropdown,.ctl-Date.date select.select-type-dropdown + select.select-type-dropdown +select.select-type-dropdown{margin-left:0.5em !important;}
	.ctl-Date.date select.select-type-dropdown + select.select-type-dropdown+select.select-type-dropdown{width:4.6em;}
}
.about-you .txt .icon.help,.your-bus .txt .icon.help,.your-bus2 .txt .icon.help{margin-top:0.1em;}
.ctl-Small.curr .control span,.ctl-Medium.curr .control span{width:0.4em;}
.curr.ctl-Small .question-text,.curr.ctl-Medium .question-text{width:32.1em;}
.curr.ctl-Small .control{width:9.2em;}
.curr.ctl-Small .control input{width:78.5%;}
.curr.ctl-Medium .control input{width:85%;}
.curr.ctl-Medium .control,.curr.ctl-Small .control{margin:0 0 0 1.2em;}
.my.ctl-Date .control{width:11.2em;}
@media screen and (-webkit-min-device-pixel-ratio:0) 
{
   .my.ctl-Date .control{width:11.4em;}
   .my.ctl-Date.date select.select-type-dropdown + select.select-type-dropdown{width:4.6em;}
   
}

.indent-M .ctl-max .control, .indent-M.ctl-max .control, .indent-M .ctl-max .additional-text, .indent-M.ctl-max .indent-M.ctl-max .control {    margin-left: 1.5em !important;    width: 46.5em!important;}
.about-you.screen-container .group-text,.your-bus.screen-container .group-text,.your-bus2.screen-container .group-text,.about-you .screen-container .sub-section .group-text,.your-bus .screen-container .sub-section .group-text,.your-bus2.screen-container .sub-section .group-text{font-weight:normal; color:#000; }
.screen-container .lighter .group-text,.screen-container .lighter.sub-section .group-text,.app-sum .two-colList .additional-text span{font-weight:bold;}
.select-fixdWidth select{width:25.2em;}
.about-you{margin-top:-1em;}
.confirmation .full-wth li.multi-line-grp {margin-right:0; }
.confirmation .full-wth li.multi-line-grp+li.multi-line-grp{margin-left:0}
.confirmation .multi-line-grp .question-container .control span{width:15em;}
.your-qte .group.null>.group-middle,.app-sum>.group.null>.group-middle,.group.action-bar,.usr-spec>.group.null>.group-middle {padding-left:1.5em;padding-right:1.5em;}
.app-sum .full-wth>.group-middle {padding-left:3.4em;padding-right:3.4em;}
.your-qte li.checkbox.indent-M.bold .question-text label{width:auto; font-size:1.6em; line-height:1.2em;}
.app-sum .group.null li.static.lbl-S label {padding-left:1.2em}
.coverage-disabled select {background-color:#dfdfdf}
.coverage-disabled .control span {background-color:#dfdfdf;width:65px;padding-left:3px;color:#A19E9E;font-weight:normal}
.your-qte+.screen-container .group.action-bar {padding-left:0;padding-right:0}
.static.bold a:hover{color:#616161;}
.mve-right-grey{float:right;margin-right:3em;}
.mve-margin-left{margin-left:9.8em;}
.mve-right,.mve-right-top{float:right;margin-right:5em;}
.mve-right-top{margin-top:-3.3em;}
.help-mve-lft .question-text,.help-mve-lft2 .question-text{width:45em;}
.help-mve-lft .help{margin-left:-13.5em !important;}
.help-mve-lft2 .help{margin-left:0 !important;}
.lbl-bold .question-text label,.static.question-multi-line label{font-weight:bold;}
.add-txt-big .additional-text{width:35em;}
.add-txt-big .additional-text>span{font-size:1.2em;}
.lbl-big-blck .question-text label,.qst-inline-prem .question-text label{font-size:1.3em; color:#000; font-weight:bold}
.qst-inline-prem{display:inline-block;width:36em;}
.qst-inline-prem .edit,.lbl-big-blck .edit{margin-left:1em;}
.lbl-big-blck.add-txt-big .additional-text{width:100%;}
.static.bold.indent-M label{width:auto;}
.ans-imp.qst-XL.lbl-XXL .control{margin-left:1em;}
.ans-imp.qst-XL .help a{margin-top:2px}
.question-multi-line+.lbl-big-blck{margin-top:0.8em;padding-bottom:0;}
li.mve-subgrp-right{margin-left:1.5em !important;}
.your-qte li.static.indent-M label{width:100%;}
.qst-unbld strong{color:#000000;}
#blocker
{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.1;
    filter: alpha(opacity=10);
    background-color: #000;
    z-index: 1000;
    overflow: auto;
}
    #blocker+div#timerimg
    {
        position: fixed;
        top: 38%;
        left: 40%;
      width:270px;
      
        /*  margin: -1em 0 0 -2.5em;*/
        color: #fff;
        z-index:100000;
       
    }
#timerimg .throbber-box{width:270px !important;}

.group.chckbx-list li{width:253px !important; display:inline-block;padding-bottom:0.5em;}
.group.chckbx-list li .question-text{width:228px; margin-right:0 !important;}
.group.chckbx-list li .control{margin-left:0 !important; padding-right:1em !important;}
.lbl-XSmall .question-text{width:12.5em}
.your-bus.lbl-XXXL.add-full-wth .additional-text{display:block;}
.msg-wrn+.msg-wrn{padding-top:0}
/*.group.grey .group-middle legend{width:100%}*/
#YB_8_question_id.group-container.screen-reader-only legend{width:100%}

.janitorialList .additional-text li{font-weight: normal !important; font-style: normal !important; font-size: 1.1em !important; line-height: 1.6em !important; font-family: Arial,Sans-Serif !important;}
  