/* this is hidden becausde IE6 puts borders on it. */
object {display:none;}
/*CSS cleanup change starts here*/
.group-top .middle-container,.group-bottom .middle-container{_overflow:hidden;} 
/*CSS cleanup change ends here*/
.group{_border-width:0;}
/*CSS cleanup change starts here*/
.group-top, .group-bottom,.full-wth .round-top .group-top, .full-wth .round-bottom .group-bottom{_display:block;}
li.group .group-top, li.group .group-bottom,.full-wth .group-top, .full-wth .group-bottom, li.grey .group-top , li.grey .group-bottom
, li.white .group-top , li.white .group-bottom,.prd-opt .alt-bkgrd .group-top, .prd-opt .alt-bkgrd .group-bottom,.confirmation .group-top,.confirmation .group-bottom,.usdc-documents .group-top,.usdc-documents .group-bottom,.usdc-documents legend,.your-qte .group.transparent .group-top,.your-qte .group.transparent .group-bottom{_display:none;}
/*CSS cleanup change ends here*/
.full-wth {	MARGIN-LEFT: -1.9em !important;	WIDTH: 57.8em !important;	MARGIN-RIGHT: -6.8em !important;position:relative; left:-0.2em;}
.full-wth .group-middle .right-container .left-container .middle-container {	PADDING-RIGHT: 0 !important;	PADDING-LEFT: 3.4em !important;	MARGIN-LEFT: 0em !important;	WIDTH: 51em;	MARGIN-RIGHT: -6.8em !important}
.full-wth .group-middle .right-container .left-container .middle-container .transparent .middle-container {Padding-left: 0 !important;}
.full-wth .round-top .group-middle .right-container .left-container .middle-container,.full-wth .round-top .group-top .right-container .left-container .middle-container, .full-wth .round-top .group-bottom .right-container .left-container .middle-container {	PADDING-RIGHT: 0 !important;	PADDING-LEFT: 1.9em !important;	MARGIN-LEFT: 0em !important;	WIDTH: 51em;	MARGIN-RIGHT: -1.9em !important}

.question-container.tel span{_width:auto;_padding:0 0.1667em 0 0.1667em;} /*0.1667em is 2px padding in this case*/

/*IJR - global IE reset for radio button text*/
/* Matt, I don't know why I have to reset the User Specific Business version.  I don't have time to look into this 
.fs-type-radio .control label span{_position:relative;_top:-0.3em;}
.usr-spec .horizontal .fs-type-radio .control label span{_top:0;}
*/

/*CSS cleanup change starts here*/
.grey .group-top {_border-top-width:0.1em;} 
.grey .group-middle,.grey .group-top,.grey .group-bottom{_border:solid #C4C4C4;_border-left-width:0.1em;_border-right-width:0.1em;_background-color:#E8E8E8;}
.grey .group-bottom {_border-bottom-width:0.1em;}
/*CSS cleanup change ends here*/

/* IJR Home page grouping alterations*/
.home .grey .group-top, .home .grey .group-bottom {_width:100%;_padding-right:1.3em;}
.grp-S-inline{width:22em;}
/* general group work */

/*CSS cleanup change starts here*/
.white .group-top {_border-top-width:0.1em;}
.white .group-middle,.white .group-top,.white .group-bottom {_border:solid #C4C4C4;_border-left-width:0.1em;_border-right-width:0.1em;_background-color:white;}
.white .group-bottom {_border-bottom-width:0.1em;}
/*CSS cleanup change ends here*/

/*CSS cleanup change starts here*/
.transparent .group-top,.transparent .group-middle,.transparent .group-bottom{_border:solid 0 #C4C4C4;_background-color:transparent;}
/*CSS cleanup change ends here*/
.full-wth.group.indent-M{_margin-left:1em;}
.full-wth.group.indent-XL{_margin-left:2em;}

.icn-rght .question-text, .icn-rght .control {_float:left;_text-align:left;}
.no-edt-icn .icon.edit a span {_display:inline-block;}
.no-edt-icn .icon.edit a {_background-image:none;_width:auto;}
legend .icon {display:inline;}

/*CSS cleanup change starts here*/
.indent-M li .question-text,li.indent-M .question-text,.lgd-indent-M,.checkbox.indent-M li .control,li.checkbox.indent-M .control,.curr .question-text,.question-container select.select-type-dropdown{_margin-right:0;}
 /*CSS cleanup change ends here*/
.indent-XL, .indent-M, .indent-XL {_margin-left:0;}
 /*CSS cleanup change starts here*/
.curr .control span,.screen-container .group-text h1,.screen-container .group-text h2, .screen-container .group-text h3{_display:inline;} /*CSS cleanup change ends here*/

.lbl-XXXS .question-text,.lbl-XXXS fieldset.fs-type-radio legend{_width:9em;}
.lbl-XXS .question-text,.lbl-XXS fieldset.fs-type-radio legend{_width:15em;}
.lbl-XS .question-text,.lbl-XS fieldset.fs-type-radio legend{_width:22em;}
.lbl-S .question-text,.lbl-S fieldset.fs-type-radio legend{_width:26.5em;}
.lbl-M .question-text,.lbl-M fieldset.fs-type-radio legend{_width:30em;}
.lbl-L .question-text,.lbl-L fieldset.fs-type-radio legend{_width:32.5em;}
.lbl-XL .question-text,.lbl-XL fieldset.fs-type-radio legend{_width:35em;}
.lbl-XXL .question-text,.lbl-XXL fieldset.fs-type-radio legend{_width:37.5em;}

/*CHECKBOX*/
.checkbox.ctl-XXXL .question-text,
.checkbox.ctl-XXL .question-text,
.checkbox.ctl-XL .question-text,
.checkbox.ctl-L .question-text,
.checkbox.ctl-M .question-text,
.checkbox.ctl-S .question-text,
.checkbox.ctl-XS .question-text,
.checkbox.ctl-XXS .question-text{_margin-right:0em;}

.ctl-XXXL .control,.ctl-XXXL .additional-text{_width:30.4em;}
.ctl-XXL .control,.ctl-XXL .additional-text{_width:24.4em;}
.ctl-XL .control,.ctl-XL .additional-text{_width:17.4em;}
.ctl-L .control,.ctl-L .additional-text{_width:12.9em;}
.ctl-M .control,.ctl-M .additional-text{_width:9.4em;}
.ctl-S .control,.ctl-S .additional-text{_width:6.9em;}
.ctl-XS .control,.ctl-XS .additional-text{_width:4.4em;}
.ctl-XXS .control,.ctl-XXS .additional-text{_width:1.9em;}


/*.currency .control span, .currency .control input {_width:auto;}*/
/*CSS cleanup change starts here*/
.curr .control,.checkbox .question-text,.confirmation .control span,.eligibility .grp-S-inline .ctl-max .control,.ans-imp .control span,.usdc-documents .group-container ol li{_width:auto;}
/*CSS cleanup change ends here*/

.lbl-max .question-text{_width:90% !important;}
/*CSS cleanup change starts here*/
.checkbox .control,.imp-inf .vertical .icon,.pay-dets .vertical .additional-text{_float:left;}
/*CSS cleanup change ends here*/
.question-container .control{_vertical-align:top;_padding:0;_margin:0 1.4em 0 0.8em;}
/*CSS cleanup change starts here*/
fieldset.fs-type-radio .control label span,fieldset.fs-type-radio .control label input{_margin-right:0.48em;_/*margin-left:-0.48em;_*/} 
/*CSS cleanup change ends here*/

/*INDENT - Page Overrides*/
.home .indent-M .lbl-max .question-text,.home .indent-M.lbl-max .question-text,.home .indent-M .lbl-max fieldset.fs-type-radio legend,.home .indent-M.lbl-max fieldset.fs-type-radio legend{_width:auto;_float:left;}

/*CSS cleanup change starts here*/
.home .indent-M .ctl-max .control input,.home .indent-M.ctl-max .control input,.home .indent-M .ctl-max .control textarea,.home .indent-M.ctl-max .control textarea,.indent-M .ctl-max .control textarea{_width:100%;}
/*CSS cleanup change ends here*/

.indent-M li .question-text, li.indent-M .question-text, .lgd-indent-M {_margin:0;}
.checkbox.indent-M li .control, li.checkbox.indent-M .control {_margin:0 1.4em 0 0.8em;}
.indent-M .ctl-max .control, .indent-M.ctl-max .control {_margin-left:0em;_width:48em;}

/* MPG - shrink the telephone fields *slightly* to make up for an oddity in IE*/
.tel input.input-type-telephone{_width:2.9em;}


/* IJR - radio button fixes */
.home fieldset.fs-type-radio .control, .eligibility fieldset.fs-type-radio .control {_width:100% !important;}

/* MPG - attempt to sort out positioning on the legends. do this by removing 6 pixels from the left hand side*/
.show-legend .group-middle .right-container .left-container .middle-container .group-container legend .group-text {_left:-0.6em !important;}

/* IJR - changes to group borders */
/*CSS cleanup change starts here*/
.gradient-top-large .group-top,li.usdc-usr-spec-or .group-bottom,.confirmation .full-wth .group-middle{_border:0px solid white;}
/*CSS cleanup change ends here*/

/* MPG - temporary code used to further adjust legends. possibly not required.
.lgd-abv .group-middle .right-container .left-container .middle-container .group-container legend .group-text {_color:#000000;_font-size:1.2em;_font-weight:bold;_left:5em;_position:relative;_top:5em;_display:inline;}*/

/* GRADIENT TOP - LARGE */
.gradient-top-large,li.usdc-usr-spec-or {_background-color:#e8e8e8 !important;_border:1px solid #c4c4c4;}
.gradient-top-large .group-top {_height:5.5em;_background-color:Transparent;}

.gradient-top-large .group-middle,.gradient-top-large .group-bottom {_border:0px solid #c4c4c4;}

/* GRADIENT BOTTOM - LARGE */
.gradient-bottom-large .group-bottom {_height:7.3em;_background-color:Transparent;}

/* GRADIENT BOTTOM - SMALL */
.gradient-bottom-small .group-bottom {_height:3.1em;_background-color:Transparent;_border:0px solid #c4c4c4;}

/*GROUPS RESET - */
.gradient-top-medium, .gradient-top-large {_margin-top:1.25em;}

/* now reset the fieldset legend into the grey */
.gradient-top-medium .group-middle fieldset legend {_margin-top:-4.0em;_background-color:Transparent;}
.gradient-top-large .group-middle fieldset legend{_margin-top:-5.5em;_background-color:Transparent;}
.gradient-top-large .group-middle FIELDSET .group LEGEND {_margin-top:0;}
/* reset the gradient bottom question areas */
.gradient-bottom-small li.question-base-lined{_text-align:right;_float:right;_padding-bottom:0;_padding-top:0em;}

li.usdc-usr-spec-or {_background:url('../images/or-txt.gif') no-repeat scroll 22.25em 2.25em;} 
li.usdc-usr-spec-or .group-middle{_background:White url('../images/usdc-usr-spec-or-lne.gif') repeat-y scroll 25em 0;}

/* reset the positions of the sub groups */
/*CSS cleanup change starts here*/
li.usdc-usr-spec-or .multi-line-grp .group-top,li.usdc-usr-spec-or .multi-line-grp .group-bottom {_height:0;}
/*CSS cleanup change ends here*/
li.usdc-usr-spec-or .multi-line-grp  .group-middle fieldset legend{_margin-top:-4.5em;_background-color:Transparent;}

/* reset the paddings and margins on the items within the sub groups */
li.usdc-usr-spec-or .multi-line-grp {_display:inline-block;_width:22.75em;_padding-right:3em;_margin-bottom:-3em;}
li.usdc-usr-spec-or .multi-line-grp .group-middle .question-container {_padding-top:1em;}

/* Your options page fixes for USDC */
.prd-opt .group-middle .middle-container {_margin:0;_padding:0;_width:auto;}
.prd-opt .group-middle .middle-container .group-middle .middle-container {_margin:0 0.8em;_padding:0 0.7em;_width:auto;}
/*CSS cleanup change starts here*/
.prd-opt .alt-bkgrd,.confirmation .full-wth{_border-top:0.1em solid #c8c8c8}
/*CSS cleanup change ends here*/
li.usdc-riskdesc-header {_margin-left:0;_padding-left:0;_margin-right:0;_padding-right:0;_width:50.6em;}
li.usdc-riskdesc-header .question-text {_margin:0;_width:25em;_position:relative;_left:0.8em;}
li.usdc-riskdesc-header .control {_margin:0;_width:25em;_position:relative;_left:2.4em;}
li.usdc-riskdesc-ctl {_position:relative;_left:28em;_width:23em;}
/*CSS cleanup change starts here*/
li.usdc-riskdesc-ctl .additional-text,.confirmation .full-wth .group-middle .right-container .left-container .middle-container .group-container ol li{_margin-left:0.8em;}
/*CSS cleanup change ends here*/
li.usdc-riskdesc-img {_position:relative;_left:0.8em;}
li.usdc-riskdesc-img .control {_padding-left:2.4em;}
li.usdc-riskdesc .question-text, .usdc-riskdesc-img .question-text {_overflow:visible;_height:22px;}
.prd-opt .alt-bkgrd .bdr, .msg-bxd{_margin-left:0;_margin-right:0;}


/* Home Page*/
.home .ctl-max .control {_width: 31em;}

/* used for the Eligibility page, at present */
.eligibility .grp-S-inline .ctl-max .control input,
.eligibility .grp-S-inline .ctl-max .control textarea {_width:17.67em;}
.eligibility .grp-S-inline .fs-type-radio .control {_position:relative;_top:-1.6em;}

.confirmation {_padding:0 !important;_margin:0 !important;}
.confirmation .full-wth{_width:76.8em !important;_padding:0 !important;_margin:0 !important;_border:0px solid white;} /* taken from IE7 sheet... may need changed*/
.confirmation .multi-line-grp {}
.confirmation .multi-line-grp .question-container {_width:auto !important;}
/* the next two are shortened from the exact parent/child structure.*/
.confirmation .full-wth .group-middle .left-container {_padding:0 !important;_margin:0 !important;}
.confirmation .full-wth .group-middle .left-container .middle-container {_padding:0 !important;_margin:0 !important;}
/* correct the left hand padding */
.confirmation .full-wth .group-middle .group-container {_margin-left:2.4em;_width:auto !important;}
/* hide all top and bottom groups. they're not needed*/
.confirmation .multi-line-grp .group-middle .right-container .left-container .middle-container {_padding:0 !important;_margin:0 !important;_width:auto !important;}
/* this is messed up.  if I take of the border, the position and size of the box changes.  changed the border to be neutral*/
.confirmation .multi-line-grp .group-middle .right-container .left-container .middle-container {_border:1px solid #e8e8e8;}


/* these styles implemented for the YourQuote screen*/
.mv-up {_background-color: Transparent;}/* required to stop the overlap on existing content*/
div.gradient-top-medium, div.gradient-top-large{_padding-top:0; _margin-top: 1.25em;}
div.gradient-top-large legend {_position:relative; _top:-1em;}
.gradient-top-large li.usdc-documents {margin-top: -7em}
.usdc-documents {_position:relative; _width: 16em;}
.usdc-documents .group-container {_padding:0;_margin:0}

div.gradient-top-large .grey {_background-color:#e8e8e8 !important;_border:1px solid #c4c4c4; margin-bottom: 1em;}
div.gradient-top-large .grey .group-top, div.gradient-top-large .grey .group-bottom {_display:none;_background-color: Transparent;}
div.gradient-top-large .grey .group-middle {_background-color: Transparent;}
	/* this change primarily used for the quote screen. it may affect others. please check when changing it.*/
.question-multi-line .question-text{_width: 33% !important;}
.your-qte .group .group.show-legend legend {_margin:0 !important;}

/* ACCESSIBILITY NAVIGATION */
.show-legend .group-middle .right-container .left-container .middle-container .group-container legend .group-text{_display:inline-block;_position:relative;_left:0;_top:0;_width:auto;_height:auto;_overflow:hidden;}
.show-legend .group-middle .right-container .left-container .middle-container .group-container .group-middle .right-container .left-container .middle-container .group-container legend .group-text {_position:absolute;_left:-10000px;_top:auto;_width:0.1em;_height:0.1em;_overflow:hidden;}
.show-legend .group-middle .right-container .left-container .middle-container .group-container .show-legend .group-middle .right-container .left-container .middle-container .group-container legend .group-text {_display:inline-block;_position:relative;_left:0;_top:0;_width:auto;_height:auto;_overflow:hidden;}

.screen-container .lgd-L .group-text, .screen-container .lgd-L .group-text .icon, .screen-container .lgd-L .group-text .icon A {_line-height:1em;}
.screen-container .lgd-L .group-text .icon,.screen-container .lgd-L .group-text .icon A {_height:1.3em;}
/* margins are a bit funky in IE7/6 */
.msg-wrn .group-middle .right-container .left-container .middle-container  {padding: 1em  1.9em 1em 1.9em !important;}

.error, .err-msg 
{
	_padding:0.5em 0.5em 0.5em 1em;
	_margin:0.5em 0 0.5em 0;}
 .narr{_margin-right:-1em;}
/*
border changes to help debug the confirmation screen

.confirmation .full-wth .group-middle {_border:1px solid blue;}
.confirmation .full-wth .group-top {_border:1px solid blue;}
.confirmation .full-wth .group-bottom {_border:1px solid blue;}
.confirmation .full-wth .group-middle .right-container {}
.confirmation .full-wth .group-middle .right-container .left-container {}
.confirmation .full-wth .group-middle .right-container .left-container .middle-container {_border:1px solid red;}
.confirmation .full-wth .group-middle .right-container .left-container .middle-container .group-container {_border:1px solid black;}
.confirmation .full-wth .group-middle .right-container .left-container .middle-container .group-container ol {_border:1px solid magenta;}

.confirmation .multi-line-grp {_border:1px solid lime;}
.confirmation .multi-line-grp .group-middle {_border:1px solid blue;}
.confirmation .multi-line-grp .group-middle .right-container {_border:1px solid red;}
.confirmation .multi-line-grp .group-middle .right-container .left-container {_border:1px solid white;}
.confirmation .multi-line-grp .group-middle .right-container .left-container .middle-container .group-container {_border:1px solid black;}
*/




/*
colours, for testing stuff, please don't delete this section yet
*/
/*
.curr .question-text{_background-color:pink;}
.curr .control span{_background-color:blue;}

.question-container {_background-color:pink;}
.question-container .control {_background-color:orange;}
.question-container input.input-type-telephone {_background-color:red;}
.question-container span{_background-color:yellow;}
.question-container .question-text span{_background-color:green;}
fieldset.fs-type-radio {_background-color:Red;}
fieldset legend {_background-color:yellow;}
fieldset.fs-type-radio {_background-color:Red;}
.question-text {_border:1px red solid;}
.control {_border:1px blue solid;}
.group {_background-color:Orange;}
.indent-M {_background-color:Purple;}
.group-container {_background-color:#ccffcc;}
*/
.app-sum .group.sub-section.lgd-indent-L legend { margin-top:0em !important; margin-bottom:-0.5em !important;}
.static .question-text label,.imp-inf .bold .static .question-text label{_font-weight:normal !important;}
.display-only .control span,.static-two-column .control span{ _width:auto !important;}
.imp-inf .vertical fieldset.fs-type-radio .control,.your-qte .vertical fieldset.fs-type-radio .control
 {_float:left;_margin-left:0; width:auto !important;}
.app-sum,.your-qte{ padding-right:0em !important; _width:54em;}
.app-sum .full-wth .grey .group-middle {	BORDER-LEFT-WIDTH: 0.1em;	BORDER-RIGHT-WIDTH: 0.1em;}
.confirmation li.full-wth .group-middle .group-container{_margin-left:6.8em !important; }
.confirmation .full-wth {left:0;}
.confirmation li.full-wth{  _margin-left:0em !important;_margin-right:-4.4em !important;left:-4.4em; }

.static-two-column .question-text label, .bold .question-text label{_font-weight:bold !important;}
.confirmation .multi-line-grp {display:inline !important; _width:48.5% !important;}

.pay-dets .vertical.add-inline fieldset.fs-type-radio .control,.pay-dets .vertical fieldset.fs-type-radio .control
{_float:left;_margin-left:0; }
.pay-dets li.group.lgd-unbld{_width:49.2em;}
.group{_background:none;}
.your-bus .ctl-max .additional-text{_margin-top:0.7em;}

.home input.submit-input {left:-1.6em;padding-right:1.1em;margin-right:-1.7em;}
.home .submit-button span.button-icon {left:-1em;margin-right:-0.5em;}