#banner-img-container {
	height: auto;
}

#tabs {
display: block;
float: left;
font-size:13px;
font-family: arial;
}
#tabs table.tab{
margin:0;
padding:0;
height:166px;
width:118px;
background:url("../images/tab-bg-2.gif") no-repeat top left;
margin-bottom:2px;
}
#tabs table.active{
margin:0;
padding:0;
height:166px;
width:118px;
background:url("../images/tab-bg-2-active.gif") no-repeat top left;
margin-bottom:2px;
}
#tabs table td{
padding:0 35px 0 10px;
text-decoration: none;
color:#424242;
font-weight:bold;
vertical-align:middle;
}
#tabs table a{
text-decoration: none;
color:#424242;
font-weight:bold;
}
.panel {
float:left;
width:445px;
height:324px;
padding:5px;
background:url("../images/content-border.gif") no-repeat top left;
margin-left:-7px;
font-family:arial;
color:#fff;
overflow:hidden;
}

.content-overlay{
position:relative;
left:30px;
top:-300px;
margin-right: 60px;
}

#secondarycontent {
	margin-top: 10px;
}

.dynamic-content-home .middle-content {
	
	min-height:31.8em;
	*min-height:32.8em;
	margin-bottom:-1em\9;
}
.dynamic-content-home .bottom.clear-both{
	
}