/*
 * GLOBAL AJAX CSS
 */

/* --- AUTOCOMPLETE CSS --- */

/* --- HTML CONTENT CSS --- */


div.autocomplete {
  position: relative;
  color: black;
  background-color: #fff;
  border:1px solid #999999;
  font-size: 11px;
  font-family: Arial;
  overflow: show;
  margin: 1px 0 0 0;
  *margin: 1px 0 0 0;
  }

div.autocomplete ul {

  margin: 0 0 0 5px;
  *margin: 0 0 0 0px;
  list-style: none;
  overflow: auto;
  
 }
div.autocomplete ol {

  margin: 0 0 0 -39px;
  *margin: 0 0 0 0px;
  list-style: none;
  overflow: auto;

  }
div.autocomplete li{
text-indent:5px;
}
div.autocomplete li.selected {
  display: block;
  white-space: nowrap;
  margin: 0 0px 0 0px;
  *margin: 0 0px 0 0px;
  padding-left: 0px;
  padding-right: 0px;
  background-color:#3169C6;
  color:#fff;
}
v\:roundrect {
		display:block;
		border: 2px solid #e1e1e1;
		*border: 0 solid #000;
		-moz-border-radius:10px;
		-webkit-border-radius: 10px;
		border-radius: 10px;
		padding:20px;
		width:270px;
		height:100%;
		_height:39%;
		
		}
	
	v\:roundrect  {
		behavior:url(#default#VML);
		/background-color:transparent;
		}

