HTML {
	BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 0px; PADDING-TOP: 0px; BACKGROUND-COLOR: #ffffff; BORDER-RIGHT-WIDTH: 0px
}
BODY {
	BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 0px; PADDING-TOP: 0px; BACKGROUND-COLOR: #ffffff; BORDER-RIGHT-WIDTH: 0px
}
.Header_image {
	PADDING-LEFT: 20px
}
.Header_image img {
	margin-left: 25px
}
H1 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
H3 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
H2 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
H4 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
P {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
FORM {
	MARGIN: 0px
}
.Quote_buy_product {
	FONT-WEIGHT: bold; FONT-SIZE: 81.25%; COLOR: #616161; FONT-FAMILY: arial
}
DIV.height_2px {
	PADDING-TOP: 2px
}
DIV.left_promo_link {
	BORDER-RIGHT: #e8e8e8 1px solid; PADDING-RIGHT: 18px; PADDING-LEFT: 18px; PADDING-BOTTOM: 11px; MARGIN: 0px; BORDER-LEFT: #e8e8e8 1px solid; WIDTH: 154px; PADDING-TOP: 11px; BACKGROUND-COLOR: #ffffff
}
.nav_3px {
	PADDING-BOTTOM: 3px
}
.nav_1px {
	PADDING-BOTTOM: 1px
}
DIV#tblImage {
	MARGIN-TOP: 17px; WIDTH: 962px; /*HEIGHT: 275px*/
}
.sideNavLeftContainer {
	LEFT: 2px; /*WIDTH: 188px;*/ POSITION: relative; /*HEIGHT: 275px*/
}
.sideNavLeft {
	/*WIDTH: 188px; HEIGHT: 68px*/ 
}
.sideNavLeft IMG {
	VERTICAL-ALIGN: bottom
}
.sideNavRightImage {
	MARGIN-TOP: -275px; RIGHT: 6px; WIDTH: 772px; POSITION: relative; HEIGHT: 275px
}
.marginBottom1 {
	PADDING-BOTTOM: 1px
}
.floatLeft {
	FLOAT: left
}
.floatRight {
	FLOAT: right
}
.clear {
	CLEAR: both
}
.promo_productbox_header {
	PADDING-LEFT: 17px; PADDING-BOTTOM: 17px
}
.promo_productbox_summary {
	PADDING-RIGHT: 10px; PADDING-LEFT: 14px; PADDING-BOTTOM: 14px
}
.promo_productbox_button {
	PADDING-LEFT: 14px; PADDING-BOTTOM: 17px
}
.promo_productbox_title {
	PADDING-LEFT: 17px; FONT-SIZE: 75%; PADDING-BOTTOM: 17px; FONT-FAMILY: arial
}
.scheme_prod_image {
	PADDING-LEFT: 17px; PADDING-TOP: 17px; BACKGROUND-COLOR: #ffffff
}
DIV.scheme_prod_button {
	PADDING-LEFT: 10px
}
.scheme_prod_link {
	PADDING-LEFT: 17px; FONT-SIZE: 75%; PADDING-BOTTOM: 17px; FONT-FAMILY: arial
}
.prod_button {
	PADDING-BOTTOM: 13px
}
TABLE.prod_detail {
	MARGIN-LEFT: 8px
}
DIV.wide_help1 {
	BORDER-RIGHT: #e0e0e0 1px solid; PADDING-RIGHT: 18px; PADDING-LEFT: 17px; PADDING-BOTTOM: 11px; BORDER-LEFT: #e0e0e0 1px solid; BACKGROUND-COLOR: #ffffff
}
.3col_corner {
	PADDING-TOP: 8px
}
.featured_secondary_content {
	PADDING-LEFT: 17px; PADDING-TOP: 17px
}
DIV.SL_right_nav_schemes_landing1 {
	BORDER-RIGHT: #e8e8e8 1px solid; BORDER-LEFT: #e8e8e8 1px solid; FONT-FAMILY: arial; BACKGROUND-COLOR: #ffffff
}
DIV.SL_right_nav_title1 {
	PADDING-LEFT: 17px; PADDING-BOTTOM: 13px; PADDING-TOP: 5px
}
DIV.SL_right_nav_text1 {
	PADDING-RIGHT: 17px; PADDING-LEFT: 17px; PADDING-BOTTOM: 7px
}
DIV.CU_CONTACT1 {
	BORDER-RIGHT: #e8e8e8 1px solid; PADDING-LEFT: 17px; BORDER-LEFT: #e8e8e8 1px solid; PADDING-TOP: 17px; FONT-FAMILY: arial; BACKGROUND-COLOR: #ffffff
}
.paz_leftpadding {
	PADDING-LEFT: 8px
}
TABLE.pg_two_col_table {
	MARGIN-LEFT: 8px
}
DIV.pg_two_col_page_title {
	PADDING-LEFT: 17px; PADDING-TOP: 11px
}
DIV.pg_two_col_Border {
	BORDER-RIGHT: #e8e8e8 1px solid; BORDER-LEFT: #e8e8e8 1px solid; BACKGROUND-COLOR: #ffffff
}
DIV.pg_two_col_callout {
	PADDING-LEFT: 17px; PADDING-BOTTOM: 5px
}
TABLE.pg_two_col_table_subtitle {
	MARGIN-TOP: 8px; MARGIN-LEFT: 8px
}
TABLE.pg_two_col_table1 {
	MARGIN-TOP: 8px; MARGIN-LEFT: 8px
}
TABLE.pg_two_col_table2 {
	MARGIN-TOP: 8px; MARGIN-LEFT: 8px
}
UNKNOWN {
	MARGIN-TOP: -2px
}
DIV.pg_two_col_display_title {
	BORDER-RIGHT: #e8e8e8 1px solid; PADDING-LEFT: 17px; MARGIN-BOTTOM: 1px; PADDING-BOTTOM: 11px; BORDER-LEFT: #e8e8e8 1px solid; PADDING-TOP: 10px; BORDER-BOTTOM: #e8e8e8 1px solid; BACKGROUND-COLOR: #ffffff
}
DIV.pg_two_col_Border2 {
	BORDER-RIGHT: #e8e8e8 1px solid; BORDER-TOP: #e8e8e8 1px solid; BORDER-LEFT: #e8e8e8 1px solid; BACKGROUND-COLOR: #ffffff
}
DIV.pg_two_col_body {
	PADDING-RIGHT: 10px; PADDING-LEFT: 17px; PADDING-BOTTOM: 10px; PADDING-TOP: 11px
}
DIV.pg_two_col_black_panel {
	PADDING-RIGHT: 5px; PADDING-LEFT: 25px; PADDING-BOTTOM: 10px; PADDING-TOP: 25px
}
TABLE.pg_two_col_overseas {
	MARGIN-TOP: 17px
}
TD.pg_two_col_product {
	BORDER-RIGHT: #e8e8e8 1px solid; BORDER-TOP: #e8e8e8 1px solid; BORDER-LEFT: #e8e8e8 1px solid; BORDER-BOTTOM: #e8e8e8 1px solid; BACKGROUND-COLOR: #ffffff
}
DIV.pg_3_col_secondary {
	MARGIN-TOP: 8px
}
DIV.pg_two_col_display_titles {
	BORDER-RIGHT: #e8e8e8 1px solid; PADDING-LEFT: 17px; FONT-WEIGHT: bold; FONT-SIZE: 87.5%; MARGIN-BOTTOM: 1px; PADDING-BOTTOM: 17px; BORDER-LEFT: #e8e8e8 1px solid; COLOR: #000000; PADDING-TOP: 10px; BORDER-BOTTOM: #e8e8e8 1px solid; FONT-FAMILY: arial; BACKGROUND-COLOR: #ffffff
}
.padding_bottom {
	PADDING-BOTTOM: 23px
}
DIV.pg_three_col_border {
	BORDER-RIGHT: #e8e8e8 1px solid; PADDING-LEFT: 17px; PADDING-BOTTOM: 6px; BORDER-LEFT: #e8e8e8 1px solid; PADDING-TOP: 6px; BACKGROUND-COLOR: #ffffff
}
DIV.pg_three_col_pagetitle {
	PADDING-LEFT: 17px; FONT-SIZE: 140%; COLOR: #d5261e; PADDING-TOP: 4px; FONT-FAMILY: arial; BACKGROUND-COLOR: #ffffff
}
DIV.pg_three_col_callout {
	PADDING-RIGHT: 17px; PADDING-BOTTOM: 4px; PADDING-TOP: 13px
}
DIV.pg_three_col_displayfield {
	BORDER-RIGHT: #e8e8e8 1px solid; PADDING-LEFT: 17px; PADDING-BOTTOM: 11px; BORDER-LEFT: #e8e8e8 1px solid; PADDING-TOP: 5px; BORDER-BOTTOM: #e8e8e8 1px solid; BACKGROUND-COLOR: #ffffff
}
.featured_button {
	PADDING-LEFT: 17px
}
.featured-submit-button {
	PADDING-LEFT: 17px; PADDING-BOTTOM: 0px
}
.featured_text {
	PADDING-LEFT: 17px; PADDING-TOP: 8px
}
.main_image {
	PADDING-TOP: 2px
}
.main_image2 {
	PADDING-TOP: 2px
}
.main_image {
	PADDING-LEFT: 8px
}
DIV.pg_three_col_body {
	BORDER-RIGHT: #e8e8e8 1px solid; PADDING-RIGHT: 17px; BORDER-TOP: #e8e8e8 1px solid; MARGIN-TOP: 1px; PADDING-LEFT: 17px; PADDING-BOTTOM: 11px; BORDER-LEFT: #e8e8e8 1px solid; PADDING-TOP: 17px; BACKGROUND-COLOR: #ffffff
}
DIV.pg_three_col_body_img {
	BORDER-RIGHT: #e8e8e8 1px solid; BORDER-TOP: #e8e8e8 1px solid; MARGIN-TOP: 1px; PADDING-BOTTOM: 11px; BORDER-LEFT: #e8e8e8 1px solid; BACKGROUND-COLOR: #ffffff
}
DIV.pg_three_col_body_img_promo {
	BORDER-RIGHT: #e8e8e8 1px solid; PADDING-BOTTOM: 11px; BORDER-LEFT: #e8e8e8 1px solid; BACKGROUND-COLOR: #ffffff
}
.pg_3_col_1 {
	MARGIN-TOP: 3px
}
.pg_3_col_2 {
	MARGIN-TOP: 8px
}
.text_align {
	TEXT-ALIGN: center
}
DIV.pg_three_col_secondary {
	PADDING-LEFT: 17px; PADDING-BOTTOM: 17px; PADDING-TOP: 11px; BORDER-BOTTOM: #e0e0e0 1px solid
}
DIV.pg_wide_secondary {
	PADDING-LEFT: 17px; MARGIN-BOTTOM: 1px; PADDING-BOTTOM: 15px; PADDING-TOP: 9px; BORDER-BOTTOM: #e0e0e0 1px solid
}
.featured_table {
	PADDING-BOTTOM: 17px
}
DIV.pg_three_col_call_to_action_title {
	BORDER-RIGHT: #e0e0e0 1px solid; PADDING-RIGHT: 17px; PADDING-LEFT: 17px; PADDING-BOTTOM: 9px; BORDER-LEFT: #e0e0e0 1px solid; PADDING-TOP: 11px; BACKGROUND-COLOR: #ffffff
}
DIV.pg_three_col_ph {
	BORDER-RIGHT: #e8e8e8 1px solid; PADDING-RIGHT: 18px; PADDING-LEFT: 18px; PADDING-BOTTOM: 6px; BORDER-LEFT: #e8e8e8 1px solid; PADDING-TOP: 8px; BACKGROUND-COLOR: #d6d6d6
}
DIV.pg_three_col_phone {
	PADDING-LEFT: 11px
}
DIV.pg_three_col_border1 {
	BORDER-RIGHT: #e8e8e8 1px solid; PADDING-RIGHT: 18px; PADDING-LEFT: 18px; BORDER-LEFT: #e8e8e8 1px solid; PADDING-TOP: 11px; BACKGROUND-COLOR: #ffffff
}
DIV.pg_3 {
	MARGIN-BOTTOM: 17px
}
DIV.pg_three_col_Border3 {
	BORDER-RIGHT: #e8e8e8 1px solid; BORDER-LEFT: #e8e8e8 1px solid; BACKGROUND-COLOR: #ffffff
}
DIV.pg_three_col_need {
	PADDING-LEFT: 18px; FONT-WEIGHT: bold; FONT-SIZE: 81.25%; PADDING-BOTTOM: 5px; COLOR: #616161; PADDING-TOP: 9px; FONT-FAMILY: arial
}
TD.pg_three_col_headline {
	PADDING-RIGHT: 8px
}
DIV.pg_3_col_Border {
	BORDER-RIGHT: #e8e8e8 1px solid; BORDER-LEFT: #e8e8e8 1px solid; BACKGROUND-COLOR: #ffffff
}
DIV.pg_three_col_call {
	PADDING-LEFT: 6px; FONT-WEIGHT: bold; FONT-SIZE: 93.75%; COLOR: #d5261e; FONT-FAMILY: arial
}
DIV.wide_Border1 {
	BORDER-RIGHT: #e8e8e8 1px solid; BORDER-LEFT: #e8e8e8 1px solid; FONT-FAMILY: arial; BACKGROUND-COLOR: #ffffff
}
DIV.wide_pagetitle {
	PADDING-LEFT: 17px; PADDING-TOP: 11px
}
DIV.wide_callout {
	PADDING-BOTTOM: 11px; MARGIN-LEFT: 17px
}
DIV.wide {
	PADDING-TOP: 8px
}
DIV.wide1_displayfield {
	BORDER-RIGHT: #e8e8e8 1px solid; PADDING-LEFT: 17px; MARGIN-BOTTOM: 1px; PADDING-BOTTOM: 15px; BORDER-LEFT: #e8e8e8 1px solid; PADDING-TOP: 8px; BORDER-BOTTOM: #e8e8e8 1px solid; BACKGROUND-COLOR: #ffffff
}
DIV.wide_Border2 {
	BORDER-RIGHT: #e8e8e8 1px solid; BORDER-TOP: #e8e8e8 1px solid; MARGIN-TOP: 8px; BORDER-LEFT: #e8e8e8 1px solid; BACKGROUND-COLOR: #ffffff
}
DIV.wide_sec_cont {
	PADDING-LEFT: 17px; PADDING-BOTTOM: 6px; PADDING-TOP: 6px; BORDER-BOTTOM: #e0e0e0 1px solid
}
DIV.wide_Border4 {
	BORDER-RIGHT: #e8e8e8 1px solid; BORDER-LEFT: #e8e8e8 1px solid; BACKGROUND-COLOR: #d6d6d6
}
DIV.wide_phoneno {
	PADDING-LEFT: 11px
}
DIV.wide_nav {
	MARGIN-BOTTOM: 8px
}
DIV.wide_rhn {
	PADDING-BOTTOM: 17px
}
DIV.wide_Border5 {
	BORDER-RIGHT: #e8e8e8 1px solid; BORDER-LEFT: #e8e8e8 1px solid; BACKGROUND-COLOR: #ffffff
}
DIV.wide_property1 {
	PADDING-RIGHT: 17px; PADDING-LEFT: 17px; PADDING-BOTTOM: 25px
}
DIV.wide_property2 {
	PADDING-LEFT: 17px; PADDING-BOTTOM: 12px; PADDING-TOP: 5px
}
.wide_property {
	PADDING-LEFT: 17px; PADDING-BOTTOM: 12px; PADDING-TOP: 5px
}
DIV.wide_button {
	PADDING-TOP: 17px
}
DIV.feature_button {
	PADDING-LEFT: 17px
}
DIV.wide_rxs {
	MARGIN-BOTTOM: 17px
}
DIV.wide_Border6 {
	MARGIN-TOP: 17px
}
DIV.wide_help {
	BORDER-RIGHT: #e8e8e8 1px solid; PADDING-BOTTOM: 17px; BORDER-LEFT: #e8e8e8 1px solid; PADDING-TOP: 17px; BACKGROUND-COLOR: #ffffff
}
TD.wide_contactus {
	PADDING-RIGHT: 5px
}
TABLE.wide_table {
	MARGIN-LEFT: 1px
}
.background_wideRH {
	BACKGROUND-COLOR: #ffffff
}
DIV.featured_prod_table {
	PADDING-TOP: 7px
}
TD.featured_prod_image {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; PADDING-TOP: 15px; BACKGROUND-COLOR: #ffffff
}
DIV.prod_box_image {
	BORDER-RIGHT: #e0e0e0 1px solid; PADDING-RIGHT: 10px; BORDER-TOP: #e0e0e0 1px solid; PADDING-LEFT: 10px; PADDING-BOTTOM: 17px; BORDER-LEFT: #e0e0e0 1px solid; PADDING-TOP: 5px; BORDER-BOTTOM: #e0e0e0 1px solid
}
DIV.SL_WINE_OFFER_TEXT_TOP1 {
	PADDING-LEFT: 17px; FONT-WEIGHT: bold; FONT-SIZE: 87.5%; PADDING-BOTTOM: 14px; COLOR: #3c3c3c; PADDING-TOP: 17px; BORDER-BOTTOM: #e0e0e0 1px solid; FONT-FAMILY: arial
}
DIV.SL_right_nav_schemes_landing1_PgProd {
	BORDER-RIGHT: #e8e8e8 1px solid; BORDER-LEFT: #e8e8e8 1px solid; FONT-FAMILY: arial; BACKGROUND-COLOR: #ffffff
}
DIV.SL_right_nav_title1_PgProd {
	PADDING-LEFT: 17px; PADDING-BOTTOM: 13px; PADDING-TOP: 11px
}
DIV.HVH_top_head_2nd1_PgProd {
	BORDER-RIGHT: #e8e8e8 1px solid; PADDING-RIGHT: 17px; PADDING-LEFT: 17px; FONT-WEIGHT: bold; FONT-SIZE: 87.5%; PADDING-BOTTOM: 13px; BORDER-LEFT: #e8e8e8 1px solid; COLOR: #3c3c3c; PADDING-TOP: 8px; BORDER-BOTTOM: #e8e8e8 1px solid; FONT-FAMILY: arial; BACKGROUND-COLOR: #ffffff
}
DIV.SL_black_panel1_PgProd {
	PADDING-LEFT: 17px; PADDING-BOTTOM: 17px; PADDING-TOP: 17px
}
DIV.HVH_top_head1 {
	BORDER-RIGHT: #e8e8e8 1px solid; BORDER-TOP: #e8e8e8 1px solid; PADDING-LEFT: 17px; FONT-WEIGHT: bold; FONT-SIZE: 137.5%; PADDING-BOTTOM: 11px; BORDER-LEFT: #e8e8e8 1px solid; COLOR: #d5261e; PADDING-TOP: 11px; BORDER-BOTTOM: #e8e8e8 1px solid; FONT-FAMILY: arial; BACKGROUND-COLOR: #ffffff
}
DIV.HVH_top_head_2nd1 {
	BORDER-RIGHT: #e8e8e8 1px solid; PADDING-LEFT: 17px; FONT-WEIGHT: bold; FONT-SIZE: 87.5%; PADDING-BOTTOM: 13px; BORDER-LEFT: #e8e8e8 1px solid; COLOR: #000000; PADDING-TOP: 8px; BORDER-BOTTOM: #e8e8e8 1px solid; FONT-FAMILY: arial; BACKGROUND-COLOR: #ffffff
}
DIV.HI_body1 {
	BORDER-RIGHT: #e0e0e0 1px solid; BORDER-TOP: #e0e0e0 1px solid; MARGIN-TOP: 1px; BORDER-LEFT: #e0e0e0 1px solid; BACKGROUND-COLOR: #ffffff
}
DIV.HI_right_link1 {
	BORDER-RIGHT: #e0e0e0 1px solid; PADDING-LEFT: 18px; BORDER-LEFT: #e0e0e0 1px solid; WIDTH: 169px; BACKGROUND-COLOR: #ffffff
}
DIV.HI_right_link_call_us1 {
	BORDER-RIGHT: #e0e0e0 1px solid; BORDER-LEFT: #e0e0e0 1px solid; BACKGROUND-COLOR: #d6d6d6
}
DIV.HI_let_us_callyou1 {
	FONT-WEIGHT: bold; FONT-SIZE: 75%; MARGIN-LEFT: 18px; FONT-FAMILY: ARIAL; BACKGROUND-COLOR: #d6d6d6
}
DIV.HI_right_link_text1 {
	FONT-WEIGHT: bold; FONT-SIZE: 93.75%; MARGIN-BOTTOM: 17px; MARGIN-LEFT: 18px; COLOR: #d52b1e; FONT-FAMILY: arial
}
DIV.HI_right_link_image1 {
	MARGIN-LEFT: 17px
}
DIV.HI_right_help_box1 {
	PADDING-RIGHT: 10px; PADDING-LEFT: 18px; PADDING-BOTTOM: 12px; PADDING-TOP: 16px; BACKGROUND-COLOR: #ffffff
}
#HI_LI_body1 {
	PADDING-RIGHT: 17px; PADDING-LEFT: 12px; PADDING-BOTTOM: 15px; PADDING-TOP: 17px
}
DIV.wide_button1 {
	PADDING-LEFT: 17px; PADDING-TOP: 17px
}
DIV.Pgneed_help1 {
	BORDER-RIGHT: #e0e0e0 1px solid; BORDER-LEFT: #e0e0e0 1px solid; BACKGROUND-COLOR: #ffffff
}
DIV.Pgwide_needhelp1 {
	PADDING-RIGHT: 12px; PADDING-LEFT: 17px; PADDING-BOTTOM: 18px; PADDING-TOP: 15px
}
.wide_needhelp {
	PADDING-LEFT: 18px; PADDING-BOTTOM: 18px; PADDING-TOP: 15px
}
DIV.SL_LINK1 {
	PADDING-LEFT: 18px; FONT-SIZE: 75%; PADDING-BOTTOM: 17px; PADDING-TOP: 5px; FONT-FAMILY: arial
}
DIV.SL_BUSINESS1 {
	PADDING-RIGHT: 17px; PADDING-LEFT: 17px; PADDING-BOTTOM: 11px; PADDING-TOP: 17px
}
DIV.SL_right_nav_text1_PgProd {
	PADDING-RIGHT: 17px; PADDING-LEFT: 17px; PADDING-BOTTOM: 11px
}
.HIC_defacto_image1 {
	PADDING-RIGHT: 17px; PADDING-TOP: 17px
}
DIV.HIC_body_text_11 {
	PADDING-RIGHT: 17px; PADDING-LEFT: 17px; PADDING-TOP: 17px
}
DIV.SL_black_panel1 {
	PADDING-RIGHT: 17px; PADDING-LEFT: 17px; PADDING-BOTTOM: 17px; PADDING-TOP: 17px
}
DIV.SL_right_nav_bottom1 {
	PADDING-RIGHT: 17px; PADDING-LEFT: 17px; PADDING-BOTTOM: 17px; PADDING-TOP: 17px
}
#popup_content11 {
	PADDING-LEFT: 17px
}
DIV.HI_head_text1 {
	BORDER-RIGHT: #e0e0e0 1px solid; PADDING-LEFT: 17px; FONT-SIZE: 75%; PADDING-BOTTOM: 0px; BORDER-LEFT: #e0e0e0 1px solid; COLOR: #616161; FONT-FAMILY: arial
}
DIV.Bordr_S1 {
	BORDER-RIGHT: #e0e0e0 1px solid; PADDING-LEFT: 18px; BORDER-LEFT: #e0e0e0 1px solid
}
DIV.Border_Sec1 {
	BORDER-RIGHT: #e0e0e0 1px solid; BORDER-LEFT: #e0e0e0 1px solid
}
DIV.Img_mg1 {
	MARGIN-TOP: 8px
}
TD.Prop_statement1 {
	PADDING-LEFT: 18px
}
DIV.Img_mgDown1 {
	MARGIN-TOP: 17px
}
TABLE.PgAlign1 {
	MARGIN-LEFT: 8px
}
TD.PgAlignment1 {
	PADDING-RIGHT: 8px
}
DIV.Sch_Pghomebody1 {
	PADDING-RIGHT: 17px; PADDING-LEFT: 17px; PADDING-BOTTOM: 25px; PADDING-TOP: 7px
}
TD.SchPg_Products1 {
	BORDER-RIGHT: #e8e8e8 1px solid; BORDER-LEFT: #e8e8e8 1px solid; BACKGROUND-COLOR: #ffffff
}
TD.SchPg_Pro1 {
	BACKGROUND-COLOR: #ffffff
}
DIV.SL_right_nav_schemes_landing_HomeSch1 {
	BORDER-RIGHT: #e8e8e8 1px solid; BORDER-LEFT: #e8e8e8 1px solid; FONT-FAMILY: arial; BACKGROUND-COLOR: #ffffff
}
DIV.SL_right_nav_title1_HomeSch1 {
	PADDING-LEFT: 17px; FONT-WEIGHT: bold; FONT-SIZE: 137.5%; PADDING-BOTTOM: 11px; COLOR: #d52b1e; PADDING-TOP: 11px
}
DIV.DC_scheme_image1_HomeSch1 {
	BORDER-RIGHT: #e0e0e0 1px solid; PADDING-BOTTOM: 11px; BORDER-LEFT: #e0e0e0 1px solid; PADDING-TOP: 11px; BACKGROUND-COLOR: #ffffff; TEXT-ALIGN: center
}
DIV.HVH_top_head_2nd1_HomeSch1 {
	BORDER-RIGHT: #e8e8e8 1px solid; PADDING-LEFT: 17px; MARGIN-BOTTOM: 1px; PADDING-BOTTOM: 15px; BORDER-LEFT: #e8e8e8 1px solid; PADDING-TOP: 9px; BORDER-BOTTOM: #e8e8e8 1px solid; BACKGROUND-COLOR: #ffffff
}
DIV.SL_black_panel1_HomeSch1 {
	PADDING-RIGHT: 20px; PADDING-BOTTOM: 10px; PADDING-TOP: 20px
}
DIV.SL_black_panel1_HomeSch2 {
	PADDING-LEFT: 17px; PADDING-BOTTOM: 10px; PADDING-TOP: 25px
}
.Sch_home_Pgbottom {
	PADDING-BOTTOM: 33px
}
DIV.DC_scheme_image1 {
	BORDER-RIGHT: #e0e0e0 1px solid; PADDING-BOTTOM: 11px; BORDER-LEFT: #e0e0e0 1px solid; PADDING-TOP: 11px; BACKGROUND-COLOR: #ffffff; TEXT-ALIGN: center
}
TABLE.Pgscheme1 {
	MARGIN-LEFT: 6px
}
DIV.Pgtitle1 {
	PADDING-LEFT: 17px; PADDING-BOTTOM: 11px
}
TD.PgImage1 {
	PADDING-LEFT: 8px
}
TABLE.PgDisplay1 {
	MARGIN-TOP: 8px
}
DIV.Border_Img1 {
	BORDER-RIGHT: #e8e8e8 1px solid; BORDER-TOP: #e8e8e8 1px solid; BORDER-LEFT: #e8e8e8 1px solid; BACKGROUND-COLOR: #ffffff
}
DIV.Border_Img2 {
	BORDER-RIGHT: #e8e8e8 1px solid; BORDER-TOP: #e8e8e8 0px solid; BORDER-LEFT: #e8e8e8 1px solid; BACKGROUND-COLOR: #ffffff
}
DIV.Border_Img3 {
	BORDER-RIGHT: #e8e8e8 1px solid; BORDER-TOP: #e8e8e8 1px solid; BORDER-LEFT: #e8e8e8 1px solid; PADDING-TOP: 6px; BACKGROUND-COLOR: #ffffff
}
TABLE.ph_overseas_nav1 {
	MARGIN-TOP: 17px; MARGIN-LEFT: 8px
}
TD.Pg_Products1 {
	BORDER-RIGHT: #e8e8e8 1px solid; BORDER-LEFT: #e8e8e8 1px solid; BACKGROUND-COLOR: #ffffff
}
.pghome_border {
	BORDER-RIGHT: #e0e0e0 1px solid; BORDER-LEFT: #e0e0e0 1px solid; BACKGROUND-COLOR: #ffffff
}
TABLE.HP_Image_table1 {
	MARGIN-TOP: 17px
}
TABLE.HP_table3_Home1 {
	MARGIN-TOP: 17px; MARGIN-BOTTOM: 17px
}
DIV.HI_left_bottom_text1 {
	PADDING-LEFT: 17px; PADDING-TOP: 17px
}
TD.Sn_image {
	PADDING-TOP: 10px
}
DIV.PH_tips_guide1 {
	PADDING-RIGHT: 17px; PADDING-LEFT: 17px; PADDING-TOP: 17px
}
DIV.PH_tips_guide_r {
	PADDING-RIGHT: 17px; PADDING-TOP: 17px
}
DIV.PH_tips_guide_more_info1 {
	PADDING-RIGHT: 17px; PADDING-LEFT: 17px; FONT-SIZE: 75%; PADDING-TOP: 17px; FONT-FAMILY: arial
}
DIV.level_0 {
	FONT-WEIGHT: bold; FONT-SIZE: 112.5%; FONT-FAMILY: arial
}
DIV.level_1 {
	FONT-WEIGHT: bold; FONT-SIZE: 87.25%; FONT-FAMILY: arial
}
DIV.level_2 {
	FONT-SIZE: 75%; FONT-FAMILY: arial
}
#sitemap UL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
#sitemap LI {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 10px; MARGIN: 0px 0px 0px 34px; PADDING-TOP: 0px
}
.sitemap_padding {
	PADDING-BOTTOM: 10px
}
DIV.PH_editorial_link1 {
	PADDING-RIGHT: 17px; PADDING-LEFT: 17px
}
DIV.PH_tips_guidance_link1 {
	PADDING-TOP: 2px
}
DIV.PH_tips_guide_more_info_b {
	FONT-SIZE: 75%; PADDING-TOP: 17px; FONT-FAMILY: ARIAL
}
A.PH_m_EDITORIAL_item1:link {
	COLOR: #616161; TEXT-DECORATION: underline
}
A.PH_m_EDITORIAL_item1:visited {
	COLOR: #878787; TEXT-DECORATION: underline
}
A.PH_m_EDITORIAL_item1:active {
	COLOR: #616161; TEXT-DECORATION: underline
}
A.PH_m_EDITORIAL_item1:hover {
	COLOR: #d5261e; TEXT-DECORATION: underline
}
UNKNOWN {
	PADDING-RIGHT: 17px
}
UNKNOWN {
	PADDING-LEFT: 17px
}
TD.Sn_imageleftmore1 {
	PADDING-TOP: 10px
}
TD.Sn_imagerightmore1 {
	PADDING-TOP: 10px
}
DIV.PH_tips_guidance_link_d {
	PADDING-RIGHT: 17px; PADDING-LEFT: 17px
}
DIV.PH_overseas_holiday1 {
	MARGIN-TOP: 17px; PADDING-LEFT: 17px; BACKGROUND-COLOR: #ffffff
}
.hp_prod_moreinfo {
	PADDING-LEFT: 17px; FONT-SIZE: 75%; PADDING-BOTTOM: 13px; FONT-FAMILY: arial
}
.hp_prod_callout {
	PADDING-RIGHT: 5px; PADDING-LEFT: 17px; PADDING-BOTTOM: 13px; PADDING-TOP: 12px
}
.hp_prod_head {
	PADDING-LEFT: 17px; PADDING-BOTTOM: 11px; BORDER-BOTTOM: #e0e0e0 1px solid
}
.hp_prod_button {
	PADDING-LEFT: 17px; PADDING-BOTTOM: 13px
}
TD.featured_prod_image1 {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; PADDING-TOP: 17px; BACKGROUND-COLOR: #ffffff
}
DIV.SL_WINE_OFFER_TEXT_TOP2 {
	PADDING-RIGHT: 12px; PADDING-LEFT: 17px; PADDING-BOTTOM: 14px; PADDING-TOP: 12px
}
DIV.PH_tips_guide_a {
	PADDING-RIGHT: 17px; PADDING-LEFT: 17px; PADDING-BOTTOM: 17px
}
DIV.PH_tips_guide_more_info_c {
	PADDING-LEFT: 17px; FONT-SIZE: 75%; FONT-FAMILY: arial
}
.HP_global {
	FILTER: progid:DXImageTransform.Microsoft.Gradient(endColorstr='#FFFFFF', startColorstr='#efefef', gradientType='0')
}
TABLE.HP_table_header {
	Z-INDEX: 200; PADDING-BOTTOM: 12px; PADDING-TOP: 10px; POSITION: relative
}
TD.HP_mainmenu {
	BORDER-RIGHT: #878787 1px solid; BORDER-TOP: #878787 1px solid; BORDER-LEFT: #878787 1px solid; BORDER-BOTTOM: #878787 1px solid
}
TABLE.HP_Image_table {
	MARGIN-TOP: 34px; MARGIN-LEFT: 24px
}
#HP_Quote_Button {
	PADDING-LEFT: 18px
}
DIV.HP_header_right {
	PADDING-BOTTOM: 10px; MARGIN-LEFT: 17px; WIDTH: 75px
}
DIV.HP_header_spacing {
	MARGIN-BOTTOM: 1px
}
A.HP_header_Alinks:link {
	FONT-SIZE: 70%; COLOR: #616161; FONT-FAMILY: Arial; TEXT-DECORATION: none
}
A.HP_header_Alinks:visited {
	FONT-SIZE: 70%; COLOR: #616161; FONT-FAMILY: Arial; TEXT-DECORATION: none
}
A.HP_header_Alinks:active {
	FONT-SIZE: 70%; COLOR: #616161; FONT-FAMILY: Arial; TEXT-DECORATION: none
}
A.HP_header_Alinks:hover {
	FONT-SIZE: 70%; COLOR: #616161; FONT-FAMILY: Arial; TEXT-DECORATION: underline
}
A.HP_header_groupsite_link:link {
	FONT-SIZE: 70%; COLOR: #d5261e; FONT-FAMILY: Arial; TEXT-DECORATION: none
}
A.HP_header_groupsite_link:visited {
	FONT-SIZE: 70%; COLOR: #d5261e; FONT-FAMILY: Arial; TEXT-DECORATION: none
}
A.HP_header_groupsite_links:active {
	FONT-SIZE: 70%; COLOR: #d5261e; FONT-FAMILY: Arial; TEXT-DECORATION: none
}
A.HP_header_groupsite_link:hover {
	FONT-SIZE: 70%; COLOR: #d5261e; FONT-FAMILY: Arial; TEXT-DECORATION: underline
}
.HP_table_bottomlinks {
	PADDING-BOTTOM: 19px; MARGIN-LEFT: 23px
}
UL.HP_bottom_ULlinks {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; LIST-STYLE-TYPE: none
}
.HP_bottomlinks_head {
	PADDING-LEFT: 18px; FONT-WEIGHT: bold; FONT-SIZE: 75%; PADDING-BOTTOM: 16px; COLOR: #616161; PADDING-TOP: 16px; BORDER-BOTTOM: #e0e0e0 1px solid; FONT-FAMILY: arial
}
.HP_bottomlinks_body {
	PADDING-LEFT: 18px; PADDING-TOP: 13px
}
.HP_bottomlinks_more {
	PADDING-LEFT: 18px; PADDING-TOP: 28px
}
TABLE.HP_table_footer {
	BORDER-TOP: #e0e0e0 1px solid
}
.HP_table_footer_schemed {
	BORDER-TOP: #e0e0e0 1px solid; MARGIN-TOP: 50px; MARGIN-LEFT: 20px
}
.footcopyright {
	PADDING-LEFT: 18px; COLOR: #878787; PADDING-TOP: 10px; FONT-FAMILY: Arial
}
.footNot {
	FONT-SIZE: 70%; COLOR: #878787; PADDING-TOP: 10px; FONT-FAMILY: Arial
}
.footselect {
	MARGIN-TOP: 11px; FONT-SIZE: 70%; WIDTH: 138px; COLOR: #3c3c3c; FONT-FAMILY: Arial
}
.footpadding {
	MARGIN-TOP: 5px
}
A.footAccess:link {
	FONT-SIZE: 70%; COLOR: #878787; FONT-FAMILY: Arial; TEXT-DECORATION: none
}
A.footAccess:visited {
	FONT-SIZE: 70%; COLOR: #878787; FONT-FAMILY: Arial; TEXT-DECORATION: none
}
A.footAccess:active {
	FONT-SIZE: 70%; COLOR: #878787; FONT-FAMILY: Arial; TEXT-DECORATION: none
}
A.footAccess:hover {
	FONT-SIZE: 70%; COLOR: #878787; FONT-FAMILY: Arial; TEXT-DECORATION: underline
}
A.HP_bottom_Alinks:link {
	FONT-SIZE: 70%; COLOR: #878787; FONT-FAMILY: Arial; TEXT-DECORATION: none
}
A.HP_bottom_Alinks:visited {
	FONT-SIZE: 70%; COLOR: #878787; FONT-FAMILY: Arial; TEXT-DECORATION: none
}
A.HP_bottom_Alinks:active {
	FONT-SIZE: 70%; COLOR: #878787; FONT-FAMILY: Arial; TEXT-DECORATION: none
}
A.HP_bottom_Alinks:hover {
	FONT-SIZE: 70%; COLOR: #878787; FONT-FAMILY: Arial; TEXT-DECORATION: underline
}
TABLE.HP_table_main {
	MARGIN-LEFT: 23px
}
UL.HI_from_margin {
	PADDING-RIGHT: 15px; FONT-SIZE: 75%; LIST-STYLE-IMAGE: url(../images/red_tick.png); COLOR: #616161; FONT-FAMILY: arial
}
#HI_LI_body LI {
	PADDING-LEFT: 12px; PADDING-BOTTOM: 15px
}
DIV.breadcrumb_homepage {
	HEIGHT: 44px
}
DIV.HI_breadcrumb {
	PADDING-LEFT: 18px; FONT-SIZE: 75%; PADDING-BOTTOM: 16px; COLOR: #878787; PADDING-TOP: 13px; FONT-FAMILY: arial
}
UL.left_nav {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; LIST-STYLE-TYPE: none
}
UL.left_nav1 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; LIST-STYLE-TYPE: none; BACKGROUND-COLOR: #ffffff
}
LI.HI_left_nav_personal_home {
	PADDING-LEFT: 18px; FONT-WEIGHT: bold; FONT-SIZE: 93.75%; PADDING-BOTTOM: 4px; WIDTH: 172px; PADDING-TOP: 4px; FONT-FAMILY: arial; BACKGROUND-COLOR: #c1c1c1
}
LI.HI_left_nav_home_insurance {
	PADDING-LEFT: 18px; FONT-WEIGHT: bold; FONT-SIZE: 75%; PADDING-BOTTOM: 3px; WIDTH: 172px; PADDING-TOP: 3px; FONT-FAMILY: arial; BACKGROUND-COLOR: #d6d6d6
}
LI.HI_left_nav {
	BORDER-RIGHT: #e8e8e8 1px solid; MARGIN-TOP: 1px; PADDING-LEFT: 18px; FONT-SIZE: 75%; BORDER-LEFT: #e8e8e8 1px solid; PADDING-TOP: 6px; BORDER-BOTTOM: #e8e8e8 1px solid; FONT-FAMILY: arial; HEIGHT: 31px
}
#left_nav LI A {
	BORDER-RIGHT: #e8e8e8 1px solid; MARGIN-TOP: 0px; DISPLAY: inline-block; FONT-SIZE: 75%; BORDER-LEFT: #e8e8e8 1px solid; WIDTH: 172px; FONT-FAMILY: arial; BACKGROUND-COLOR: #ffffff
}
#left_nav LI A:hover {
	FONT-WEIGHT: bold; BACKGROUND: #e8e8e8
}
DIV.HI_head {
	BORDER-RIGHT: #e0e0e0 1px solid; MARGIN-BOTTOM: 8px; MARGIN-LEFT: 8px; BORDER-LEFT: #e0e0e0 1px solid; MARGIN-RIGHT: 8px; BACKGROUND-COLOR: #ffffff
}
DIV.HI_head_home_insurance {
	PADDING-LEFT: 17px; FONT-WEIGHT: bold; FONT-SIZE: 137.5%; PADDING-BOTTOM: 10px; COLOR: #d5261e; PADDING-TOP: 5px; FONT-FAMILY: arial
}
DIV.HI_head_text {
	PADDING-LEFT: 17px; PADDING-BOTTOM: 11px
}
DIV.HI_body {
	BORDER-RIGHT: #e0e0e0 1px solid; BORDER-TOP: #e0e0e0 1px solid; MARGIN-LEFT: 8px; BORDER-LEFT: #e0e0e0 1px solid; MARGIN-RIGHT: 8px; BORDER-BOTTOM: #e0e0e0 1px solid; BACKGROUND-COLOR: #ffffff
}
DIV.HI_body_text {
	FONT-SIZE: 75%; MARGIN-BOTTOM: 17px; MARGIN-LEFT: 21px; COLOR: #616161; FONT-FAMILY: arial
}
DIV.HI_body_bottom {
	BORDER-RIGHT: #e0e0e0 1px solid; PADDING-RIGHT: 8px; BORDER-TOP: #e0e0e0 1px solid; MARGIN-TOP: 17px; PADDING-LEFT: 8px; PADDING-BOTTOM: 8px; MARGIN-LEFT: 8px; BORDER-LEFT: #e0e0e0 1px solid; MARGIN-RIGHT: 8px; PADDING-TOP: 8px; BORDER-BOTTOM: #e0e0e0 1px solid; BACKGROUND-COLOR: #ffffff
}
TD.HI_body_bottom_text {
	PADDING-LEFT: 9px; FONT-WEIGHT: bold; FONT-SIZE: 87.5%; COLOR: #d5261e; FONT-FAMILY: ARIAL
}
DIV.HI_right_link {
	BORDER-RIGHT: #e0e0e0 1px solid; BORDER-TOP: #e0e0e0 1px solid; MARGIN-BOTTOM: 17px; BORDER-LEFT: #e0e0e0 1px solid; BORDER-BOTTOM: #e0e0e0 1px solid; BACKGROUND-COLOR: #ffffff
}
DIV.HI_right_link_text {
	MARGIN-TOP: 17px; FONT-WEIGHT: bold; FONT-SIZE: 93.75%; MARGIN-BOTTOM: 17px; MARGIN-LEFT: 18px; COLOR: #d5261e; FONT-FAMILY: arial
}
DIV.HI_right_link_image {
	MARGIN-BOTTOM: 17px; MARGIN-LEFT: 18px
}
DIV.HI_right_link_call_us {
	BORDER-RIGHT: #e0e0e0 1px solid; BORDER-TOP: #e0e0e0 1px solid; BORDER-LEFT: #e0e0e0 1px solid; BORDER-BOTTOM: #e0e0e0 1px solid; BACKGROUND-COLOR: #d6d6d6
}
DIV.HI_right_help_box {
	BORDER-RIGHT: #e0e0e0 1px solid; BORDER-TOP: #e0e0e0 1px solid; MARGIN-TOP: 17px; BORDER-LEFT: #e0e0e0 1px solid; BORDER-BOTTOM: #e0e0e0 1px solid; BACKGROUND-COLOR: #ffffff
}
DIV.HI_right_need_help {
	PADDING-LEFT: 18px; FONT-WEIGHT: bold; FONT-SIZE: 81.25%; PADDING-BOTTOM: 12px; COLOR: #616161; PADDING-TOP: 16px; BORDER-BOTTOM: #e0e0e0 1px solid; FONT-FAMILY: arial
}
DIV.HI_right_need_help_text {
	PADDING-RIGHT: 17px; PADDING-LEFT: 17px; FONT-SIZE: 75%; FONT-FAMILY: arial
}
DIV.HI_left_bottom {
	BORDER-RIGHT: #e0e0e0 1px solid; BORDER-TOP: #e0e0e0 1px solid; MARGIN-TOP: 17px; BORDER-LEFT: #e0e0e0 1px solid; BORDER-BOTTOM: #e0e0e0 1px solid; BACKGROUND-COLOR: #ffffff
}
DIV.HI_left_bottom_text {
	PADDING-LEFT: 18px; FONT-WEIGHT: bold; FONT-SIZE: 75%; COLOR: #616161; PADDING-TOP: 17px; FONT-FAMILY: arial
}
DIV.HI_let_us_callyou {
	FONT-WEIGHT: bold; FONT-SIZE: 75%; MARGIN-BOTTOM: 12px; MARGIN-LEFT: 18px; FONT-FAMILY: ARIAL
}
DIV.HI_call_uson {
	MARGIN-TOP: 14px; FONT-WEIGHT: bold; FONT-SIZE: 100%; MARGIN-BOTTOM: 8px; MARGIN-LEFT: 18px; FONT-FAMILY: ARIAL
}
DIV.HI_phone_number {
	FONT-WEIGHT: bold; FONT-SIZE: 112.5%; MARGIN-BOTTOM: 9px; MARGIN-LEFT: 18px; FONT-FAMILY: ARIAL
}
A.HI_m_item:link {
	COLOR: #616161; BACKGROUND-COLOR: transparent; TEXT-DECORATION: none
}
A.HI_m_item:visited {
	COLOR: #878787; BACKGROUND-COLOR: transparent; TEXT-DECORATION: none
}
A.HI_m_item:active {
	COLOR: #616161; BACKGROUND-COLOR: transparent; TEXT-DECORATION: underline
}
A.HI_m_item:hover {
	COLOR: #878787; BACKGROUND-COLOR: transparent; TEXT-DECORATION: none
}
A.HI_m_body_item:link {
	COLOR: #616161; BACKGROUND-COLOR: transparent; TEXT-DECORATION: underline
}
A.HI_m_body_item:visited {
	COLOR: #878787; BACKGROUND-COLOR: transparent; TEXT-DECORATION: underline
}
A.HI_m_body_item:active {
	COLOR: #616161; BACKGROUND-COLOR: transparent; TEXT-DECORATION: underline
}
A.HI_m_body_item:hover {
	COLOR: #d5261e; BACKGROUND-COLOR: transparent; TEXT-DECORATION: underline
}
A.HI_m_let_us_call_item:link {
	COLOR: #616161; BACKGROUND-COLOR: transparent; TEXT-DECORATION: underline
}
A.HI_m_let_us_call_item:visited {
	COLOR: #878787; BACKGROUND-COLOR: transparent; TEXT-DECORATION: underline
}
A.HI_m_let_us_call_item:active {
	COLOR: #616161; BACKGROUND-COLOR: transparent; TEXT-DECORATION: underline
}
A.HI_m_let_us_call_item:hover {
	COLOR: #d5261e; BACKGROUND-COLOR: transparent; TEXT-DECORATION: underline
}
A.HI_m_need_help:link {
	COLOR: #616161; BACKGROUND-COLOR: transparent; TEXT-DECORATION: underline
}
A.HI_m_need_help:visited {
	COLOR: #878787; BACKGROUND-COLOR: transparent; TEXT-DECORATION: underline
}
A.HI_m_need_help:active {
	COLOR: #616161; BACKGROUND-COLOR: transparent; TEXT-DECORATION: underline
}
A.HI_m_need_help:hover {
	COLOR: #d5261e; BACKGROUND-COLOR: transparent; TEXT-DECORATION: underline
}
A.Header_title:link {
	COLOR: #616161; BACKGROUND-COLOR: transparent; TEXT-DECORATION: none
}
A.Header_title:visited {
	COLOR: #616161; BACKGROUND-COLOR: transparent; TEXT-DECORATION: none
}
A.Header_title:active {
	COLOR: #616161; BACKGROUND-COLOR: transparent; TEXT-DECORATION: none
}
A.Header_title:hover {
	BACKGROUND-COLOR: transparent; TEXT-DECORATION: underline
}
A.HI_m_breadcrumb:link {
	COLOR: #878787; BACKGROUND-COLOR: transparent; TEXT-DECORATION: underline
}
A.HI_m_breadcrumb:visited {
	COLOR: #878787; BACKGROUND-COLOR: transparent; TEXT-DECORATION: underline
}
A.HI_m_breadcrumb:active {
	COLOR: #878787; BACKGROUND-COLOR: transparent; TEXT-DECORATION: underline
}
A.HI_m_breadcrumb:hover {
	COLOR: #3c3c3c; BACKGROUND-COLOR: transparent; TEXT-DECORATION: underline
}
A.A_prod_footer:link {
	COLOR: #878787; BACKGROUND-COLOR: transparent; TEXT-DECORATION: none
}
A.A_prod_footer:visited {
	COLOR: #878787; BACKGROUND-COLOR: transparent; TEXT-DECORATION: none
}
A.A_prod_footer:active {
	COLOR: #878787; BACKGROUND-COLOR: transparent; TEXT-DECORATION: none
}
A.A_prod_footer:hover {
	COLOR: #878787; BACKGROUND-COLOR: transparent; TEXT-DECORATION: underline
}
DIV.PH_right_need_help_text {
	PADDING-RIGHT: 17px; PADDING-LEFT: 17px; FONT-SIZE: 75%; PADDING-BOTTOM: 15px; COLOR: #878787; PADDING-TOP: 15px; FONT-FAMILY: arial
}
TABLE.PH_topad {
	MARGIN-BOTTOM: 8px
}
A.PH_alink {
	MARGIN-TOP: 16px; FONT-SIZE: 14px; MARGIN-BOTTOM: 15px; COLOR: #000000; FONT-FAMILY: arial; TEXT-DECORATION: none
}
A.PH_blink {
	FONT-WEIGHT: bold; COLOR: #d5261e; FONT-FAMILY: arial; TEXT-DECORATION: none
}
A.PH_clink {
	FONT-SIZE: 14px; COLOR: #3c3c3c; FONT-FAMILY: arial; TEXT-DECORATION: none
}
A.PH_dlink {
	FONT-SIZE: 12px; COLOR: #616161; FONT-FAMILY: arial
}
A.PH_elink:link {
	FONT-SIZE: 12px; PADDING-BOTTOM: 1px; COLOR: #616161; FONT-FAMILY: arial; TEXT-DECORATION: underline
}
A.PH_elink:active {
	FONT-SIZE: 12px; PADDING-BOTTOM: 1px; COLOR: #616161; FONT-FAMILY: arial; TEXT-DECORATION: underline
}
A.PH_elink:visited {
	FONT-SIZE: 12px; PADDING-BOTTOM: 1px; COLOR: #878787; FONT-FAMILY: arial; TEXT-DECORATION: underline
}
A.PH_elink:hover {
	FONT-SIZE: 12px; PADDING-BOTTOM: 1px; COLOR: #d5261e; FONT-FAMILY: arial; TEXT-DECORATION: underline
}
A.PH_elink_xxm:link {
	FONT-SIZE: 12px; PADDING-BOTTOM: 24px; COLOR: #616161; FONT-FAMILY: arial; TEXT-DECORATION: underline
}
A.PH_elink_xxm:active {
	FONT-SIZE: 12px; PADDING-BOTTOM: 24px; COLOR: #000000; FONT-FAMILY: arial; TEXT-DECORATION: underline
}
A.PH_elink_xxm:visited {
	FONT-SIZE: 12px; PADDING-BOTTOM: 24px; COLOR: #878787; FONT-FAMILY: arial; TEXT-DECORATION: underline
}
A.PH_elink_xxm:hover {
	FONT-SIZE: 12px; PADDING-BOTTOM: 24px; COLOR: #d5261e; FONT-FAMILY: arial; TEXT-DECORATION: underline
}
A.HP_elink_calc:link {
	FONT-SIZE: 12px; COLOR: #616161; FONT-FAMILY: arial; TEXT-DECORATION: underline
}
A.HP_elink_calc:active {
	FONT-SIZE: 12px; COLOR: #616161; FONT-FAMILY: arial; TEXT-DECORATION: underline
}
A.HP_elink_calc:visited {
	FONT-SIZE: 12px; COLOR: #878787; FONT-FAMILY: arial; TEXT-DECORATION: underline
}
A.HP_elink_calc:hover {
	FONT-SIZE: 12px; COLOR: #d5261e; FONT-FAMILY: arial; TEXT-DECORATION: underline
}
A.HP_btn_image {
	PADDING-LEFT: 13px
}
TABLE.PH_ph {
	BORDER-RIGHT: #e0e0e0 1px solid; BORDER-TOP: #e0e0e0 1px solid; MARGIN-LEFT: 8px; BORDER-LEFT: #e0e0e0 1px solid; BORDER-BOTTOM: #e0e0e0 1px solid; BACKGROUND-COLOR: #ffffff
}
.PH_ph_top {
	MARGIN-LEFT: 8px
}
TD.margin-left {
	MARGIN-LEFT: 8px
}
DIV.PH_black_panel {
	MARGIN-TOP: 20px; MARGIN-BOTTOM: 22px; MARGIN-RIGHT: 21px
}
DIV.PH_black_panel_left_top {
	MARGIN-BOTTOM: 1px
}
DIV.PH_black_panel_left_bottom {
	MARGIN-TOP: 50px
}
DIV.PH_left_nav_ {
	FONT-WEIGHT: bold; FONT-SIZE: 15px; MARGIN-BOTTOM: 4px; PADDING-BOTTOM: 5px; PADDING-TOP: 7px; FONT-FAMILY: arial; HEIGHT: 34px; BACKGROUND-COLOR: #c1c1c1; TEXT-DECORATION: none
}
A.PH_link_quote_and_buy {
	PADDING-BOTTOM: 21px; PADDING-TOP: 24px; TEXT-DECORATION: none
}
A.PH_m_item {
	COLOR: #000000; TEXT-DECORATION: none
}
TABLE.PH_ex {
	MARGIN-TOP: 2px
}
DIV.PH_overseas_holiday {
	BORDER-RIGHT: #e0e0e0 1px solid; BORDER-TOP: #e0e0e0 1px solid; MARGIN-TOP: 17px; BORDER-LEFT: #e0e0e0 1px solid; WIDTH: 365px; BORDER-BOTTOM: #e0e0e0 1px solid; BACKGROUND-COLOR: #ffffff
}
DIV.PH_expatriate_homes {
	BORDER-RIGHT: #e0e0e0 1px solid; BORDER-TOP: #e0e0e0 1px solid; MARGIN-TOP: 17px; BORDER-LEFT: #e0e0e0 1px solid; WIDTH: 365px; BORDER-BOTTOM: #e0e0e0 1px solid; BACKGROUND-COLOR: #ffffff
}
DIV.PH_left_nav_personal_homes {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; MARGIN-BOTTOM: 2px; PADDING-BOTTOM: 5px; PADDING-TOP: 7px; FONT-FAMILY: arial; HEIGHT: 34px; BACKGROUND-COLOR: #d6d6d6; TEXT-DECORATION: none
}
DIV.PH_top_nav_personal_homes {
	BORDER-RIGHT: #e8e8e8 1px solid; BORDER-TOP: #e8e8e8 1px solid; MARGIN-TOP: 8px; PADDING-LEFT: 17px; FONT-WEIGHT: bold; FONT-SIZE: 87.5%; MARGIN-BOTTOM: 1px; PADDING-BOTTOM: 16px; MARGIN-LEFT: 8px; BORDER-LEFT: #e8e8e8 1px solid; COLOR: #3c3c3c; PADDING-TOP: 17px; BORDER-BOTTOM: #e8e8e8 1px solid; FONT-FAMILY: arial; BACKGROUND-COLOR: #ffffff
}
DIV.PH_bottom_left_nav_personal_homes {
	PADDING-RIGHT: 20px; MARGIN-TOP: 1px; FONT-SIZE: 75%; FONT-FAMILY: arial
}
DIV.PH_bottom_top_nav_personal_homes {
	PADDING-LEFT: 12px; FONT-WEIGHT: bold; FONT-SIZE: 75%; COLOR: #616161; PADDING-TOP: 19px; FONT-FAMILY: arial
}
DIV.PH_bottom_right_nav_personal_homes {
	FONT-SIZE: 75%; PADDING-BOTTOM: 24px; FONT-FAMILY: arial
}
A.PH_bottom_right_nav_personal_homes_panel {
	COLOR: #3c3c3c
}
DIV.PH_image {
	PADDING-LEFT: 17px; FONT-SIZE: 75%; PADDING-BOTTOM: 17px; FONT-FAMILY: arial
}
DIV.PH_overseas_holiday_head_text {
	PADDING-LEFT: 17px; PADDING-BOTTOM: 11px; BORDER-BOTTOM: #e0e0e0 1px solid
}
.PH_overseas_more_info {
	PADDING-LEFT: 17px
}
A.PH_quote_buy {
	PADDING-LEFT: 17px; PADDING-BOTTOM: 17px
}
A.PH_more_info {
	COLOR: #878787; FONT-FAMILY: ARIAL; TEXT-DECORATION: underline
}
SPAN.PH_more {
	PADDING-LEFT: 17px; FONT-SIZE: 75%
}
DIV.PH_client_feedback {
	FONT-SIZE: 12px; COLOR: #616161; PADDING-TOP: 17px; FONT-FAMILY: ARIAL
}
DIV.PH_tips_guide {
	PADDING-LEFT: 17px; FONT-SIZE: 12px; PADDING-BOTTOM: 17px; COLOR: #616161; FONT-FAMILY: ARIAL; BACKGROUND-COLOR: #ffffff
}
DIV.PH_client_feedback {
	PADDING-LEFT: 90px; FONT-SIZE: 12px; COLOR: #616161; PADDING-TOP: 17px
}
DIV.PH_client_feedbac_link {
	PADDING-LEFT: 90px; FONT-WEIGHT: bold; FONT-SIZE: 12px; PADDING-BOTTOM: 17px; PADDING-TOP: 2px; FONT-FAMILY: arial; TEXT-DECORATION: none
}
DIV.PH_tips_guidance_link {
	PADDING-LEFT: 17px; FONT-WEIGHT: bold; FONT-SIZE: 75%; PADDING-BOTTOM: 17px; PADDING-TOP: 2px; FONT-FAMILY: arial
}
DIV.PH_tips_guide_more_info {
	PADDING-LEFT: 17px; FONT-SIZE: 75%; PADDING-BOTTOM: 17px; FONT-FAMILY: ARIAL
}
DIV.PH_client_feedback_more_info {
	PADDING-LEFT: 90px; FONT-SIZE: 12px; PADDING-BOTTOM: 2px; FONT-FAMILY: ARIAL; TEXT-DECORATION: underline
}
DIV.PH_overseas_text {
	FONT-SIZE: 75%; COLOR: #616161; FONT-FAMILY: ARIAL
}
DIV.PH_client_tips {
	PADDING-TOP: 17px
}
DIV.PH_left_nav_personal_homes_cp {
	BORDER-RIGHT: #e8e8e8 1px solid; BORDER-TOP: #e8e8e8 1px solid; FONT-SIZE: 12px; PADDING-BOTTOM: 5px; BORDER-LEFT: #e8e8e8 1px solid; PADDING-TOP: 7px; BORDER-BOTTOM: #e8e8e8 1px solid; FONT-FAMILY: arial; HEIGHT: 34px; BACKGROUND-COLOR: transparent; TEXT-DECORATION: none
}
DIV.PH_buy_online {
	PADDING-LEFT: 17px; FONT-SIZE: 87.5%; PADDING-BOTTOM: 24px
}
DIV.PH_qb {
	PADDING-LEFT: 17px; PADDING-BOTTOM: 21px
}
TABLE.ph_overseas_nav {
	MARGIN-TOP: 17px; MARGIN-LEFT: 8px
}
TD.pg_two_editorial {
	BORDER-RIGHT: #e0e0e0 1px solid; BORDER-LEFT: #e0e0e0 1px solid; BACKGROUND-COLOR: #ffffff
}
SPAN.PH_left_nav_from_margin {
	MARGIN-LEFT: 18px
}
DIV.PH_left_nav_personal_homes_bottom {
	BORDER-RIGHT: #e8e8e8 1px solid; FONT-SIZE: 12px; PADDING-BOTTOM: 6px; BORDER-LEFT: #e8e8e8 1px solid; PADDING-TOP: 7px; BORDER-BOTTOM: #e8e8e8 1px solid; FONT-FAMILY: arial; HEIGHT: 34px; BACKGROUND-COLOR: transparent; TEXT-DECORATION: none
}
DIV.PH_left_nav_personal_homes_right {
	BORDER-RIGHT: #e8e8e8 1px solid; BORDER-TOP: #e8e8e8 1px solid; PADDING-LEFT: 17px; FONT-WEIGHT: bold; FONT-SIZE: 140%; PADDING-BOTTOM: 10px; MARGIN-LEFT: 8px; BORDER-LEFT: #e8e8e8 1px solid; COLOR: #d5261e; PADDING-TOP: 11px; BORDER-BOTTOM: #e8e8e8 1px solid; FONT-FAMILY: arial; BACKGROUND-COLOR: #ffffff
}
A.PH_m_body_item:link {
	COLOR: #616161; BACKGROUND-COLOR: transparent; TEXT-DECORATION: none
}
A.PH_m_body_item:visited {
	COLOR: #878787; BACKGROUND-COLOR: transparent; TEXT-DECORATION: none
}
A.PH_m_body_item:active {
	COLOR: #616161; BACKGROUND-COLOR: transparent; TEXT-DECORATION: none
}
A.PH_m_body_item:hover {
	COLOR: #d5261e; BACKGROUND-COLOR: transparent; TEXT-DECORATION: none
}
A.PH_m_body_item_head:link {
	COLOR: #3c3c3c; BACKGROUND-COLOR: transparent; TEXT-DECORATION: none
}
A.PH_m_body_item_head:visited {
	COLOR: #3c3c3c; BACKGROUND-COLOR: transparent; TEXT-DECORATION: none
}
A.PH_m_body_item_head:active {
	COLOR: #3c3c3c; BACKGROUND-COLOR: transparent; TEXT-DECORATION: none
}
A.PH_m_body_item_head:hover {
	COLOR: #3c3c3c; BACKGROUND-COLOR: transparent; TEXT-DECORATION: none
}
A.PH_m_body_items:link {
	COLOR: #616161; TEXT-DECORATION: none
}
A.PH_m_body_items:visited {
	COLOR: #616161; TEXT-DECORATION: none
}
A.PH_m_body_items:active {
	COLOR: #616161; TEXT-DECORATION: none
}
A.PH_m_body_items:hover {
	COLOR: #616161; TEXT-DECORATION: none
}
A.PH_m_EDITORIAL_item:link {
	COLOR: #616161; TEXT-DECORATION: underline
}
A.PH_m_EDITORIAL_item:visited {
	COLOR: #878787; TEXT-DECORATION: underline
}
A.PH_m_EDITORIAL_item:active {
	COLOR: #616161; TEXT-DECORATION: underline
}
A.PH_m_EDITORIAL_item:hover {
	COLOR: #d5261e; TEXT-DECORATION: underline
}
DIV.PH_editorial_link {
	PADDING-LEFT: 17px; PADDING-BOTTOM: 40px; PADDING-TOP: 36px
}
A.PH_m_items:link {
	COLOR: #000000; BACKGROUND-COLOR: transparent; TEXT-DECORATION: none
}
A.PH_m_items:visited {
	COLOR: #000000; BACKGROUND-COLOR: transparent; TEXT-DECORATION: none
}
A.PH_m_items:active {
	COLOR: #000000; BACKGROUND-COLOR: transparent; TEXT-DECORATION: none
}
A.PH_m_items:hover {
	COLOR: #000000; BACKGROUND-COLOR: transparent; TEXT-DECORATION: none
}
DIV.PH_left {
	MARGIN-TOP: 17px
}
DIV.PH_m_more_info {
	FONT-SIZE: 75%; PADDING-BOTTOM: 17px; MARGIN-LEFT: 17px; FONT-FAMILY: Arial
}
TD.HP_table_Gradient {
	FILTER: progid:DXImageTransform.Microsoft.Gradient(endColorstr='#FFFFFF', 

startColorstr='#efefef', gradientType='0')
}
#HP_homepageLinks {
	MARGIN: 17px 17px 234px 34px; BORDER-BOTTOM: #e0e0e0 1px solid; HEIGHT: 178px
}
.HP_linkSet_plain {
	WIDTH: 960px
}
.HP_linkSetBlock {
	BORDER-RIGHT: #e0e0e0 1px solid; PADDING-RIGHT: 17px; BORDER-TOP: #e0e0e0 1px solid; PADDING-LEFT: 17px; FONT-WEIGHT: bold; FONT-SIZE: 75%; FLOAT: left; PADDING-BOTTOM: 17px; BORDER-LEFT: #e0e0e0 1px solid; COLOR: #3c3c3c; PADDING-TOP: 17px; BORDER-BOTTOM: #e0e0e0 1px solid; FONT-FAMILY: arial
}
.HP_linkSetBlock UL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FLOAT: left; PADDING-BOTTOM: 0px; MARGIN: 0px; WIDTH: 178px; PADDING-TOP: 0px; LIST-STYLE-TYPE: none; TEXT-ALIGN: left
}
.HP_linkSetBlock LI {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FLOAT: left; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; LIST-STYLE-TYPE: none
}
.HP_linkSetBlock LI A {
	COLOR: #878787
}
A.HP_promo_hover:link {
	COLOR: #3c3c3c; BACKGROUND-COLOR: transparent; TEXT-DECORATION: none
}
A.HP_promo_hover:visited {
	COLOR: #3c3c3c; BACKGROUND-COLOR: transparent; TEXT-DECORATION: none
}
A.HP_promo_hover:active {
	COLOR: #3c3c3c; BACKGROUND-COLOR: transparent; TEXT-DECORATION: none
}
A.HP_promo_hover:hover {
	COLOR: #3c3c3c; BACKGROUND-COLOR: transparent; TEXT-DECORATION: none
}
A.HP_promo_readmore:link {
	COLOR: #616161; BACKGROUND-COLOR: transparent; TEXT-DECORATION: underline
}
A.HP_promo_readmore:visited {
	COLOR: #878787; BACKGROUND-COLOR: transparent; TEXT-DECORATION: underline
}
A.HP_promo_readmore:active {
	COLOR: #616161; BACKGROUND-COLOR: transparent; TEXT-DECORATION: underline
}
A.HP_promo_readmore:hover {
	COLOR: #d5261e; BACKGROUND-COLOR: transparent; TEXT-DECORATION: underline
}
#HP_Tabhome {
	PADDING-BOTTOM: 14px; BACKGROUND-COLOR: #ffffff
}
.HP_TabHome1 {
	PADDING-LEFT: 18px; FONT-WEIGHT: bold; FONT-SIZE: 87.5%; PADDING-BOTTOM: 15px; COLOR: #3c3c3c; PADDING-TOP: 15px; BORDER-BOTTOM: #e0e0e0 1px solid; FONT-FAMILY: arial
}
.HP_headtext3 {
	PADDING-RIGHT: 15px; MARGIN-TOP: 15px; PADDING-LEFT: 15px; FONT-WEIGHT: bold; FONT-SIZE: 75%; MARGIN-BOTTOM: 234px; PADDING-BOTTOM: 15px; COLOR: #3c3c3c; PADDING-TOP: 15px; BORDER-BOTTOM: #e0e0e0 1px solid; FONT-FAMILY: arial; HEIGHT: 178px
}
.HP_headtext3text1 {
	PADDING-RIGHT: 15px; PADDING-LEFT: 18px; FONT-SIZE: 75%; COLOR: #616161; PADDING-TOP: 15px; FONT-FAMILY: Arial
}
.HP_headtext3text2 {
	FONT-SIZE: 75%; COLOR: #616161; FONT-FAMILY: Arial Regular; HEIGHT: 15px
}
.HP_headtext3text3 {
	FONT-SIZE: 75%; COLOR: #616161; FONT-FAMILY: Arial Regular; HEIGHT: 15px
}
.HP_headtext3text4 {
	FONT-SIZE: 75%; COLOR: #616161; FONT-FAMILY: Arial Regular; HEIGHT: 15px
}
.HP_headtext3Quotes1 {
	FONT-SIZE: 75%; FONT-FAMILY: Arial Regular
}
.HP_headtext3Retrive {
	MARGIN-TOP: 17px; FONT-SIZE: 12px; MARGIN-BOTTOM: 10px; MARGIN-LEFT: 18px; COLOR: #878787; FONT-FAMILY: Arial; TEXT-DECORATION: underline
}
.HP_headtext3Moreinfo1 {
	FONT-SIZE: 75%; COLOR: #878787; FONT-FAMILY: Arial; TEXT-DECORATION: underline
}
.HP_headtext3Moreinfo2 {
	FONT-SIZE: 75%; COLOR: #878787; FONT-FAMILY: Arial; HEIGHT: 13px; TEXT-DECORATION: underline
}
.HP_headtext3Moreinfo3 {
	FONT-SIZE: 75%; COLOR: #878787; FONT-FAMILY: Arial; HEIGHT: 13px; TEXT-DECORATION: underline
}
.HP_headtext3Moreinfo4 {
	FONT-SIZE: 75%; COLOR: #878787; FONT-FAMILY: Arial; HEIGHT: 13px; TEXT-DECORATION: underline
}
.HP_headtext3Moreinfo5 {
	FONT-SIZE: 75%; COLOR: #878787; FONT-FAMILY: Arial; HEIGHT: 13px; TEXT-DECORATION: underline
}
.HP_headtext3Moreinfo6 {
	FONT-SIZE: 75%; COLOR: #878787; FONT-FAMILY: Arial; HEIGHT: 13px; TEXT-DECORATION: underline
}
LI.HVH_left_nav {
	PADDING-LEFT: 18px; FONT-WEIGHT: bold; FONT-SIZE: 75%; PADDING-BOTTOM: 3px; PADDING-TOP: 3px; FONT-FAMILY: arial; BACKGROUND-COLOR: #e8e8e8
}
DIV.HVH_top_head {
	BORDER-RIGHT: #e8e8e8 1px solid; BORDER-TOP: #e8e8e8 1px solid; PADDING-LEFT: 17px; FONT-WEIGHT: bold; FONT-SIZE: 137.5%; PADDING-BOTTOM: 10px; MARGIN-LEFT: 8px; BORDER-LEFT: #e8e8e8 1px solid; COLOR: #d5261e; MARGIN-RIGHT: 8px; PADDING-TOP: 10px; BORDER-BOTTOM: #e8e8e8 1px solid; FONT-FAMILY: arial; BACKGROUND-COLOR: #ffffff
}
DIV.HVH_top_head_2nd {
	BORDER-RIGHT: #e8e8e8 1px solid; BORDER-TOP: #e8e8e8 1px solid; PADDING-LEFT: 17px; FONT-WEIGHT: bold; FONT-SIZE: 87.5%; PADDING-BOTTOM: 13px; MARGIN: 3px 8px 1px; BORDER-LEFT: #e8e8e8 1px solid; COLOR: #000000; PADDING-TOP: 13px; BORDER-BOTTOM: #e8e8e8 1px solid; FONT-FAMILY: arial; BACKGROUND-COLOR: #ffffff
}
DIV.HVH_body_text_1 {
	PADDING-LEFT: 17px; FONT-SIZE: 75%; COLOR: #616161; PADDING-TOP: 17px; FONT-FAMILY: arial
}
DIV.HVH_body_head_text {
	PADDING-LEFT: 17px; FONT-WEIGHT: bold; FONT-SIZE: 87.5%; FONT-FAMILY: arial
}
UL.HVH_from_margin {
	PADDING-RIGHT: 15px; FONT-SIZE: 75%; LIST-STYLE-IMAGE: url(file:///C|/Documents%20and%20Settings/134407/Local%20Settings/Temporary%20Internet%20Files/Content.Outlook/OQ6LYVSE/images/red-dot.png); COLOR: #616161; FONT-FAMILY: arial
}
DIV.HVH_bottombox {
	BORDER-RIGHT: #e0e0e0 1px solid; BORDER-TOP: #e0e0e0 1px solid; MARGIN-TOP: 17px; MARGIN-LEFT: 8px; BORDER-LEFT: #e0e0e0 1px solid; WIDTH: 582px; MARGIN-RIGHT: 8px; BORDER-BOTTOM: #e0e0e0 1px solid; BACKGROUND-COLOR: #ffffff
}
DIV.HVH_bottombox_head {
	PADDING-LEFT: 17px; FONT-WEIGHT: bold; FONT-SIZE: 87.5%; PADDING-BOTTOM: 13px; COLOR: #3c3c3c; PADDING-TOP: 13px; BORDER-BOTTOM: #e0e0e0 1px solid; FONT-FAMILY: arial
}
DIV.HVH_bottombox_in_head {
	PADDING-LEFT: 17px; PADDING-BOTTOM: 17px; PADDING-TOP: 17px
}
DIV.HVH_bottombox_text {
	PADDING-LEFT: 17px; FONT-SIZE: 75%; COLOR: #616161; FONT-FAMILY: arial
}
TABLE.file_Border {
	PADDING-RIGHT: 17px
}
DIV.SL_WINE_OFFER_TEXT_TOP3 {
	PADDING-RIGHT: 12px; PADDING-LEFT: 17px; PADDING-BOTTOM: 14px; PADDING-TOP: 17px
}
DIV.HVH_pdf_link {
	PADDING-LEFT: 17px; FONT-SIZE: 75%; PADDING-BOTTOM: 17px; COLOR: #616161; PADDING-TOP: 13px; FONT-FAMILY: arial
}
DIV.HVH_bold_text {
	FONT-WEIGHT: bold; FONT-SIZE: 87.5%; COLOR: #3c3c3c; FONT-FAMILY: arial
}
DIV.HVH_ordinary_text {
	FONT-SIZE: 75%; COLOR: #616161; FONT-FAMILY: arial
}
DIV.HVH_padding {
	MARGIN-TOP: 17px; PADDING-LEFT: 17px
}
TD.HVH_quote_text {
	PADDING-LEFT: 5px
}
DIV.HVH_quote_text_2 {
	PADDING-LEFT: 18px; FONT-WEIGHT: bold; FONT-SIZE: 81.25%; PADDING-BOTTOM: 17px; COLOR: #616161; FONT-FAMILY: arial
}
DIV.HVH_right_link_text {
	MARGIN-TOP: 17px; FONT-WEIGHT: bold; FONT-SIZE: 93.75%; MARGIN-LEFT: 18px; COLOR: #d5261e; FONT-FAMILY: arial
}
TABLE.DC_table {
	BORDER-RIGHT: #e0e0e0 3px solid; BORDER-TOP: #e0e0e0 3px solid; MARGIN-BOTTOM: 17px; BORDER-LEFT: #e0e0e0 3px solid; BORDER-BOTTOM: #e0e0e0 3px solid; BORDER-COLLAPSE: collapse
}
TD.DC_table_head {
	BORDER-RIGHT: #ffffff 1px solid; PADDING-LEFT: 15px; FONT-WEIGHT: bold; FONT-SIZE: 87.5%; COLOR: #3c3c3c; FONT-FAMILY: arial; HEIGHT: 50px; BACKGROUND-COLOR: #e0e0e0
}
TD.DC_table_body {
	BORDER-RIGHT: #e0e0e0 1px solid; PADDING-RIGHT: 17px; BORDER-TOP: #e0e0e0 1px solid; PADDING-LEFT: 15px; FONT-SIZE: 75%; PADDING-BOTTOM: 10px; VERTICAL-ALIGN: text-top; BORDER-LEFT: #e0e0e0 1px solid; COLOR: #616161; PADDING-TOP: 10px; BORDER-BOTTOM: #e0e0e0 1px solid; FONT-FAMILY: arial
}
DIV.DC_scheme_image {
	BORDER-RIGHT: #e0e0e0 1px solid; BORDER-TOP: #e0e0e0 1px solid; PADDING-LEFT: 40px; MARGIN-BOTTOM: 17px; PADDING-BOTTOM: 15px; BORDER-LEFT: #e0e0e0 1px solid; PADDING-TOP: 15px; BORDER-BOTTOM: #e0e0e0 1px solid; BACKGROUND-COLOR: #ffffff
}
DIV.DC_scheme {
	PADDING-BOTTOM: 17px
}
DIV.HIC_body_text_1 {
	PADDING-RIGHT: 17px; PADDING-LEFT: 17px; FONT-SIZE: 75%; COLOR: #616161; PADDING-TOP: 17px; FONT-FAMILY: arial
}
.HIC_defacto_image {
	PADDING-RIGHT: 17px; PADDING-TOP: 17px
}
.HIC_select_quote {
	FONT-SIZE: 70%; MARGIN-LEFT: 17px; COLOR: #3c3c3c; FONT-FAMILY: arial; BACKGROUND-COLOR: #e0e0e0
}
DIV.HIC_bold_text {
	PADDING-LEFT: 17px; FONT-WEIGHT: bold; FONT-SIZE: 87.5%; PADDING-BOTTOM: 13px; COLOR: #3c3c3c; PADDING-TOP: 17px; FONT-FAMILY: arial
}
.HIC_compare_btn {
	PADDING-RIGHT: 6px
}
.HIC_table {
	BORDER-RIGHT: #e0e0e0 3px solid; BORDER-TOP: #e0e0e0 3px solid; MARGIN-TOP: 17px; MARGIN-BOTTOM: 17px; MARGIN-LEFT: 17px; BORDER-LEFT: #e0e0e0 3px solid; BORDER-BOTTOM: #e0e0e0 3px solid; BORDER-COLLAPSE: collapse
}
.HIC_dropdown {
	FONT-SIZE: 81.25%; MARGIN-LEFT: 11px; WIDTH: 354px; COLOR: #3c3c3c; FONT-FAMILY: Arial
}
.HIC_option_btn {
	PADDING-LEFT: 10px
}
#popup_content1 {
	PADDING-LEFT: 17px; PADDING-TOP: 17px
}
.HIC_tr_height {
	HEIGHT: 32px
}
TABLE.SL_TOP {
	MARGIN-TOP: 30px; MARGIN-LEFT: 32px
}
DIV.SL_right_nav_schemes_landing {
	BORDER-RIGHT: #e8e8e8 1px solid; BORDER-TOP: #e8e8e8 1px solid; BORDER-LEFT: #e8e8e8 1px solid; MARGIN-RIGHT: 8px; BORDER-BOTTOM: #e8e8e8 1px solid; FONT-FAMILY: arial; BACKGROUND-COLOR: #ffffff
}
DIV.SL_IOD {
	BORDER-RIGHT: #e8e8e8 1px solid; PADDING-RIGHT: 3px; BORDER-TOP: #e8e8e8 1px solid; PADDING-LEFT: 44px; PADDING-BOTTOM: 18px; MARGIN-LEFT: 8px; BORDER-LEFT: #e8e8e8 1px solid; PADDING-TOP: 20px; BORDER-BOTTOM: #e8e8e8 1px solid; FONT-FAMILY: arial; BACKGROUND-COLOR: #ffffff
}
TABLE.SL_right_nav {
	MARGIN-LEFT: 5px
}
DIV.SL_Home_INSURANCE {
	BORDER-RIGHT: #e8e8e8 1px solid; BORDER-TOP: #e8e8e8 1px solid; MARGIN-TOP: 6px; PADDING-LEFT: 17px; FONT-WEIGHT: bold; FONT-SIZE: 87.5%; MARGIN-BOTTOM: 1px; PADDING-BOTTOM: 17px; BORDER-LEFT: #e8e8e8 1px solid; COLOR: #3c3c3c; PADDING-TOP: 17px; BORDER-BOTTOM: #e8e8e8 1px solid; FONT-FAMILY: arial; BACKGROUND-COLOR: #ffffff
}
DIV.SL_right_nav_title {
	PADDING-LEFT: 17px; FONT-WEIGHT: bold; FONT-SIZE: 137.5%; PADDING-BOTTOM: 13px; COLOR: #d5261e; PADDING-TOP: 13px
}
DIV.SL_right_nav_text {
	PADDING-LEFT: 17px; FONT-WEIGHT: bold; FONT-SIZE: 75%; PADDING-BOTTOM: 17px; COLOR: #616161
}
DIV.SL_right_nav_top {
	PADDING-LEFT: 17px; FONT-WEIGHT: bold; FONT-SIZE: 75%; COLOR: #616161; PADDING-TOP: 17px; FONT-FAMILY: arial
}
DIV.SL_black_panel {
	PADDING-LEFT: 17px; PADDING-BOTTOM: 17px; PADDING-TOP: 25px
}
DIV.SL_right_nav_bottom {
	PADDING-RIGHT: 10px; FONT-SIZE: 75%; PADDING-BOTTOM: 25px; COLOR: #616161; PADDING-TOP: 25px; FONT-FAMILY: arial
}
DIV.SL_right_nav_quote {
	PADDING-LEFT: 17px; FONT-SIZE: 75%; PADDING-BOTTOM: 17px; FONT-FAMILY: arial
}
DIV.SL_qb {
	PADDING-LEFT: 17px; PADDING-BOTTOM: 17px
}
DIV.SL_BUSINESS {
	PADDING-LEFT: 17px; FONT-SIZE: 75%; PADDING-BOTTOM: 17px; FONT-FAMILY: arial
}
.SL_distance {
	PADDING-LEFT: 26px
}
A.SL_link_quote_and_buy {
	PADDING-BOTTOM: 11px; PADDING-TOP: 17px; TEXT-DECORATION: none
}
A.SL_btn_image {
	PADDING-LEFT: 17px
}
DIV.SL_BI {
	PADDING-LEFT: 17px
}
A.SL_link_text:link {
	FONT-SIZE: 12px; COLOR: #616161; FONT-FAMILY: arial; TEXT-DECORATION: underline
}
A.SL_link_text:active {
	FONT-SIZE: 12px; COLOR: #d5261e; FONT-FAMILY: arial; TEXT-DECORATION: underline
}
A.SL_link_text:visited {
	FONT-SIZE: 12px; COLOR: #878787; FONT-FAMILY: arial; TEXT-DECORATION: underline
}
A.SL_link_text:hover {
	FONT-SIZE: 12px; COLOR: #d5261e; FONT-FAMILY: arial; TEXT-DECORATION: underline
}
DIV.SL_WINE_OFFER_TEXT_TOP {
	PADDING-LEFT: 34px; PADDING-BOTTOM: 14px; PADDING-TOP: 17px; BORDER-BOTTOM: #e0e0e0 1px solid
}
DIV.SL_MORE_INFO {
	PADDING-LEFT: 17px; PADDING-BOTTOM: 17px
}
DIV.SL_LINK {
	PADDING-LEFT: 17px; FONT-SIZE: 75%; PADDING-BOTTOM: 17px; FONT-FAMILY: arial
}
DIV.SL_IPSUM {
	PADDING-RIGHT: 20px
}
DIV.SL_WINE_OFFER {
	PADDING-LEFT: 5px; PADDING-TOP: 5px
}
A.SL_quote_buy {
	PADDING-BOTTOM: 17px
}
TD.SL_Scheme {
	PADDING-LEFT: 17px; FONT-SIZE: 160%; PADDING-BOTTOM: 30px; COLOR: #616161; PADDING-TOP: 38px; FONT-FAMILY: arial
}
A.SL_m_body_item:link {
	COLOR: #878787; BACKGROUND-COLOR: transparent; TEXT-DECORATION: underline
}
A.SL_m_body_item:visited {
	COLOR: #878787; BACKGROUND-COLOR: transparent; TEXT-DECORATION: underline
}
A.SL_m_body_item:active {
	COLOR: #000000; BACKGROUND-COLOR: transparent; TEXT-DECORATION: underline
}
A.SL_m_body_item:hover {
	COLOR: #000000; BACKGROUND-COLOR: transparent; TEXT-DECORATION: underline
}
.PAZ_margin {
	MARGIN-LEFT: 32px
}
TD.PAZ_class1 {
	BORDER-RIGHT: #e0e0e0 1px solid; BORDER-TOP: #e0e0e0 1px solid; PADDING-LEFT: 17px; FONT-WEIGHT: bold; FONT-SIZE: 87.5%; PADDING-BOTTOM: 10px; BORDER-LEFT: #e0e0e0 1px solid; WIDTH: 32px; PADDING-TOP: 10px; BORDER-BOTTOM: #e0e0e0 1px solid; FONT-FAMILY: Arial; HEIGHT: 10px; BACKGROUND-COLOR: #ffffff
}
TD.PAZ_class1 A:link {
	COLOR: #000000; BACKGROUND-COLOR: #ffffff; TEXT-DECORATION: none
}
TD.PAZ_class1 A:visited {
	COLOR: #000000; BACKGROUND-COLOR: #ffffff; TEXT-DECORATION: none
}
TD.PAZ_class1 A:active {
	COLOR: #000000; BACKGROUND-COLOR: #ffffff; TEXT-DECORATION: none
}
TD.PAZ_class1 A:hover {
	COLOR: #000000; BACKGROUND-COLOR: #e0e0e0; TEXT-DECORATION: none
}
TD.PAZ_class2 {
	BORDER-RIGHT: #e0e0e0 1px solid; BORDER-TOP: #e0e0e0 1px solid; PADDING-LEFT: 17px; FONT-SIZE: 87.5%; PADDING-BOTTOM: 10px; BORDER-LEFT: #e0e0e0 1px solid; WIDTH: 32px; COLOR: #616161; PADDING-TOP: 10px; BORDER-BOTTOM: #e0e0e0 1px solid; FONT-FAMILY: Arial; HEIGHT: 10px; BACKGROUND-COLOR: #ffffff
}
TD.PAZ_class2 A:link {
	COLOR: #616161; BACKGROUND-COLOR: #ffffff; TEXT-DECORATION: none
}
TD.PAZ_class2 A:visited {
	COLOR: #616161; BACKGROUND-COLOR: #ffffff; TEXT-DECORATION: none
}
TD.PAZ_class2 A:active {
	COLOR: #616161; BACKGROUND-COLOR: #ffffff; TEXT-DECORATION: none
}
DIV.PAZ_backtop {
	PADDING-LEFT: 17px; FONT-SIZE: 75%; COLOR: #616161; PADDING-TOP: 25px; FONT-FAMILY: arial
}
TABLE.PAZ_margin1 {
	MARGIN-LEFT: 17px
}
DIV.PAZ_breadcrumb {
	PADDING-LEFT: 18px; FONT-SIZE: 75%; PADDING-BOTTOM: 17px; MARGIN-LEFT: 28px; COLOR: #878787; PADDING-TOP: 16px; FONT-FAMILY: arial; HEIGHT: 44px
}
DIV.PAZ_colblack {
	COLOR: #000000
}
A.PAZ_m_need_help:link {
	COLOR: #878787; BACKGROUND-COLOR: transparent; TEXT-DECORATION: underline
}
A.PAZ_m_need_help:visited {
	COLOR: #878787; BACKGROUND-COLOR: transparent; TEXT-DECORATION: underline
}
A.PAZ_m_need_help:active {
	COLOR: #878787; BACKGROUND-COLOR: transparent; TEXT-DECORATION: underline
}
A.PAZ_m_need_help:hover {
	COLOR: #000000; BACKGROUND-COLOR: transparent; TEXT-DECORATION: underline
}
A.PAZ_m_item:link {
	COLOR: #000000; BACKGROUND-COLOR: transparent; TEXT-DECORATION: none
}
A.PAZ_m_item:visited {
	COLOR: #000000; BACKGROUND-COLOR: transparent; TEXT-DECORATION: none
}
A.PAZ_m_item:active {
	COLOR: #000000; BACKGROUND-COLOR: transparent; TEXT-DECORATION: underline
}
A.PAZ_m_item:hover {
	COLOR: #000000; BACKGROUND-COLOR: transparent; TEXT-DECORATION: none
}
#PAZ_div UL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 75%; PADDING-BOTTOM: 0px; MARGIN: 0px; COLOR: #616161; PADDING-TOP: 0px; FONT-FAMILY: arial; LIST-STYLE-TYPE: none
}
#PAZ_div UL LI A:link {
	COLOR: #616161
}
#PAZ_div LI {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; LIST-STYLE-TYPE: none
}
.PAZ_main A:link {
	COLOR: #878787; BACKGROUND-COLOR: transparent; TEXT-DECORATION: underline
}
.PAZ_main A:visited {
	COLOR: #878787; BACKGROUND-COLOR: transparent; TEXT-DECORATION: underline
}
.PAZ_main A:active {
	COLOR: #878787; BACKGROUND-COLOR: transparent; TEXT-DECORATION: underline
}
.PAZ_main A:hover {
	COLOR: #878787; BACKGROUND-COLOR: transparent; TEXT-DECORATION: underline
}
DIV.PAZ_breadcrumb1 {
	BORDER-RIGHT: #e0e0e0 1px solid; PADDING-LEFT: 17px; PADDING-BOTTOM: 6px; MARGIN-LEFT: 8px; BORDER-LEFT: #e0e0e0 1px solid; PADDING-TOP: 6px; BACKGROUND-COLOR: #ffffff
}
DIV.margin-8px {
	MARGIN-BOTTOM: 8px; MARGIN-LEFT: 8px
}
DIV.PAZ_breadcrumb2 {
	BORDER-RIGHT: #e0e0e0 1px solid; PADDING-LEFT: 17px; MARGIN-BOTTOM: 1px; PADDING-BOTTOM: 11px; MARGIN-LEFT: 8px; BORDER-LEFT: #e0e0e0 1px solid; PADDING-TOP: 5px; BORDER-BOTTOM: #e0e0e0 1px solid; BACKGROUND-COLOR: #ffffff
}
DIV.PAZ_breadcrumb01 {
	BORDER-RIGHT: #e0e0e0 1px solid; PADDING-LEFT: 17px; FONT-WEIGHT: bold; FONT-SIZE: 93.75%; PADDING-BOTTOM: 4px; BORDER-LEFT: #e0e0e0 1px solid; WIDTH: 172px; PADDING-TOP: 4px; FONT-FAMILY: arial; BACKGROUND-COLOR: #c1c1c1
}
.PAZ_body {
	BORDER-RIGHT: #e0e0e0 1px solid; BORDER-TOP: #e0e0e0 1px solid; MARGIN-LEFT: 8px; BORDER-LEFT: #e0e0e0 1px solid; BACKGROUND-COLOR: #ffffff
}
.PAZ_headlink01 {
	PADDING-LEFT: 17px; FONT-WEIGHT: bold; FONT-SIZE: 87.5%; PADDING-BOTTOM: 25px; COLOR: #3c3c3c; PADDING-TOP: 25px; FONT-FAMILY: arial
}
.PAZ_text {
	PADDING-LEFT: 17px; FONT-SIZE: 75%; COLOR: #616161; PADDING-TOP: 17px; FONT-FAMILY: arial
}
DIV.CU_PRODUCT_ENQ {
	BORDER-RIGHT: #e8e8e8 1px solid; BORDER-TOP: #e8e8e8 1px solid; MARGIN-TOP: 8px; PADDING-LEFT: 17px; FONT-WEIGHT: bold; FONT-SIZE: 87.5%; PADDING-BOTTOM: 10px; BORDER-LEFT: #e8e8e8 1px solid; COLOR: #3c3c3c; MARGIN-RIGHT: 8px; PADDING-TOP: 10px; BORDER-BOTTOM: #e8e8e8 1px solid; FONT-FAMILY: arial; BACKGROUND-COLOR: #ffffff
}
TD.CU_button {
	PADDING-LEFT: 15px
}
DIV.CU_CONTACT {
	BORDER-RIGHT: #e8e8e8 1px solid; BORDER-TOP: #e8e8e8 1px solid; BORDER-LEFT: #e8e8e8 1px solid; MARGIN-RIGHT: 8px; BORDER-BOTTOM: #e8e8e8 1px solid; FONT-FAMILY: arial; BACKGROUND-COLOR: #ffffff
}
DIV.CU_GENERAL_ENQUIRIES {
	BORDER-RIGHT: #e8e8e8 1px solid; BORDER-TOP: #e8e8e8 1px solid; BORDER-LEFT: #e8e8e8 1px solid; MARGIN-RIGHT: 8px; BORDER-BOTTOM: #e8e8e8 1px solid; FONT-FAMILY: arial; BACKGROUND-COLOR: #ffffff
}
DIV.CU_BODY {
	PADDING-LEFT: 17px; FONT-SIZE: 75%; PADDING-BOTTOM: 17px; COLOR: #616161; FONT-FAMILY: ARIAL
}
DIV.CU_BODY_TOP {
	PADDING-LEFT: 17px; FONT-SIZE: 75%; PADDING-BOTTOM: 17px; COLOR: #616161; PADDING-TOP: 17px; FONT-FAMILY: ARIAL
}
DIV.CU_BODY_BOTTOM {
	PADDING-LEFT: 17px; FONT-WEIGHT: bold; FONT-SIZE: 75%; COLOR: #616161; FONT-FAMILY: ARIAL
}
DIV.CU_BODY_BOTTOM_ADDRESS {
	PADDING-BOTTOM: 17px
}
DIV.CU_BODY_POSTAL {
	PADDING-LEFT: 17px; FONT-SIZE: 75%; COLOR: #616161; FONT-FAMILY: ARIAL
}
DIV.CU_BODY_BOTTOM_UP {
	PADDING-LEFT: 17px; FONT-WEIGHT: bold; FONT-SIZE: 75%; PADDING-BOTTOM: 17px; COLOR: #616161; FONT-FAMILY: ARIAL
}
DIV.CU_BODY_BOTTOM_DOWN {
	PADDING-LEFT: 17px; FONT-SIZE: 75%; PADDING-BOTTOM: 17px; COLOR: #616161; PADDING-TOP: 15px; FONT-FAMILY: ARIAL
}
DIV.CU_PHONE_NO {
	FONT-WEIGHT: bold; FONT-SIZE: 75%; COLOR: #616161; FONT-FAMILY: ARIAL
}
DIV.CU_DAYS {
	FONT-SIZE: 75%; COLOR: #616161; FONT-FAMILY: ARIAL
}
A.CU_EMAIL {
	FONT-WEIGHT: bold; COLOR: #616161; FONT-FAMILY: ARIAL; TEXT-DECORATION: underline
}
A.CU_enquiry {
	COLOR: #616161; FONT-FAMILY: ARIAL; TEXT-DECORATION: underline
}
DIV.CU_PHONE {
	PADDING-LEFT: 15px; FONT-SIZE: 75%; COLOR: #616161; FONT-FAMILY: ARIAL
}
DIV.CU_POSTAL {
	PADDING-LEFT: 17px; FONT-SIZE: 75%; COLOR: #616161; FONT-FAMILY: ARIAL
}
DIV.CU_GENERAL {
	PADDING-BOTTOM: 10px
}
DIV.CU_RIGHT_NAV_BOTTOM {
	BORDER-RIGHT: #e8e8e8 1px solid; BORDER-TOP: #e8e8e8 1px solid; BORDER-LEFT: #e8e8e8 1px solid; BORDER-BOTTOM: #e8e8e8 1px solid; FONT-FAMILY: arial; TEXT-DECORATION: underline
}
DIV.CU_RIGHT_NAV {
	MARGIN-TOP: 8px
}
A.CU_m_item:link {
	COLOR: #616161; TEXT-DECORATION: underline
}
A.CU_m_item:visited {
	COLOR: black; TEXT-DECORATION: underline
}
A.CU_m_item:active {
	COLOR: black; TEXT-DECORATION: underline
}
A.CU_m_item:hover {
	COLOR: black; TEXT-DECORATION: underline
}
A.CU_m_item:link {
	COLOR: #616161; BACKGROUND-COLOR: #ffffff; TEXT-DECORATION: underline
}
A.CU_m_item:visited {
	COLOR: #878787; BACKGROUND-COLOR: #ffffff; TEXT-DECORATION: underline
}
A.CU_m_item:active {
	COLOR: #878787; BACKGROUND-COLOR: #ffffff; TEXT-DECORATION: underline
}
A.CU_m_item:hover {
	COLOR: #d5261e; BACKGROUND-COLOR: #ffffff; TEXT-DECORATION: underline
}
DIV.CU_RN {
	BORDER-RIGHT: #e8e8e8 1px solid; BORDER-TOP: #e8e8e8 1px solid; BORDER-LEFT: #e8e8e8 1px solid; BORDER-BOTTOM: #e8e8e8 1px solid; BACKGROUND-COLOR: #ffffff
}
DIV.CU_UK {
	PADDING-RIGHT: 17px; PADDING-LEFT: 17px; FONT-SIZE: 75%; PADDING-BOTTOM: 17px; COLOR: #616161; PADDING-TOP: 17px
}
DIV.CU_INFO {
	PADDING-RIGHT: 17px; PADDING-LEFT: 17px; FONT-SIZE: 75%; PADDING-BOTTOM: 17px
}
DIV.CU_GROUP {
	PADDING-RIGHT: 17px; PADDING-LEFT: 17px; PADDING-TOP: 17px
}
DIV.CU_GROUP_CONTACT {
	MARGIN-BOTTOM: 1px
}
DIV.CU_GROUP_CONTACT_BOX {
	BORDER-RIGHT: #e0e0e0 1px solid; BORDER-TOP: #e0e0e0 1px solid; BORDER-LEFT: #e0e0e0 1px solid; MARGIN-RIGHT: 8px; BORDER-BOTTOM: #e0e0e0 1px solid; BACKGROUND-COLOR: #ffffff
}
DIV.CU_breadcrumb {
	PADDING-LEFT: 18px; FONT-SIZE: 75%; PADDING-BOTTOM: 10px; COLOR: #878787; PADDING-TOP: 16px; FONT-FAMILY: arial
}
.Product_select {
	FONT-SIZE: 70%; WIDTH: 354px; COLOR: #000000; FONT-FAMILY: Arial Regular; HEIGHT: 30px
}
DIV.CU_TEXT {
	PADDING-LEFT: 14px
}
TABLE.CU_TOP {
	MARGIN-LEFT: 32px
}
DIV.CU_right_need_help {
	PADDING-RIGHT: 15px; PADDING-LEFT: 18px; FONT-WEIGHT: bold; FONT-SIZE: 81.25%; PADDING-BOTTOM: 12px; COLOR: #616161; PADDING-TOP: 16px; BORDER-BOTTOM: #e0e0e0 1px solid; FONT-FAMILY: arial
}
A.CU_CONTACT_INFO:link {
	COLOR: #878787; BACKGROUND-COLOR: transparent; TEXT-DECORATION: underline
}
A.CU_CONTACT_INFO:visited {
	COLOR: #878787; BACKGROUND-COLOR: transparent; TEXT-DECORATION: underline
}
A.CU_CONTACT_INFO:active {
	COLOR: #878787; BACKGROUND-COLOR: transparent; TEXT-DECORATION: underline
}
A.CU_CONTACT_INFO:hover {
	COLOR: #d5261e; BACKGROUND-COLOR: transparent; TEXT-DECORATION: underline
}
SPAN.CU_bold {
	FONT-WEIGHT: bold
}
.broker_div {
	FLOAT: left; WIDTH: 400px
}
.broker_img {
	FLOAT: left; PADDING-TOP: 17px
}
#Pagetitlemain {
	FLOAT: left; MARGIN: 0px; WIDTH: 583px
}
#Displaytitlemain {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FLOAT: left; PADDING-BOTTOM: 0px; MARGIN: 0px; WIDTH: 583px; PADDING-TOP: 0px
}
#Pagetitlemiddle {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BACKGROUND: url(../images/HI_headlinebox_middlebg.gif) repeat-y; FLOAT: left; PADDING-BOTTOM: 0px; MARGIN: 0px; WIDTH: 583px; PADDING-TOP: 0px
}
#PAZPagetitlemain {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FLOAT: left; PADDING-BOTTOM: 0px; MARGIN: 0px; WIDTH: 192px; PADDING-TOP: 0px
}
#PAZPagetitlemiddle {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FLOAT: left; PADDING-BOTTOM: 0px; MARGIN: 0px; WIDTH: 192px; PADDING-TOP: 0px
}
#PAZMainpagetitle {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FLOAT: left; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
#PAZMiddlepage {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FLOAT: left; PADDING-BOTTOM: 0px; MARGIN: 0px; WIDTH: 593px; PADDING-TOP: 0px
}
#WiderhPagetitlemain {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FLOAT: left; PADDING-BOTTOM: 0px; MARGIN: 0px; WIDTH: 782px; PADDING-TOP: 0px
}
#WiderhDisplaytitlemain {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BACKGROUND: url(../images/RHN_whitebox_middleline.gif) repeat-y; FLOAT: left; PADDING-BOTTOM: 0px; MARGIN: 0px; WIDTH: 782px; PADDING-TOP: 0px
}
.Secondaycontentboreder {
	BORDER-TOP: #e0e0e0 1px solid; MARGIN: 0px
}
#Rightbox {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FLOAT: left; PADDING-BOTTOM: 0px; WIDTH: 171px; PADDING-TOP: 0px
}
#Rightboxmiddlebg {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BACKGROUND: url(../images/RHN_whitebox_middleline.gif) repeat-y; FLOAT: left; PADDING-BOTTOM: 0px; MARGIN: 0px; WIDTH: 171px; PADDING-TOP: 0px
}
#Rightboxmiddlebg1 {
	BORDER-RIGHT: #e8e8e8 1px solid; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BACKGROUND: url(../images/RHN_whitebox_middleline.gif) #ffffff repeat-y; FLOAT: left; PADDING-BOTTOM: 12px; MARGIN: 0px; BORDER-LEFT: #e8e8e8 1px solid; WIDTH: 169px; PADDING-TOP: 0px
}
.Rightgryboxbg {
	BORDER-RIGHT: #e8e8e8 1px solid; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FLOAT: left; PADDING-BOTTOM: 0px; MARGIN: 0px; BORDER-LEFT: #e8e8e8 1px solid; WIDTH: 169px; PADDING-TOP: 0px; BACKGROUND-COLOR: #d6d6d6
}
#WiderhDisplaytitlemain1 {
	BORDER-RIGHT: #e8e8e8 1px solid; PADDING-RIGHT: 0px; BORDER-TOP: #e8e8e8 1px solid; PADDING-LEFT: 0px; FLOAT: left; PADDING-BOTTOM: 0px; MARGIN: 0px; BORDER-LEFT: #e8e8e8 1px solid; WIDTH: 781px; PADDING-TOP: 0px; BACKGROUND-COLOR: #ffffff
}
#WiderhDisplaytitlemain2 {
	BORDER-RIGHT: #e8e8e8 1px solid; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FLOAT: left; PADDING-BOTTOM: 0px; MARGIN: 0px; BORDER-LEFT: #e8e8e8 1px solid; WIDTH: 781px; PADDING-TOP: 0px; BACKGROUND-COLOR: #ffffff
}
#Pgtwocolmiddle {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FLOAT: left; PADDING-BOTTOM: 0px; MARGIN: 0px; WIDTH: 367px; PADDING-TOP: 0px
}
#leftcol {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FLOAT: left; PADDING-BOTTOM: 0px; MARGIN: 0px; WIDTH: 192px; PADDING-TOP: 17px
}
.product-selector-main-content {
	WIDTH: 365px; PADDING-TOP: 8px
}
.product-selector-product-group {
	PADDING-LEFT: 14px; PADDING-BOTTOM: 14px; PADDING-TOP: 15px
}
.product-selector-product {
	PADDING-BOTTOM: 6px
}
.product-selector-heading {
	PADDING-LEFT: 17px; PADDING-BOTTOM: 12px; BORDER-BOTTOM: #e0e0e0 1px solid
}
.tooltip {
	DISPLAY: inline; Z-INDEX: 24; POSITION: relative; TEXT-DECORATION: none
}
.tooltip:active {
	DISPLAY: inline; Z-INDEX: 24; POSITION: relative; TEXT-DECORATION: none
}
.tooltip:link {
	DISPLAY: inline; Z-INDEX: 24; POSITION: relative; TEXT-DECORATION: none
}
.tooltip:visited {
	DISPLAY: inline; Z-INDEX: 24; POSITION: relative; TEXT-DECORATION: none
}
.tooltip:hover {
	Z-INDEX: 25; TEXT-DECORATION: none
}
.tooltip .show {
	DISPLAY: none
}
.tooltip:hover .show {
	PADDING-RIGHT: 1em; DISPLAY: block; PADDING-LEFT: 1em; FONT-SIZE: 0.8em; Z-INDEX: 30; MIN-HEIGHT: 3em; LEFT: -337px; PADDING-BOTTOM: 1em; WIDTH: 300px; COLOR: #616161; PADDING-TOP: 1em; POSITION: absolute; TOP: -22px; TEXT-ALIGN: left
}
.rounded-box-container P {
	MARGIN: -15px 10px 0px
}
.rounded-box-container P {
	PADDING-BOTTOM: 0.5em
}
 HTML .rounded-box-container P {
	MARGIN-TOP: 0px
}
.rounded-box-container H2 {
	PADDING-LEFT: 10px; PADDING-TOP: 0.5em
}
.rounded-box-container {
	BACKGROUND: none transparent scroll repeat 0% 0%; MARGIN: 1em
}
.rounded-box-container EM {
	BORDER-TOP: transparent 12px dotted; DISPLAY: inline-block; LEFT: 273px; OVERFLOW: hidden; BORDER-LEFT: #616161 12px solid; WIDTH: 0px; COLOR: white; BORDER-BOTTOM: transparent 12px dotted; POSITION: relative; HEIGHT: 0px
}
 HTML .rounded-box-container EM {
	WIDTH: 0px; HEIGHT: 0px
}
.rounded-box-container SPAN {
	BORDER-TOP: transparent 12px dotted; DISPLAY: inline-block; LEFT: 260px; OVERFLOW: hidden; BORDER-LEFT: white 12px solid; WIDTH: 0px; COLOR: white; BORDER-BOTTOM: transparent 12px dotted; POSITION: relative; HEIGHT: 0px
}
 HTML .rounded-box-container SPAN {
	WIDTH: 0px; HEIGHT: 0px
}
.rounded-box-step-1 {
	DISPLAY: block; FONT-SIZE: 0px; OVERFLOW: hidden
}
.rounded-box-step-2 {
	DISPLAY: block; FONT-SIZE: 0px; OVERFLOW: hidden
}
.rounded-box-step-3 {
	DISPLAY: block; FONT-SIZE: 0px; OVERFLOW: hidden
}
.rounded-box-step-4 {
	DISPLAY: block; FONT-SIZE: 0px; OVERFLOW: hidden
}
.rounded-box-step-5 {
	DISPLAY: block; FONT-SIZE: 0px; OVERFLOW: hidden
}
.rounded-box-step-6 {
	DISPLAY: block; FONT-SIZE: 0px; OVERFLOW: hidden
}
.rounded-box-step-7 {
	DISPLAY: block; FONT-SIZE: 0px; OVERFLOW: hidden
}
.rounded-box-step-1 {
	HEIGHT: 1px
}
.rounded-box-step-2 {
	HEIGHT: 1px
}
.rounded-box-step-3 {
	HEIGHT: 1px
}
.rounded-box-step-4 {
	HEIGHT: 1px
}
.rounded-box-step-5 {
	HEIGHT: 1px
}
.rounded-box-step-6 {
	HEIGHT: 1px
}
.rounded-box-step-2 {
	BORDER-RIGHT: #616161 1px solid; BACKGROUND: #ccc; BORDER-LEFT: #616161 1px solid
}
.rounded-box-step-3 {
	BORDER-RIGHT: #616161 1px solid; BACKGROUND: #ccc; BORDER-LEFT: #616161 1px solid
}
.rounded-box-step-4 {
	BORDER-RIGHT: #616161 1px solid; BACKGROUND: #ccc; BORDER-LEFT: #616161 1px solid
}
.rounded-box-step-5 {
	BORDER-RIGHT: #616161 1px solid; BACKGROUND: #ccc; BORDER-LEFT: #616161 1px solid
}
.rounded-box-step-6 {
	BORDER-RIGHT: #616161 1px solid; BACKGROUND: #ccc; BORDER-LEFT: #616161 1px solid
}
.rounded-box-step-7 {
	BORDER-RIGHT: #616161 1px solid; BACKGROUND: #ccc; BORDER-LEFT: #616161 1px solid
}
.rounded-box-step-1 {
	BACKGROUND: #616161; MARGIN: 0px 8px
}
.rounded-box-step-2 {
	BORDER-TOP-WIDTH: 0px; BORDER-LEFT-WIDTH: 2px; BACKGROUND: white; BORDER-BOTTOM-WIDTH: 0px; MARGIN: 0px 6px; BORDER-RIGHT-WIDTH: 2px
}
.rounded-box-step-3 {
	BORDER-TOP-WIDTH: 0px; BORDER-LEFT-WIDTH: 2px; BACKGROUND: white; BORDER-BOTTOM-WIDTH: 0px; MARGIN: 0px 4px; BORDER-RIGHT-WIDTH: 2px
}
.rounded-box-step-4 {
	BORDER-TOP-WIDTH: 0px; BORDER-LEFT-WIDTH: 2px; BACKGROUND: white; BORDER-BOTTOM-WIDTH: 0px; MARGIN: 0px 3px; BORDER-RIGHT-WIDTH: 2px
}
.rounded-box-step-5 {
	BORDER-TOP-WIDTH: 0px; BORDER-LEFT-WIDTH: 2px; BACKGROUND: white; BORDER-BOTTOM-WIDTH: 0px; MARGIN: 0px 2px; BORDER-RIGHT-WIDTH: 2px
}
.rounded-box-step-6 {
	BORDER-TOP-WIDTH: 0px; BORDER-LEFT-WIDTH: 1px; BACKGROUND: white; BORDER-BOTTOM-WIDTH: 0px; MARGIN: 0px 2px; BORDER-RIGHT-WIDTH: 1px
}
.rounded-box-step-7 {
	BORDER-TOP-WIDTH: 0px; BORDER-LEFT-WIDTH: 1px; BACKGROUND: white; BORDER-BOTTOM-WIDTH: 0px; MARGIN: 0px 1px; HEIGHT: 2px; BORDER-RIGHT-WIDTH: 1px
}
.rounded-box-content {
	BORDER-RIGHT: #616161 1px solid; BORDER-TOP: #616161 0px solid; DISPLAY: block; BACKGROUND: white; BORDER-LEFT: #616161 1px solid; BORDER-BOTTOM: #616161 0px solid
}
.rounded-box-content P {
	FONT-SIZE: 100%; POSITION: relative; TOP: -5px
}
/*new classes for USDC Home page*/

.mainmenu1 {
	BORDER-RIGHT: #878787 1px solid; BORDER-TOP: #878787 1px solid; BORDER-LEFT: #878787 1px solid; BORDER-BOTTOM: #878787 1px solid;
width:162px;_width:auto;
}
.mainmenu2 {
	BORDER-RIGHT: #878787 1px solid; BORDER-TOP: #878787 1px solid; BORDER-LEFT: #878787 1px solid; BORDER-BOTTOM: #878787 1px solid;
width:162px;_width:auto;
}
.sideNavRightImageSmall {
	MARGIN-TOP: -207px; RIGHT: 6px; WIDTH: 772px; POSITION: relative; HEIGHT: 206px
}

.footer-dropdown-box{ padding-left:18px; float:left;padding-bottom:2px;}
.footer-dropdown-box label{font-size:11px; color:#9f9f9f; font-family:Arial, Helvetica, sans-serif;}
.footer-dropdown-box select{font-size:11px; color:#6e6b7a; width:138px; border:1px solid #7f9db9; vertical-align:middle; margin-top:-2px;*margin-top:0px;font-family:Arial, Helvetica, sans-serif;}

.logo-pos a img{margin-bottom:-30px;}
/*FR2 changes for product footer starts here*/
.product_footer {clear: both;margin: 10px auto 0 auto;padding: 0em 0 0em 0;width: 960px;}
 .product_footer  ul{ background-color:#e8e8e8; float:left;display:inline-block;list-style:none;margin:0;padding:0 0 16px 0;}
.product_footer ul li{width:240px;float:left;margin:0;padding:0;}
.product_footer ul li h3{font-weight:bold;}
.product_footer ul li p{padding-right:15px;}
/*FR2 changes for product footer ends here*/

/* Travel site topnav styles */
body{font-family:Arial,Sans-Serif}
.topmenu{margin:5px 0 9px 0;float:right;clear:both}
.topmenu-links-twoline{color:#616161;display:inline-block;font-size:15px;font-weight:bold;margin:4px 0 5px;padding-bottom:3px;text-decoration:none;vertical-align:middle;width:95%}
.topmenu li.menulist,.topmenu li.menulist-sel{border-bottom:1px solid #e0e0e0;border-left:1px solid #e0e0e0;border-top:1px solid #e0e0e0;cursor:pointer;display:inline;float:left;height:43px;list-style-type:none;position:relative;text-align:center;width:161px;z-index:25}
.topmenu li.menulist .topmenu-links,.topmenu li.menulist-sel .topmenu-links{text-decoration:none;font-size:15px;font-weight:bold;color:#616161;vertical-align:middle;margin:11px 0 10px 0;padding-bottom:3px;display:inline-block;width:95%}
.firstitem{border-top:1px solid #e0e0e0;-webkit-border-top-left-radius:8px;-moz-border-radius-topleft:8px;-webkit-border-bottom-left-radius:8px;-moz-border-radius-bottomleft:8px;border-top-left-radius:8px;border-bottom-left-radius:8px;}
.lastitem{border-right:1px solid #e0e0e0;-webkit-border-top-right-radius:8px;-moz-border-radius-topright:8px;-webkit-border-bottom-right-radius:8px;-moz-border-radius-bottomright:8px;border-top-right-radius:8px;border-bottom-right-radius:8px;}
.menulist-sel,.menulist:hover{background-color:#d9d9d9;z-index:25;text-decoration:none}
.menulist,.menulist:active,.menulist:link,.menulist:visited{position:relative;z-index:24;text-decoration:none;display:inline}
.mainmenu-leftcurve,.mainmenu-rightcurve,.mainmenu-leftcurve-over,.mainmenu-rightcurve-over,.hide-style,.calendar .emptyrow{display:none}
.submenu{list-style:none;position:absolute;left:-9990px;top:43px;clear:both;width:221px;z-index:30;border:1px solid #e0e0e0;-webkit-border-top-right-radius:8px;-moz-border-radius-topright:8px;-webkit-border-bottom-left-radius:8px;-moz-border-radius-bottomleft:8px;-webkit-border-bottom-right-radius:8px;-moz-border-radius-bottomright:8px;border-top-right-radius:8px;border-bottom-left-radius:8px;border-bottom-right-radius:8px;background-color:#f0f0f0;padding:0}
.submenu ul{list-style:none;width:100%;background-color:#f0f0f0;padding:0}
.submenu li{text-align:left;padding:6px 5px 6px 13px;margin:2px 3px 2px 3px;list-style:none}
.menulinks{font-size:12px;font-weight:normal;color:#3c3c3c;text-decoration:none;padding:4px 0 4px 0}
.submenu li:hover{background-color:#e0e0e0;-webkit-border-radius:5px;-moz-border-radius:5px;border-radius:5px;}
.submenu li:hover .menulinks,.leftmenulinks-sel,.main-link,.leftmenulinks-sel-nobg,.leftmenu-listitem-sel3 .leftmenulinks-sel{font-weight:bold}
.show-style{display:block}
.menulist:hover .submenu,.menulist-sel:hover .submenu,.menulist a:focus+.submenu,.menulist-sel a:focus+.submenu,.menulist .submenu:focus,.menulist-sel .submenu:focus{left:0}
.topmenu-tabs6 li.menulist,.topmenu-tabs6 li.menulist-sel{width:113px}
.topmenu-tabs5 li.menulist,.topmenu-tabs5 li.menulist-sel{width:135px}
.topmenu-tabs4 li.menulist,.topmenu-tabs4 li.menulist-sel{width:161px}
.topmenu-tabs3 li.menulist,.topmenu-tabs3 li.menulist-sel{width:200px}

/* Styles for Google search */
.Header_image+td{width:702px !important;width:695px\9 !important;*width:690px !important;}
.Header_image+td+td{width:163px !important;}
.topmenu{padding:0}
.Header_image{padding-left:15px;}
.logo-pos a img {margin-bottom: -9px;margin-bottom: -11px\9;*margin-bottom: -3px;}
#cse-search-form{top:-6px; margin-bottom:-3px; right:-70px !important;}
TABLE.HP_table_header{margin-top:-2px;margin-top:-0px\9;padding-top:0;}
DIV.HP_header_right{margin-left:18px;}
input.gsc-search-button{margin-left:6px !important;}
.left_promo_link .youtube {margin-left:-18px;}
.left_promo_link .youtube>img {margin-top:10px;}
.header-social ul li{display:inline;margin-right:5px;}
.header-social ul{*margin:0;}

/* Styles for Quote Box */
select{margin:0;padding:0;border:0;outline:0;font-weight:inherit;font-style:inherit;font-size:1em;font-family:inherit;vertical-align:baseline}:focus{outline:0}
.quote-box .btn-getquote,.quote-box-content .btn-getquote,.header ul.sb-panel li,.ui-tooltip,.header-info #site-search,.quote-box .selectbox-disabled,.quote-box .selectbox,.quote-box-content .selectbox,.top-nav ul li .panel-bottom,.top-nav ul li .panel-top,.hl-col .bx-wrapper .bx-controls .bx-prev,.top-nav ul li .contact-details,.quote-box-content .btn-retquote{background:url(../images/sprite-bg-sbl.png) no-repeat}
.ui-selectmenu-icon,.quote-box-content .ui-selectmenu-icon,a.ui-state-active .ui-selectmenu-icon,.bx-controls .bx-pager .bx-pager-item .active,.bx-controls .bx-pager .bx-pager-item .bx-pager-link,.top-nav ul li .panel-marker,#cboxClose{background:url(../images/sprite-icons-sbl.png) no-repeat}
.quote-box .btn-getquote a,.quote-box-content .btn-getquote a,.quote-box-content .btn-retquote a{background:url(../images/btn-right-bg-sbl.png) no-repeat}
.quote-box-wrapper{width:100%;float:left;height:182px;position:relative;margin-top:10px}
.quote-box-inner{width:960px;margin:0 auto;position:relative}
.quote-box{position:absolute;top:0px;width:903px;height:149px;padding:19px 30px 0 30px;margin-left:0px;background-color:#d62821;border-radius:8px}
.quote-box .quote-col-one{float:left;width:224px;margin-right:24px}
.quote-box .quote-col-one .quote-caption{height:109px}
.quote-box .quote-col-one .quote-caption h2{font-weight:bold;line-height:23px;text-align:left;font-size:20px;color:#fff;text-transform:uppercase;width:230px}
.quote-box .quote-col-one .quote-hr{background:url("../images/quote-box-hr-sbl.gif") center center repeat-x;float:left;width:100%;height:2px;padding:0}
.quote-box .quote-col-two{float:left;width:273px;margin-top:28px}
.quote-box .quote-col-one{margin-top:8px;height:97px}
.quote-box .quote-col-three{margin-top:8px}
.quote-box .selectbox-disabled{display:none}
.quote-box .selectbox{width:273px;height:30px;margin-bottom:9px;font-size:12px;font-weight:bold;background-position:-261px -75px;-moz-appearance:menulist;appearance:menulist}
.quote-box .selectbox-disabled{background-position:-506px -44px}
@media screen and (-webkit-min-device-pixel-ratio:0){.quote-box .selectbox{width:22.75em!important}}
a.ui-selectmenu{color:#333;display:block;float:left;overflow:hidden;padding:0;position:relative;text-decoration:none}a.ui-selectmenu:hover{color:#d72c22}
a.ui-selectmenu:focus{border:none!important}
.ui-selectmenu-icon{background-position:0 0;height:8px;position:absolute;right:12px;top:12px;width:13px}a.ui-state-active .ui-selectmenu-icon{background-position:-15px 0}
.ui-selectmenu-menu{list-style:none outside none;margin:0;overflow:auto;padding:0;position:absolute;top:0;display:none}.ui-selectmenu-open{display:block}
.ui-selectmenu-menu-dropdown{background:url("../images/quote-dropdown-bg-sbl.jpg") top left repeat-x #dbdbdb;border:1px solid #ccc;margin-top:-2px;max-height:200px;width:220px;z-index:9999}
.ui-selectmenu-menu-dropdown-disabled{background:url("../images/quote-dropdown-bg-sbl.jpg") top left repeat-x #dbdbdb;border:1px solid #ccc;margin-top:-2px;max-height:200px;width:220px;z-index:9999}
.ui-selectmenu-menu li{border-bottom:1px solid #ccc;border-left-width:0!important;border-right-width:0!important;display:block;font-weight:normal!important;margin:0;padding:0;text-align:left}
.ui-selectmenu-menu li a,.ui-selectmenu-status{color:#d72c22;display:block;outline:medium none;padding:4px 0;text-decoration:none;cursor:pointer}.ui-selectmenu-menu li a{padding:7px 8px;font-weight:bold;font-size:13px}
.ui-selectmenu-menu li a:hover{background:none repeat scroll 0 0 #FFF}
.ui-selectmenu-menu li.ui-selectmenu-hasIcon a,.ui-selectmenu-hasIcon .ui-selectmenu-status{margin-left:5px;padding-left:20px;position:relative}
.ui-selectmenu-menu li .ui-icon,.ui-selectmenu-status .ui-icon{left:0;margin-top:-8px;position:absolute;top:1em}
.ui-selectmenu-status{padding:10px 8px 8px 8px;height:14px;color:#555;text-transform:uppercase}
.ui-selectmenu-menu li span,.ui-selectmenu-status span{display:block;margin-bottom:.2em}
.ui-selectmenu-status span.validation{color:red;display:inline;font-size:18px;line-height:2px;padding-top:-10px}
.quote-box .quote-col-three{float:right;width:284px}{border:0!important}

.quote-box .btn-getquote{background-position:-253px 0;padding-left:10px;width:274px;height:66px;margin-bottom:2px}
.quote-box .btn-getquote a{display:block;padding:17px 30px 22px 20px;text-align:center;background-position:100% 0;text-decoration:none;height:28px}
.btn-getquote a span{font-size:24px;font-weight:bold;color:#d72c22;text-decoration:none;padding-right:15px;background:url("../images/arrow-get-quote-sbl.png") no-repeat right;margin-right:1px}
.quote-box .btn-retquote{background-position:0 0;padding-left:10px;width:274px}
.quote-box .btn-retquote a{height:29px;display:block;padding:16px 16px 0 16px;text-align:center;background-position:100% -46px;text-decoration:none}
.btn-retquote a span{font-size:14px;font-weight:normal;color:#FFF;text-decoration:underline;padding-right:10px;background:url("../images/arrow-ret-quote-sbl.png") no-repeat right}

#colorbox,#cboxOverlay,#cboxWrapper{position:absolute;top:0;left:0;z-index:9999}
#cboxOverlay{position:fixed;width:100%;height:100%}
#cboxMiddleLeft,#cboxBottomLeft{clear:left}
#cboxContent{position:relative}
#cboxLoadedContent{overflow:auto;-webkit-overflow-scrolling:touch}
#cboxTitle{margin:0}
#cboxLoadingOverlay,#cboxLoadingGraphic{position:absolute;top:0;left:0;width:100%;height:100%}
#cboxPrevious,#cboxNext,#cboxClose,#cboxSlideshow{cursor:pointer}
.cboxPhoto{float:left;margin:auto;border:0;display:block;max-width:none}
.cboxIframe{width:100%;height:100%;display:block;border:0}
#colorbox,#cboxContent,#cboxLoadedContent{box-sizing:content-box;-moz-box-sizing:content-box;-webkit-box-sizing:content-box}
#cboxOverlay{background:url("../images/colorbox-page-bg-sbl.png") top left}
#cboxTopLeft{width:25px;height:25px;background:url(../images/border1-sbl.png) no-repeat 0 0}
#cboxTopCenter{height:25px;background:url(../images/border1-sbl.png) repeat-x 0 -50px}
#cboxTopRight{width:25px;height:25px;background:url(../images/border1-sbl.png) no-repeat -25px 0}
#cboxBottomLeft{width:25px;height:25px;background:url(../images/border1-sbl.png) no-repeat 0 -25px}
#cboxBottomCenter{height:25px;background:url(../images/border1-sbl.png) repeat-x 0 -75px}
#cboxBottomRight{width:25px;height:25px;background:url(../images/border1-sbl.png) no-repeat -25px -25px}
#cboxMiddleLeft{width:25px;background:url(../images/border2-sbl.png) repeat-y 0 0}
#cboxMiddleRight{width:25px;background:url(../images/border2-sbl.png) repeat-y -25px 0}
#cboxContent{background:#fff}
.cboxIframe{background:#fff}
#cboxError{padding:50px;border:1px solid #ccc}
#cboxTitle{position:absolute;bottom:0;left:0;text-align:center;width:100%;color:#999;display:none}
#cboxCurrent{position:absolute;bottom:0;left:100px;color:#999}
#cboxSlideshow{position:absolute;bottom:0;right:42px;color:#444}
#cboxPrevious{position:absolute;bottom:0;left:0;color:#444}
#cboxNext{position:absolute;bottom:0;left:63px;color:#444}
#cboxLoadingOverlay{background:#fff url(../images/loading-sbl.gif) no-repeat 5px 5px}
#cboxClose{position:absolute;top:-33px;right:-33px;display:block;color:#444;height:24px;width:24px;text-indent:-9999em;background-position:0 -44px}
@media only screen and (max-width:767px){.selectbox{width:240px;padding:12px 10px;background:#ddd;margin-bottom:10px;font-size:1.4em}}
#cboxContent #inline_content p >strong,#cboxContent #inline-content-28027 p >strong{font-size:20px;font-weight:normal;color:#616161;}
#cboxContent,#cboxLoadedContent,#cboxMiddleLeft{height:60px;}

.quote-box-inner {
	width:960px;
	margin:0 auto;
	position:relative
}
.quote-box-content .quote-col-one {
	float:left;
	width:230px;
	margin-right:40px
}
.quote-box-content .quote-col-one .quote-caption {
	width:100%;
	text-align:center
}
.quote-box-content .quote-col-one .quote-caption h2 {
	font-weight:bold;
	width:100%;
	margin-top:-13px;
	float:left;
	font-size:20px;
	color:#fff;
	text-transform:uppercase
}
.quote-box-content .quote-hr {
	background:url("../images/quote-box-hr-sbl.gif") center center repeat-x;
	float:left;
	width:90px !important;
	height:3px;
	margin:8px 0 0 0;
	padding:0
}
.quote-box-content .quote-hr-right {
	background:url("../images/quote-box-hr-sbl.gif") center center repeat-x;
	float:right;
	width:90px !important;
	height:3px;
	margin:8px 2px 0 0;
	padding:0
}
.quote-box-content .quote-col-two {
	float:left;
	width:260px
}
.quote-box-content .quote-col-one {
	margin-top:8px
}
.quote-box-content .quote-col-two {
	margin-top:24px
}
.quote-box-content .quote-col-three {
	margin-top:5px
}
.quote-box-content .selectbox-disabled, .quote-box .selectbox-disabled {
	display:none
}
.quote-box-content .selectbox {
	width:260px;
	margin-bottom:4px;
	font-size:12px;
	font-weight:bold;
	background-position:0 -75px;
	-moz-appearance:menulist;
	appearance:menulist
}
.quote-box-content .ui-selectmenu-icon {
	background-position:0 0;
	height:8px;
	position:absolute;
	right:12px;
	top:9px;
	width:13px
}
.quote-box-content .ui-selectmenu-status {
	padding:7px 8px 9px 8px;
	height:14px;
	color:#555;
	text-transform:uppercase
}
.quote-box-content .quote-col-three {
	float:right;
	width:260px
}
.quote-box-content .quote-col-three a:focus {
	border:0!important
}
.home-lower-inner {
	width:980px;
	margin:0 auto
}
.quote-box-content .btn-getquote {
	background-position:0 0;
	width:260px;
	margin-bottom:5px
}
.quote-box-content .btn-getquote a {
	display:block;
	padding:12px 30px 0 20px;
	text-align:center;
	background-position:100% -67px;
	text-decoration:none;
	height:39px
}
.quote-box-content .btn-retquote {
	background-position:-506px 1px;
	width:260px
}
.quote-box-content .btn-retquote a {
	display:block;
	padding:14px 10px 15px 10px;
	text-align:center;
	background-position:100% -119px;
	text-decoration:none
}
.quote-box-content .btn-retquote a span{font-weight:bold;text-decoration:none;}
.temp-quote-wrapper {
	width:100%;
	float:left !important;
	margin:0 0 10px 0
}
.temp-quote-wrapper .temp-quote-inner {
	width:578px;
	margin:0 auto;
	float:left;
}
.temp-quote-wrapper .temp-quote-inner .quote-box-content {
	position:relative;
	padding:15px 20px;
	top:auto;
	height:150px;
	margin:0;
	width:538px;
	background-color:#d62821;
	border-radius:8px
}
.temp-quote-wrapper .temp-quote-inner .quote-box-content .quote-col-one {
	float:left;
	margin:3px 0 12px 0;
	width:100%
}
#Pagetitlemain+#Displaytitlemain+#Displaytitlemain+script+div .temp-quote-wrapper{margin-top:10px;}
