@charset "utf-8";
/* CSS Document */

/*
ul.home-insurance-body {
FONT-FAMILY:arial; FONT-SIZE:75% ; COLOR: #616161; PADDING-RIGHT: 15px; LIST-STYLE-IMAGE:url(../images/red_tick.png);
}
ul.home-insurance-body li {
PADDING-LEFT: 12px; padding-bottom:15px
}*/

/* HowardJ Changes */
/* test content item: jh_listtest(id:7379) */



ul.bulleted-copy-red-tick{
margin: 0 0 0 -1px; padding: 0;font-family:arial;font-size:75%;color:#616161;padding-top:0px;*padding-top:0px
}
ul.bulleted-copy-red-tick li{
background:url(../images/red_tick.png) no-repeat left 12px ;-padding-bottom:1px;list-style: none; padding: 10px 12px 5px 28px;
}
ul.bulleted-copy-red-tick li a:link{
 color:#616161;text-decoration:underline
}
ul.bulleted-copy-red-tick li a:visited{
 color:#878787;text-decoration:underline
}
ul.bulleted-copy-red-tick li a:Active{
 color:#616161;text-decoration:underline
}
ul.bulleted-copy-red-tick li a:hover{
 color:#d5261e;text-decoration:underline
}

/*li.home-insurance-body  {
	list-style-image:url(../images/red-dot.png)
}

ul.home-insurance-body-one{
	font-family:arial;font-size:75%;color:#616161;padding-right:15px; background-image:url(../images/red_tick.png);background-repeat:no-repeat;background-position:top left;list-style-type:none;
}

ul.home-insurance-body-one li {
	padding-left:12px; padding-bottom:15px;
}*/



ul.bulleted-copy-grey-dot {margin:0px; font-family:arial;font-size:75%;color:#616161;padding-bottom:12px; padding-left:15px; }

ul.bulleted-copy-grey-dot li {padding: 0px 0px 4px 6px;*padding: 0px 0px 0px 6px; } 

ul.bulleted-copy-grey-dot li a:link{
 color:#616161;text-decoration:underline
}
ul.bulleted-copy-grey-dot li a:visited{
 color:#878787;text-decoration:underline
}
ul.bulleted-copy-grey-dot li a:Active{
 color:#616161;text-decoration:underline
}
ul.bulleted-copy-grey-dot li a:hover{
 color:#d5261e;text-decoration:underline
}


ul.bulleted-copy-red-dot { margin: 0 0 0 -1px; padding: 0;font-family:arial;font-size:75%;color:#616161;padding-top:12px;padding-bottom:10px;*padding-top:10px }
ul.bulleted-copy-red-dot li {  background:url(../images/red-dot.png) no-repeat left 12px ;-padding-bottom:1px;list-style: none; padding: 10px 12px 5px 18px;*padding-top:7px } 

ul.bulleted-copy-red-dot li a:link{
 color:#616161;text-decoration:underline
}
ul.bulleted-copy-red-dot li a:visited{
 color:#878787;text-decoration:underline
}
ul.bulleted-copy-red-dot li a:Active{
 color:#616161;text-decoration:underline
}
ul.bulleted-copy-red-dot li a:hover{
 color:#d5261e;text-decoration:underline
}


/* styles for co.uk */

/* footer */
h3.external-foot-locker-heading{
border-bottom:#e0e0e0 1px solid; padding-top:16px;padding-bottom:16px;padding-left:17px; 
background-image:url(../images/External_site_icon.gif);background-repeat:no-repeat;background-position:right;
padding-right:25px;color:#616161;float:left;font-family:arial;font-size:75%}

h3.external-foot-locker-heading A:link {COLOR:#616161;TEXT-DECORATION:none}

h3.external-foot-locker-heading A:visited {COLOR:#616161;TEXT-DECORATION:none}

h3.external-foot-locker-heading A:active {COLOR:#616161;TEXT-DECORATION:none}

h3.external-foot-locker-heading A:hover {COLOR:#616161;TEXT-DECORATION:none}

/* contact us page (need help) */

.external-box-body-copy{
 padding-right:18px;padding-left:17px;padding-top:15px;
 color:#616161;background-image:url(../images/External_site_icon.gif);
 background-repeat:no-repeat;background-position:right bottom;display:inline;text-align:left;
 float:left;background-color:#FFFFFF
} 

.external-box-body-copy A:link{
 color:#616161;text-decoration:underline;font-family:arial;font-size:75%;
}
.external-box-body-copy A:visited{
 color:#878787;text-decoration:underline;font-family:arial;font-size:75%;
}
.external-box-body-copy A:Active{
 color:#616161;text-decoration:underline;font-family:arial;font-size:75%;
}
.external-box-body-copy A:hover{
 color:#d5261e;text-decoration:underline;font-family:arial;font-size:75%;
}

/* groupsite top nav */

.external-call-to-action-red-small {
color:#d5261e;display:inline;background-image:url(../images/External_site_icon.gif);background-repeat:no-repeat;
background-position:right;padding-right:15px;          
}

.external-call-to-action-red-small A:link{
 color:#d5261e;text-decoration:none;font-family:arial;font-weight:bold;font-size:68.75%;     
}
.external-call-to-action-red-small A:visited{
color:#d5261e;text-decoration:none;font-family:arial;font-weight:bold;font-size:68.75%;
}
.external-call-to-action-red-small A:Active{
color:#d5261e;text-decoration:none;font-family:arial;font-weight:bold;font-size:68.75%;
}
.external-call-to-action-red-small A:hover{
 color:#d5261e;text-decoration:underline;font-family:arial;font-weight:bold;font-size:68.75%;
}

h2.external-box-heading-black{
  font-family:arial;font-size:87.5%;color:#3c3c3c; background-image:url(../images/External_site_icon.gif);background-repeat:no-repeat;
  background-position:right;padding-right:25px;display:inline
}
h2.external-box-heading-black A:link{
 color:#3c3c3c;text-decoration:none
}
h2.external-box-heading-black A:visited{
 color:#3c3c3c;text-decoration:none
}
h2.external-box-heading-black A:Active{
 color:#3c3c3c;text-decoration:none
}
h2.external-box-heading-black A:hover{
 color:#3c3c3c;text-decoration:none
}


/* End: HowardJ Changes */

H2.page-title-sub-text{
        font-size:75%;color:#616161;font-family:arial
}

H2.page-title-sub-text A:link{
 color:#616161;text-decoration:underline     
}
H2.page-title-sub-text A:visited{
color:#616161;text-decoration:underline
}
H2.page-title-sub-text A:Active{
color:#616161;text-decoration:underline
}
H2.page-title-sub-text A:hover{
 color:#d5261e;text-decoration:underline
}

H2.page-heading{
        font-size:87.5%;color:#3c3c3c;font-family:arial
}

H2.page-heading A:link{
 color:#3c3c3c;text-decoration:none     
}
H2.page-heading A:visited{
color:#3c3c3c;text-decoration:none
}
H2.page-heading A:Active{
color:#3c3c3c;text-decoration:none
}
H2.page-heading A:hover{
 color:#3c3c3c;text-decoration:none
}

H3.summary{
        font-size:75%;color:#616161;font-family:arial        
}
H3.summary A:link{
 color:#616161;text-decoration:underline    
}
H3.summary A:visited{
color:#616161;text-decoration:underline
}
H3.summary A:Active{
color:#616161;text-decoration:underline
}
H3.summary A:hover{
 color:#d5261e;text-decoration:underline
}

H1.page-title{
        font-size:140%;color:#D5261e;font-family:arial        
}
H1.page-title A:link{
 color:#d5261e;text-decoration:none     
}
H1.page-title A:visited{
color:#d5261e;text-decoration:none
}
H1.page-title A:Active{
color:#d5261e;text-decoration:none
}
H1.page-title A:hover{
 color:#d5261e;text-decoration:none
}

H2.call-to-action-red-large{
        font-size:95%;color:#D5261e;font-family:arial                  
}

H2.call-to-action-red-large A:link{
 color:#d5261e;text-decoration:none     
}
H2.call-to-action-red-large A:visited{
color:#d5261e;text-decoration:none
}
H2.call-to-action-red-large A:Active{
color:#d5261e;text-decoration:none
}
H2.call-to-action-red-large A:hover{
 color:#d5261e;text-decoration:none
}
	
H3.call-to-action-red-medium{
        font-size:87.5%;color:#D5261e;font-family:arial                  
}

H3.call-to-action-red-medium A:link{
 color:#d5261e;text-decoration:none     
}
H3.call-to-action-red-medium A:visited{
color:#d5261e;text-decoration:none
}
H3.call-to-action-red-medium A:Active{
color:#d5261e;text-decoration:none
}
H3.call-to-action-red-medium A:hover{
 color:#d5261e;text-decoration:none
}

H3.sub-heading{
        font-size:87.5%;color:#3c3c3c;font-family:arial                  
}

H3.sub-heading A:link{
 color:#3c3c3c;text-decoration:none     
}
H3.sub-heading A:visited{
color:#3c3c3c;text-decoration:none
}
H3.sub-heading A:Active{
color:#3c3c3c;text-decoration:none
}
H3.sub-heading A:hover{
 color:#3c3c3c;text-decoration:none
}

.Call-to-action-red-small {
 font-family:arial;font-weight:bold;font-size:70%;color:#d5261e          
}
.Call-to-action-red-small A:link{
 color:#d5261e;text-decoration:none     
}
.Call-to-action-red-small A:visited{
color:#d5261e;text-decoration:none
}
.Call-to-action-red-small A:Active{
color:#d5261e;text-decoration:none
}
.Call-to-action-red-small A:hover{
 color:#d5261e;text-decoration:underline
}

.Top-nav-link{
 font-family:arial;font-size:70%;color:#616161              
}
.Top-nav-link A:link{
 color:#616161;text-decoration:none      
}
.Top-nav-link A:visited{
color:#616161;text-decoration:none
}
.Top-nav-link A:Active{
 color:#616161;text-decoration:none
}
.Top-nav-link A:Hover{
 color:#616161;text-decoration:underline
}

H3.foot-locker-heading{
padding-top:16px;padding-bottom:16px;padding-left:17px;border-bottom:#e0e0e0 1px solid;color:#616161;font-family:arial;
font-size:75%
}

H3.foot-locker-heading A:link{color:#616161;text-decoration:none}
H3.foot-locker-heading A:visited{color:#616161;text-decoration:none}
H3.foot-locker-heading A:Active{color:#616161;text-decoration:none}
H3.foot-locker-heading A:Hover{color:#616161;text-decoration:none}

.Foot-locker-link{
 Padding-right:17px;padding-left:17px;padding-top:11px;font-family:arial;font-size:70%;color:#878787
}

.Foot-locker-link A:link{
 Color:#878787; text-decoration:none
}
.Foot-locker-link A:visited{
 Color:#878787; text-decoration:none
}
.Foot-locker-link A:Active{
 Color:#878787; text-decoration:none
}
.Foot-locker-link A:hover{
 Color:#878787; text-decoration:underline
}

.Links-Feature-Pod {
 font-family:arial;font-size:75%;Padding-right:17px;padding-left:17px;color:#616161 
}

.Links-Feature-Pod A:link{
 color:#616161;text-decoration:underline
}
.Links-Feature-Pod A:visited{
 color:#878787;text-decoration:underline
}
.Links-Feature-Pod A:Active{
 color:#616161;text-decoration:underline
}
.Links-Feature-Pod A:hover{
 color:#d5261e;text-decoration:underline
}

h1.h1-box-heading-black{
  font-family:arial;font-size:87.5%;color:#3c3c3c; 
}
h1.h1-box-heading-black A:link{
 color:#3c3c3c;text-decoration:none
}
h1.h1-box-heading-black A:visited{
 color:#3c3c3c;text-decoration:none
}
h1.h1-box-heading-black A:Active{
 color:#3c3c3c;text-decoration:none
}
h1.h1-box-heading-black A:hover{
 color:#3c3c3c;text-decoration:none
}

h2.box-heading-black{
  font-family:arial;font-size:87.5%;color:#3c3c3c; 
}
h2.box-heading-black A:link{
 color:#3c3c3c;text-decoration:none
}
h2.box-heading-black A:visited{
 color:#3c3c3c;text-decoration:none
}
h2.box-heading-black A:Active{
 color:#3c3c3c;text-decoration:none
}
h2.box-heading-black A:hover{
 color:#3c3c3c;text-decoration:none
}

.Box-body-copy{
 font-family:arial;font-size:75%; padding-right:17px;padding-left:17px;padding-top:15px; color:#616161
} 

.Box-body-copy A:link{
 color:#616161;text-decoration:underline
}
.Box-body-copy A:visited{
 color:#878787;text-decoration:underline
}
.Box-body-copy A:Active{
 color:#616161;text-decoration:underline
}
.Box-body-copy A:hover{
 color:#d5261e;text-decoration:underline
}

.Call-to-action-black-medium{
 font-family:arial;font-size:100%;color:#000000
}

.Call-to-action-black-medium A:link{
 color:#000000;text-decoration:none
}
.Call-to-action-black-medium A:visited{
 color:#000000;text-decoration:none
}
.Call-to-action-black-medium A:Active{
 color:#000000;text-decoration:none
}
.Call-to-action-black-medium A:hover{
 color:#000000;text-decoration:none
}

.Call-to-action-black-large{
 font-family:arial;font-size:112.5%;color:#000000; padding-top:9px;
}

.Call-to-action-black-large A:link{
 color:#000000;text-decoration:none
}
.Call-to-action-black-large A:visited{
 color:#000000;text-decoration:none
}
.Call-to-action-black-large A:Active{
 color:#000000;text-decoration:none
}
.Call-to-action-black-large A:hover{
 color:#000000;text-decoration:none
}


.Call-to-action-black-small{
  font-family:arial;font-size:75%;padding-top:9px;color:#000000
}
.Call-to-action-black-small A:link{
 color:#000000;text-decoration:underline
}
.Call-to-action-black-small A:visited{
 color:#000000;text-decoration:underline
}
.Call-to-action-black-small A:Active{
 color:#000000;text-decoration:underline
}
.Call-to-action-black-small A:hover{
 color:#d5261e;text-decoration:underline
}


.Box-heading-grey{
  color:#616161;padding-right:17px;padding-left:17px;padding-top:9px;padding-bottom:12px;BORDER-bottom: #e0e0e0 1px solid;
  font-family:arial;font-weight:bold;font-size:80%;
}
.Box-heading-grey A:link{
 color:#616161;text-decoration:none
}
.Box-heading-grey A:visited{
 color:#616161;text-decoration:none
}
.Box-heading-grey A:Active{
 color:#616161;text-decoration:none
}
.Box-heading-grey A:hover{
 color:#616161;text-decoration:none
}

.Body-copy{
 font-family:arial;font-size:75%;color:#616161
}
.Body-copy A:link{
 color:#616161;text-decoration:underline
}
.Body-copy A:visited{
 color:#878787;text-decoration:underline
}
.Body-copy A:Active{
 color:#616161;text-decoration:underline
}
.Body-copy A:hover{
 color:#d5261e;text-decoration:underline
}
.pdf-link {
padding-top:13px; font-family:arial;  font-size:75%; color:#616161; padding-bottom:17px;
^background-image:url(../images/btn_pdf.JPG);
^background-repeat:no-repeat;
^background-position:0px 7px ;
^padding-left:22px;
}
.pdf-link:before {
content:url(../images/btn_pdf.JPG);padding-right:5px;	
}
.pdf-link A:link {
	COLOR: #616161;TEXT-DECORATION: underline
}
.pdf-link A:visited {
	COLOR: #878787;TEXT-DECORATION: underline
}
.pdf-link A:active {
	COLOR: #616161;TEXT-DECORATION: underline
}
.pdf-link A:hover {
	COLOR: #d5261e;TEXT-DECORATION: underline
}

/* *** Household Styles *** */

ul.hh-bulleted-body-grey {margin:0px; *margin:-6px 0px 0px 40px;font-family:arial;font-size:75%;color:#616161;padding-bottom:12px;}

ul.hh-bulleted-body-grey li {padding: 0px 0px 4px 6px;*padding: 0px 0px 0px 6px; } 

ul.hh-bulleted-body-grey li a:link{
 color:#616161;text-decoration:underline
}
ul.hh-bulleted-body-grey li a:visited{
 color:#878787;text-decoration:underline
}
ul.hh-bulleted-body-grey li a:Active{
 color:#616161;text-decoration:underline
}
ul.hh-bulleted-body-grey li a:hover{
 color:#d5261e;text-decoration:underline
}

.HH-heading-black{
font-family:arial;color:#000000;font-weight:bold;font-size:87.5%;padding-bottom:5px;
}

.hh-heading-grey{
font-family:arial;color:#616161;font-weight:bold;font-size:75%;padding-bottom:9px;
}

H2.HH-phone-number{
font-family:arial;font-size:125%;color:#d5261e;font-weight:bold;
}

.HH-body-black{
  font-family:arial;font-size:75%;float:left;padding-bottom:5px;color:#000000;
}
.HH-body-black A:link{
 color:#000000;text-decoration:underline
}
.HH-body-black A:visited{
 color:#000000;text-decoration:underline
}
.HH-body-black A:Active{
 color:#000000;text-decoration:underline
}
.HH-body-black A:hover{	
 color:#d5261e;text-decoration:underline
}
 
.HH-footnote-black{
   padding-right:5px;
  font-family:arial;font-size:70%;color:#000000;float:left;}

.HH-footnote-black A:link{
 color:#000000;text-decoration:underline
}
.HH-footnote-black A:visited{
color:#000000; text-decoration:underline;
}

.HH-footnote-black A:active{
color:#616161; text-decoration:underline;
}

.HH-footnote-black A:hover{
color:#d5261e; text-decoration:underline;
}

  
  
.HH-contextual-help{
  font-family:arial;font-size:70%;color:#000000;
}

.HH-contextual-help A:link{
 color:#000000;text-decoration:underline
}
.HH-contextual-help A:visited{
color:#000000; text-decoration:underline;
}

.HH-contextual-help A:active{
color:#616161; text-decoration:underline;
}

.HH-contextual-help A:hover{
color:#d5261e; text-decoration:underline;
}



.HH-body-grey{
  padding-right:17px;
  font-family:arial;font-size:75%;color:#616161;padding-bottom:12px;
  }


.HH-body-grey A:link{
 color:#616161;text-decoration:underline
}
.HH-body-grey A:visited{
color:#616161; text-decoration:underline;
}

.HH-body-grey A:active{
color:#616161; text-decoration:underline;
}

.HH-body-grey A:hover{
color:#d5261e; text-decoration:underline;
}



.HH-copyright{
font-family:arial;font-size:75%; color:#757575;	clear:both;
}