html, body, div, span, applet, object, iframe,h1, h2, h3, h4, h5, h6, p, blockquote, pre,a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,small, strike, strong, sub, sup, tt, var,dl, dt, dd, ol, ul, li,fieldset, form, label, 
legend,table, caption, tbody, tfoot, thead, tr, th, td, input,textarea,select {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-weight: inherit;
	font-style: inherit;
	font-size: 1em;
	font-family: inherit;
	vertical-align: baseline;
}

/* remember to define focus styles! */
:focus {outline: 0;}

body, .editableEditLiveSection {
	line-height: 1;
	color: #616161;
	background: white;
	font-weight: normal;
	font-style: normal;
	font-size: 10px;
	font-family: inherit;
	font-family: Arial, Sans-Serif;
}

ol, ul {list-style: none;}

/* tables still need 'cellspacing="0"' in the markup */
table {border-collapse: separate;border-spacing: 0;}
caption, th, td {text-align: left;font-weight: normal;}

blockquote:before, blockquote:after,q:before, q:after {content: "";}
blockquote, q {quotes: "" "";}

/* generic container (i.e. div) for floating buttons */
.clear {overflow: hidden;width: 100%;clear: both; ephox-visible: false;}
.float-left{float:left; ephox-visible: false;}
.float-right{float:right !important; ephox-visible: false;}
.inl-fl-left {float:left; display:inline; ephox-visible: false;}
.inl-fl-right {float:right; display:inline; ephox-visible: false;}
.clear{clear:both;font-size:0.1em; ephox-visible: false;}
.clear-both{clear:both; ephox-visible: false;}

a:focus {border: 1px dotted black !important;}
body:focus {border: 0px solid black !important;}

sup {font-size:0.7em;vertical-align:super;*vertical-align:top;}
ins{text-decoration:none;}