/* Root = Horizontal, Secondary = Vertical */
ul#navmenu-h {
                BORDER:0px; PADDING-RIGHT: 0px;  PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: -30px 0 0 0;_margin:-10px 0 0 0; PADDING-TOP: 0px;  LIST-STYLE-TYPE: none; float:right; display:inline-block;
}
ul#navmenu-h li {
                margin: 0;
                border: 0 none;
                padding: 0;
                float: left; /*For Gecko*/
                display: inline;
                list-style: none;
                position: relative;
}
img
{
border:none;
}
ul#navmenu-h ul {
                margin: 0;
                border: 0 none;
                padding: 0;
                width: 160px;
                list-style: none;
                display: none;
                position: absolute;
                top: 51px;
                left: 0;
                
}
ul#navmenu-h ul:after /*From IE 7 lack of compliance*/ {
                clear: both;
                display: block;
                font: 75% arial;
                content: ".";
                visibility: hidden;
                  height: 0;
}
ul#navmenu-h ul li {
                width: 160px;
                float: left; /*For IE 7 lack of compliance*/
                display: block !important;/* display: inline; /*For IE*/
}
/* Root Menu */
ul#navmenu-h a {
                width:130px;
                float: none !important; /*For Opera*/
                float: left; /*For IE*/
                display: block;
                color: #3c3c3c;
                font: bold 75% Arial;
                text-decoration: none;
                height:20px;
                padding-top:7px;
                padding-bottom:8px;
                
}
/* Root Menu Hover Persistence */
ul#navmenu-h a:hover, ul#navmenu-h li:hover a, ul#navmenu-h li.iehover a {
                color: #FFF;
                border:none;
                color:#3c3c3c;
                font-weight:bold;
}
ul#navmenu-h li.mainmenu1 a:hover
{
background: no-repeat top;
}
/* 2nd Menu */
ul#navmenu-h li:hover li a, ul#navmenu-h li.iehover li a {
                float: none;
                background:none;
                color: #3c3c3c;
                
                padding:4px 0px 2px 19px;

}
/* 2nd Menu Hover Persistence */
ul#navmenu-h li:hover li a:hover,ul#navmenu-h li.iehover li a:hover{
                color: #3c3c3c;
                background:url(../images/submneu_ahover.gif)  no-repeat;
                width:209px;
                margin-left:4px;
                border:none;
                
                font-weight:bold;
                padding:4px 0px 2px 15px;
}
/* 3rd Menu */
ul#navmenu-h li:hover li:hover li a, ul#navmenu-h li.iehover li.iehover li a {
                background: #EEE;
                color: #3c3c3c;
}
/* 3rd Menu Hover Persistence */
ul#navmenu-h li:hover li:hover li a:hover, ul#navmenu-h li:hover li:hover li:hover a, ul#navmenu-h li.iehover li.iehover li a:hover, ul#navmenu-h li.iehover li.iehover li.iehover a {
                background: #CCC;
                color: #FFF;
}
/* 4th Menu */
ul#navmenu-h li:hover li:hover li:hover li a, ul#navmenu-h li.iehover li.iehover li.iehover li a {
                background: #EEE;
                color: #3c3c3c;
}
/* 4th Menu Hover */
ul#navmenu-h li:hover li:hover li:hover li a:hover, ul#navmenu-h li.iehover li.iehover li.iehover li a:hover {
                background: #CCC;
                color: #FFF;
}
ul#navmenu-h ul ul, ul#navmenu-h ul ul ul {
                display: none;
                position: absolute;
                top: 0;
                left: 160px;
}
/* Do Not Move - Must Come Before display:block for Gecko */
ul#navmenu-h li:hover ul ul, ul#navmenu-h li:hover ul ul ul, ul#navmenu-h li.iehover ul ul, ul#navmenu-h li.iehover ul ul ul {
                display: none;
}
ul#navmenu-h li:hover ul, ul#navmenu-h ul li:hover ul, ul#navmenu-h ul ul li:hover ul, ul#navmenu-h li.iehover ul, ul#navmenu-h ul li.iehover ul, ul#navmenu-h ul ul li.iehover ul {
                display: block;
}
/*------------*/



ul#navmenu-h ul.subnav {
                background:url(../images/bg_bottomfinal.gif) bottom left no-repeat;
                margin-top:0px;
                width:216px;
                z-index:2000;
                padding-bottom:6px;
}
ul#navmenu-h ul.subnav span {
                background: bottom left no-repeat;
                margin-top:0px;
                width:216px;
}
ul#navmenu-h ul.subnav li a {
                width:216px;
                
                font-weight:normal;
}
ul#navmenu-h li a.active {
                background:url(../images/bg_active.gif) top;
                border:none;
                
                font-weight:bold;
}
ul#navmenu-h li span.first a {
                background:url(../images/menu_first.gif) #fff top no-repeat;
                border:none;
                font-weight:bold;
}
ul#navmenu-h li span.last a {
                background:url(../images/menu_last.gif) #fff top no-repeat;
                border:none;
                font-weight:bold;
}
ul#navmenu-h li span.first a:hover, ul#navmenu-h li:hover span.first a {
                background: no-repeat top;
                border:none;
                font-weight:bold;
}
ul#navmenu-h li span.last a:hover, ul#navmenu-h li:hover span.last a {
                background: no-repeat top;
                border:none;
                font-weight:bold;
}

.bg_body
{ 
	background-color: #f5f5f5;
}

.bg_body2
{
	background-color: #e8e8e8;
}

/*.bg_body
{
	background:url(../images/bg_body.gif) #fff repeat-x;
}

.bg_body2
{
	background:url(../images/bg_body2.gif)  #fff repeat-x;
}*/

ul.left_nav li a
{
list-style-type:none;
width:172px;
*height:23px;
min-height:23px;
display:block;
clear:both;
color:#000000;
text-decoration:none;
font-family:arial;
font-size:75%;
border:solid 1px #e8e8e8;
background-color:#fff;
border-top:none;
padding:8px 2px 0 18px;
}
ul.left_nav  li a:hover,ul.left_nav li.last a:hover
{
text-decoration:none;
background:url(../images/leftnav_bgover.gif) center #fff   no-repeat;
/*font-weight:bold;*/
}
ul.left_nav  li.active a
{
text-decoration:none;
background:url(../images/leftnav_bgover.gif) center #fff   no-repeat;
font-weight:bold;
}
ul.left_nav 
{
list-style-type:none;
}
ul.left_nav li.main
{
border:none;
}
ul.left_nav li.main a,ul.left_nav li.main a:hover
{
list-style-type:none;
font-size:93.75%;
height:24px;
font-weight:bold;
background:url(../images/leftnav_bgmain.gif) bottom   no-repeat;
margin-bottom:3px;
padding-bottom:3px;
}
ul.left_nav li.last a
{
background:url(../images/leftnav_bgbottom.gif) right   no-repeat;
border:none;
width:174px;
}
ul.left_nav li.last
{
border:none;
}
ul.left_nav li.submain a,ul.left_nav li.submain a:hover
{
list-style-type:none;
font-size:75%;
height:23px;
font-weight:bold;
background:url(../images/leftnav_bgmain2.gif) center #fff   no-repeat;
}

/*new C&DS styles*/
ul.left_nav li.bigtext a
{
list-style-type:none;
width:172px;
*height:23px;
min-height:23px;
display:block;
clear:both;
color:#000000;
text-decoration:none;
font-family:arial;
font-size:75%;
border:solid 1px #e8e8e8;
background-color:#fff;
border-top:none;
padding:7px 2px 8px 18px;
}
ul.left_nav  li.bigtext a:hover
{
text-decoration:none;
background:url(../images/leftnav_bgover_big.gif) center #fff   no-repeat;
/*font-weight:bold;*/
height:30px;

}
ul.left_nav  li.bigactive a, ul.left_nav  li.bigactive a:hover
{
text-decoration:none;
background:url(../images/leftnav_bgover_big.gif) center #fff   no-repeat;
font-weight:bold;
height:38px
}
ul.left_nav li.mainbig a,ul.left_nav li.mainbig a:hover
{
list-style-type:none;
font-size:15px;
height:40px;
font-weight:bold;
background:url(../images/leftnav_bgmain_big.gif) bottom   no-repeat;
margin-bottom:3px;
padding-bottom:3px;
}
ul.left_nav li.submainbig a,ul.left_nav li.submainbig a:hover
{
list-style-type:none;
font-size:75%;
height:38px;
font-weight:bold;
background:url(../images/leftnav_bgmain2_big.gif) center #fff   no-repeat;
}