/*US16720 change */
/*div.calendar-top .left,div.calendar-top .right,.mainitem-btmleft,.mainitem-btmright,.mainitem-topleft,.mainitem-topright,.leftmenu-btmleft,.leftmenu-btmright,.leftmenu-topleft,.leftmenu-topright,.leftmenu-listitem-sel .leftmenulist-btmleft,.leftmenu-listitem-sel .leftmenulist-btmright,.leftmenu-listitem-sel .leftmenulist-topleft,.leftmenu-listitem-sel .leftmenulist-topright,.leftmenu-middle li:hover .leftmenu-listitem .leftmenulist-topleft,.leftmenu-middle li:hover .leftmenu-listitem .leftmenulist-topright,.leftmenu-middle li:hover .leftmenu-listitem .leftmenulist-btmleft,.leftmenu-middle li:hover .leftmenu-listitem .leftmenulist-btmright,.leftmenu-listitem-sel2 .leftmenulist-topleft,.leftmenu-listitem-sel2 .leftmenulist-topright,.leftmenu-listitem-sel2 .leftmenulist-btmleft,.leftmenu-listitem-sel2 .leftmenulist-btmright,.cnt-sctn .top .left,.cnt-subsctn .top .left,.grey-corner-top .top .left,.grey-toplft .top .left,.topright-container-small .top .left,.white-all-corner .top .left,.section-container .top .left,.section-container-horz .top .left,.dynamic-content-home .top .left,.throbber-box .top .left,.cnt-sctn .bottom .left,.white-corner-btm .bottom .left,.white-all-corner .bottom .left,.section-container .bottom .left,.section-container-horz .bottom .left,.cnt-subsctn .bottom .left,.throbber-box .bottom .left,.cnt-sctn .top .right,.cnt-subsctn .top .right,.grey-corner-top .top .right,.tpright-container-large .top .right,.topright-container-small .top .right,.leftnav-gap .grey-toplft .top .right,.white-all-corner .top .right,.section-container .top .right,.section-container-horz .top .right,.dynamic-content-home .top .right,.throbber-box .top .right,.cnt-sctn .bottom .right,.white-corner-btm .bottom .right,.white-all-corner .bottom .right,.section-container .bottom .right,.section-container-horz .bottom .right,.cnt-subsctn .bottom .right,.throbber-box .bottom .right{background:transparent url('../images/ie-corners-brochure.png') no-repeat;}*/
/* Top nav style starts here */
.progress-bar{padding-top:0.1em;}
:root .progress-bar { width: 100% \0/IE9; }
.main-container{width:100.2em;}
.left-nav{margin:5.1em 0 0 1.9em;/*_margin:5.1em 0 0 1em; */}
.leftnav-gap{ margin:0 1em 0 2em !important;/*_margin:0 0.8em 0 1em !important;*/border:1px solid #f7f7f7;*border:none; }
.rightnav-gap{margin:0 0 0 0.8em; }
.right-nav{margin:5.1em 0 0 0;}
.page-heading h1 {padding:0.23em 0.8em 0.73em 1em;}
.reference-number{margin:1.1em 0.94em 0.4em 0;}
.brdcrmb-sub{width:61.1em;}
.occupation-details{width:auto; margin-right:1.2em;}
.header-btncontainer{width:23.5em;}
.breadcrumb{padding:0.1em 0 0.9em 3.4em;}
.breadcrumb2{padding:0.1em 0 0.2em 3.4em;}
li.first-red-bar .middle-bg span,li.first-white-bar .middle-bg span,li.first-grey-bar .middle-bg span{ padding:0.8em 0.1em 0 0.5em;}
/*US16720 change */
/*.cnt-sctn .top,.cnt-sctn .bottom,.cnt-subsctn .top,.cnt-subsctn .bottom,.section-container .top,.section-container .bottom,.section-container-horz .top,.section-container-horz .bottom{border:0; height:0.8em;clear:both;}
.cnt-sctn .top .left,.cnt-sctn .top .right,.cnt-sctn .bottom .left,.cnt-sctn .bottom .right,.cnt-subsctn .top .left,.cnt-subsctn .top .right,.cnt-subsctn .bottom .left,.cnt-subsctn .bottom .right,.section-container .top .left,.section-container .top .right,.section-container .bottom .left,.section-container .bottom .right,.section-container-horz .top .left,.section-container-horz .top .right,.section-container-horz .bottom .left,.section-container-horz .bottom .right,.dynamic-content-home .top .left,.dynamic-content-home .bottom .left,.dynamic-content-home .top .right,.dynamic-content-home .bottom .right,.throbber-box .top .left,.throbber-box .bottom .left,.throbber-box .top .right,.throbber-box .bottom .right{width:100%;height:0.8em;padding:0;margin:0;}
.cnt-sctn .top .left{background-position:0 -152px;}
.cnt-sctn .top .middle{margin:0 0.8em 0 0.8em; border-top:0.1em solid #e0e0e0;}
.cnt-sctn .top .right{background-position:100% -170px}
.cnt-sctn .bottom .left,.white-corner-btm .bottom .left,.white-all-corner .bottom .left,.section-container .bottom .left,.section-container-horz .bottom .left{ background-position:0 -161px;}
.cnt-sctn .bottom .middle{margin:-0.1em 0.8em 0 0.8em;_margin:0 0.8em 0 0.8em; border-bottom:0.1em solid #e0e0e0;}
.cnt-sctn .bottom .right,.white-corner-btm .bottom .right,.white-all-corner .bottom .right,.section-container .bottom .right,.section-container-horz .bottom .right{background-position:100% -179px;border:0;}
.cnt-sctn .bottom,.cnt-subsctn .bottom,.section-container .bottom{margin-top:-0.3em;}*/
.cnt-sctn .middle-content{ min-height:45em}
*html .cnt-sctn .middle-content{height:45em;}
/*US16720 change */
/*.cnt-sctn .middle-content,.white-all-corner .bottom .middle,.white-corner-btm .bottom .middle{margin-top:-0.1em;_margin-top:-0.3em !important;}
.cnt-subsctn .top .left{background-position:0 -152px;}
.cnt-subsctn .top .middle{margin:0 0.8em 0 0.8em; border-top:0.1em solid #e0e0e0;}
.cnt-subsctn .top .right{background-position:100% -170px}
.cnt-subsctn .bottom .left{ background-position:0 -161px;}
.cnt-subsctn .bottom .middle{margin:-0.1em 0.8em 0 0.8em;_margin:0 0.8em 0 0.8em; border-bottom:0.1em solid #e0e0e0;}
.cnt-subsctn .bottom .right{background-position:100% -179px;border:0;}*/
.cnt-subsctn .middle-content{/*margin-top:-0.3em;*/ min-height:4em !important;}
*html .cnt-subsctn .middle-content{height:4em;}
/*US16720 change */
/*.grey-corner-top .top .left,.grey-toplft .top .left,.topright-container-small .top .left{background-position:0 -152px;}
.grey-corner-top .top .right,.tpright-container-large .top .right,.topright-container-small .top .right,.leftnav-gap .grey-toplft .top .right{ background-position:100% -170px}
.white-all-corner .top .left,.section-container .top .left,.section-container-horz .top .left{background-position:0 -152px; }
.white-all-corner .top .right,.section-container .top .right,.section-container-horz .top .right{ background-position:100% -170px}
.section-container .top .middle{margin:0 0.8em 0 0.8em; border-top:0.1em solid #e0e0e0;}
.section-container .bottom .middle{margin:-0.1em 0.8em 0 0.8em;_margin:0 0.8em 0 0.8em; border-bottom:0.1em solid #e0e0e0;}
.left-nav-corner .top .middle{border-top:0.1em solid #e0e0e0 !important; margin:0 0 0 0.8em !important;}
.left-nav-corner .bottom .middle{border-bottom:0.1em solid #e0e0e0 !important;margin:-0.1em 0 0 0.8em ; _margin:-0.1em 0 0 0.8em !important;}
.right-nav-corner .top .middle{border-top:0.1em solid #e0e0e0 !important; margin:0 0.8em 0 0 !important;}
.right-nav-corner .bottom .middle{border-bottom:0.1em solid #e0e0e0 !important; margin:-0.1em 0.8em 0 0;_margin:0 0.8em 0 0 !important;}
.section-container-horz .top{margin-bottom:-0.1em;}
.section-container-horz .top .left,.section-container-horz .bottom .left,.section-container-horz .top .right{border:0;}
.section-container-horz .top .middle{margin:0 0.8em 0 0.8em; border-top:0.1em solid #e0e0e0;}
.section-container-horz .bottom .middle{margin:-0.1em 0.8em 0 0.8em;_margin:-0.2em 0.8em 0 0.8em; border-bottom:0.1em solid #e0e0e0;}*/
/*US9658 change */
/*.throbber-box .top .left{ background-position:0 -152px;border:0;}
.throbber-box .top .right{background-position:100% -170px;border:0;}
.left-nav-corner .top .right,.left-nav-corner .bottom .right,.right-nav-corner .top .left,.right-nav-corner .bottom .left {background:none;}
.throbber-box .bottom .middle{_margin-top:-0.3em;}
.throbber-box .bottom .left{background-position:0 -161px;border:0;}
.throbber-box .bottom .right{background-position:100% -179px;border:0;}*/
.section-container-horz .red-call-to-action-medium-h2{ padding-right:0.25em; margin-top:0!important;}
.section-container-horz .middle-content{min-height:2em !important;padding:0.5em 0.5em 0.8em 2.1em;/*_padding:0.5em 0.5em 0 2.1em; _margin-bottom:-0.8em;*/}
*html .section-container-horz .middle-content{height:2em !important;}
.button-row{margin:0.2em -1em 0 0 !important;/*_margin:0.2em -1em 1em 0;*/float:left;}
.button-row-wide{*margin-bottom:0.9em;}
/*.vertical-container{margin-top:-0.3em;}*/
.button-container-vertical .header-btns{margin:0.7em 0 0 1.2em;}
.product-box .middle-content,.rotating-textbox .middle-content,.colmn-sectn{*min-height: 21em;/*_height:21em;*/}

/* INPUT BUTTON */
input.submit-input, a.submit-input { /*IE6 maybe 7 but not 8 -- 8 renders almost the same as FF therefore the * is used to target IE7 and below, really this should be in a separate stylesheet */
   *overflow: visible; 
   *line-height: 2.1em;  /*1px less than line-height of submit-input*/
   *top: 0; /*This may need to be 1px in some cases */
   /*left: -0.5em; 
   margin-right: 0;  */
   *left: -1.5em; 
  }
input.submit-input {*margin-right: -3.2em;*font-family:Arial,sans-serif;}
a.submit-input{/*_top:0.3em;*/*margin-right: -1.2em;}
/* MPG - IE7 needs extra padding on the button div */
.submit-button{*padding-left:2.4em; /*_overflow: hidden;*/}
.submit-button span.button-icon{*display:inline;*line-height:1;*margin-top:0.1em;*padding-top:0;*padding-left:0;*top:-0.5em;/*_margin-top:0.1em;_padding-top:0;_padding-left:0;_top:-0.9em;*/}
/*US16720 change */
/*.mag .submit-button span.button-icon{top:0.8em;left:0.35em;*top:0.2em;_margin-top:0.1em;_padding-top:0;_padding-left:0;_top:0;}
.mag input.submit-input {padding-right:1.9em;margin-right:-2.4em;padding-top:0.4em;*padding-left:1em;_padding-left:1.1em;}
.mag .submit-button span.button-icon {_background: transparent url('../images/smallimages.gif') no-repeat; _display:inline-block; _height:1.2em;_width:1.2em; _margin-right:0.9em; _position: relative; _top:-4.5em; _left: -0em;_z-index:98;_background-position: -36px 0;}
.mag {_padding-right:1.2em;*clear:none;}
.mag input.submit-input {*left: -1.6em;*top: -0.2em;}*/
.submit-button a span.button-icon 
{
	*margin-left:0.3em;*margin-right:0.3em; *position: relative; *top:-0.1em; *left: 0.2em;*width:1em;
	/*_margin-left:0.3em;_margin-right:0.3em; _position: relative; _top:-0.1em; _left: 0.2em;_width:1em; _overflow: hidden;*/}


/*ephox styles inheritence starts here */
.smallcontainer .red-call-to-action-medium-h2{padding:0 0 0.7em 0.9em;/*_padding:0 0 0.7em 0.9em;*/}
.smallcontainer .body-copy-grey-with-line,.smallcontainer .body-copy-black-with-line,.btmlft-container .middle-content .body-copy-grey-with-line,.btmlft-container .middle-content .body-copy-black-with-line{margin-top:-0.2em;}
/*ephox styles inheritence ends here */


.footer{padding:1.8em 0 1em 2em;}
/*.two-column-center{_margin-left:1em;}*/

.copy-right{ padding-top:0.2em;/*_padding-top:0.5em;*/margin-top:0;}
.contact-child-item-last{margin-bottom:-0.5em;}
.logo{margin:0.8em 0 0 0.8em;}
/*.leftmenu-main{width:19em;_width:19.2em;margin-bottom:0.8em; _margin-bottom:0.3em}
.leftmenu{border:0 !important;_margin-top:-0.2em;background:none;display:inline-block;}
.leftmenu ul{width:19em;background-color:#fff;}
.leftmenu-mainitem{background:none; padding:0 0 0 0 !important;width:19.2em !important;}
.leftmenu-listitem,.leftmenu-listitem-sel,.leftmenu-listitem-sel2,.leftmenu-listitem-sel3{ padding:0 0 0 0 !important;margin:-0.1em 0 0.2em 0.2em !important;_margin:0 0 -0.3em 0.2em !important;width:18.6em !important;background-color:#FFF;}
.last-item .leftmenu-listitem,.last-item .leftmenu-listitem-sel,.last-item .leftmenu-listitem-sel2,.last-item .leftmenu-listitem-sel3{_margin-bottom:-0.1em!important;}
.leftmenu-middle li{_height:1.5em;padding-bottom:0 !important; border-right:0;  }
.leftmenu-top,.leftmenu-bottom{clear:both; float:left; width:19.2em; height:0.6em;}
.leftmenu-top{background-color:#fff;}
.leftmenu-bottom{margin-top:-0.5em;_margin-top:-0.1em;}
.leftmenu-topleft,.leftmenu-topright,.leftmenu-btmleft,.leftmenu-btmright{float:left;display:inline-block;width:0.8em;height:0.6em;}
.mainitem-topleft,.mainitem-btmleft,.mainitem-topright,.mainitem-btmright{float:left;display:inline-block;width:0.8em;height:0.8em;}
.leftmenu-topmiddle,.leftmenu-btmmiddle{float:left;display:inline-block;height:0.6em;}
.mainitem-topmiddle,.mainitem-btmmiddle{float:left;display:inline-block;height:0.8em;}
.mainitem-topmiddle,.mainitem-btmmiddle{width:17.6em;_width:17.6em;background-color:#c1c1c1;}
.mainitem-btmmiddle{_margin:-0.5em 0 0 0;}
.mainitem-middle{width:19.2em !important;float:left;display:inline-block;clear:both;margin:-0.2em 0 0 0;_margin:-0.5em 0 0 0;background-color:#c1c1c1; position:relative;}
.leftmenu-topmiddle{border-top:0.1em solid #e0e0e0;width:17.6em;_width:17.6em;}
.leftmenu-btmmiddle{border-bottom:0.1em solid #e0e0e0;width:17.6em;_width:17.6em;margin:-0.1em 0 0 0;_margin:-0.5em 0 0 0;}
.mainitem-topleft{background-position:0 -34px;}
.mainitem-btmleft{background-position:0 -16px;clear:both;}
.mainitem-topright{background-position:100% -43px;}
.mainitem-btmright{background-position:100% -25px; }
.leftmenu-topleft{background-position:0 -66px;}
.leftmenu-btmleft{background-position:0 -52px;clear:both;}
.leftmenu-topright{background-position:100% -73px;}
.leftmenu-btmright{background-position:100% -59px;}
.leftmenu-middle{border-right:0.1em solid #e0e0e0;border-left:0.1em solid #e0e0e0;width:19em !important;_width:18.2em !important;float:left;display:inline-block;clear:both;margin:-0.2em 0 0 0;_margin:-0.7em 0 0 0;}
.leftmenulist-topleft,.leftmenulist-btmleft,.leftmenulist-topright,.leftmenulist-btmright{float:left;display:inline-block;width:0.8em;height:0.8em;background:none;}
.leftmenulist-btmleft,.leftmenulist-btmright,*/
.list-spacing .list-red-tick-body-copy-black{margin-bottom:0;}
/*.leftmenulist-btmleft{clear:both;}
.leftmenulist-topmiddle,.leftmenulist-btmmiddle{float:left;display:inline;height:0.8em;width:91.2%;_width:91.5%;}
.leftmenulist-topmiddle{margin-bottom:-0.7em;}
.leftmenulist-btmmiddle{margin-top:0;_margin-top:-0.5em;margin-bottom:0.2em;}
.leftmenulist-middle{width:99.9%;float:left;display:block;clear:both;margin:-0.2em 0 0 0;_margin:-0.7em 0 0 0;position:relative;}
.last-item{margin-bottom:-0.2em;_margin-bottom:-0.7em;}
.leftmenulinks{padding:0.1em 0.2em 0 2.4em;_padding:0 0.2em 0 2.4em ;display:inline-block;}
.leftmenulinks-sel,.leftmenulinks-nopad{padding:0.1em 0.2em 0 1.3em;_padding:0 0.2em 0 1.3em;display:inline-block;}
.leftmenulinks-sel-nobg{padding:0.1em 0.2em 0 2.4em;_padding:0 0.2em 0 2.4em;display:inline-block;}
.main-link{padding:0.2em 0.2em 0 1.7em;_padding:0.2em 0.2em 0.2em 1.7em;display:inline-block;}
.leftmenu li:hover .leftmenu-listitem{background-color:#fff;}
.leftmenu-middle li:hover .leftmenu-listitem .leftmenulist-topleft{background-position:0 -134px;}
 .leftmenu-middle li:hover .leftmenu-listitem .leftmenulist-topright{background-position:100% -143px;}
 .leftmenu-middle li:hover .leftmenu-listitem .leftmenulist-btmleft{background-position:0 -116px;}
.leftmenu-middle li:hover .leftmenu-listitem .leftmenulist-btmright{background-position:100% -125px;}

.leftmenu-middle li:hover .leftmenu-listitem .leftmenulist-topmiddle,.leftmenu-middle li:hover .leftmenu-listitem .leftmenulist-btmmiddle,.leftmenu-middle li:hover .leftmenu-listitem .leftmenulist-middle,.leftmenu-listitem-sel2 .leftmenulist-topmiddle,.leftmenu-listitem-sel2 .leftmenulist-btmmiddle,.leftmenu-listitem-sel2 .leftmenulist-middle{background-color:#e8e8e8;}

.leftmenu-listitem-sel .leftmenulist-topleft{background-position:100% -98px;}
.leftmenu-listitem-sel .leftmenulist-topright{background-position:100% -107px;}
.leftmenu-listitem-sel .leftmenulist-btmleft{background-position:0 -80px;}
.leftmenu-listitem-sel .leftmenulist-btmright{background-position:100% -89px;}
.leftmenu-listitem-sel2 .leftmenulist-topleft{background-position:0 -134px;}
.leftmenu-listitem-sel2 .leftmenulist-topright{background-position:100% -143px;}
.leftmenu-listitem-sel2 .leftmenulist-btmleft{background-position:0 -116px;}
.leftmenu-listitem-sel2 .leftmenulist-btmright{background-position:100% -125px;}
.leftmenu-listitem-sel .leftmenulist-topmiddle,.leftmenu-listitem-sel .leftmenulist-btmmiddle,.leftmenu-listitem-sel .leftmenulist-middle{background-color:#d9d9d9;}
.leftmenu-middle li:hover .leftmenu{margin-top:-0.2em;}*/

.header{margin:0 auto 0.3em auto;}
/*.popuplogo{_margin:3em 0 0 1.5em; }

.popup-centr-sctn{_margin:0 auto 0 0.5em !important;}*/
.printbtn-container{margin:0.9em 1em -0.2em 0;}
.header-hp-right{margin:6.8em 0 0 1.6em;/*_margin:6.8em 0 0 1.5em;*/}
/*.list-grey-tick-body-copy-grey li span,.list-grey-tick-body-copy-black li span,.list-red-tick-body-copy-grey li span,.list-red-tick-body-copy-black li span,.list-grey-tick-body-copy-grey-small li span,.list-grey-tick-body-copy-black-small li span,.list-red-tick-body-copy-grey-small li span, .list-red-tick-body-copy-black-small li span{_margin-bottom:-0.2em;}*/
/* fix the positioning of the buttons by using z-index, rather than hacking the padding*/
/*.contact-number-home .header-btns {_position:relative;_z-index:999;}
.footer-dropdown-box{ _margin-top:-0.2em;}
.footer-dropdown-box select{_margin-top:0;}*/
/* Tool Tip Css Styles Start */ 
.helpopopup-top{padding: 0;}
.helpopopup-mid{margin: -0.2em 0 0 0; padding-top:0.2em}
.helpopopup-mid .help-content{margin-left:0;}
.helpopopup-btm{margin: 0 auto 0 0;}
.help-popup-icon{padding-top:0;}
.close-btn-map1{margin:1em 12.8em -3em 3.1em;}
/* Tool Tip Css Styles end */
/* Calendar styles starts here */
.btmclose-btn-calndr{padding-top:0;margin:0.8em 12.8em 0 3em;}
div.leftArw{margin: 0 ;}
/*div.calendar-top{border:0 !important; height:0.7em;clear:both;padding: 0;background:none !important;width: 23.7em;}
div.calendar-mid{margin-top:-0.2em;_margin-top:-0.8em;}
.cal-heading{margin-top:0.5em;_margin-left:2.5em;_margin-right:3.5em;}
.close-btn-calndr{_margin:0.4em 0 0 7.5em;}
div.calendar-top .left,div.calendar-top .right{width:100%;height:0.7em;padding:0;margin:0;}
div.calendar-top .left{background:transparent url('../images/calendar-left-top.gif') no-repeat scroll top left; background-position:0 0;}
div.calendar-top .middle{margin:0 0.8em 0 0.8em; border-top:0.1em solid #cbcbcb; background-color:#ffffff !important;width:22.1em;height:0.7em;}
div.calendar-top .right{background:transparent url('../images/calendar-right-top.gif') no-repeat scroll top right; background-position:100% -8px;}*/
div.calendar-btm{margin-top/*\**/:-0.8em\9;*margin-top:0;}
/* Calendar styles ends here */
.error-message a{*margin:0;}
.icon-error{*float:left;}
.error-message b{display:inline;*margin:-0.1em 0 0 0; *float:left;}
/*.utitlitylinks-hlder,.topmenu-container{_width:69em;}*/
.throbber-box sup {font-size:0.6em;}
.needHlp-home-holder{width:83% \0/IE9;}
.topmenu-container{*text-align:right;}
#cse-search-form{*float:none !important;right:-68px !important;}
.progress-bar.small{top:-5.2em; *top:-5.8em; *margin-bottom:-3.4em; }
.small+.page-container{ /*display:block; clear:none;*/ margin-top:-4.5em; }
div.progress-bar .middle-bg{margin-left:-0.05em;*margin-left:0;}
