
.question-container{zoom:1 ;}

/* remove the nice firefox rounded corners */
/* replace the nice firefox rounded corners with awful images for IE */
/* use borders where possible */
.grey>.group-top, .grey>.group-middle, .grey>.group-bottom,
.white>.group-top, .white>.group-middle, .white>.group-bottom{border:0px solid #E8E8E8;}
/* grey rounded top and bottom - leave these here until the CSS sprite work is done. */
/* commented styles as part of US11721 */
/*.grey.round-top>.group-top>.right-container>.left-container{background:transparent url('../images/round-gradi-left-top2.gif') no-repeat scroll 0 100%;}
.grey.round-top>.group-top>.right-container{background:transparent url('../images/round-gradi-right-top2.gif') no-repeat  scroll 100% 100%;}
.grey.round-bottom>.group-bottom>.right-container>.left-container{background:transparent url('../images/round-gradi-left-bot2.gif') no-repeat  scroll 0 100%;}
.grey.round-bottom>.group-bottom>.right-container{background:transparent url('../images/round-gradi-right-bot2.gif') no-repeat  scroll 100% 100%;}*/

/*IJR - replacements of the previous with a sprite*/
/*US9658 change*/
/*.grey.round-top>.group-top>.right-container>.left-container{background:transparent url('../images/iecorners.gif') no-repeat 0 0;}
.grey.round-top>.group-top>.right-container{background:transparent url('../images/iecorners.gif') no-repeat scroll 100% -12px;}
.grey.round-bottom>.group-bottom>.right-container>.left-container{background:transparent url('../images/iecorners.gif') no-repeat scroll 0 -4px;}
.grey.round-bottom>.group-bottom>.right-container{background:transparent url('../images/iecorners.gif') no-repeat scroll 100% -16px;}*/

/* use these styles for the lighter, grey background images, like those in the RX CSS file... hint hint
.grey.round-top>.group-top>.right-container>.left-container{background:transparent url('../images/iecorners.gif') no-repeat 0 -48px;}
.grey.round-top>.group-top>.right-container{background:transparent url('../images/iecorners.gif') no-repeat scroll 100% -60px;}
.grey.round-bottom>.group-bottom>.right-container>.left-container{background:transparent url('../images/iecorners.gif') no-repeat scroll 0 -52px;}
.grey.round-bottom>.group-bottom>.right-container{background:transparent url('../images/iecorners.gif') no-repeat scroll 100% -64px;}
*/
/* flat borders for use on grey and white - top*/
/*US9658 change*/
/*.grey.round-top>.group-top>.right-container>.left-container>.middle-container,
.white.round-top>.group-top>.right-container>.left-container>.middle-container{height: 0.7em;border-top:1px solid #C6C7C6;}*//*background:transparent url('../images/grad--top2.gif') repeat-x scroll 0 0 ;}*/

/* flat borders for use on grey and white - middle*/
/*US9658 change*/
/*.grey>.group-middle, .white.round-top.round-bottom>.group-middle{border:1px solid #C6C7C6;}*/
.confirmation .grey>.group-middle, .confirmation .white>.group-middle{border-color: #EAEAEA;}
.usr-spec .white.bdr-top>.group-middle {border-right: 0px solid #C6C7C6;border-left: 0px solid #C6C7C6;}

/* flat borders for use on grey and white - top*/
/*US9658 change*/
/*.grey.round-bottom>.group-bottom>.right-container>.left-container>.middle-container,
.white.round-bottom>.group-bottom>.right-container>.left-container>.middle-container{height: 0.7em;border-bottom:1px solid #C6C7C6;}*//*background:transparent url('../images/grad--bot2.gif') repeat-x scroll 0 0;}*/

/* white rounded top and bottom */
/*US9658 change*/
/*.white.round-top>.group-top>.right-container>.left-container,.white.round-top>.group-top>.right-container,.white.round-bottom>.group-bottom>.right-container>.left-container,.white.round-bottom>.group-bottom>.right-container{background:transparent url('../images/ie-corners2.gif') no-repeat scroll;}
.white.round-top>.group-top>.right-container>.left-container{background-position:0 0;}
.white.round-top>.group-top>.right-container{background-position:100% -9px}
.white.round-bottom>.group-bottom>.right-container>.left-container{background-position:0 -18px;}
.white.round-bottom>.group-bottom>.right-container{background-position:100% -27px;}
*/
/* GRADIENT TOP - LARGE */
/*US9658 change*/
/*.gradient-top-large>.group-top>.right-container>.left-container, .white.round-top.gradient-top-large>.group-top>.right-container>.left-container,.gradient-top-large>.group-top>.right-container,.white.round-top.gradient-top-large>.group-top>.right-container,.gradient-top-large>.group-top>.right-container,.white.round-top.gradient-top-large>.group-top>.right-container,.gradient-bottom-large>.group-bottom>.right-container>.left-container, .white.round-bottom.gradient-bottom-large>.group-bottom>.right-container>.left-container,.gradient-bottom-large>.group-bottom>.right-container,.white.round-bottom.gradient-bottom-large>.group-bottom>.right-container,.gradient-bottom-small>.group-bottom>.right-container>.left-container, .white.round-bottom.gradient-bottom-small>.group-bottom>.right-container>.left-container,.gradient-bottom-small>.group-bottom>.right-container,.white.round-bottom.gradient-bottom-small>.group-bottom>.right-container{background:transparent url('../images/ie-gradient-corners.png') no-repeat scroll;}
.gradient-top-large>.group-top>.right-container>.left-container, .white.round-top.gradient-top-large>.group-top>.right-container>.left-container,.gradient-top-large>.group-top>.right-container,.white.round-top.gradient-top-large>.group-top>.right-container{background-position:0 0;}*/
.gradient-top-large>.group-middle,.white.round-top.gradient-top-large>.group-middle,.grey.round-top.round-bottom>.group-middle, .white.round-top.round-bottom>.group-middle{border:1px solid #C6C7C6;}
.gradient-top-large>.group-middle{margin-top:0em;}
/*US9658 change*/
.gradient-top-large>.group-middle> fieldset legend span.group-text{margin-top: -0.9em;}
/*.gradient-top-large>.group-top>.right-container,.white.round-top.gradient-top-large>.group-top>.right-container{background-position:100% -57px;}*/
.gradient-top-large>.group-middle>fieldset>ol {padding-top:2.8em}
.usdc-usr-spec-or>.group-middle ol, .usdc-usr-spec-or>.group-middle ol li.multi-line-grp ol {padding-top:1.8em;}
.gradient-top-large .grey .group-middle ol {padding-top:1em;}
.usdc-usr-spec-or li.multi-line-grp{margin-top:-1.6em;}
.gradient-top-large li.usdc-documents{margin-top:-7.5em;}
.usdc-usr-spec-or>.group-middle .middle-container{background-position: 22.25em 1.2em;} 

/* GRADIENT BOTTOM - LARGE */
/*.gradient-bottom-large>.group-bottom {background-image:none;background-color:Transparent;}*/
/*US9658 change*/
/*.gradient-bottom-large>.group-bottom>.right-container>.left-container, .white.round-bottom.gradient-bottom-large>.group-bottom>.right-container>.left-container{background-position:0 -114px;}
.gradient-bottom-large>.group-bottom>.right-container>.left-container>.middle-container, .white.round-bottom.gradient-bottom-large>.group-bottom>.right-container>.left-container>.middle-container{height:7.2em;}
.gradient-bottom-large>.group-bottom>.right-container,.white.round-bottom.gradient-bottom-large>.group-bottom>.right-container{background-position:100% -188px;}*/

/* GRADIENT BOTTOM - SMALL */
/*US9658 change*/
/*.gradient-bottom-small>.group-bottom>.right-container>.left-container, .white.round-bottom.gradient-bottom-small>.group-bottom>.right-container>.left-container{background-position:0 -262px;}
.gradient-bottom-small>.group-bottom>.right-container>.left-container>.middle-container,.white.round-bottom.gradient-bottom-small>.group-bottom>.right-container>.left-container>.middle-container {height:3em;}
.gradient-bottom-small>.group-bottom>.right-container,.white.round-bottom.gradient-bottom-small>.group-bottom>.right-container{background-position:100% -294px;}*/

/*reset app-summ page for ie*/
/*CSS cleanup change starts here*/
li.grey + li.group,.app-sum li.grey + li.group {padding-top:2em;}
/*CSS cleanup change ends here*/
/*reset grey and grey for ie*/
.app-sum li.grey + li.grey {padding-top:0em;}

.bdr-top, .alt-bkgrd.group{border-color:#C6C7C6;}

/* For some reason the legend needs a width set or the span within is not restrained...*/
.show-legend > .group-middle > .right-container > .left-container > .middle-container > .group-container > legend {width:100%;}

/*Reset from inline-block or it overruns the control div... Removed this as it seemed to be causing the very issue it was suppose to resolve - commenting for now but should be deleted if proved not needed elsewhere.
*/
.question-container .question-text label{display:inline;}
	/* this next style uses a PERCENTAGE width purposefully
	   so that an extra 50 lines of CSS are not needed in order
	   to  fix the widths of indented questions.*/
.indent-M li .question-text label, li.indent-M .question-text label {display:inline-block;padding-right:0.5em;}
/*Needs to be slightly smaller due to IE box model...*/
select.select-type-dropdown{min-width:4em;}
.home .ctl-max .control{width:30em;}
.home .ctl-max .control select.select-type-dropdown{width:26.2em;}

li.usdc-riskdesc-header {margin-left:-1.5em;width:53.2em;}
li.usdc-riskdesc-header .question-text label{display:inline-block;}

.imp-inf .grey.full-wth .group-middle,.imp-inf .white.full-wth .group-middle,.imp-inf2 .grey.full-wth .group-middle,.imp-inf2 .white.full-wth .group-middle,.app-sum .grey.full-wth .group-middle{border-left:0;border-right:0;}

/* THIS IS A KLUDGE FOR GO LIVE AND WILL NEED TO BE CHANGED ONCE HELP ME CHOOSE IS FIXED */
/*.home{width:34.5em !important;padding: 0 0.8em 0.8em 0.8em !important;}*/

/* HOMEPAGE - HMC OFF */
.home #state_question_id .additional-text span {left:5.5em;}
.home .txt-hlp-icn>.icon.help {float:right;position: relative;top:-1.75em;left: 1em;}
.txt-hlp-icn > .icon.help a span {text-decoration:underline;}
/* Eligibility - HMC OFF 
.eligibility .mv-up {margin-top:-8em;}
.eligibility .mv-up .submit-button {position:relative;top:-7em;}*/

.confirmation .full-wth > .group-middle {border-left: none; border-right: none;}

.ctl-max fieldset.fs-type-radio .control{width:41.3em;}

/* IE9 fixes in Coverage Options, Your quote and application summary pages*/
:root .gradient-top-large>.group-middle>.right-container>.left-container>.middle-container> fieldset legend span.group-text{margin-top: 0em \0/IE9;}
:root .gradient-top-large li.usdc-documents{margin-top:-8.5em \0/IE9;}
:root .your-bus .lbl-S .question-text{width:27em \0/IE9;}
:root .your-bus .lbl-M.ctl-max .question-text{width:30.6em \0/IE9;}
:root .disabled .control span{width:auto\0/IE9;}
.group.lgd-indent-L > .group-middle{padding:0.8em 1.5em;}
.group.last-grp> .group-middle ol{padding-top:1em}
.question-container.grey-button,.question-container.red-button{width:auto;}
.app-sum li.grey+li.group.transparent{padding-top:0;padding-bottom:0}