/*CSS cleanup change starts here*/
.question-container div,.grp-S-inline,.usdc-usr-spec-or li.multi-line-grp,li.question-multi-line, li.loc-lmt,.screen-container .group-text h1,.screen-container .group-text h2, .screen-container .group-text h3, legend .icon{display:inline;}
/*CSS cleanup change ends here*/
.action-bar li{display:inline;}

/* IJR - IE displays 1 pixel too many for the padding below a field - remove it.*/
.question-container {padding-bottom:0.9em;}

/* IJR - shrink the telephone fields *slightly* to make up for an oddity in IE*/
.question-container input.input-type-telephone{width:2.9em;}
.question-container span+input.input-type-telephone+span+input.input-type-telephone{width:4.79em;}

/* IJR - reset the font on a textarea.*/
.question-container textarea.input-type-textarea {font-family: Arial;}

/* IJR - attempt to sort out positioning on the legends. do this by removing 6 pixels from the left hand side*/
.show-legend>.group-middle>.group-container>legend>.group-text {left: -0.6em;}

/* IJR - slightly reduce the padding on the currency span to remove wrapping */
.currency .control span{width:2.5em;text-align:right;padding-right:0.333em;}

/* full-wth - these overrides fix the positioning */
/* fix the main group width, setting margins for use in the main container */
.full-wth {width:57.8em !important; margin-left: -1.9em !important; margin-right: 0em;}
.full-wth .full-wth {margin-left:-3.4em !important;margin-right:-2.2em;}
.confirmation .full-wth{width:76.8em !important;}
.prd-opt .full-wth{width:auto !important;margin-left: -1.5em !important;margin-right: -1.5em;}

/* remove the borders of the full-wth middle section*/
.full-wth>.group-middle{border-right:0px solid #C6C7C6;border-left:0px solid #C6C7C6;}

/* fix width of all child groups, setting all margins to zero */
/*US9658 change*/
/*.full-wth .group-top,
.full-wth .group-top .right-container,
.full-wth .group-top .right-container .left-container {width:57.8em; margin-left: 0em !important; margin-right: 0em !important;padding-left: 0em !important; padding-right: 0em !important;}
.confirmation .full-wth .group-top,
.confirmation .full-wth .group-top .right-container,
.confirmation .full-wth .group-top .right-container .left-container {width:76.8em;}
.prd-opt .full-wth .group-top,
.prd-opt .full-wth .group-top .right-container,
.prd-opt .full-wth .group-top .right-container .left-container,*/.mv-up {width:auto;}
/*CSS cleanup change ends here*/

/* fix padding of all child groups */
/*US9658 change*/
/*.full-wth .group-middle,
.full-wth .group-middle .right-container,
.full-wth .group-middle .right-container .left-container {padding-left: 0em !important; padding-right: 0em !important}

.full-wth .group-middle .right-container .left-container .middle-container {width:51em; margin-left: 0em !important; margin-right: 0em !important; padding-left: 3.4em !important; padding-right: 3.4em !important}
.full-wth .group-middle .right-container .left-container .middle-container .transparent .middle-container {Padding-left: 0 !important;}
.confirmation .full-wth .group-middle .right-container .left-container .middle-container {width:70em;}
.prd-opt .full-wth .group-middle .right-container .left-container .middle-container {width:auto;padding-left: 1.9em !important; padding-right: 1.9em !important}	*/
	
.gradient-bottom-large li.question-base-lined, .gradient-bottom-small li.question-base-lined{position:relative;z-index:10;}

.vertical fieldset.fs-type-radio .control label input{line-height:1.4em;vertical-align:text-top;}
.vertical fieldset.fs-type-radio .control label span{width:90%;}
.gradient-top-large li.usdc-documents {margin-top: -7.3em}
/*.gradient-top-large > .group-middle OL {padding-top:1em;}*/
/* Product Options Special Styles */
.usdc-riskdesc-header .question-text, .usdc-riskdesc-header .control {width:25.6em;display:inline;}
.usdc-riskdesc-header .question-text label {width: 14em;}

.lbl-XXXL .question-text,.lbl-XXXL fieldset.fs-type-radio legend{width:48em;}
/* Need to be about 1px smaller in IE due to differing box model */
.curr.ctl-XXXL .control input,.curr.ctl-XXXL .control select{width:25.2333em;}
.curr.ctl-XXL .control input,.curr.ctl-XXL .control select{width:20.2333em;}
.curr.ctl-XL .control input,.curr.ctl-XL .control select{width:14.4em;}
.curr.ctl-L .control input,.curr.ctl-L .control select{width:10.65em;}
.curr.ctl-M .control input,.curr.ctl-M .control select{width:7.7333em;}
.curr.ctl-S .control input,.curr.ctl-S .control select{width:5.65em;}
.curr.ctl-XS .control input,.curr.ctl-XS .control select{width:3.5667em;}
.curr.ctl-XXS .control input,.curr.ctl-XXS .control select{width:1.4833em;}

/* inline-block doesn't work properly in IE7 */
li.loc-lmt .control {width:20.7em ;margin-left:0;margin-right:0.5em;display:inline;}
/* needs the float to stop it appearing above the floated element before it - how weird*/
.add-inline .additional-text{margin-top:-2.1em;}
/*CSS cleanup change starts here*/
.add-inline div.icon,.eligibility #PL_1_question_id .grp-S-inline, .eligibility-err #PL_1_question_id .grp-S-inline{float:left;}
/*CSS cleanup change ends here*/

/* correction to radio button spacing/wrapping for full width labels */
/*CSS cleanup change starts here*/
.lbl-max .control,.ctl-max .additional-text{clear:both;}
/*CSS cleanup change ends here*/
.btns-inline{top:-3.2em; margin-bottom:-3em;}
.lftbtns-movetp{margin-top:-2.35em;}

/* to make error text to display below the question*/
div.error-text {display:block !important;}
/* to align help icon next to radio buttons in important information */
.imp-inf .emp-txt .icon{display:inline-block;}
/* reduce the margin top of additional text in payment details as it was sticking to top of the container*/ 
/*.pay-dets .add-inline .additional-text{margin-top:-0.1em;}*/

.msg-wrn .group-middle{border:0.1em solid #d5261e;padding: 1em 1.9em 1em 1.9em !important;margin-left:1.3em; margin-right:1.5em;}
/*.msg-wrn{padding-left:1.25em !important;margin-left:-1.9em !important;}
.msg-wrn{width:56.5em !important;}*/
/* To fix the width of group-top and group-bottom of grey containers with rounded corners in application summary */
/*CSS cleanup change starts here*/
/*US9658 change*/
/*.app-sum .grey.round-top.sub-section .group-top,.app-sum .grey.round-top.sub-section .group-top .right-container,
.app-sum .grey.round-top.sub-section .group-top .right-container .left-container,.app-sum .grey.round-top.sub-section .group-bottom,
.app-sum .grey.round-top.sub-section .group-bottom .right-container,
.app-sum .grey.round-top.sub-section .group-bottom .right-container .left-container,*/.confirmation .multi-line-grp .group-middle{width:100%;}
/*CSS cleanup change ends here*/
/*US9658 change*/
/*.app-sum .grey.round-top.sub-section .group-top .right-container .middle-container,.app-sum .grey.round-top.sub-section .group-bottom .right-container .middle-container{width:84%; margin-left:0.8em !important; margin-right:0.8em;}*/
.usr-spec .gradient-top-large > .group-middle OL{padding-top:1.8em;}

.spl-ctl .control label span {vertical-align: middle !important;}
.spl-ctl .control span .ans-fx {display: inline !important; width:4em !important;}
.spl-ctl .additional-text-2 {margin-top:3.55em;margin-left:1.7em;}

/*CSS cleanup change starts here*/
.your-qte .qst-XL .additional-text, .app-sum .qst-XL .additional-text 
{ margin-left:0 !important;overflow:hidden;}
.your-qte .qst-XL .additional-text-2, .app-sum .qst-XL .additional-text-2,.your-qte .qst-XL .additional-text, .app-sum .qst-XL .additional-text{float:none;position:static; display:block;}
/*CSS cleanup change ends here*/
.your-qte .qst-XL .additional-text span, .app-sum .qst-XL .additional-text span
{float:none; /*position:absolute;*/margin-left:0 !important; display:block;overflow:hidden;}
.your-qte .qst-XL .additional-text-2 span, .app-sum .qst-XL .additional-text-2 span
{float:left;position:absolute; display:block;}
/* THIS IS A KLUDGE FOR GO LIVE AND WILL NEED TO BE CHANGED ONCE HELP ME CHOOSE IS FIXED*/

/*US9658 change*/
/*.eligibility .lbl-max .control {clear:none;}
.eligibility .txt-hlp-icn>.icon.help {float:right;top:-8em;left: -5.5em;}
.eligibility #primarybusiness_question_id{margin-bottom:-2em;}*/

/* to add verisign logo in business insurance page*/
/*US9658 change*/
/*.home .lbl-max {padding-top:0.5em;}
.home .additional-text {clear:both;width:100%;}
.home #state_question_id .additional-text span {top:-4.75em; float: right; left:1em;}*//**/ /*Whilst HMC is not present*/
/*.home .grey-button, .home .red-button{display: inline;clear:none;}
.home input.submit-input {left:-2em;padding-right:1.6em;margin-right:-4.4em;}
.home .submit-button span.button-icon {left:0.5em;}
.home .txt-hlp-icn>.icon.help {float:right;top:2.25em;}*/

/*.home .additional-text span {top:-5.5em; float: right; left: 3em;} Once HMC is present*/
/*US9658 change*/
/*.confirmation .full-wth .group-middle .right-container .left-container .middle-container {margin-left: -0.1em !important;  padding-left: 2em !important; }*/
/*.confirmation .full-wth li.group {margin-left:-1.9em !important;margin-right:-3.4em;}*/
.confirmation .full-wth li.multi-line-grp>.group-middle {padding-left:2.2em !important;}
/*.confirmation .full-wth li.multi-line-grp+li.multi-line-grp{margin-left:1em !important;}*/
.confirmation li.multi-line-grp{float:left;clear:none;}
fieldset.fs-type-radio .control label span{padding-left:0.1em;}

.pay-dets+.screen-container .lftbtns-movetp,.screen-container.hide-question+.screen-container .lftbtns-movetp{margin-top:0em;}
.home .txt-hlp-icn .error-text{margin-top:2.5em;}
.pymntIframe{margin-bottom:-2em;}
.app-sum .add-sum .control {margin:0 3.8em 0 0}
.curr.ctl-Medium .control input{width:84%;}
.confirmation .full-wth li.multi-line-grp {margin-right:0; }
.confirmation .full-wth li.multi-line-grp+li.multi-line-grp{margin-left:0}
.usdc-usr-spec-or li.multi-line-grp{margin-top:-1.9em;}
.usdc-usr-spec-or>.group-middle ol li.multi-line-grp ol {padding-top:2.2em;}
.mve-right-top{margin-top:-2.8em}
.mve-right-grey,.mve-right{float:none; margin-right:0;}
.mve-margin-left{float:none;margin-right:0;margin-left:0em;}
.question-multi-line{width:13em !important}
.app-sum .question-multi-line{width:12.5em !important}
.app-sum .mve-right-grey{padding-left:6.2em !important;}
.float-right.mv-up{margin-top:1em}
.action-bar .recalc-icon,.action-bar .grey-button.save-icon+.red-button.raw-icon {margin-top:-2.35em}
.mve-right-top{margin-right:2.5em}
.app-sum .mve-right-top{margin-right:1.5em}
.qst-inline-prem{display:inline;width:37em;}
.ans-imp.qst-XL.lbl-XXL .control{margin-left:-1em}
.group.chckbx-list li{display:inline}